workflows/日本語→英語翻訳/workflow.yml
{"data":"app:\n  description: \u65e5\u672c\u8a9e\u30c6\u30ad\u30b9\u30c8\u3092\u82f1\u8a9e\u306b\u7ffb\u8a33\u3059\u308b\u30b7\u30f3\u30d7\u30eb\u306a\u30ef\u30fc\u30af\u30d5\u30ed\u30fc\n  icon: \ud83c\udf10\n  icon_background: '#E4FBCC'\n  mode: workflow\n  name: \u65e5\u672c\u8a9e\u2192\u82f1\u8a9e\u7ffb\u8a33\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/bedrock:0.0.49@8bca05c0cfdbc60cc824b18410dea65ad6e1303099bcaa768a9de20971e3eaf4\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: llm\n      id: 1735638000001-1735638000002\n      source: '1735638000001'\n      sourceHandle: source\n      target: '1735638000002'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: end\n      id: 1735638000002-1735638000003\n      source: '1735638000002'\n      sourceHandle: source\n      target: '1735638000003'\n      targetHandle: target\n      type: custom\n    nodes:\n    - data:\n        desc: \u7ffb\u8a33\u3057\u305f\u3044\u65e5\u672c\u8a9e\u30c6\u30ad\u30b9\u30c8\u3092\u5165\u529b\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: \u65e5\u672c\u8a9e\u30c6\u30ad\u30b9\u30c8\n          max_length: 5000\n          options: []\n          required: true\n          type: paragraph\n          variable: japanese_text\n      height: 137\n      id: '1735638000001'\n      position:\n        x: 80\n        y: 300\n      positionAbsolute:\n        x: 80\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u65e5\u672c\u8a9e\u3092\u82f1\u8a9e\u306b\u7ffb\u8a33\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: f1a2b3c4-d5e6-7890-abcd-ef1234567001\n          role: system\n          text: '\u3042\u306a\u305f\u306f\u30d7\u30ed\u306e\u7ffb\u8a33\u8005\u3067\u3059\u3002\u65e5\u672c\u8a9e\u304b\u3089\u82f1\u8a9e\u3078\u306e\u7ffb\u8a33\u3092\u884c\u3044\u307e\u3059\u3002\n\n\n            \u7ffb\u8a33\u30eb\u30fc\u30eb:\n\n            - \u539f\u6587\u306e\u30cb\u30e5\u30a2\u30f3\u30b9\u3084\u6587\u8108\u3092\u6b63\u78ba\u306b\u53cd\u6620\u3059\u308b\n\n            - \u81ea\u7136\u3067\u8aad\u307f\u3084\u3059\u3044\u82f1\u8a9e\u306b\u3059\u308b\n\n            - \u5c02\u9580\u7528\u8a9e\u306f\u9069\u5207\u306b\u7ffb\u8a33\u3059\u308b\n\n            - \u656c\u8a9e\u306e\u30cb\u30e5\u30a2\u30f3\u30b9\u306f\u6587\u8108\u306b\u5fdc\u3058\u3066\u9069\u5207\u306b\u8868\u73fe\u3059\u308b\n\n\n            \u7ffb\u8a33\u7d50\u679c\u306e\u307f\u3092\u51fa\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002\u8aac\u660e\u3084\u6ce8\u91c8\u306f\u4e0d\u8981\u3067\u3059\u3002\n\n            '\n        - id: f1a2b3c4-d5e6-7890-abcd-ef1234567002\n          role: user\n          text: '{{#1735638000001.japanese_text#}}'\n        selected: false\n        structured_output_enabled: false\n        title: \u7ffb\u8a33LLM\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1735638000002'\n      position:\n        x: 380\n        y: 300\n      positionAbsolute:\n        x: 380\n        y: 300\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: \u82f1\u8a33\u7d50\u679c\u3092\u51fa\u529b\n        outputs:\n        - value_selector:\n          - '1735638000002'\n          - text\n          variable: english_translation\n        selected: false\n        title: End\n        type: end\n      height: 116\n      id: '1735638000003'\n      position:\n        x: 680\n        y: 300\n      positionAbsolute:\n        x: 680\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    viewport:\n      x: -20.84398544008741\n      y: -201.5980986413545\n      zoom: 1.1965897307022406\n  rag_pipeline_variables: []\n"}
