workflows/ウェブの検索と要約のワークフローパターン/workflow.yml
{"data":"app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: \u30a6\u30a7\u30d6\u306e\u691c\u7d22\u3068\u8981\u7d04\u306e\u30ef\u30fc\u30af\u30d5\u30ed\u30fc\u30d1\u30bf\u30fc\u30f3\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/bedrock:0.0.57@b7fb0414c4e64004a36c3141cb8d9a249d949013bb21efbce34918e71cce5051\n    version: null\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/tavily:0.1.2@aa7a8744b2ccf3a7aec818da6c504997a6319b29040e541bfc73b4fbaa9e98d9\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_batch_limit: 10\n        image_file_size_limit: 10\n        single_chunk_attachment_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: tool\n        targetType: code\n      id: 1713262010863-1713262060182\n      selected: false\n      source: '1713262010863'\n      sourceHandle: source\n      target: '1713262060182'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: start\n        targetType: tool\n      id: 1713261835258-1713262010863\n      source: '1713261835258'\n      sourceHandle: source\n      target: '1713262010863'\n      targetHandle: target\n      type: custom\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: iteration\n      id: 1713262060182-source-1716911333343-target\n      source: '1713262060182'\n      sourceHandle: source\n      target: '1716911333343'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: true\n        iteration_id: '1716911333343'\n        sourceType: tool\n        targetType: llm\n      id: 1720758285748-source-1716959261724-target\n      source: '1720758285748'\n      sourceHandle: source\n      target: '1716959261724'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1716911333343'\n        sourceType: llm\n        targetType: template-transform\n      id: 1716959261724-source-1720758555344-target\n      source: '1716959261724'\n      sourceHandle: source\n      target: '1720758555344'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: false\n        sourceType: iteration\n        targetType: code\n      id: 1716911333343-source-1720759755103-target\n      source: '1716911333343'\n      sourceHandle: source\n      target: '1720759755103'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: template-transform\n      id: 1720759755103-source-1720761482451-target\n      source: '1720759755103'\n      sourceHandle: source\n      target: '1720761482451'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: template-transform\n        targetType: end\n      id: 1720761482451-source-1713262577750-target\n      source: '1720761482451'\n      sourceHandle: source\n      target: '1713262577750'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: true\n        iteration_id: '1716911333343'\n        sourceType: iteration-start\n        targetType: tool\n      id: 1716911333343start0-source-1720758285748-target\n      source: 1716911333343start0\n      sourceHandle: source\n      target: '1720758285748'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: \u8cea\u554f\n          max_length: 148\n          options: []\n          required: true\n          type: text-input\n          variable: Question\n      height: 109\n      id: '1713261835258'\n      position:\n        x: 30\n        y: 388.5\n      positionAbsolute:\n        x: 30\n        y: 388.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: ''\n        provider_id: tavily\n        provider_name: tavily\n        provider_type: builtin\n        selected: false\n        title: TavilySearch\n        tool_configurations:\n          exclude_domains:\n            type: constant\n            value: null\n          include_answer:\n            type: constant\n            value: 0\n          include_domains:\n            type: constant\n            value: null\n          include_images:\n            type: constant\n            value: 0\n          include_raw_content:\n            type: constant\n            value: 0\n          max_results:\n            type: constant\n            value: 10\n          search_depth:\n            type: constant\n            value: basic\n        tool_label: TavilySearch\n        tool_name: tavily_search\n        tool_node_version: '2'\n        tool_parameters:\n          query:\n            type: mixed\n            value: '{{#1713261835258.Question#}}'\n        type: tool\n      height: 244\n      id: '1713262010863'\n      position:\n        x: 331.7190223065919\n        y: 388.5\n      positionAbsolute:\n        x: 331.7190223065919\n        y: 388.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"import re\\nimport time\\ndef main(arg1) -> dict:\\n    urls = re.findall(r'http[s]?:\/\/[^\\\\\\\n          s)]+', arg1)\\n    return {\\n        \\\"result\\\": urls,\\n    }\"\n        code_language: python3\n        desc: ''\n        outputs:\n          result:\n            children: null\n            type: array[string]\n        selected: false\n        title: Code\n        type: code\n        variables:\n        - value_selector:\n          - '1713262010863'\n          - text\n          variable: arg1\n      height: 52\n      id: '1713262060182'\n      position:\n        x: 638\n        y: 388.5\n      positionAbsolute:\n        x: 638\n        y: 388.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: ''\n        outputs:\n        - value_selector:\n          - '1720761482451'\n          - output\n          variable: text\n        selected: false\n        title: End\n        type: end\n      height: 88\n      id: '1713262577750'\n      position:\n        x: 2595\n        y: 388.5\n      positionAbsolute:\n        x: 2595\n        y: 388.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: ''\n        error_handle_mode: terminated\n        height: 377\n        is_parallel: false\n        iterator_selector:\n        - '1713262060182'\n        - result\n        output_selector:\n        - '1720758555344'\n        - output\n        output_type: array[string]\n        parallel_nums: 10\n        selected: false\n        startNodeType: tool\n        start_node_id: 1716911333343start0\n        title: Iteration\n        type: iteration\n        width: 985\n      height: 377\n      id: '1716911333343'\n      position:\n        x: 942\n        y: 388.5\n      positionAbsolute:\n        x: 942\n        y: 388.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 985\n      zIndex: 1\n    - data:\n        desc: ''\n        isInIteration: true\n        isIterationStart: true\n        iteration_id: '1716911333343'\n        provider_id: langgenius\/tavily\/tavily\n        provider_name: langgenius\/tavily\/tavily\n        provider_type: api\n        selected: false\n        title: Tavily Extract\n        tool_configurations: {}\n        tool_label: Tavily Extract\n        tool_name: tavily_extract\n        tool_node_version: '2'\n        tool_parameters:\n          urls:\n            type: mixed\n            value: '{{#1716911333343.item#}}'\n        type: tool\n      extent: parent\n      height: 52\n      id: '1720758285748'\n      parentId: '1716911333343'\n      position:\n        x: 117\n        y: 85\n      positionAbsolute:\n        x: 1059\n        y: 473.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1001\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        isInIteration: true\n        iteration_id: '1716911333343'\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 1c7eeb97-1ebc-4579-b1ec-d0d649d57d2d\n          role: system\n          text: 'Summarize the following text.\n\n            {{#1720758285748.raw_content#}}'\n        selected: false\n        title: LLM 2\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      extent: parent\n      height: 88\n      id: '1716959261724'\n      parentId: '1716911333343'\n      position:\n        x: 421\n        y: 85\n      positionAbsolute:\n        x: 1363\n        y: 473.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        desc: ''\n        isInIteration: true\n        iteration_id: '1716911333343'\n        selected: false\n        template: '{{ arg1 }}\\SP{{ text }}'\n        title: Combine URL and Summary\n        type: template-transform\n        variables:\n        - value_selector:\n          - '1716911333343'\n          - item\n          variable: arg1\n        - value_selector:\n          - '1716959261724'\n          - text\n          variable: text\n      extent: parent\n      height: 52\n      id: '1720758555344'\n      parentId: '1716911333343'\n      position:\n        x: 725\n        y: 85\n      positionAbsolute:\n        x: 1667\n        y: 473.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        code: \"import time\\ndef main(arg1) -> dict:\\n    result = []\\n    for item\\\n          \\ in arg1:\\n        url, text = item.split('\\\\\\\\SP')\\n        text = text.replace('\\\\\\\n          n', ' ')\\n        result.append({'url':url, 'text':text})\\n    return {\\n\\\n          \\        \\\"result\\\": result,\\n    }\\n\"\n        code_language: python3\n        desc: ''\n        outputs:\n          result:\n            children: null\n            type: array[object]\n        selected: false\n        title: Split URL and Text Summary\n        type: code\n        variables:\n        - value_selector:\n          - '1716911333343'\n          - output\n          variable: arg1\n      height: 52\n      id: '1720759755103'\n      position:\n        x: 1987\n        y: 388.5\n      positionAbsolute:\n        x: 1987\n        y: 388.5\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: ''\n        selected: false\n        template: '|URL|Summary|\n\n          |---|---|\n\n          {% for data in arg1 -%}\n\n          |{{data.url}}|{{data.text}}|\n\n          {% endfor -%}'\n        title: Result in Table\n        type: template-transform\n        variables:\n        - value_selector:\n          - '1720759755103'\n          - result\n          variable: arg1\n      height: 52\n      id: '1720761482451'\n      position:\n        x: 2291\n        y: 388.5\n      positionAbsolute:\n        x: 2291\n        y: 388.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: ''\n        isInIteration: true\n        selected: false\n        title: ''\n        type: iteration-start\n      draggable: false\n      height: 48\n      id: 1716911333343start0\n      parentId: '1716911333343'\n      position:\n        x: 24\n        y: 68\n      positionAbsolute:\n        x: 966\n        y: 456.5\n      selectable: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-iteration-start\n      width: 44\n      zIndex: 1002\n    viewport:\n      x: -18.98292251681721\n      y: 5.266693033437605\n      zoom: 0.5784834786356099\n  rag_pipeline_variables: []\n"}
