workflows/speckit-complete-v4-full/workflow.yml
{"data":"app:\n  description: GitHub spec-kit\u306e\u5b8c\u5168\u5b9f\u88c5 - \u5168\u6a5f\u80fd\u7d71\u5408\u7248\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: SpecKit Complete v4 Full\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/bedrock:0.0.57@b7fb0414c4e64004a36c3141cb8d9a249d949013bb21efbce34918e71cce5051\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables:\n  - description: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\n    id: constitution\n    name: constitution\n    selector:\n    - conversation\n    - constitution\n    value: ''\n    value_type: string\n  - description: \u8981\u4ef6\u4ed5\u69d8\u66f8\n    id: specification\n    name: specification\n    selector:\n    - conversation\n    - specification\n    value: ''\n    value_type: string\n  - description: \u660e\u78ba\u5316\u3055\u308c\u305f\u8981\u4ef6\n    id: clarified_requirements\n    name: clarified_requirements\n    selector:\n    - conversation\n    - clarified_requirements\n    value: ''\n    value_type: string\n  - description: \u6280\u8853\u5b9f\u88c5\u8a08\u753b\n    id: implementation_plan\n    name: implementation_plan\n    selector:\n    - conversation\n    - implementation_plan\n    value: ''\n    value_type: string\n  - description: \u30bf\u30b9\u30af\u30ea\u30b9\u30c8\n    id: task_list\n    name: task_list\n    selector:\n    - conversation\n    - task_list\n    value: ''\n    value_type: string\n  - description: \u5206\u6790\u7d50\u679c\n    id: analysis_result\n    name: analysis_result\n    selector:\n    - conversation\n    - analysis_result\n    value: ''\n    value_type: string\n  - description: \u73fe\u5728\u306e\u30b3\u30de\u30f3\u30c9\n    id: current_command\n    name: current_command\n    selector:\n    - conversation\n    - current_command\n    value: ''\n    value_type: string\n  - description: \u660e\u78ba\u5316\u304c\u5fc5\u8981\u306a\u9805\u76ee\n    id: clarification_items\n    name: clarification_items\n    selector:\n    - conversation\n    - clarification_items\n    value: ''\n    value_type: string\n  - description: \u660e\u78ba\u5316\u306e\u9032\u6357\n    id: clarification_progress\n    name: clarification_progress\n    selector:\n    - conversation\n    - clarification_progress\n    value: ''\n    value_type: string\n  environment_variables: []\n  features:\n    file_upload:\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n    opening_statement: '# \ud83d\ude80 SpecKit Complete \u3078\u3088\u3046\u3053\u305d\uff01\n\n\n      \u5229\u7528\u53ef\u80fd\u306a\u30b3\u30de\u30f3\u30c9\uff1a\n\n      - **constitution**: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\u5b9a\u7fa9\n\n      - **specify**: \u8981\u4ef6\u4ed5\u69d8\u66f8\u4f5c\u6210\uff08\u81ea\u52d5\u7684\u306b\u66d6\u6627\u306a\u70b9\u3092\u691c\u51fa\uff09\n\n      - **clarify**: \u66d6\u6627\u306a\u8981\u4ef6\u306e\u660e\u78ba\u5316\uff08\u5bfe\u8a71\u5f62\u5f0f\uff09\n\n      - **plan**: \u6280\u8853\u5b9f\u88c5\u8a08\u753b\u306e\u4f5c\u6210\n\n      - **tasks**: \u30bf\u30b9\u30af\u5206\u89e3\u3068\u512a\u5148\u9806\u4f4d\u4ed8\u3051\n\n      - **analyze**: \u8981\u4ef6\u5206\u6790\u3068\u4e00\u8cab\u6027\u30c1\u30a7\u30c3\u30af\n\n      - **review**: \u5168\u4f53\u30ec\u30d3\u30e5\u30fc\u3068\u6539\u5584\u63d0\u6848\n\n      - **export**: \u6210\u679c\u7269\u306e\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\n\n      '\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: if-else\n      id: 1735820000001-1735820000010\n      source: '1735820000001'\n      sourceHandle: source\n      target: '1735820000010'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1735820000010-1735820000101-1735820000011\n      source: '1735820000010'\n      sourceHandle: '1735820000101'\n      target: '1735820000011'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1735820000010-1735820000102-1735820000012\n      source: '1735820000010'\n      sourceHandle: '1735820000102'\n      target: '1735820000012'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: question-classifier\n      id: 1735820000011-1735820000020\n      source: '1735820000011'\n      sourceHandle: source\n      target: '1735820000020'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735820000020-1735820000201-1735820000030\n      source: '1735820000020'\n      sourceHandle: '1735820000201'\n      target: '1735820000030'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735820000020-1735820000202-1735820000040\n      source: '1735820000020'\n      sourceHandle: '1735820000202'\n      target: '1735820000040'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735820000020-1735820000203-1735820000050\n      source: '1735820000020'\n      sourceHandle: '1735820000203'\n      target: '1735820000050'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735820000020-1735820000204-1735820000060\n      source: '1735820000020'\n      sourceHandle: '1735820000204'\n      target: '1735820000060'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735820000020-1735820000205-1735820000070\n      source: '1735820000020'\n      sourceHandle: '1735820000205'\n      target: '1735820000070'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735820000020-1735820000206-1735820000080\n      source: '1735820000020'\n      sourceHandle: '1735820000206'\n      target: '1735820000080'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735820000020-1735820000207-1735820000085\n      source: '1735820000020'\n      sourceHandle: '1735820000207'\n      target: '1735820000085'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735820000020-1735820000208-1735820000086\n      source: '1735820000020'\n      sourceHandle: '1735820000208'\n      target: '1735820000086'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735820000020-1735820000209-1735820000090\n      source: '1735820000020'\n      sourceHandle: '1735820000209'\n      target: '1735820000090'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735820000020-1735820000210-1735820000100\n      source: '1735820000020'\n      sourceHandle: '1735820000210'\n      target: '1735820000100'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: if-else\n      id: 1735820000040-1735820000041\n      source: '1735820000040'\n      sourceHandle: source\n      target: '1735820000041'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1735820000041-1735820000411-1735820000042\n      source: '1735820000041'\n      sourceHandle: '1735820000411'\n      target: '1735820000042'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: variable-assigner\n      id: 1735820000041-1735820000412-1735820000043\n      source: '1735820000041'\n      sourceHandle: '1735820000412'\n      target: '1735820000043'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: llm\n      id: 1735820000042-1735820000051\n      source: '1735820000042'\n      sourceHandle: source\n      target: '1735820000051'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: llm\n      id: 1735820000050-1735820000051\n      source: '1735820000050'\n      sourceHandle: source\n      target: '1735820000051'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-assigner\n      id: 1735820000051-1735820000052\n      source: '1735820000051'\n      sourceHandle: source\n      target: '1735820000052'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735820000030-1735820000110\n      source: '1735820000030'\n      sourceHandle: source\n      target: '1735820000110'\n      targetHandle: '1735820000030'\n      type: custom\n    - data:\n        sourceType: variable-assigner\n        targetType: variable-aggregator\n      id: 1735820000043-1735820000110\n      source: '1735820000043'\n      sourceHandle: source\n      target: '1735820000110'\n      targetHandle: '1735820000043'\n      type: custom\n    - data:\n        sourceType: variable-assigner\n        targetType: variable-aggregator\n      id: 1735820000052-1735820000110\n      source: '1735820000052'\n      sourceHandle: source\n      target: '1735820000110'\n      targetHandle: '1735820000052'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735820000060-1735820000110\n      source: '1735820000060'\n      sourceHandle: source\n      target: '1735820000110'\n      targetHandle: '1735820000060'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735820000070-1735820000110\n      source: '1735820000070'\n      sourceHandle: source\n      target: '1735820000110'\n      targetHandle: '1735820000070'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735820000080-1735820000110\n      source: '1735820000080'\n      sourceHandle: source\n      target: '1735820000110'\n      targetHandle: '1735820000080'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735820000085-1735820000110\n      source: '1735820000085'\n      sourceHandle: source\n      target: '1735820000110'\n      targetHandle: '1735820000085'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735820000086-1735820000110\n      source: '1735820000086'\n      sourceHandle: source\n      target: '1735820000110'\n      targetHandle: '1735820000086'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735820000090-1735820000110\n      source: '1735820000090'\n      sourceHandle: source\n      target: '1735820000110'\n      targetHandle: '1735820000090'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735820000100-1735820000110\n      source: '1735820000100'\n      sourceHandle: source\n      target: '1735820000110'\n      targetHandle: '1735820000100'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735820000012-1735820000110\n      source: '1735820000012'\n      sourceHandle: source\n      target: '1735820000110'\n      targetHandle: '1735820000012'\n      type: custom\n    - data:\n        sourceType: variable-aggregator\n        targetType: llm\n      id: 1735820000110-1735820000120\n      source: '1735820000110'\n      sourceHandle: source\n      target: '1735820000120'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-assigner\n      id: 1735820000120-1735820000130\n      source: '1735820000120'\n      sourceHandle: source\n      target: '1735820000130'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: variable-assigner\n        targetType: answer\n      id: 1735820000130-1735820000003\n      source: '1735820000130'\n      sourceHandle: source\n      target: '1735820000003'\n      targetHandle: target\n      type: custom\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: \u30b3\u30de\u30f3\u30c9\n          max_length: 50\n          options: []\n          required: true\n          type: text-input\n          variable: command\n        - label: \u8981\u4ef6\u30fb\u30d7\u30ed\u30f3\u30d7\u30c8\n          max_length: 10000\n          options: []\n          required: true\n          type: paragraph\n          variable: prompt\n      height: 116\n      id: '1735820000001'\n      position:\n        x: 80\n        y: 400\n      positionAbsolute:\n        x: 80\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        conditions:\n        - conditions:\n          - comparison_operator: in\n            value:\n            - constitution\n            - specify\n            - clarify\n            - plan\n            - tasks\n            - analyze\n            - review\n            - export\n            variable_selector:\n            - '1735820000001'\n            - command\n          id: '1735820000101'\n          logical_operator: and\n        desc: \u30b3\u30de\u30f3\u30c9\u306e\u691c\u8a3c\n        logical_operator: and\n        selected: false\n        title: Command Validator\n        type: if-else\n      height: 126\n      id: '1735820000010'\n      position:\n        x: 180\n        y: 400\n      positionAbsolute:\n        x: 180\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u30b3\u30de\u30f3\u30c9\u306e\u89e3\u6790\u3068\u524d\u51e6\u7406\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: parser-001\n          role: system\n          text: '\u30b3\u30de\u30f3\u30c9\u3092\u89e3\u6790\u3057\u3066\u3001\u9069\u5207\u306a\u51e6\u7406\u6e96\u5099\u3092\u884c\u3044\u307e\u3059\u3002\n\n            \u73fe\u5728\u306e\u30b3\u30de\u30f3\u30c9: {{#1735820000001.command#}}\n\n\n            \u4ee5\u524d\u306e\u5b9f\u884c\u7d50\u679c:\n\n            - Constitution: {{#conversation.constitution#}}\n\n            - Specification: {{#conversation.specification#}}\n\n            - Plan: {{#conversation.implementation_plan#}}\n\n            - Tasks: {{#conversation.task_list#}}\n\n            '\n        - id: parser-002\n          role: user\n          text: '{{#1735820000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Command Parser\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000011'\n      position:\n        x: 280\n        y: 300\n      positionAbsolute:\n        x: 280\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u30a8\u30e9\u30fc\u30e1\u30c3\u30bb\u30fc\u30b8\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: error-001\n          role: system\n          text: '\u7121\u52b9\u306a\u30b3\u30de\u30f3\u30c9\u3067\u3059\u3002\u4ee5\u4e0b\u306e\u30b3\u30de\u30f3\u30c9\u304b\u3089\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\uff1a\n\n            - constitution, specify, clarify, plan, tasks, analyze, review, export\n\n\n            \u5165\u529b\u3055\u308c\u305f\u30b3\u30de\u30f3\u30c9: {{#1735820000001.command#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: Error Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000012'\n      position:\n        x: 280\n        y: 500\n      positionAbsolute:\n        x: 280\n        y: 500\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        classes:\n        - id: '1735820000201'\n          name: constitution\n        - id: '1735820000202'\n          name: specify\n        - id: '1735820000203'\n          name: clarify\n        - id: '1735820000204'\n          name: plan\n        - id: '1735820000205'\n          name: tasks\n        - id: '1735820000206'\n          name: analyze\n        - id: '1735820000207'\n          name: implement\n        - id: '1735820000208'\n          name: checklist\n        - id: '1735820000209'\n          name: review\n        - id: '1735820000210'\n          name: export\n        desc: \u30b3\u30de\u30f3\u30c9\u306e\u30eb\u30fc\u30c6\u30a3\u30f3\u30b0\n        instructions: \u30b3\u30de\u30f3\u30c9\u3092\u9069\u5207\u306a\u30cf\u30f3\u30c9\u30e9\u30fc\u306b\u632f\u308a\u5206\u3051\u308b\n        model:\n          completion_params:\n            temperature: 0.1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        query_variable_selector:\n        - '1735820000001'\n        - command\n        selected: false\n        title: Command Router\n        topics: []\n        type: question-classifier\n      height: 183\n      id: '1735820000020'\n      position:\n        x: 380\n        y: 400\n      positionAbsolute:\n        x: 380\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - constitution\n        desc: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\u306e\u5b9a\u7fa9\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: const-001\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit constitution\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306e\u539f\u5247\u3068\u30ac\u30a4\u30c9\u30e9\u30a4\u30f3\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002\n\n\n            \u4ee5\u4e0b\u306e\u8981\u7d20\u3092\u542b\u3081\u3066\u304f\u3060\u3055\u3044\uff1a\n\n            1. \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306e\u76ee\u7684\u3068\u30d3\u30b8\u30e7\u30f3\n\n            2. \u57fa\u672c\u539f\u5247\uff08\u6700\u4f4e5\u3064\uff09\n\n            3. \u6280\u8853\u7684\u30ac\u30a4\u30c9\u30e9\u30a4\u30f3\n\n            4. \u54c1\u8cea\u57fa\u6e96\n\n            5. \u30b3\u30df\u30e5\u30cb\u30b1\u30fc\u30b7\u30e7\u30f3\u30eb\u30fc\u30eb\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: const-002\n          role: user\n          text: '{{#1735820000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Constitution Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000030'\n      position:\n        x: 480\n        y: 50\n      positionAbsolute:\n        x: 480\n        y: 50\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - constitution\n        desc: \u8981\u4ef6\u4ed5\u69d8\u66f8\u306e\u4f5c\u6210\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: spec-001\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit specify\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            \u8a73\u7d30\u306a\u8981\u4ef6\u4ed5\u69d8\u66f8\u3092\u4f5c\u6210\u3057\u307e\u3059\u3002\n\n\n            \u66d6\u6627\u306a\u70b9\u3084\u4e0d\u660e\u78ba\u306a\u7b87\u6240\u306b\u306f\u5fc5\u305a[NEEDS CLARIFICATION: \u5177\u4f53\u7684\u306a\u8cea\u554f]\u30de\u30fc\u30ab\u30fc\u3092\u633f\u5165\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            \u4ed5\u69d8\u66f8\u306b\u542b\u3081\u308b\u3079\u304d\u9805\u76ee\uff1a\n\n            1. \u6a5f\u80fd\u8981\u4ef6\n\n            2. \u975e\u6a5f\u80fd\u8981\u4ef6\n\n            3. \u5236\u7d04\u6761\u4ef6\n\n            4. \u524d\u63d0\u6761\u4ef6\n\n            5. \u6210\u529f\u57fa\u6e96\n\n            6. \u30ea\u30b9\u30af\u3068\u5bfe\u7b56\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: spec-002\n          role: user\n          text: '{{#1735820000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Specify Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000040'\n      position:\n        x: 480\n        y: 150\n      positionAbsolute:\n        x: 480\n        y: 150\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        conditions:\n        - conditions:\n          - comparison_operator: contains\n            value: '[NEEDS CLARIFICATION'\n            variable_selector:\n            - '1735820000040'\n            - text\n          id: '1735820000411'\n          logical_operator: and\n        desc: \u660e\u78ba\u5316\u304c\u5fc5\u8981\u304b\u30c1\u30a7\u30c3\u30af\n        logical_operator: and\n        selected: false\n        title: Clarification Detector\n        type: if-else\n      height: 126\n      id: '1735820000041'\n      position:\n        x: 580\n        y: 150\n      positionAbsolute:\n        x: 580\n        y: 150\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u660e\u78ba\u5316\u9805\u76ee\u306e\u62bd\u51fa\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: extract-001\n          role: system\n          text: '\u4ed5\u69d8\u66f8\u304b\u3089[NEEDS CLARIFICATION]\u30de\u30fc\u30ab\u30fc\u3092\u62bd\u51fa\u3057\u3001\n\n            \u660e\u78ba\u5316\u304c\u5fc5\u8981\u306a\u9805\u76ee\u3092\u30ea\u30b9\u30c8\u5316\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            \u51fa\u529b\u5f62\u5f0f\uff1a\n\n            1. [\u9805\u76ee\u540d]: \u8cea\u554f\u5185\u5bb9\n\n            2. [\u9805\u76ee\u540d]: \u8cea\u554f\u5185\u5bb9\n\n            ...\n\n            '\n        - id: extract-002\n          role: user\n          text: '{{#1735820000040.text#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Clarification Extractor\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000042'\n      position:\n        x: 680\n        y: 100\n      positionAbsolute:\n        x: 680\n        y: 100\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: \u4ed5\u69d8\u66f8\u3092\u4fdd\u5b58\n        output_type: object\n        selected: false\n        title: Save Specification\n        type: variable-assigner\n        variables:\n        - variable: specification\n          variable_selector:\n          - '1735820000040'\n          - text\n      height: 132\n      id: '1735820000043'\n      position:\n        x: 680\n        y: 200\n      positionAbsolute:\n        x: 680\n        y: 200\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - clarification_items\n        desc: \u66d6\u6627\u306a\u8981\u4ef6\u306e\u660e\u78ba\u5316\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.5\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: clarify-001\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit clarify\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            \u66d6\u6627\u306a\u8981\u4ef6\u3092\u660e\u78ba\u5316\u3059\u308b\u305f\u3081\u306e\u8cea\u554f\u3092\u884c\u3044\u307e\u3059\u3002\n\n\n            \u660e\u78ba\u5316\u306e\u9032\u6357: {{#conversation.clarification_progress#}}\n\n\n            \u91cd\u8981\uff1a\u8cea\u554f\u306f\u5fc5\u305a1\u3064\u305a\u3064\u63d0\u793a\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            \u30e6\u30fc\u30b6\u30fc\u306e\u56de\u7b54\u3092\u53d7\u3051\u3066\u304b\u3089\u6b21\u306e\u8cea\u554f\u306b\u9032\u307f\u307e\u3059\u3002\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: clarify-002\n          role: user\n          text: '{{#1735820000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Clarify Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000050'\n      position:\n        x: 480\n        y: 250\n      positionAbsolute:\n        x: 480\n        y: 250\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - clarification_progress\n        desc: \u660e\u78ba\u5316\u8cea\u554f\u306e\u751f\u6210\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 5\n        model:\n          completion_params:\n            temperature: 0.5\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: question-001\n          role: system\n          text: '\u524d\u56de\u306e\u660e\u78ba\u5316\u9805\u76ee\u307e\u305f\u306f\u65b0\u898f\u306e\u66d6\u6627\u306a\u70b9\u306b\u3064\u3044\u3066\u3001\n\n            \u5177\u4f53\u7684\u306a\u8cea\u554f\u30921\u3064\u751f\u6210\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            \u8cea\u554f\u306f\u4ee5\u4e0b\u306e\u5f62\u5f0f\u3067\uff1a\n\n            \u3010\u30ab\u30c6\u30b4\u30ea\u3011\u8cea\u554f\u5185\u5bb9\n\n\n            \u4f8b\uff1a\n\n            \u3010\u6a5f\u80fd\u8981\u4ef6\u3011\u30e6\u30fc\u30b6\u30fc\u8a8d\u8a3c\u306b\u306f\u3069\u306e\u3088\u3046\u306a\u65b9\u5f0f\u3092\u60f3\u5b9a\u3057\u3066\u3044\u307e\u3059\u304b\uff1f\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: question-002\n          role: user\n          text: '\u660e\u78ba\u5316\u304c\u5fc5\u8981\u306a\u9805\u76ee:\n\n            {{#1735820000042.text#}}\n\n\n            \u30e6\u30fc\u30b6\u30fc\u306e\u56de\u7b54:\n\n            {{#1735820000001.prompt#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: Question Generator\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000051'\n      position:\n        x: 780\n        y: 250\n      positionAbsolute:\n        x: 780\n        y: 250\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: \u660e\u78ba\u5316\u306e\u9032\u6357\u3092\u8ffd\u8de1\n        output_type: object\n        selected: false\n        title: Track Progress\n        type: variable-assigner\n        variables:\n        - variable: clarification_progress\n          variable_selector:\n          - '1735820000051'\n          - text\n        - variable: clarified_requirements\n          variable_selector:\n          - '1735820000051'\n          - text\n      height: 150\n      id: '1735820000052'\n      position:\n        x: 880\n        y: 250\n      positionAbsolute:\n        x: 880\n        y: 250\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: \u6280\u8853\u5b9f\u88c5\u8a08\u753b\u306e\u4f5c\u6210\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: plan-001\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit plan\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            \u6280\u8853\u5b9f\u88c5\u8a08\u753b\u3092\u4f5c\u6210\u3057\u307e\u3059\u3002\n\n\n            \u8a08\u753b\u306b\u542b\u3081\u308b\u3079\u304d\u9805\u76ee\uff1a\n\n            1. \u30a2\u30fc\u30ad\u30c6\u30af\u30c1\u30e3\u8a2d\u8a08\n\n            2. \u6280\u8853\u30b9\u30bf\u30c3\u30af\u9078\u5b9a\n\n            3. \u30e2\u30b8\u30e5\u30fc\u30eb\u69cb\u6210\n\n            4. \u30c7\u30fc\u30bf\u30d9\u30fc\u30b9\u8a2d\u8a08\n\n            5. API\u8a2d\u8a08\n\n            6. \u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u5bfe\u7b56\n\n            7. \u30b9\u30b1\u30fc\u30e9\u30d3\u30ea\u30c6\u30a3\u8003\u616e\n\n            8. \u5b9f\u88c5\u30d5\u30a7\u30fc\u30ba\u5206\u3051\n\n\n            \u4ed5\u69d8\u66f8: {{#conversation.specification#}}\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: plan-002\n          role: user\n          text: '{{#1735820000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Plan Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000060'\n      position:\n        x: 480\n        y: 350\n      positionAbsolute:\n        x: 480\n        y: 350\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - implementation_plan\n        desc: \u30bf\u30b9\u30af\u5206\u89e3\u3068\u512a\u5148\u9806\u4f4d\u4ed8\u3051\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.6\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: tasks-001\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit tasks\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            \u5b9f\u88c5\u30bf\u30b9\u30af\u3092\u5206\u89e3\u3057\u3001\u512a\u5148\u9806\u4f4d\u3092\u4ed8\u3051\u307e\u3059\u3002\n\n\n            \u30bf\u30b9\u30af\u51fa\u529b\u5f62\u5f0f\uff1a\n\n            ## \u30d5\u30a7\u30fc\u30ba1: [\u30d5\u30a7\u30fc\u30ba\u540d]\n\n            - [ ] P0: [\u6700\u91cd\u8981\u30bf\u30b9\u30af]\n\n            - [ ] P1: [\u91cd\u8981\u30bf\u30b9\u30af]\n\n            - [ ] P2: [\u901a\u5e38\u30bf\u30b9\u30af]\n\n\n            ## \u30d5\u30a7\u30fc\u30ba2: [\u30d5\u30a7\u30fc\u30ba\u540d]\n\n            ...\n\n\n            \u5404\u30bf\u30b9\u30af\u306b\u306f\uff1a\n\n            - \u660e\u78ba\u306a\u6210\u679c\u7269\n\n            - \u63a8\u5b9a\u5de5\u6570\n\n            - \u4f9d\u5b58\u95a2\u4fc2\n\n            \u3092\u542b\u3081\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            \u5b9f\u88c5\u8a08\u753b: {{#conversation.implementation_plan#}}\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: tasks-002\n          role: user\n          text: '{{#1735820000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Tasks Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000070'\n      position:\n        x: 480\n        y: 450\n      positionAbsolute:\n        x: 480\n        y: 450\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n          - conversation\n          - implementation_plan\n        desc: \u8981\u4ef6\u5206\u6790\u3068\u4e00\u8cab\u6027\u30c1\u30a7\u30c3\u30af\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.5\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: analyze-001\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit analyze\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            \u8981\u4ef6\u306e\u5206\u6790\u3068\u4e00\u8cab\u6027\u30c1\u30a7\u30c3\u30af\u3092\u884c\u3044\u307e\u3059\u3002\n\n\n            \u5206\u6790\u9805\u76ee\uff1a\n\n            1. \u8981\u4ef6\u306e\u5b8c\u5168\u6027\n\n            2. \u4e00\u8cab\u6027\u306e\u78ba\u8a8d\n\n            3. \u5b9f\u73fe\u53ef\u80fd\u6027\u306e\u8a55\u4fa1\n\n            4. \u30ea\u30b9\u30af\u5206\u6790\n\n            5. \u4f9d\u5b58\u95a2\u4fc2\u306e\u78ba\u8a8d\n\n            6. \u30d1\u30d5\u30a9\u30fc\u30de\u30f3\u30b9\u5f71\u97ff\n\n            7. \u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u8003\u616e\u4e8b\u9805\n\n\n            \u554f\u984c\u304c\u3042\u308c\u3070\u5177\u4f53\u7684\u306a\u6539\u5584\u63d0\u6848\u3092\u542b\u3081\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: analyze-002\n          role: user\n          text: '{{#1735820000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Analyze Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000080'\n      position:\n        x: 480\n        y: 550\n      positionAbsolute:\n        x: 480\n        y: 550\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - task_list\n          - conversation\n          - implementation_plan\n        desc: \u30bf\u30b9\u30af\u306e\u5b9f\u88c5\u652f\u63f4\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: implement-001\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit implement\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            \u30bf\u30b9\u30af\u30ea\u30b9\u30c8\u306b\u57fa\u3065\u3044\u3066\u5b9f\u88c5\u3092\u9806\u6b21\u5b9f\u884c\u3057\u307e\u3059\u3002\n\n\n            \u5b9f\u88c5\u30d7\u30ed\u30bb\u30b9\uff1a\n\n            1. \u30bf\u30b9\u30af\u30ea\u30b9\u30c8\u304b\u3089\u6b21\u306e\u672a\u5b8c\u4e86\u30bf\u30b9\u30af\u3092\u7279\u5b9a\n\n            2. \u4f9d\u5b58\u95a2\u4fc2\u3092\u30c1\u30a7\u30c3\u30af\n\n            3. \u5b9f\u88c5\u624b\u9806\u3092\u8a73\u7d30\u306b\u8aac\u660e\n\n            4. \u30b3\u30fc\u30c9\u4f8b\u3084\u30b3\u30de\u30f3\u30c9\u3092\u63d0\u793a\n\n            5. \u5b8c\u4e86\u6761\u4ef6\u3092\u660e\u793a\n\n\n            \u51fa\u529b\u5f62\u5f0f\uff1a\n\n            ## \u73fe\u5728\u306e\u30bf\u30b9\u30af\n\n            [\u30bf\u30b9\u30af\u540d\u3068\u8aac\u660e]\n\n\n            ## \u5b9f\u88c5\u624b\u9806\n\n            1. [\u30b9\u30c6\u30c3\u30d71]\n\n            2. [\u30b9\u30c6\u30c3\u30d72]\n\n            ...\n\n\n            ## \u30b3\u30fc\u30c9\u4f8b\n\n            ```[\u8a00\u8a9e]\n\n            [\u30b3\u30fc\u30c9]\n\n            ```\n\n\n            ## \u5b8c\u4e86\u78ba\u8a8d\n\n            - [ ] [\u78ba\u8a8d\u9805\u76ee1]\n\n            - [ ] [\u78ba\u8a8d\u9805\u76ee2]\n\n\n            ## \u6b21\u306e\u30bf\u30b9\u30af\n\n            [\u6b21\u306b\u5b9f\u884c\u3059\u3079\u304d\u30bf\u30b9\u30af]\n\n\n            \u30bf\u30b9\u30af\u30ea\u30b9\u30c8: {{#conversation.task_list#}}\n\n            \u5b9f\u88c5\u8a08\u753b: {{#conversation.implementation_plan#}}\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: implement-002\n          role: user\n          text: '{{#1735820000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Implement Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000085'\n      position:\n        x: 480\n        y: 650\n      positionAbsolute:\n        x: 480\n        y: 650\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n          - conversation\n          - implementation_plan\n        desc: \u54c1\u8cea\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u306e\u751f\u6210\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.5\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: checklist-001\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit checklist\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            \u8981\u4ef6\u306e\u5b8c\u5168\u6027\u3001\u660e\u78ba\u6027\u3001\u4e00\u8cab\u6027\u3092\u691c\u8a3c\u3059\u308b\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u3092\u751f\u6210\u3057\u307e\u3059\u3002\n\n\n            \u30c1\u30a7\u30c3\u30af\u89b3\u70b9\uff1a\n\n            1. \u5b8c\u5168\u6027 - \u3059\u3079\u3066\u306e\u8981\u4ef6\u304c\u7db2\u7f85\u3055\u308c\u3066\u3044\u308b\u304b\n\n            2. \u660e\u78ba\u6027 - \u66d6\u6627\u306a\u8868\u73fe\u304c\u306a\u3044\u304b\n\n            3. \u4e00\u8cab\u6027 - \u77db\u76fe\u304c\u306a\u3044\u304b\n\n            4. \u691c\u8a3c\u53ef\u80fd\u6027 - \u30c6\u30b9\u30c8\u53ef\u80fd\u304b\n\n            5. \u5b9f\u73fe\u53ef\u80fd\u6027 - \u6280\u8853\u7684\u306b\u5b9f\u73fe\u53ef\u80fd\u304b\n\n            6. \u30c8\u30ec\u30fc\u30b5\u30d3\u30ea\u30c6\u30a3 - \u8981\u4ef6\u9593\u306e\u8ffd\u8de1\u304c\u3067\u304d\u308b\u304b\n\n\n            \u51fa\u529b\u5f62\u5f0f\uff1a\n\n            ## \u54c1\u8cea\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\n\n\n            ### 1. \u5b8c\u5168\u6027\u30c1\u30a7\u30c3\u30af\n\n            - [ ] \u3059\u3079\u3066\u306e\u6a5f\u80fd\u8981\u4ef6\u304c\u5b9a\u7fa9\u3055\u308c\u3066\u3044\u308b\n\n            - [ ] \u975e\u6a5f\u80fd\u8981\u4ef6\uff08\u6027\u80fd\u3001\u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u7b49\uff09\u304c\u660e\u8a18\u3055\u308c\u3066\u3044\u308b\n\n            - [ ] \u30a8\u30c3\u30b8\u30b1\u30fc\u30b9\u304c\u8003\u616e\u3055\u308c\u3066\u3044\u308b\n\n            [\u30b9\u30c6\u30fc\u30bf\u30b9: PASS\/FAIL\/\u8981\u78ba\u8a8d]\n\n            [\u6539\u5584\u63d0\u6848: ...]\n\n\n            ### 2. \u660e\u78ba\u6027\u30c1\u30a7\u30c3\u30af\n\n            - [ ] \u5404\u8981\u4ef6\u304c\u5177\u4f53\u7684\u3067\u6e2c\u5b9a\u53ef\u80fd\n\n            - [ ] \u6280\u8853\u7528\u8a9e\u304c\u9069\u5207\u306b\u5b9a\u7fa9\u3055\u308c\u3066\u3044\u308b\n\n            - [ ] \u300c\u306a\u3069\u300d\u300c\u305d\u306e\u4ed6\u300d\u7b49\u306e\u66d6\u6627\u8868\u73fe\u304c\u306a\u3044\n\n            [\u30b9\u30c6\u30fc\u30bf\u30b9: PASS\/FAIL\/\u8981\u78ba\u8a8d]\n\n            [\u6539\u5584\u63d0\u6848: ...]\n\n\n            ...\n\n\n            ## \u30b5\u30de\u30ea\u30fc\n\n            - \u5408\u683c\u9805\u76ee: X\/Y\n\n            - \u8981\u6539\u5584\u9805\u76ee: [\u30ea\u30b9\u30c8]\n\n            - \u63a8\u5968\u30a2\u30af\u30b7\u30e7\u30f3: [\u5177\u4f53\u7684\u306a\u6b21\u306e\u30b9\u30c6\u30c3\u30d7]\n\n\n            \u4ed5\u69d8\u66f8: {{#conversation.specification#}}\n\n            \u5b9f\u88c5\u8a08\u753b: {{#conversation.implementation_plan#}}\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: checklist-002\n          role: user\n          text: '{{#1735820000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Checklist Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000086'\n      position:\n        x: 480\n        y: 750\n      positionAbsolute:\n        x: 480\n        y: 750\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - constitution\n          - conversation\n          - specification\n          - conversation\n          - implementation_plan\n          - conversation\n          - task_list\n        desc: \u5168\u4f53\u30ec\u30d3\u30e5\u30fc\u3068\u6539\u5584\u63d0\u6848\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.6\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: review-001\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit review\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u5168\u4f53\u3092\u30ec\u30d3\u30e5\u30fc\u3057\u3001\u6539\u5584\u63d0\u6848\u3092\u884c\u3044\u307e\u3059\u3002\n\n\n            \u30ec\u30d3\u30e5\u30fc\u89b3\u70b9\uff1a\n\n            1. \u539f\u5247\u3068\u306e\u6574\u5408\u6027\n\n            2. \u8981\u4ef6\u306e\u7db2\u7f85\u6027\n\n            3. \u6280\u8853\u9078\u5b9a\u306e\u59a5\u5f53\u6027\n\n            4. \u30ea\u30b9\u30af\u306e\u898b\u843d\u3068\u3057\n\n            5. \u6539\u5584\u6a5f\u4f1a\u306e\u7279\u5b9a\n\n\n            \u51fa\u529b\u5f62\u5f0f\uff1a\n\n            ## \u7dcf\u8a55\n\n            ## \u826f\u3044\u70b9\n\n            ## \u6539\u5584\u304c\u5fc5\u8981\u306a\u70b9\n\n            ## \u5177\u4f53\u7684\u306a\u6539\u5584\u63d0\u6848\n\n            ## \u6b21\u306e\u30b9\u30c6\u30c3\u30d7\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: review-002\n          role: user\n          text: '{{#1735820000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Review Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000090'\n      position:\n        x: 480\n        y: 650\n      positionAbsolute:\n        x: 480\n        y: 650\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - constitution\n          - conversation\n          - specification\n          - conversation\n          - clarified_requirements\n          - conversation\n          - implementation_plan\n          - conversation\n          - task_list\n          - conversation\n          - analysis_result\n        desc: \u6210\u679c\u7269\u306e\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: export-001\n          role: system\n          text: 'spec-kit\u306e\u5168\u6210\u679c\u7269\u3092\u69cb\u9020\u5316\u3055\u308c\u305f\u5f62\u5f0f\u3067\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\u3057\u307e\u3059\u3002\n\n\n            # \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u6210\u679c\u7269\n\n\n            ## 1. Constitution (\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247)\n\n            {{#conversation.constitution#}}\n\n\n            ## 2. Specification (\u8981\u4ef6\u4ed5\u69d8\u66f8)\n\n            {{#conversation.specification#}}\n\n\n            ## 3. Clarified Requirements (\u660e\u78ba\u5316\u3055\u308c\u305f\u8981\u4ef6)\n\n            {{#conversation.clarified_requirements#}}\n\n\n            ## 4. Implementation Plan (\u5b9f\u88c5\u8a08\u753b)\n\n            {{#conversation.implementation_plan#}}\n\n\n            ## 5. Task List (\u30bf\u30b9\u30af\u30ea\u30b9\u30c8)\n\n            {{#conversation.task_list#}}\n\n\n            ## 6. Analysis Result (\u5206\u6790\u7d50\u679c)\n\n            {{#conversation.analysis_result#}}\n\n\n            Markdown\u5f62\u5f0f\u3067\u6574\u5f62\u3057\u3066\u51fa\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: export-002\n          role: user\n          text: '\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\u5f62\u5f0f: {{#1735820000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Export Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000100'\n      position:\n        x: 480\n        y: 750\n      positionAbsolute:\n        x: 480\n        y: 750\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        advanced_settings:\n          group_enabled: false\n          groups: []\n        desc: \u5168\u30d6\u30e9\u30f3\u30c1\u306e\u7d50\u679c\u3092\u7d71\u5408\n        output_type: string\n        selected: false\n        title: Result Aggregator\n        type: variable-aggregator\n        variables:\n        - - '1735820000030'\n          - text\n        - - '1735820000043'\n          - output\n        - - '1735820000052'\n          - output\n        - - '1735820000060'\n          - text\n        - - '1735820000070'\n          - text\n        - - '1735820000080'\n          - text\n        - - '1735820000085'\n          - text\n        - - '1735820000086'\n          - text\n        - - '1735820000090'\n          - text\n        - - '1735820000100'\n          - text\n        - - '1735820000012'\n          - text\n      height: 220\n      id: '1735820000110'\n      position:\n        x: 980\n        y: 400\n      positionAbsolute:\n        x: 980\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u51fa\u529b\u5f62\u5f0f\u306e\u6574\u5f62\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: format-001\n          role: system\n          text: '\u5b9f\u884c\u7d50\u679c\u3092\u898b\u3084\u3059\u304f\u6574\u5f62\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            Markdown\u5f62\u5f0f\u3067\u69cb\u9020\u5316\u3057\u3066\u51fa\u529b\u3057\u307e\u3059\u3002\n\n            '\n        - id: format-002\n          role: user\n          text: '{{#1735820000110.output#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Format Converter\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1735820000120'\n      position:\n        x: 1080\n        y: 400\n      positionAbsolute:\n        x: 1080\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: \u30e1\u30e2\u30ea\u66f4\u65b0\n        output_type: object\n        selected: false\n        title: Update Memory\n        type: variable-assigner\n        variables:\n        - variable: current_command\n          variable_selector:\n          - '1735820000001'\n          - command\n      height: 132\n      id: '1735820000130'\n      position:\n        x: 1180\n        y: 400\n      positionAbsolute:\n        x: 1180\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1735820000120.text#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables:\n        - value_selector:\n          - '1735820000120'\n          - text\n          variable: output\n      height: 107\n      id: '1735820000003'\n      position:\n        x: 1280\n        y: 400\n      positionAbsolute:\n        x: 1280\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 0\n      y: 0\n      zoom: 0.7\n  rag_pipeline_variables: []\n"}
