workflows/speckit-complete-v2/workflow.yml
{"data":"app:\n  description: GitHub spec-kit\u306e\u5168\u6a5f\u80fd\u3092\u7d71\u5408\u5b9f\u88c5\u3057\u305f\u30ef\u30fc\u30af\u30d5\u30ed\u30fc v2\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: SpecKit Complete v2\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/bedrock:0.0.57@b7fb0414c4e64004a36c3141cb8d9a249d949013bb21efbce34918e71cce5051\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_batch_limit: 10\n        image_file_size_limit: 10\n        single_chunk_attachment_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: 'SpecKit Complete \u3078\u3088\u3046\u3053\u305d\uff01\u30b3\u30de\u30f3\u30c9\u3092\u9078\u629e\u3057\u3066\u304f\u3060\u3055\u3044\uff1a\n\n      - constitution: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\u5b9a\u7fa9 - specify: \u8981\u4ef6\u4ed5\u69d8\u66f8\u4f5c\u6210 - clarify: \u66d6\u6627\u306a\u8981\u4ef6\u306e\u660e\u78ba\u5316 - plan: \u6280\u8853\u5b9f\u88c5\u8a08\u753b\n      - tasks: \u30bf\u30b9\u30af\u5206\u89e3 - analyze: \u8981\u4ef6\u5206\u6790'\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: question-classifier\n      id: 1735800000001-1735800000010\n      source: '1735800000001'\n      sourceHandle: source\n      target: '1735800000010'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735800000010-1735800000101-1735800000021\n      source: '1735800000010'\n      sourceHandle: '1735800000101'\n      target: '1735800000021'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735800000010-1735800000102-1735800000022\n      source: '1735800000010'\n      sourceHandle: '1735800000102'\n      target: '1735800000022'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1735800000010-1735800000103-1735800000023\n      source: '1735800000010'\n      sourceHandle: '1735800000103'\n      target: '1735800000023'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735800000021-1735800000030\n      source: '1735800000021'\n      sourceHandle: source\n      target: '1735800000030'\n      targetHandle: '1735800000021'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735800000022-1735800000030\n      source: '1735800000022'\n      sourceHandle: source\n      target: '1735800000030'\n      targetHandle: '1735800000022'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735800000023-1735800000030\n      source: '1735800000023'\n      sourceHandle: source\n      target: '1735800000030'\n      targetHandle: '1735800000023'\n      type: custom\n    - data:\n        sourceType: variable-aggregator\n        targetType: answer\n      id: 1735800000030-1735800000003\n      source: '1735800000030'\n      sourceHandle: source\n      target: '1735800000003'\n      targetHandle: target\n      type: custom\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: \u30b3\u30de\u30f3\u30c9\n          max_length: 50\n          options:\n          - constitution\n          - specify\n          - clarify\n          - plan\n          - tasks\n          - analyze\n          required: true\n          type: select\n          variable: command\n        - label: \u8981\u4ef6\u30fb\u30d7\u30ed\u30f3\u30d7\u30c8\n          max_length: 5000\n          options: []\n          required: true\n          type: paragraph\n          variable: prompt\n      height: 135\n      id: '1735800000001'\n      position:\n        x: 80\n        y: 300\n      positionAbsolute:\n        x: 80\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        classes:\n        - id: '1735800000101'\n          name: constitution_specify\n        - id: '1735800000102'\n          name: clarify_analyze\n        - id: '1735800000103'\n          name: plan_tasks\n        desc: \u30b3\u30de\u30f3\u30c9\u3092\u5206\u985e\n        instructions: constitution, specify\u306f\"constitution_specify\"\u3001clarify, analyze\u306f\"clarify_analyze\"\u3001plan,\n          tasks\u306f\"plan_tasks\"\u306b\u5206\u985e\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        query_variable_selector:\n        - '1735800000001'\n        - command\n        selected: false\n        title: Command Classifier\n        topics: []\n        type: question-classifier\n      height: 236\n      id: '1735800000010'\n      position:\n        x: 380\n        y: 300\n      positionAbsolute:\n        x: 380\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Constitution & Specify\u51e6\u7406\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: a1b2c3d4-0001-0001-0001-000000000001\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit constitution\u3068specify\u30b3\u30de\u30f3\u30c9\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            \u30b3\u30de\u30f3\u30c9: {{#1735800000001.command#}}\n\n\n            constitution\u306e\u5834\u5408\uff1a\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306e\u539f\u5247\u3068\u30ac\u30a4\u30c9\u30e9\u30a4\u30f3\u3092\u5b9a\u7fa9 specify\u306e\u5834\u5408\uff1a\u8a73\u7d30\u306a\u8981\u4ef6\u4ed5\u69d8\u66f8\u3092\u4f5c\u6210\uff08[NEEDS CLARIFICATION:\n            xxx]\u30de\u30fc\u30ab\u30fc\u3092\u9069\u5b9c\u633f\u5165\uff09'\n        - id: b2c3d4e5-0001-0001-0001-000000000001\n          role: user\n          text: '{{#1735800000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Constitution\/Specify\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1735800000021'\n      position:\n        x: 680\n        y: 150\n      positionAbsolute:\n        x: 680\n        y: 150\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Clarify & Analyze\u51e6\u7406\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: a1b2c3d4-0002-0002-0002-000000000002\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit clarify\u3068analyze\u30b3\u30de\u30f3\u30c9\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            \u30b3\u30de\u30f3\u30c9: {{#1735800000001.command#}}\n\n\n            clarify\u306e\u5834\u5408\uff1a\u66d6\u6627\u306a\u70b9\u3092\u660e\u78ba\u5316\u3059\u308b\u8cea\u554f\u30921\u3064\u305a\u3064\u63d0\u793a analyze\u306e\u5834\u5408\uff1a\u8981\u4ef6\u306e\u4e00\u8cab\u6027\u3068\u7db2\u7f85\u6027\u3092\u5206\u6790'\n        - id: b2c3d4e5-0002-0002-0002-000000000002\n          role: user\n          text: '{{#1735800000001.prompt#}}'\n        selected: true\n        structured_output_enabled: false\n        title: Clarify\/Analyze\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1735800000022'\n      position:\n        x: 680\n        y: 300\n      positionAbsolute:\n        x: 680\n        y: 300\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Plan & Tasks\u51e6\u7406\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: a1b2c3d4-0003-0003-0003-000000000003\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit plan\u3068tasks\u30b3\u30de\u30f3\u30c9\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            \u30b3\u30de\u30f3\u30c9: {{#1735800000001.command#}}\n\n\n            plan\u306e\u5834\u5408\uff1a\u6280\u8853\u5b9f\u88c5\u8a08\u753b\u3092\u4f5c\u6210 tasks\u306e\u5834\u5408\uff1a\u5b9f\u88c5\u30bf\u30b9\u30af\u3092\u512a\u5148\u9806\u4f4d\u4ed8\u304d\u3067\u5206\u89e3'\n        - id: b2c3d4e5-0003-0003-0003-000000000003\n          role: user\n          text: '{{#1735800000001.prompt#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Plan\/Tasks\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1735800000023'\n      position:\n        x: 680\n        y: 450\n      positionAbsolute:\n        x: 680\n        y: 450\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        advanced_settings:\n          group_enabled: false\n          groups: []\n        desc: \u8907\u6570\u30d1\u30b9\u306e\u51fa\u529b\u30921\u3064\u306b\u7d71\u5408\n        output_type: string\n        selected: false\n        title: Output Aggregator\n        type: variable-aggregator\n        variables:\n        - - '1735800000021'\n          - text\n        - - '1735800000022'\n          - text\n        - - '1735800000023'\n          - text\n      height: 189\n      id: '1735800000030'\n      position:\n        x: 980\n        y: 300\n      positionAbsolute:\n        x: 980\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#1735800000030.output#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables:\n        - value_selector:\n          - '1735800000030'\n          - output\n          variable: output\n      height: 103\n      id: '1735800000003'\n      position:\n        x: 1280\n        y: 300\n      positionAbsolute:\n        x: 1280\n        y: 300\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    viewport:\n      x: -237.5823084062157\n      y: 73.1270763110166\n      zoom: 0.7494998008777735\n  rag_pipeline_variables: []\n"}
