workflows/speckit-complete-final-30/workflow.yml
{"data":"app:\n  description: SpecKit\u5b8c\u5168\u5b9f\u88c5 - GitHub SDD\u5168\u6a5f\u80fd30\u30ce\u30fc\u30c9\n  icon: \ud83e\udd16\n  icon_background: '#FF4500'\n  mode: advanced-chat\n  name: SpecKit Complete Final 30\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/bedrock:0.0.57@b7fb0414c4e64004a36c3141cb8d9a249d949013bb21efbce34918e71cce5051\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_batch_limit: 10\n        image_file_size_limit: 10\n        single_chunk_attachment_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: llm\n      id: 1768452476934-llm\n      source: '1768452476934'\n      sourceHandle: source\n      target: llm\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: llm-answer\n      source: llm\n      sourceHandle: source\n      target: answer\n      targetHandle: target\n      type: custom\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: question-classifier\n      id: llm--1768454089374-target\n      source: llm\n      sourceHandle: source\n      target: '1768454089374'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: llm\n      id: 1768454089374-1-1768454171457-target\n      source: '1768454089374'\n      sourceHandle: '1'\n      target: '1768454171457'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: code\n      id: 1768454171457--1768454192507-target\n      source: '1768454171457'\n      sourceHandle: source\n      target: '1768454192507'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: llm\n      id: 1768454089374-2-1768456082801-target\n      source: '1768454089374'\n      sourceHandle: '2'\n      target: '1768456082801'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: if-else\n      id: 1768456082801--1768456179200-target\n      source: '1768456082801'\n      sourceHandle: source\n      target: '1768456179200'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: llm\n      id: 1768454089374-1768454108208-1768456218717-target\n      source: '1768454089374'\n      sourceHandle: '1768454108208'\n      target: '1768456218717'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1768456218717--1768456250800-target\n      source: '1768456218717'\n      sourceHandle: source\n      target: '1768456250800'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: variable-aggregator\n        targetType: template-transform\n      id: 1768456250800--1768456473668-target\n      source: '1768456250800'\n      sourceHandle: source\n      target: '1768456473668'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: template-transform\n        targetType: loop\n      id: 1768456473668--1768456496516-target\n      source: '1768456473668'\n      sourceHandle: source\n      target: '1768456496516'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: llm\n      id: 1768454089374-1768454119208-1768456871431-target\n      source: '1768454089374'\n      sourceHandle: '1768454119208'\n      target: '1768456871431'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: iteration\n      id: 1768456871431--1768457201731-target\n      source: '1768456871431'\n      sourceHandle: source\n      target: '1768457201731'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: llm\n      id: 1768454089374-1768454129608-1768457973845-target\n      source: '1768454089374'\n      sourceHandle: '1768454129608'\n      target: '1768457973845'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: assigner\n      id: 1768457973845--1768458006428-target\n      source: '1768457973845'\n      sourceHandle: source\n      target: '1768458006428'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: assigner\n        targetType: document-extractor\n      id: 1768458006428--1768458024595-target\n      source: '1768458006428'\n      sourceHandle: source\n      target: '1768458024595'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: document-extractor\n        targetType: parameter-extractor\n      id: 1768458024595--1768458436412-target\n      source: '1768458024595'\n      sourceHandle: source\n      target: '1768458436412'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: llm\n      id: 1768454089374-1768454151943-1768458613194-target\n      source: '1768454089374'\n      sourceHandle: '1768454151943'\n      target: '1768458613194'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: true\n        loop_id: '1768456496516'\n        sourceType: loop-start\n        targetType: llm\n      id: 1768456496516start-source-1768459495011-target\n      source: 1768456496516start\n      sourceHandle: source\n      target: '1768459495011'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        isInLoop: false\n        iteration_id: '1768457201731'\n        sourceType: iteration-start\n        targetType: llm\n      id: 1768457201731start-source-1768459551627-target\n      source: 1768457201731start\n      sourceHandle: source\n      target: '1768459551627'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: http-request\n      id: 1768456082801--1768459625841-target\n      source: '1768456082801'\n      sourceHandle: source\n      target: '1768459625841'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: list-operator\n      id: 1768456218717--1768459725408-target\n      source: '1768456218717'\n      sourceHandle: source\n      target: '1768459725408'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: knowledge-retrieval\n      id: 1768456871431--1768459798024-target\n      source: '1768456871431'\n      sourceHandle: source\n      target: '1768459798024'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: agent\n      id: 1768457973845--1768459886191-target\n      source: '1768457973845'\n      sourceHandle: source\n      target: '1768459886191'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: code\n      id: 1768454171457--1768459960840-target\n      source: '1768454171457'\n      sourceHandle: source\n      target: '1768459960840'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        selected: false\n        title: \u30e6\u30fc\u30b6\u30fc\u5165\u529b\n        type: start\n        variables: []\n      height: 73\n      id: '1768452476934'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        memory:\n          query_prompt_template: '{{#sys.query#}}\n\n\n            {{#sys.files#}}'\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n          edition_type: basic\n          text: 'Here are the chat histories between human and assistant, inside <histories><\/histories>\n            XML tags.\n\n\n            <histories>\n\n            {{#histories#}}\n\n            <\/histories>\n\n\n\n            Human: {{#sys.query#}}\n\n\n            Assistant:'\n        selected: false\n        title: LLM\n        type: llm\n        vision:\n          enabled: false\n      height: 88\n      id: llm\n      position:\n        x: 380\n        y: 282\n      positionAbsolute:\n        x: 380\n        y: 282\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#llm.text#}}'\n        selected: false\n        title: \u56de\u7b54\n        type: answer\n        variables: []\n      height: 103\n      id: answer\n      position:\n        x: 680\n        y: 282\n      positionAbsolute:\n        x: 680\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        classes:\n        - id: '1'\n          name: standards\n        - id: '2'\n          name: specify\n        - id: '1768454108208'\n          name: clarify\n        - id: '1768454119208'\n          name: plan\n        - id: '1768454129608'\n          name: tasks\n        - id: '1768454140259'\n          name: analyze\n        - id: '1768454151943'\n          name: implement\n        instructions: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        query_variable_selector:\n        - '1768452476934'\n        - sys.query\n        selected: false\n        title: Question Classifier\n        type: question-classifier\n        vision:\n          enabled: false\n      height: 360\n      id: '1768454089374'\n      position:\n        x: 680\n        y: 424\n      positionAbsolute:\n        x: 680\n        y: 424\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n          edition_type: basic\n          text: '# \u6a19\u6e96\u78ba\u8a8d\u30cf\u30f3\u30c9\u30e9\u30fc\n\n\n            \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306e\u6a19\u6e96\u3068\u30ac\u30a4\u30c9\u30e9\u30a4\u30f3\u3092\u78ba\u8a8d\u3057\u307e\u3059\u3002\n\n\n            \u30e6\u30fc\u30b6\u30fc\u5165\u529b: {{#1768454089374.query#}}\n\n\n            ## \u78ba\u8a8d\u9805\u76ee:\n\n            - \u30b3\u30fc\u30c7\u30a3\u30f3\u30b0\u898f\u7d04\n\n            - \u8a2d\u8a08\u30d1\u30bf\u30fc\u30f3\n\n            - \u54c1\u8cea\u57fa\u6e96\n\n            - \u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u30dd\u30ea\u30b7\u30fc\n\n            - \u30d1\u30d5\u30a9\u30fc\u30de\u30f3\u30b9\u8981\u4ef6\n\n\n            \u6a19\u6e96\u306b\u6e96\u62e0\u3057\u305f\u5b9f\u88c5\u65b9\u91dd\u3092\u63d0\u793a\u3057\u3066\u304f\u3060\u3055\u3044\u3002'\n        selected: true\n        title: Standards Handler\n        type: llm\n        vision:\n          enabled: false\n      height: 88\n      id: '1768454171457'\n      position:\n        x: 982\n        y: 424\n      positionAbsolute:\n        x: 982\n        y: 424\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"\\ndef main(arg1: str, arg2: str):\\n    return {\\n        \\\"result\\\"\\\n          : arg1 + arg2,\\n    }\\n\"\n        code_language: python3\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: Code\n        type: code\n        variables:\n        - value_selector: []\n          variable: arg1\n        - value_selector: []\n          variable: arg2\n      height: 52\n      id: '1768454192507'\n      position:\n        x: 1284\n        y: 424\n      positionAbsolute:\n        x: 1284\n        y: 424\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n          edition_type: basic\n          text: '# \u4ed5\u69d8\u5b9a\u7fa9\u30cf\u30f3\u30c9\u30e9\u30fc\n\n\n            \u30e6\u30fc\u30b6\u30fc\u306e\u8981\u6c42\u3092\u8a73\u7d30\u306a\u4ed5\u69d8\u66f8\u306b\u5909\u63db\u3057\u307e\u3059\u3002\n\n\n            \u30e6\u30fc\u30b6\u30fc\u5165\u529b: {{#1768454089374.query#}}\n\n\n            ## \u51fa\u529b\u5f62\u5f0f:\n\n            - \u6a5f\u80fd\u8981\u4ef6\n\n            - \u975e\u6a5f\u80fd\u8981\u4ef6\n\n            - \u6280\u8853\u4ed5\u69d8\n\n            - \u5236\u7d04\u6761\u4ef6\n\n            - \u6210\u529f\u57fa\u6e96\n\n\n            \u8a73\u7d30\u3067\u5b9f\u88c5\u53ef\u80fd\u306a\u4ed5\u69d8\u3092\u4f5c\u6210\u3057\u3066\u304f\u3060\u3055\u3044\u3002'\n        selected: false\n        title: Specify Handler\n        type: llm\n        vision:\n          enabled: false\n      height: 88\n      id: '1768456082801'\n      position:\n        x: 982\n        y: 551\n      positionAbsolute:\n        x: 982\n        y: 551\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions: []\n          id: 'true'\n          logical_operator: and\n        selected: false\n        title: IF\/ELSE\n        type: if-else\n      height: 100\n      id: '1768456179200'\n      position:\n        x: 1284\n        y: 551\n      positionAbsolute:\n        x: 1284\n        y: 551\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n          edition_type: basic\n          text: '# \u660e\u78ba\u5316\u30cf\u30f3\u30c9\u30e9\u30fc\n\n\n            \u66d6\u6627\u306a\u8981\u6c42\u3092\u660e\u78ba\u306a\u4ed5\u69d8\u306b\u5909\u63db\u3057\u307e\u3059\u3002\n\n\n            \u30e6\u30fc\u30b6\u30fc\u5165\u529b: {{#1768454089374.query#}}\n\n\n            ## \u660e\u78ba\u5316\u30d7\u30ed\u30bb\u30b9:\n\n            - \u8981\u6c42\u306e\u8a73\u7d30\u5316\n\n            - \u524d\u63d0\u6761\u4ef6\u306e\u78ba\u8a8d\n\n            - \u671f\u5f85\u5024\u306e\u5b9a\u7fa9\n\n            - \u30a8\u30c3\u30b8\u30b1\u30fc\u30b9\u306e\u7279\u5b9a\n\n\n            \u4e0d\u660e\u78ba\u306a\u70b9\u3092\u89e3\u6d88\u3057\u3001\u5b9f\u88c5\u53ef\u80fd\u306a\u8981\u6c42\u306b\u3057\u3066\u304f\u3060\u3055\u3044\u3002'\n        selected: false\n        title: Clarify Handler\n        type: llm\n        vision:\n          enabled: false\n      height: 88\n      id: '1768456218717'\n      position:\n        x: 982\n        y: 678\n      positionAbsolute:\n        x: 982\n        y: 678\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        output_type: any\n        selected: false\n        title: Variable Aggregator\n        type: variable-aggregator\n        variables: []\n      height: 106\n      id: '1768456250800'\n      position:\n        x: 1284\n        y: 678\n      positionAbsolute:\n        x: 1284\n        y: 678\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        selected: false\n        template: '{{ arg1 }}'\n        title: Template\n        type: template-transform\n        variables:\n        - value_selector: []\n          variable: arg1\n      height: 52\n      id: '1768456473668'\n      position:\n        x: 1586\n        y: 678\n      positionAbsolute:\n        x: 1586\n        y: 678\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        break_conditions: []\n        error_handle_mode: terminated\n        height: 176\n        logical_operator: and\n        loop_count: 10\n        selected: false\n        start_node_id: 1768456496516start\n        title: Loop\n        type: loop\n        width: 386\n      height: 176\n      id: '1768456496516'\n      position:\n        x: 1888\n        y: 678\n      positionAbsolute:\n        x: 1888\n        y: 678\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 386\n      zIndex: 1\n    - data:\n        desc: ''\n        isInLoop: true\n        selected: false\n        title: ''\n        type: loop-start\n      draggable: false\n      height: 48\n      id: 1768456496516start\n      parentId: '1768456496516'\n      position:\n        x: 24\n        y: 68\n      positionAbsolute:\n        x: 1912\n        y: 746\n      selectable: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-loop-start\n      width: 44\n      zIndex: 1002\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n          edition_type: basic\n          text: '# \u8a08\u753b\u7b56\u5b9a\u30cf\u30f3\u30c9\u30e9\u30fc\n\n\n            \u5b9f\u88c5\u8a08\u753b\u3092\u7acb\u6848\u3057\u307e\u3059\u3002\n\n\n            \u30e6\u30fc\u30b6\u30fc\u5165\u529b: {{#1768454089374.query#}}\n\n\n            ## \u8a08\u753b\u5185\u5bb9:\n\n            - \u30d5\u30a7\u30fc\u30ba\u5206\u5272\n\n            - \u30bf\u30b9\u30af\u4f9d\u5b58\u95a2\u4fc2\n\n            - \u30ea\u30bd\u30fc\u30b9\u914d\u5206\n\n            - \u30bf\u30a4\u30e0\u30e9\u30a4\u30f3\n\n            - \u30ea\u30b9\u30af\u7ba1\u7406\n\n\n            \u6bb5\u968e\u7684\u3067\u5b9f\u884c\u53ef\u80fd\u306a\u8a08\u753b\u3092\u7b56\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002'\n        selected: false\n        title: Plan Handler\n        type: llm\n        vision:\n          enabled: false\n      height: 88\n      id: '1768456871431'\n      position:\n        x: 982\n        y: 805\n      positionAbsolute:\n        x: 982\n        y: 805\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        error_handle_mode: terminated\n        flatten_output: true\n        height: 176\n        is_parallel: false\n        iterator_selector: []\n        output_selector: []\n        parallel_nums: 10\n        selected: false\n        start_node_id: 1768457201731start\n        title: Iteration\n        type: iteration\n        width: 386\n      height: 176\n      id: '1768457201731'\n      position:\n        x: 2413.83803948273\n        y: 108.00757485741235\n      positionAbsolute:\n        x: 2413.83803948273\n        y: 108.00757485741235\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 386\n      zIndex: 1\n    - data:\n        desc: ''\n        isInIteration: true\n        selected: false\n        title: ''\n        type: iteration-start\n      draggable: false\n      height: 48\n      id: 1768457201731start\n      parentId: '1768457201731'\n      position:\n        x: 24\n        y: 68\n      positionAbsolute:\n        x: 2437.83803948273\n        y: 176.00757485741235\n      selectable: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-iteration-start\n      width: 44\n      zIndex: 1002\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n          edition_type: basic\n          text: '# \u30bf\u30b9\u30af\u7ba1\u7406\u30cf\u30f3\u30c9\u30e9\u30fc\n\n\n            \u30bf\u30b9\u30af\u306e\u4f5c\u6210\u3068\u7ba1\u7406\u3092\u884c\u3044\u307e\u3059\u3002\n\n\n            \u30e6\u30fc\u30b6\u30fc\u5165\u529b: {{#1768454089374.query#}}\n\n\n            ## \u30bf\u30b9\u30af\u7ba1\u7406:\n\n            - \u30bf\u30b9\u30af\u5206\u5272\n\n            - \u512a\u5148\u5ea6\u8a2d\u5b9a\n\n            - \u4f9d\u5b58\u95a2\u4fc2\u7ba1\u7406\n\n            - \u9032\u6357\u8ffd\u8de1\n\n            - \u30ea\u30bd\u30fc\u30b9\u5272\u308a\u5f53\u3066\n\n\n            \u52b9\u7387\u7684\u306a\u30bf\u30b9\u30af\u7ba1\u7406\u3092\u5b9f\u73fe\u3057\u3066\u304f\u3060\u3055\u3044\u3002'\n        selected: false\n        title: Tasks Handler\n        type: llm\n        vision:\n          enabled: false\n      height: 88\n      id: '1768457973845'\n      position:\n        x: 982\n        y: 932\n      positionAbsolute:\n        x: 982\n        y: 932\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        items: []\n        selected: false\n        title: Variable Assigner\n        type: assigner\n        version: '2'\n      height: 84\n      id: '1768458006428'\n      position:\n        x: 1284\n        y: 932\n      positionAbsolute:\n        x: 1284\n        y: 932\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        is_array_file: false\n        selected: false\n        title: Doc Extractor\n        type: document-extractor\n        variable_selector: []\n      height: 52\n      id: '1768458024595'\n      position:\n        x: 1586\n        y: 932\n      positionAbsolute:\n        x: 1586\n        y: 932\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        query: []\n        reasoning_mode: prompt\n        selected: false\n        title: Parameter Extractor\n        type: parameter-extractor\n        vision:\n          enabled: false\n      height: 88\n      id: '1768458436412'\n      position:\n        x: 1888\n        y: 932\n      positionAbsolute:\n        x: 1888\n        y: 932\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        items: []\n        selected: false\n        title: \u5909\u6570\u8a2d\u5b9a2\n        type: assigner\n        version: '2'\n      height: 84\n      id: '1768460100946'\n      position:\n        x: 982\n        y: 1059\n      positionAbsolute:\n        x: 982\n        y: 1059\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n          edition_type: basic\n          text: '# Implement Command Handler\n\n\n            Generate implementation code based on the current specification.\n\n\n            User Query: {{#1768454089374.query#}}\n\n\n            ## Implementation Output:\n\n            - Code Generation\n\n            - Test Coverage\n\n            - Integration Points\n\n            - Deployment Scripts\n\n\n            Provide production-ready implementation following best practices.'\n        selected: false\n        title: Implement Handler\n        type: llm\n        vision:\n          enabled: false\n      height: 88\n      id: '1768458613194'\n      position:\n        x: 982\n        y: 1186\n      positionAbsolute:\n        x: 982\n        y: 1186\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        isInIteration: false\n        isInLoop: true\n        loop_id: '1768456496516'\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n          edition_type: basic\n          text: '# \u53cd\u5fa9\u51e6\u7406\u30cf\u30f3\u30c9\u30e9\u30fc\n\n\n            \u30ea\u30b9\u30c8\u5185\u306e\u5404\u9805\u76ee\u3092\u51e6\u7406\u3057\u307e\u3059\u3002\n\n\n            \u73fe\u5728\u306e\u9805\u76ee: {{#1768456496516.item#}}\n\n            \u30a4\u30f3\u30c7\u30c3\u30af\u30b9: {{#1768456496516.index#}}\n\n\n            ## \u51e6\u7406\u5185\u5bb9:\n\n            - \u9805\u76ee\u306e\u691c\u8a3c\n\n            - \u30c7\u30fc\u30bf\u5909\u63db\n\n            - \u7d50\u679c\u306e\u96c6\u7d04\n\n\n            \u5404\u9805\u76ee\u3092\u9069\u5207\u306b\u51e6\u7406\u3057\u3001\u7d50\u679c\u3092\u8fd4\u3057\u3066\u304f\u3060\u3055\u3044\u3002'\n        selected: false\n        title: \u53cd\u5fa9\u51e6\u7406\u30cf\u30f3\u30c9\u30e9\u30fc\n        type: llm\n        vision:\n          enabled: false\n      height: 88\n      id: '1768459495011'\n      parentId: '1768456496516'\n      position:\n        x: 128\n        y: 68\n      positionAbsolute:\n        x: 2016\n        y: 746\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        isInIteration: true\n        isInLoop: false\n        iteration_id: '1768457201731'\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n          edition_type: basic\n          text: '# \u30a4\u30c6\u30ec\u30fc\u30b7\u30e7\u30f3\u51e6\u7406\u30cf\u30f3\u30c9\u30e9\u30fc\n\n\n            \u914d\u5217\u306e\u5404\u8981\u7d20\u3092\u9806\u6b21\u51e6\u7406\u3057\u307e\u3059\u3002\n\n\n            \u73fe\u5728\u306e\u30a4\u30c6\u30ec\u30fc\u30b7\u30e7\u30f3: {{#1768457201731.index#}}\n\n            \u51e6\u7406\u5bfe\u8c61\u30c7\u30fc\u30bf: {{#1768457201731.item#}}\n\n\n            ## \u51e6\u7406\u624b\u9806:\n\n            1. \u30c7\u30fc\u30bf\u306e\u691c\u8a3c\n\n            2. \u5909\u63db\u51e6\u7406\n\n            3. \u7d50\u679c\u306e\u84c4\u7a4d\n\n            4. \u6b21\u306e\u30a4\u30c6\u30ec\u30fc\u30b7\u30e7\u30f3\u3078\u306e\u6e96\u5099\n\n\n            \u5404\u8981\u7d20\u3092\u52b9\u7387\u7684\u306b\u51e6\u7406\u3057\u3066\u304f\u3060\u3055\u3044\u3002'\n        selected: false\n        title: \u30a4\u30c6\u30ec\u30fc\u30b7\u30e7\u30f3\u51e6\u7406\n        type: llm\n        vision:\n          enabled: false\n      height: 88\n      id: '1768459551627'\n      parentId: '1768457201731'\n      position:\n        x: 128\n        y: 68\n      positionAbsolute:\n        x: 2541.83803948273\n        y: 176.00757485741235\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        authorization:\n          config: null\n          type: no-auth\n        body:\n          data: []\n          type: none\n        headers: ''\n        method: get\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        ssl_verify: true\n        timeout:\n          max_connect_timeout: 0\n          max_read_timeout: 0\n          max_write_timeout: 0\n        title: API\u547c\u3073\u51fa\u3057\n        type: http-request\n        url: https:\/\/api.github.com\/repos\/{{#repo_name#}}\/commits\n        variables: []\n      height: 142\n      id: '1768459625841'\n      position:\n        x: 1284\n        y: 690\n      positionAbsolute:\n        x: 1284\n        y: 690\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        extract_by:\n          enabled: false\n          serial: '1'\n        filter_by:\n          conditions: []\n          enabled: false\n        limit:\n          enabled: false\n          size: 10\n        order_by:\n          enabled: false\n          key: ''\n          value: asc\n        selected: false\n        title: \u30ea\u30b9\u30c8\u64cd\u4f5c\n        type: list-operator\n        variable: []\n      height: 52\n      id: '1768459725408'\n      position:\n        x: 2206.2164616521613\n        y: 439.4464175350063\n      positionAbsolute:\n        x: 2206.2164616521613\n        y: 439.4464175350063\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        dataset_ids: []\n        multiple_retrieval_config:\n          reranking_enable: false\n          top_k: 4\n        query_attachment_selector: []\n        query_variable_selector:\n        - '1768452476934'\n        - sys.query\n        retrieval_mode: multiple\n        selected: false\n        title: \u77e5\u8b58\u691c\u7d22\n        type: knowledge-retrieval\n      height: 52\n      id: '1768459798024'\n      position:\n        x: 1284\n        y: 1020\n      positionAbsolute:\n        x: 1284\n        y: 1020\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        selected: false\n        title: \u30a8\u30fc\u30b8\u30a7\u30f3\u30c8\u5b9f\u884c\n        tool_node_version: '2'\n        type: agent\n      height: 80\n      id: '1768459886191'\n      position:\n        x: 1284\n        y: 1055\n      positionAbsolute:\n        x: 1284\n        y: 1055\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"\\ndef main(arg1: str, arg2: str):\\n    return {\\n        \\\"result\\\"\\\n          : arg1 + arg2,\\n    }\\n\"\n        code_language: python3\n        outputs:\n          result:\n            children: null\n            type: string\n        selected: false\n        title: \u30b3\u30fc\u30c9\u51e6\u74062\n        type: code\n        variables:\n        - value_selector: []\n          variable: arg1\n        - value_selector: []\n          variable: arg2\n      height: 52\n      id: '1768459960840'\n      position:\n        x: 1284\n        y: 515\n      positionAbsolute:\n        x: 1284\n        y: 515\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    viewport:\n      x: 156.50555235061552\n      y: 144.2793983478869\n      zoom: 0.4031812829924899\n  rag_pipeline_variables: []\n"}
