workflows/ts-youtube-コンテンツ生成-v4/workflow.yml
{"data":"app:\n  description: TypeScript\u95a2\u9023\u306eHacker News\u30c8\u30d4\u30c3\u30af\u304b\u3089\u3001YouTube\u52d5\u753b\u7528\u306e\u30b3\u30f3\u30c6\u30f3\u30c4\u3092\u81ea\u52d5\u751f\u6210\u3002IF\/ELSE\u5206\u5c90\u3001Variable\n    Aggregator\u3001Open Loop\u69cb\u9020\u3001SEO\u6700\u9069\u5316\u5bfe\u5fdc\u3002\n  icon: \ud83c\udfac\n  icon_background: '#E0F2FE'\n  mode: workflow\n  name: TS YouTube \u30b3\u30f3\u30c6\u30f3\u30c4\u751f\u6210 v4\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/bedrock:0.0.49@8bca05c0cfdbc60cc824b18410dea65ad6e1303099bcaa768a9de20971e3eaf4\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        sourceType: start\n        targetType: if-else\n      id: 1735660001000-1735660001001\n      source: '1735660001000'\n      sourceHandle: source\n      target: '1735660001001'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: if-else\n        targetType: http-request\n      id: 1735660001001-false-1735660001002\n      source: '1735660001001'\n      sourceHandle: 'false'\n      target: '1735660001002'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: if-else\n        targetType: llm\n      id: 1735660001001-true-1735660001021\n      source: '1735660001001'\n      sourceHandle: 'true'\n      target: '1735660001021'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: http-request\n        targetType: code\n      id: 1735660001002-1735660001003\n      source: '1735660001002'\n      sourceHandle: source\n      target: '1735660001003'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: if-else\n      id: 1735660001003-1735660001004\n      source: '1735660001003'\n      sourceHandle: source\n      target: '1735660001004'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: if-else\n        targetType: llm\n      id: 1735660001004-true-1735660001005\n      source: '1735660001004'\n      sourceHandle: 'true'\n      target: '1735660001005'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: if-else\n        targetType: llm\n      id: 1735660001004-false-1735660001020\n      source: '1735660001004'\n      sourceHandle: 'false'\n      target: '1735660001020'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735660001021-1735660001030\n      source: '1735660001021'\n      sourceHandle: source\n      target: '1735660001030'\n      targetHandle: '1735660001021'\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735660001005-1735660001030\n      source: '1735660001005'\n      sourceHandle: source\n      target: '1735660001030'\n      targetHandle: '1735660001005'\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1735660001020-1735660001030\n      source: '1735660001020'\n      sourceHandle: source\n      target: '1735660001030'\n      targetHandle: '1735660001020'\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: variable-aggregator\n        targetType: llm\n      id: 1735660001030-1735660001006\n      source: '1735660001030'\n      sourceHandle: source\n      target: '1735660001006'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: llm\n      id: 1735660001006-1735660001007\n      source: '1735660001006'\n      sourceHandle: source\n      target: '1735660001007'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: llm\n      id: 1735660001007-1735660001008\n      source: '1735660001007'\n      sourceHandle: source\n      target: '1735660001008'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: llm\n      id: 1735660001008-1735660001010\n      source: '1735660001008'\n      sourceHandle: source\n      target: '1735660001010'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: llm\n      id: 1735660001010-1735660001011\n      source: '1735660001010'\n      sourceHandle: source\n      target: '1735660001011'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: template-transform\n      id: 1735660001011-1735660001012\n      source: '1735660001011'\n      sourceHandle: source\n      target: '1735660001012'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: template-transform\n        targetType: end\n      id: 1735660001012-1735660001013\n      source: '1735660001012'\n      sourceHandle: source\n      target: '1735660001013'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: \u30c8\u30d4\u30c3\u30af\u3092\u624b\u52d5\u6307\u5b9a\u53ef\u80fd\u3002\u7a7a\u6b04\u3067Hacker News\u304b\u3089\u81ea\u52d5\u53d6\u5f97\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: \u30c8\u30d4\u30c3\u30af\uff08\u7a7a\u6b04\u3067\u81ea\u52d5\u53d6\u5f97\uff09\n          max_length: 500\n          options: []\n          required: false\n          type: paragraph\n          variable: manual_topic\n      height: 153\n      id: '1735660001000'\n      position:\n        x: 80\n        y: 400\n      positionAbsolute:\n        x: 80\n        y: 400\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: not empty\n            id: cond-manual-topic\n            value: ''\n            varType: string\n            variable_selector:\n            - '1735660001000'\n            - manual_topic\n          logical_operator: and\n        desc: \u624b\u52d5\u30c8\u30d4\u30c3\u30af\u304c\u5165\u529b\u3055\u308c\u3066\u3044\u308b\u304b\u5224\u5b9a\n        selected: false\n        title: \u624b\u52d5\u30c8\u30d4\u30c3\u30af\u5224\u5b9a\n        type: if-else\n      height: 152\n      id: '1735660001001'\n      position:\n        x: 380\n        y: 400\n      positionAbsolute:\n        x: 380\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        authorization:\n          config: null\n          type: no-auth\n        body:\n          data: ''\n          type: none\n        desc: HN Top Stories\u53d6\u5f97\uff08\u624b\u52d5\u30c8\u30d4\u30c3\u30af\u306a\u3057\u306e\u5834\u5408\u306e\u307f\uff09\n        headers: ''\n        method: get\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        timeout:\n          connect: 10\n          max_connect_timeout: 300\n          max_read_timeout: 600\n          max_write_timeout: 600\n          read: 60\n          write: 20\n        title: HN Top Stories\n        type: http-request\n        url: https:\/\/hacker-news.firebaseio.com\/v0\/topstories.json?print=pretty\n        variables: []\n      height: 197\n      id: '1735660001002'\n      position:\n        x: 680\n        y: 550\n      positionAbsolute:\n        x: 680\n        y: 550\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"import json\\nimport urllib.request\\n\\ndef main(story_ids_json: str)\\\n          \\ -> dict:\\n    try:\\n        story_ids = json.loads(story_ids_json)\\n \\\n          \\       ts_stories = []\\n        keywords = ['typescript', 'ts', 'deno',\\\n          \\ 'bun', 'node', 'javascript', 'js',\\n                    'react', 'next',\\\n          \\ 'nuxt', 'vue', 'angular', 'svelte', 'solid',\\n                    'astro',\\\n          \\ 'vite', 'esbuild', 'turbopack', 'rspack', 'biome',\\n                 \\\n          \\   'eslint', 'prettier', 'zod', 'trpc', 'prisma', 'drizzle',\\n        \\\n          \\            'tailwind', 'shadcn', 'radix', 'tanstack', 'remix', 'qwik']\\n\\\n          \\n        for story_id in story_ids[:80]:\\n            try:\\n          \\\n          \\      url = f\\\"https:\/\/hacker-news.firebaseio.com\/v0\/item\/{story_id}.json\\\"\\\n          \\n                with urllib.request.urlopen(url, timeout=5) as response:\\n\\\n          \\                    story = json.loads(response.read().decode())\\n    \\\n          \\                if story and story.get('title'):\\n                    \\\n          \\    title_lower = story['title'].lower()\\n                        if any(kw\\\n          \\ in title_lower for kw in keywords):\\n                            ts_stories.append({\\n\\\n          \\                                'title': story['title'],\\n            \\\n          \\                    'url': story.get('url', ''),\\n                    \\\n          \\            'score': story.get('score', 0),\\n                         \\\n          \\       'comments': story.get('descendants', 0)\\n                      \\\n          \\      })\\n                            if len(ts_stories) >= 8:\\n      \\\n          \\                          break\\n            except:\\n                continue\\n\\\n          \\n        if not ts_stories:\\n            return {\\n                \\\"topics_summary\\\"\\\n          : \\\"\\\",\\n                \\\"has_topics\\\": \\\"false\\\"\\n            }\\n\\n  \\\n          \\      ts_stories.sort(key=lambda x: x['score'] + x['comments'] * 2, reverse=True)\\n\\\n          \\n        summary = \\\"\u3010\u4eca\u65e5\u306eTypeScript\/JS\u95a2\u9023\u30cb\u30e5\u30fc\u30b9 from Hacker News\u3011\\\\n\\\\n\\\"\\n\\\n          \\        for i, story in enumerate(ts_stories, 1):\\n            engagement\\\n          \\ = story['score'] + story['comments'] * 2\\n            summary += f\\\"{i}.\\\n          \\ {story['title']}\\\\n\\\"\\n            summary += f\\\"   \\U0001F4CA \u30b9\u30b3\u30a2: {story['score']}\\\n          \\ | \\U0001F4AC \u30b3\u30e1\u30f3\u30c8: {story['comments']} | \\U0001F525 \u30a8\u30f3\u30b2\u30fc\u30b8\u30e1\u30f3\u30c8: {engagement}\\\\\\\n          n\\\"\\n            if story['url']:\\n                summary += f\\\"   \\U0001F517\\\n          \\ {story['url']}\\\\n\\\"\\n            summary += \\\"\\\\n\\\"\\n\\n        return\\\n          \\ {\\n            \\\"topics_summary\\\": summary,\\n            \\\"has_topics\\\"\\\n          : \\\"true\\\"\\n        }\\n    except Exception as e:\\n        return {\\n  \\\n          \\          \\\"topics_summary\\\": \\\"\\\",\\n            \\\"has_topics\\\": \\\"false\\\"\\\n          \\n        }\\n\"\n        code_language: python3\n        desc: TS\/JS\u95a2\u9023\u8a18\u4e8b\u3092\u30d5\u30a3\u30eb\u30bf\u30fc\n        outputs:\n          has_topics:\n            children: null\n            type: string\n          topics_summary:\n            children: null\n            type: string\n        selected: false\n        title: TS\u8a18\u4e8b\u30d5\u30a3\u30eb\u30bf\u30fc\n        type: code\n        variables:\n        - value_selector:\n          - '1735660001002'\n          - body\n          variable: story_ids_json\n      height: 80\n      id: '1735660001003'\n      position:\n        x: 980\n        y: 550\n      positionAbsolute:\n        x: 980\n        y: 550\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: cond-has-topics\n            value: 'true'\n            varType: string\n            variable_selector:\n            - '1735660001003'\n            - has_topics\n          logical_operator: and\n        desc: TypeScript\u95a2\u9023\u8a18\u4e8b\u304c\u898b\u3064\u304b\u3063\u305f\u304b\u5224\u5b9a\n        selected: false\n        title: TS\u8a18\u4e8b\u6709\u7121\u5224\u5b9a\n        type: if-else\n      height: 168\n      id: '1735660001004'\n      position:\n        x: 1280\n        y: 550\n      positionAbsolute:\n        x: 1280\n        y: 550\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u624b\u52d5\u5165\u529b\u30c8\u30d4\u30c3\u30af\u304b\u3089\u30d0\u30ba\u308a\u305d\u3046\u306a\u5207\u308a\u53e3\u3092\u9078\u5b9a\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            cross-region: false\n            model_name: Nova Lite\n            temperature: 0.7\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: f1a2b3c4-0021-0021-0021-000000000001\n          role: system\n          text: '\u3042\u306a\u305f\u306fTypeScript\/JavaScript\u754c\u9688\u306b\u7cbe\u901a\u3057\u305fYouTube\u30b3\u30f3\u30c6\u30f3\u30c4\u30b9\u30c8\u30e9\u30c6\u30b8\u30b9\u30c8\u3067\u3059\u3002\n\n\n            \u5165\u529b\u3055\u308c\u305f\u30c8\u30d4\u30c3\u30af\u60c5\u5831\u304b\u3089\u3001YouTube\u52d5\u753b\u3068\u3057\u3066\u6700\u3082\u30d0\u30ba\u308a\u305d\u3046\u306a\u5207\u308a\u53e3\u3092\u6c7a\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            \u3010\u52d5\u753b\u306e\u5207\u308a\u53e3\u30d1\u30bf\u30fc\u30f3\u3011\u4ee5\u4e0b\u304b\u3089\u6700\u9069\u306a\u3082\u306e\u3092\u9078\u629e:\n\n            - \u300c\u3007\u3007\u304c\u7d42\u308f\u3063\u305f\u7406\u7531\u300d\uff08\u8870\u9000\u30fb\u4e57\u308a\u63db\u3048\u7cfb\uff09\n\n            - \u300c\u3007\u3007 vs \u25b3\u25b3 \u7d50\u5c40\u3069\u3063\u3061\uff1f\u300d\uff08\u6bd4\u8f03\u7cfb\uff09\n\n            - \u300c\u3007\u3007\u3092\u4f7f\u3063\u3066\u306f\u3044\u3051\u306a\u30443\u3064\u306e\u7406\u7531\u300d\uff08\u8b66\u544a\u7cfb\uff09\n\n            - \u300c\u306a\u305c\u3007\u3007\u304c\u6025\u306b\u4eba\u6c17\u306b\u306a\u3063\u305f\u306e\u304b\u300d\uff08\u30c8\u30ec\u30f3\u30c9\u5206\u6790\u7cfb\uff09\n\n            - \u300c\u3007\u3007\u306e\u65b0\u6a5f\u80fd\u304c\u30e4\u30d0\u3059\u304e\u308b\u300d\uff08\u65b0\u6a5f\u80fd\u7d39\u4ecb\u7cfb\uff09\n\n            - \u300c\u30d7\u30ed\u304c\u6559\u3048\u308b\u3007\u3007\u306e\u672c\u5f53\u306e\u4f7f\u3044\u65b9\u300d\uff08\u6559\u80b2\u7cfb\uff09\n\n\n            \u3010\u51fa\u529b\u5f62\u5f0f\u3011\n\n            ## \u9078\u5b9a\u30c8\u30d4\u30c3\u30af\n\n            [\u30bf\u30a4\u30c8\u30eb]\n\n\n            ## \u9078\u5b9a\u7406\u7531\n\n            [\u306a\u305c\u3053\u306e\u30c8\u30d4\u30c3\u30af\u304c\u30d0\u30ba\u308a\u305d\u3046\u304b\u30012-3\u6587]\n\n\n            ## \u52d5\u753b\u306e\u5207\u308a\u53e3\n\n            [\u4e0a\u8a18\u30d1\u30bf\u30fc\u30f3\u304b\u3089\u9078\u629e + \u5177\u4f53\u7684\u306a\u89d2\u5ea6]\n\n\n            ## \u60f3\u5b9a\u3055\u308c\u308b\u8b70\u8ad6\u30dd\u30a4\u30f3\u30c8\n\n            [\u8996\u8074\u8005\u304c\u30b3\u30e1\u30f3\u30c8\u3057\u305d\u3046\u306a\u8ad6\u70b9\u30922-3\u500b]\n\n            '\n        - id: f1a2b3c4-0021-0021-0021-000000000002\n          role: user\n          text: '\u3010\u624b\u52d5\u6307\u5b9a\u30c8\u30d4\u30c3\u30af\u3011\n\n            {{#1735660001000.manual_topic#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: \u624b\u52d5\u30c8\u30d4\u30c3\u30af\u9078\u5b9a\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 132\n      id: '1735660001021'\n      position:\n        x: 680\n        y: 250\n      positionAbsolute:\n        x: 680\n        y: 250\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Hacker News\u30c8\u30d4\u30c3\u30af\u304b\u3089\u30d0\u30ba\u308a\u305d\u3046\u306a\u5207\u308a\u53e3\u3092\u9078\u5b9a\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            cross-region: false\n            model_name: Nova Lite\n            temperature: 0.7\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: f1a2b3c4-0005-0005-0005-000000000001\n          role: system\n          text: '\u3042\u306a\u305f\u306fTypeScript\/JavaScript\u754c\u9688\u306b\u7cbe\u901a\u3057\u305fYouTube\u30b3\u30f3\u30c6\u30f3\u30c4\u30b9\u30c8\u30e9\u30c6\u30b8\u30b9\u30c8\u3067\u3059\u3002\n\n\n            \u5165\u529b\u3055\u308c\u305f\u30c8\u30d4\u30c3\u30af\u60c5\u5831\u304b\u3089\u3001YouTube\u52d5\u753b\u3068\u3057\u3066\u6700\u3082\u30d0\u30ba\u308a\u305d\u3046\u306a\u5207\u308a\u53e3\u3092\u6c7a\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            \u3010\u52d5\u753b\u306e\u5207\u308a\u53e3\u30d1\u30bf\u30fc\u30f3\u3011\u4ee5\u4e0b\u304b\u3089\u6700\u9069\u306a\u3082\u306e\u3092\u9078\u629e:\n\n            - \u300c\u3007\u3007\u304c\u7d42\u308f\u3063\u305f\u7406\u7531\u300d\uff08\u8870\u9000\u30fb\u4e57\u308a\u63db\u3048\u7cfb\uff09\n\n            - \u300c\u3007\u3007 vs \u25b3\u25b3 \u7d50\u5c40\u3069\u3063\u3061\uff1f\u300d\uff08\u6bd4\u8f03\u7cfb\uff09\n\n            - \u300c\u3007\u3007\u3092\u4f7f\u3063\u3066\u306f\u3044\u3051\u306a\u30443\u3064\u306e\u7406\u7531\u300d\uff08\u8b66\u544a\u7cfb\uff09\n\n            - \u300c\u306a\u305c\u3007\u3007\u304c\u6025\u306b\u4eba\u6c17\u306b\u306a\u3063\u305f\u306e\u304b\u300d\uff08\u30c8\u30ec\u30f3\u30c9\u5206\u6790\u7cfb\uff09\n\n            - \u300c\u3007\u3007\u306e\u65b0\u6a5f\u80fd\u304c\u30e4\u30d0\u3059\u304e\u308b\u300d\uff08\u65b0\u6a5f\u80fd\u7d39\u4ecb\u7cfb\uff09\n\n            - \u300c\u30d7\u30ed\u304c\u6559\u3048\u308b\u3007\u3007\u306e\u672c\u5f53\u306e\u4f7f\u3044\u65b9\u300d\uff08\u6559\u80b2\u7cfb\uff09\n\n\n            \u3010\u51fa\u529b\u5f62\u5f0f\u3011\n\n            ## \u9078\u5b9a\u30c8\u30d4\u30c3\u30af\n\n            [\u30bf\u30a4\u30c8\u30eb]\n\n\n            ## \u9078\u5b9a\u7406\u7531\n\n            [\u306a\u305c\u3053\u306e\u30c8\u30d4\u30c3\u30af\u304c\u30d0\u30ba\u308a\u305d\u3046\u304b\u30012-3\u6587]\n\n\n            ## \u52d5\u753b\u306e\u5207\u308a\u53e3\n\n            [\u4e0a\u8a18\u30d1\u30bf\u30fc\u30f3\u304b\u3089\u9078\u629e + \u5177\u4f53\u7684\u306a\u89d2\u5ea6]\n\n\n            ## \u60f3\u5b9a\u3055\u308c\u308b\u8b70\u8ad6\u30dd\u30a4\u30f3\u30c8\n\n            [\u8996\u8074\u8005\u304c\u30b3\u30e1\u30f3\u30c8\u3057\u305d\u3046\u306a\u8ad6\u70b9\u30922-3\u500b]\n\n            '\n        - id: f1a2b3c4-0005-0005-0005-000000000002\n          role: user\n          text: '\u3010Hacker News\u304b\u3089\u53d6\u5f97\u3057\u305f\u30c8\u30d4\u30c3\u30af\u3011\n\n            {{#1735660001003.topics_summary#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: HN\u30c8\u30d4\u30c3\u30af\u9078\u5b9a\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 132\n      id: '1735660001005'\n      position:\n        x: 1580\n        y: 450\n      positionAbsolute:\n        x: 1580\n        y: 450\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: HN\u306bTS\u8a18\u4e8b\u304c\u306a\u3044\u5834\u5408\u306e\u30d5\u30a9\u30fc\u30eb\u30d0\u30c3\u30af\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            cross-region: false\n            model_name: Nova Lite\n            temperature: 0.8\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: f1a2b3c4-0020-0020-0020-000000000001\n          role: system\n          text: '\u3042\u306a\u305f\u306fTypeScript\/JavaScript\u754c\u9688\u306b\u7cbe\u901a\u3057\u305fYouTube\u30b3\u30f3\u30c6\u30f3\u30c4\u30b9\u30c8\u30e9\u30c6\u30b8\u30b9\u30c8\u3067\u3059\u3002\n\n\n            \u4eca\u65e5\u306eHacker News\u306b\u306fTypeScript\u95a2\u9023\u306e\u8a18\u4e8b\u304c\u3042\u308a\u307e\u305b\u3093\u3067\u3057\u305f\u3002\n\n            \u4ee3\u308f\u308a\u306b\u3001\u73fe\u5728\u306eTypeScript\u754c\u9688\u3067\u8a71\u984c\u306b\u306a\u308a\u305d\u3046\u306a\u30c8\u30d4\u30c3\u30af\u30921\u3064\u63d0\u6848\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            \u4ee5\u4e0b\u306e\u3088\u3046\u306a\u6700\u65b0\u30c8\u30ec\u30f3\u30c9\u304b\u3089\u9078\u3093\u3067\u304f\u3060\u3055\u3044:\n\n            - TypeScript 5.x \u306e\u65b0\u6a5f\u80fd\n\n            - Bun vs Deno vs Node.js\n\n            - React Server Components\n\n            - Next.js vs Remix vs Astro\n\n            - Biome vs ESLint + Prettier\n\n            - Zod \/ Valibot \u306b\u3088\u308b\u30b9\u30ad\u30fc\u30de\u691c\u8a3c\n\n            - tRPC \/ Hono \u306a\u3069\u306e\u578b\u5b89\u5168API\n\n            - Tailwind CSS v4\n\n            - Turbopack \/ Rspack\n\n\n            \u3010\u51fa\u529b\u5f62\u5f0f\u3011\n\n            ## \u9078\u5b9a\u30c8\u30d4\u30c3\u30af\n\n            [\u30bf\u30a4\u30c8\u30eb]\n\n\n            ## \u9078\u5b9a\u7406\u7531\n\n            [\u306a\u305c\u3053\u306e\u30c8\u30d4\u30c3\u30af\u304c\u4eca\u30d0\u30ba\u308a\u305d\u3046\u304b\u30012-3\u6587]\n\n\n            ## \u52d5\u753b\u306e\u5207\u308a\u53e3\n\n            [\u5177\u4f53\u7684\u306a\u89d2\u5ea6]\n\n\n            ## \u60f3\u5b9a\u3055\u308c\u308b\u8b70\u8ad6\u30dd\u30a4\u30f3\u30c8\n\n            [\u8996\u8074\u8005\u304c\u30b3\u30e1\u30f3\u30c8\u3057\u305d\u3046\u306a\u8ad6\u70b9\u30922-3\u500b]\n\n            '\n        - id: f1a2b3c4-0020-0020-0020-000000000002\n          role: user\n          text: TypeScript\u754c\u9688\u3067\u4eca\u8a71\u984c\u306b\u306a\u308a\u305d\u3046\u306a\u30c8\u30d4\u30c3\u30af\u3092\u63d0\u6848\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n        selected: false\n        structured_output_enabled: false\n        title: \u30d5\u30a9\u30fc\u30eb\u30d0\u30c3\u30af\u30c8\u30d4\u30c3\u30af\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 132\n      id: '1735660001020'\n      position:\n        x: 1580\n        y: 700\n      positionAbsolute:\n        x: 1580\n        y: 700\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        advanced_settings:\n          group_enabled: false\n          groups: []\n        desc: \u624b\u52d5\/HN\/\u30d5\u30a9\u30fc\u30eb\u30d0\u30c3\u30af\u306e3\u3064\u306e\u30d1\u30b9\u3092\u5408\u6d41\n        output_type: string\n        selected: false\n        title: \u30c8\u30d4\u30c3\u30af\u5408\u6d41\n        type: variable-aggregator\n        variables:\n        - - '1735660001021'\n          - text\n        - - '1735660001005'\n          - text\n        - - '1735660001020'\n          - text\n      height: 205\n      id: '1735660001030'\n      position:\n        x: 1880\n        y: 400\n      positionAbsolute:\n        x: 1880\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u6700\u521d3\u79d2\u306e\u30d5\u30c3\u30af\u751f\u6210\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.9\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: f1a2b3c4-0006-0006-0006-000000000001\n          role: system\n          text: '\u3042\u306a\u305f\u306fYouTube\u306e\u30ea\u30c6\u30f3\u30b7\u30e7\u30f3\u6700\u9069\u5316\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n\n            \u52d5\u753b\u306e\u6700\u521d3\u79d2\u3067\u8996\u8074\u8005\u3092\u63b4\u3080\u300c\u30d5\u30c3\u30af\u300d\u3092\u751f\u6210\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            \u611f\u60c5\u7684\u306a\u30aa\u30fc\u30d7\u30cb\u30f3\u30b0\u306f\u4e2d\u7acb\u7684\u306a\u3082\u306e\u3088\u308a67%\u9ad8\u3044\u30ea\u30c6\u30f3\u30b7\u30e7\u30f3\u3092\u9054\u6210\u3057\u307e\u3059\u3002\n\n\n            \u3010\u30d5\u30c3\u30af\u306e\u30bf\u30a4\u30d7\u3011\u305d\u308c\u305e\u308c1\u3064\u305a\u3064\u751f\u6210:\n\n\n            1. **\u6050\u6016\u30fb\u8b66\u544a\u30d5\u30c3\u30af**: \u8996\u8074\u8005\u306e\u4e0d\u5b89\u3092\u717d\u308b\n\n            2. **\u597d\u5947\u5fc3\u30d5\u30c3\u30af**: \u7b54\u3048\u3092\u77e5\u308a\u305f\u304f\u306a\u308b\u7591\u554f\n\n            3. **\u6570\u5b57\u30fb\u30c7\u30fc\u30bf\u30d5\u30c3\u30af**: \u5177\u4f53\u7684\u306a\u6570\u5b57\u3067\u30a4\u30f3\u30d1\u30af\u30c8\n\n            4. **\u9006\u5f35\u308a\u30fb\u708e\u4e0a\u30d5\u30c3\u30af**: \u5e38\u8b58\u306b\u53cd\u3059\u308b\u4e3b\u5f35\n\n\n            \u3010\u51fa\u529b\u5f62\u5f0f\u3011\n\n            ## \ud83d\udd25 \u6050\u6016\u30fb\u8b66\u544a\u30d5\u30c3\u30af\n\n            [\u30d5\u30c3\u30af\u6587]\n\n\n            ## \ud83e\udd14 \u597d\u5947\u5fc3\u30d5\u30c3\u30af\n\n            [\u30d5\u30c3\u30af\u6587]\n\n\n            ## \ud83d\udcca \u6570\u5b57\u30fb\u30c7\u30fc\u30bf\u30d5\u30c3\u30af\n\n            [\u30d5\u30c3\u30af\u6587]\n\n\n            ## \ud83d\ude08 \u9006\u5f35\u308a\u30fb\u708e\u4e0a\u30d5\u30c3\u30af\n\n            [\u30d5\u30c3\u30af\u6587]\n\n\n            ## \ud83c\udfaf \u63a8\u5968\u30d5\u30c3\u30af\n\n            [\u6700\u3082\u52b9\u679c\u7684\u306a\u3082\u306e\u3092\u9078\u629e\u3001\u7406\u75311\u6587]\n\n            '\n        - id: f1a2b3c4-0006-0006-0006-000000000002\n          role: user\n          text: '\u4ee5\u4e0b\u306e\u30c8\u30d4\u30c3\u30af\u306b\u5bfe\u3059\u308b\u30d5\u30c3\u30af\u3092\u751f\u6210:\n\n\n            {{#1735660001030.output#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: \u30d5\u30c3\u30af\u751f\u6210\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1735660001006'\n      position:\n        x: 2180\n        y: 400\n      positionAbsolute:\n        x: 2180\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Open Loop\u69cb\u9020\u306e\u53f0\u672c\u751f\u6210\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            cross-region: false\n            temperature: 0.8\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: f1a2b3c4-0007-0007-0007-000000000001\n          role: system\n          text: '\u3042\u306a\u305f\u306fTypeScript\u7cfbYouTube\u30c1\u30e3\u30f3\u30cd\u30eb\u306e\u53f0\u672c\u30e9\u30a4\u30bf\u30fc\u3067\u3059\u3002\n\n            \u30ea\u30c6\u30f3\u30b7\u30e7\u30f3\u7387\u3092\u6700\u5927\u5316\u3059\u308b\u300cOpen Loop\u300d\u69cb\u9020\u3092\u4f7f\u3063\u3066\u53f0\u672c\u3092\u66f8\u304d\u307e\u3059\u3002\n\n\n            \u3010\u30da\u30eb\u30bd\u30ca\u3011\n\n            - 30\u4ee3\u30d5\u30ed\u30f3\u30c8\u30a8\u30f3\u30c9\u30a8\u30f3\u30b8\u30cb\u30a2\u3001\u5b9f\u52d9\u7d4c\u9a13\u8c4a\u5bcc\n\n            - \u30ab\u30b8\u30e5\u30a2\u30eb\u306a\u53e3\u8abf\uff08\u300c\u301c\u3060\u3088\u306d\u300d\u300c\u30de\u30b8\u3067\u300d\u300c\u3076\u3063\u3061\u3083\u3051\u300d\uff09\n\n            - \u6279\u5224\u7684\u8996\u70b9\u3082\u6301\u3061\u3064\u3064\u5efa\u8a2d\u7684\n\n\n            \u3010Open Loop\u69cb\u9020\u3011\n\n            \u9014\u4e2d\u3067\u300c\u8b0e\u300d\u3092\u6b8b\u3057\u3001\u8996\u8074\u8005\u304c\u96e2\u8131\u3067\u304d\u306a\u304f\u3059\u308b\u6280\u6cd5\u3002\n\n            82%\u306e\u30d0\u30a4\u30e9\u30eb\u52d5\u753b\u304c\u3053\u306e\u30d1\u30bf\u30fc\u30f3\u3092\u4f7f\u7528\u3002\n\n\n            \u3010\u53f0\u672c\u69cb\u9020 - 5\u301c10\u5206\u52d5\u753b\u3011\n\n\n            ## \ud83c\udfac \u30aa\u30fc\u30d7\u30cb\u30f3\u30b0\uff080:00-0:30\uff09\n\n            - \u30d5\u30c3\u30af\uff083\u79d2\uff09\n\n            - Open Loop #1:\u300c\u6700\u5f8c\u306b\u885d\u6483\u306e\u4e8b\u5b9f\u3092\u8a71\u3057\u307e\u3059\u300d\n\n            - \u52d5\u753b\u306e\u4fa1\u5024\u63d0\u793a\n\n\n            ## \ud83d\udcda \u80cc\u666f\uff080:30-2:00\uff09\n\n            - \u306a\u305c\u4eca\u3053\u306e\u30c8\u30d4\u30c3\u30af\u304c\u91cd\u8981\u304b\n\n            - Open Loop #2:\u300c\u3053\u3053\u304b\u3089\u304c\u9762\u767d\u3044\u3093\u3060\u3051\u3069...\u300d\n\n\n            ## \ud83d\udd0d \u672c\u7de8\uff082:00-7:00\uff09\n\n            - \u30dd\u30a4\u30f3\u30c81: \u6280\u8853\u7684\u306a\u6838\u5fc3\n\n            - Open Loop #3:\u300c\u3082\u3063\u3068\u30e4\u30d0\u3044\u3053\u3068\u304c\u3042\u3063\u3066...\u300d\n\n            - \u30dd\u30a4\u30f3\u30c82: \u30e1\u30ea\u30c3\u30c8\/\u30c7\u30e1\u30ea\u30c3\u30c8\n\n            - \u30dd\u30a4\u30f3\u30c83: \u500b\u4eba\u7684\u898b\u89e3\n\n\n            ## \ud83d\udca1 \u7d50\u8ad6\uff087:00-8:30\uff09\n\n            - Open Loop #1\u306e\u56de\u53ce\n\n            - 3\u884c\u307e\u3068\u3081\n\n\n            ## \ud83c\udfa4 \u30a2\u30a6\u30c8\u30ed\uff088:30-9:00\uff09\n\n            - \u30b3\u30e1\u30f3\u30c8\u8a98\u5c0e\u306e\u554f\u3044\u304b\u3051\n\n            - \u30c1\u30e3\u30f3\u30cd\u30eb\u767b\u9332\n\n            '\n        - id: f1a2b3c4-0007-0007-0007-000000000002\n          role: user\n          text: '\u4ee5\u4e0b\u306e\u30c8\u30d4\u30c3\u30af\u3068\u30d5\u30c3\u30af\u3092\u4f7f\u3063\u3066\u53f0\u672c\u3092\u4f5c\u6210:\n\n\n            \u3010\u30c8\u30d4\u30c3\u30af\u3011\n\n            {{#1735660001030.output#}}\n\n\n            \u3010\u30d5\u30c3\u30af\u6848\u3011\n\n            {{#1735660001006.text#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: \u53f0\u672c\u751f\u6210\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1735660001007'\n      position:\n        x: 2480\n        y: 400\n      positionAbsolute:\n        x: 2480\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: CTR\u6700\u5927\u5316\u30b5\u30e0\u30cd\u30a4\u30eb\u6848\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            model_name: Nova Lite\n            temperature: 0.9\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: f1a2b3c4-0008-0008-0008-000000000001\n          role: system\n          text: '\u3042\u306a\u305f\u306fYouTube\u30b5\u30e0\u30cd\u30a4\u30eb\u6700\u9069\u5316\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n\n            \u3010\u30b5\u30e0\u30cd\u30a4\u30eb\u306e\u9244\u5247\u3011\n\n            - \u6587\u5b57\u306f\u6700\u592710\u6587\u5b57\n\n            - \u30b3\u30f3\u30c8\u30e9\u30b9\u30c8\u306e\u9ad8\u3044\u8272\u4f7f\u3044\n\n            - \u6570\u5b57\u3092\u5165\u308c\u308b\u3068\u76ee\u3092\u5f15\u304f\n\n            - \u30cd\u30ac\u30c6\u30a3\u30d6\u30ef\u30fc\u30c9\u306f\u52b9\u679c\u7684\n\n\n            \u3010\u51fa\u529b\u5f62\u5f0f\u3011\n\n\n            ## \ud83c\udfaf \u52d5\u753b\u30bf\u30a4\u30c8\u30eb\u6848\uff0860\u6587\u5b57\u4ee5\u5185\uff09\n\n            1. [\u30af\u30ea\u30c3\u30af\u30d9\u30a4\u30c8\u5bc4\u308a]\n\n            2. [\u60c5\u5831\u63d0\u4f9b\u5bc4\u308a]\n\n            3. [\u7591\u554f\u5f62]\n\n\n            ## \ud83d\uddbc\ufe0f \u30b5\u30e0\u30cd\u30a4\u30eb\u30c6\u30ad\u30b9\u30c8\u6848\uff0810\u6587\u5b57\u4ee5\u5185\uff09\n\n            1. [\u6050\u6016\u30fb\u8b66\u544a\u7cfb]\n\n            2. [\u7591\u554f\u7cfb]\n\n            3. [\u65ad\u5b9a\u7cfb]\n\n\n            ## \ud83c\udfa8 \u30b5\u30e0\u30cd\u30a4\u30eb\u69cb\u6210\u6848\n\n            - \u80cc\u666f\u8272\n\n            - \u30e1\u30a4\u30f3\u30d3\u30b8\u30e5\u30a2\u30eb\n\n            - \u8868\u60c5\n\n            '\n        - id: f1a2b3c4-0008-0008-0008-000000000002\n          role: user\n          text: '\u4ee5\u4e0b\u306e\u53f0\u672c\u306b\u5408\u3046\u30b5\u30e0\u30cd\u30a4\u30eb\u6848\u3092\u4f5c\u6210:\n\n\n            {{#1735660001007.text#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: \u30b5\u30e0\u30cd\u30a4\u30eb\u6848\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1735660001008'\n      position:\n        x: 2780\n        y: 400\n      positionAbsolute:\n        x: 2780\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: YouTube SEO\u6700\u9069\u5316\u30e1\u30bf\u30c7\u30fc\u30bf\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            cross-region: false\n            model_name: Nova Lite\n            temperature: 0.5\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: f1a2b3c4-0010-0010-0010-000000000001\n          role: system\n          text: '\u3042\u306a\u305f\u306fYouTube SEO\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n\n            \u3010\u51fa\u529b\u5f62\u5f0f\u3011\n\n\n            ## \ud83d\udcdd \u52d5\u753b\u8aac\u660e\u6587\uff08Description\uff09\n\n            [\u6700\u521d\u306e2\u884c: \u691c\u7d22\u7d50\u679c\u306b\u8868\u793a\u3055\u308c\u308b]\n\n            \ud83d\udccc \u3053\u306e\u52d5\u753b\u3067\u308f\u304b\u308b\u3053\u3068:\n\n            \u2022 \u30dd\u30a4\u30f3\u30c81-3\n\n            \u23f1\ufe0f \u30bf\u30a4\u30e0\u30b9\u30bf\u30f3\u30d7\n\n            \ud83d\udd17 \u95a2\u9023\u30ea\u30f3\u30af\n\n            #\u30cf\u30c3\u30b7\u30e5\u30bf\u30b0\n\n\n            ## \ud83c\udff7\ufe0f \u30bf\u30b0\uff0815\u500b\uff09\n\n            [\u30ab\u30f3\u30de\u533a\u5207\u308a]\n\n\n            ## \ud83d\udd0d \u691c\u7d22\u30ad\u30fc\u30ef\u30fc\u30c9\n\n            - \u30e1\u30a4\u30f3: 1\u500b\n\n            - \u30b5\u30d6: 3\u500b\n\n            - \u30ed\u30f3\u30b0\u30c6\u30fc\u30eb: 3\u500b\n\n            '\n        - id: f1a2b3c4-0010-0010-0010-000000000002\n          role: user\n          text: '\u4ee5\u4e0b\u306e\u52d5\u753b\u306eSEO\u30e1\u30bf\u30c7\u30fc\u30bf\u3092\u751f\u6210:\n\n\n            \u3010\u30b5\u30e0\u30cd\u30a4\u30eb\u30fb\u30bf\u30a4\u30c8\u30eb\u3011\n\n            {{#1735660001008.text#}}\n\n\n            \u3010\u53f0\u672c\u3011\n\n            {{#1735660001007.text#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: SEO\u30e1\u30bf\u30c7\u30fc\u30bf\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1735660001010'\n      position:\n        x: 3080\n        y: 400\n      positionAbsolute:\n        x: 3080\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: Twitter\/X\u7528\u544a\u77e5\u6295\u7a3f\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            cross-region: false\n            model_name: Nova Lite\n            temperature: 0.8\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: f1a2b3c4-0011-0011-0011-000000000001\n          role: system\n          text: '\u3042\u306a\u305f\u306fSNS\u30de\u30fc\u30b1\u30c6\u30a3\u30f3\u30b0\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n\n            \u3010\u51fa\u529b\u5f62\u5f0f\u3011\n\n\n            ## \ud83d\udce2 \u6295\u7a3f\u6587\u68481\uff08\u30a8\u30f3\u30b2\u30fc\u30b8\u30e1\u30f3\u30c8\u91cd\u8996\uff09\n\n            [\u8b70\u8ad6\u3092\u547c\u3076\u6295\u7a3f]\n\n\n            ## \ud83d\udce2 \u6295\u7a3f\u6587\u68482\uff08\u60c5\u5831\u63d0\u4f9b\u91cd\u8996\uff09\n\n            [\u4fa1\u5024\u3092\u4f1d\u3048\u308b\u6295\u7a3f]\n\n\n            ## \ud83d\udce2 \u6295\u7a3f\u6587\u68483\uff08\u30ab\u30b8\u30e5\u30a2\u30eb\uff09\n\n            [\u53cb\u9054\u306b\u8a71\u3059\u6295\u7a3f]\n\n\n            ## \ud83e\uddf5 \u30b9\u30ec\u30c3\u30c9\u6848\uff083\u30c4\u30a4\u30fc\u30c8\uff09\n\n            1\/3: \u30d5\u30c3\u30af\n\n            2\/3: \u8a73\u7d30\n\n            3\/3: CTA + \u30ea\u30f3\u30af\n\n\n            ## \u63a8\u5968\u30cf\u30c3\u30b7\u30e5\u30bf\u30b0\uff085\u500b\uff09\n\n            '\n        - id: f1a2b3c4-0011-0011-0011-000000000002\n          role: user\n          text: '\u4ee5\u4e0b\u306e\u52d5\u753b\u306e\u544a\u77e5\u6295\u7a3f\u6587\u3092\u4f5c\u6210:\n\n\n            \u3010\u30bf\u30a4\u30c8\u30eb\u30fb\u30b5\u30e0\u30cd\u30a4\u30eb\u3011\n\n            {{#1735660001008.text#}}\n\n\n            \u3010\u53f0\u672c\u8981\u7d04\u3011\n\n            {{#1735660001007.text#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: SNS\u6295\u7a3f\u6587\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1735660001011'\n      position:\n        x: 3380\n        y: 400\n      positionAbsolute:\n        x: 3380\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: \u5168\u51fa\u529b\u3092\u6574\u5f62\n        selected: false\n        template: '# \ud83c\udfac TS YouTube \u30b3\u30f3\u30c6\u30f3\u30c4\u751f\u6210\u7d50\u679c v4\n\n\n          ---\n\n\n          ## \ud83c\udfaf \u9078\u5b9a\u30c8\u30d4\u30c3\u30af\n\n          {{ topic }}\n\n\n          ---\n\n\n          ## \ud83d\udd25 \u30d5\u30c3\u30af\u6848\n\n          {{ hooks }}\n\n\n          ---\n\n\n          ## \ud83d\udcdd \u53f0\u672c\uff08Open Loop\u69cb\u9020\uff09\n\n          {{ script }}\n\n\n          ---\n\n\n          ## \ud83d\uddbc\ufe0f \u30b5\u30e0\u30cd\u30a4\u30eb\u30fb\u30bf\u30a4\u30c8\u30eb\u6848\n\n          {{ thumbnail }}\n\n\n          ---\n\n\n          ## \ud83d\udd0d SEO\u30e1\u30bf\u30c7\u30fc\u30bf\n\n          {{ seo }}\n\n\n          ---\n\n\n          ## \ud83d\udcf1 SNS\u6295\u7a3f\u6587\n\n          {{ sns }}\n\n\n          ---\n\n\n          \u2705 \u751f\u6210\u5b8c\u4e86\uff08\u5206\u5c90 + Variable Aggregator\u5bfe\u5fdc\uff09\n\n          '\n        title: \u7d50\u679c\u6574\u5f62\n        type: template-transform\n        variables:\n        - value_selector:\n          - '1735660001030'\n          - output\n          variable: topic\n        - value_selector:\n          - '1735660001006'\n          - text\n          variable: hooks\n        - value_selector:\n          - '1735660001007'\n          - text\n          variable: script\n        - value_selector:\n          - '1735660001008'\n          - text\n          variable: thumbnail\n        - value_selector:\n          - '1735660001010'\n          - text\n          variable: seo\n        - value_selector:\n          - '1735660001011'\n          - text\n          variable: sns\n      height: 80\n      id: '1735660001012'\n      position:\n        x: 3680\n        y: 400\n      positionAbsolute:\n        x: 3680\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: \u751f\u6210\u30b3\u30f3\u30c6\u30f3\u30c4\u3092\u51fa\u529b\n        outputs:\n        - value_selector:\n          - '1735660001012'\n          - output\n          variable: content\n        selected: false\n        title: End\n        type: end\n      height: 116\n      id: '1735660001013'\n      position:\n        x: 3980\n        y: 400\n      positionAbsolute:\n        x: 3980\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    viewport:\n      x: 119.7906595379635\n      y: 157.79923654394102\n      zoom: 0.33556403840065524\n  rag_pipeline_variables: []\n"}
