workflows/speckit-complete-v5/workflow.yml
{"data":"app:\n  description: SpecKit\u5b8c\u5168\u5b9f\u88c5 - GitHub SDD\u5168\u6a5f\u80fd30\u30ce\u30fc\u30c9\n  icon: \ud83e\udd16\n  icon_background: '#FF4500'\n  mode: advanced-chat\n  name: SpecKit Complete v5\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/bedrock:0.0.57@b7fb0414c4e64004a36c3141cb8d9a249d949013bb21efbce34918e71cce5051\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_batch_limit: 10\n        image_file_size_limit: 10\n        single_chunk_attachment_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: 'SpecKit \u3078\u3088\u3046\u3053\u305d\uff01\n\n\n      \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306e\u4ed5\u69d8\u7b56\u5b9a\u3092\u304a\u624b\u4f1d\u3044\u3057\u307e\u3059\u3002\n\n      \u4f55\u3092\u3057\u305f\u3044\u3067\u3059\u304b\uff1f\u756a\u53f7\u307e\u305f\u306f\u5185\u5bb9\u3092\u6559\u3048\u3066\u304f\u3060\u3055\u3044\uff1a\n\n\n      1 \u65b0\u3057\u3044\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u3092\u59cb\u3081\u308b\uff08\u539f\u5247\u5b9a\u7fa9\uff09\n\n      2 \u8981\u4ef6\u30fb\u4ed5\u69d8\u3092\u6574\u7406\u3059\u308b\n\n      3 \u66d6\u6627\u306a\u70b9\u3092\u660e\u78ba\u306b\u3059\u308b\n\n      4 \u6280\u8853\u7684\u306a\u5b9f\u88c5\u8a08\u753b\u3092\u7acb\u3066\u308b\n\n      5 \u30bf\u30b9\u30af\u306b\u5206\u89e3\u3059\u308b\n\n      6 \u5168\u4f53\u3092\u30ec\u30d3\u30e5\u30fc\u3059\u308b\n\n      7 \u6210\u679c\u7269\u3092\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\u3059\u308b\n\n\n      \u4f8b: \u300c1\u300d\u307e\u305f\u306f\u300cEC\u30b5\u30a4\u30c8\u3092\u4f5c\u308a\u305f\u3044\u300d'\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: llm\n      id: 1768452476934-llm\n      source: '1768452476934'\n      sourceHandle: source\n      target: llm\n      targetHandle: target\n      type: custom\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: llm\n        targetType: question-classifier\n      id: llm--1768454089374-target\n      source: llm\n      sourceHandle: source\n      target: '1768454089374'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: answer\n      id: 1768454089374-1768454140259-1768706998075-target\n      source: '1768454089374'\n      sourceHandle: '1768454140259'\n      target: '1768706998075'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: answer\n      id: 1768454089374-1768715296116-1768715469965-target\n      source: '1768454089374'\n      sourceHandle: '1768715296116'\n      target: '1768715469965'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: answer\n      id: 1768454089374-1768706578095-1768717537138-target\n      source: '1768454089374'\n      sourceHandle: '1768706578095'\n      target: '1768717537138'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: answer\n      id: 1768454089374-1768715292216-1768717726186-target\n      source: '1768454089374'\n      sourceHandle: '1768715292216'\n      target: '1768717726186'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: answer\n      id: 1768454089374-1768715292874-1768717820269-target\n      source: '1768454089374'\n      sourceHandle: '1768715292874'\n      target: '1768717820269'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: answer\n      id: 1768454089374-1768715293508-1768717861352-target\n      source: '1768454089374'\n      sourceHandle: '1768715293508'\n      target: '1768717861352'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: answer\n      id: 1768454089374-1768715294171-1768717901586-target\n      source: '1768454089374'\n      sourceHandle: '1768715294171'\n      target: '1768717901586'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: answer\n      id: 1768454089374-1768715294833-1768717947903-target\n      source: '1768454089374'\n      sourceHandle: '1768715294833'\n      target: '1768717947903'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: answer\n      id: 1768454089374-1768715295456-1768717991703-target\n      source: '1768454089374'\n      sourceHandle: '1768715295456'\n      target: '1768717991703'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        isInLoop: false\n        sourceType: question-classifier\n        targetType: answer\n      id: 1768454089374-1768719962747-1768719986947-target\n      source: '1768454089374'\n      sourceHandle: '1768719962747'\n      target: '1768719986947'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        sourceType: question-classifier\n        targetType: answer\n      id: 1768454089374-1768720000001-1768720100001-target\n      source: '1768454089374'\n      sourceHandle: '1768720000001'\n      target: '1768720100001'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: answer\n      id: 1768454089374-1768720000002-1768720100002-target\n      source: '1768454089374'\n      sourceHandle: '1768720000002'\n      target: '1768720100002'\n      targetHandle: target\n      type: custom\n    nodes:\n    - data:\n        selected: false\n        title: \u30e6\u30fc\u30b6\u30fc\u5165\u529b\n        type: start\n        variables: []\n      height: 73\n      id: '1768452476934'\n      position:\n        x: 80\n        y: 282\n      positionAbsolute:\n        x: 80\n        y: 282\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        memory:\n          query_prompt_template: '{{#sys.query#}}\n\n\n            {{#sys.files#}}'\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n          edition_type: basic\n          text: '\u3042\u306a\u305f\u306fSpecKit\u306e\u4ed5\u69d8\u7b56\u5b9a\u30a2\u30b7\u30b9\u30bf\u30f3\u30c8\u3067\u3059\u3002\u30e6\u30fc\u30b6\u30fc\u306e\u5165\u529b\u306b\u57fa\u3065\u3044\u3066\u3001\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306e\u4ed5\u69d8\u7b56\u5b9a\u3092\u652f\u63f4\u3059\u308b\u8a73\u7d30\u306a\u5fdc\u7b54\u3092\u751f\u6210\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            ## \u30e6\u30fc\u30b6\u30fc\u5165\u529b\u306e\u89e3\u91c8\n\n            \u30e6\u30fc\u30b6\u30fc\u306f\u4ee5\u4e0b\u306e\u5f62\u5f0f\u3067\u5165\u529b\u3057\u307e\u3059\uff1a\n\n            - \u756a\u53f7\u306e\u307f (1-8): \u5bfe\u5fdc\u3059\u308b\u30b3\u30de\u30f3\u30c9\u306e\u8aac\u660e\u3092\u8fd4\u3057\u3001\u5177\u4f53\u7684\u306a\u60c5\u5831\u306e\u5165\u529b\u3092\u4fc3\u3059\n\n            - \u756a\u53f7 + \u5185\u5bb9 (\u4f8b: \"1 EC\u30b5\u30a4\u30c8\"): \u5bfe\u5fdc\u3059\u308b\u30b3\u30de\u30f3\u30c9\u3067\u5185\u5bb9\u3092\u51e6\u7406\n\n            - \u30b3\u30de\u30f3\u30c9 + \u5185\u5bb9 (\u4f8b: \"constitution EC\u30b5\u30a4\u30c8\"): \u30b3\u30de\u30f3\u30c9\u3067\u5185\u5bb9\u3092\u51e6\u7406\n\n            - \u81ea\u7136\u8a00\u8a9e (\u4f8b: \"EC\u30b5\u30a4\u30c8\u3092\u4f5c\u308a\u305f\u3044\"): \u6700\u9069\u306a\u30b3\u30de\u30f3\u30c9\u3092\u5224\u65ad\u3057\u3066\u51e6\u7406\n\n\n            ## \u30b3\u30de\u30f3\u30c9\u3068\u51e6\u7406\u5185\u5bb9\n\n\n            ### 1 \/ constitution\uff08\u539f\u5247\u5b9a\u7fa9\uff09\n\n            \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306e\u57fa\u672c\u539f\u5247\u3092\u5b9a\u7fa9\u3057\u307e\u3059\u3002\u4ee5\u4e0b\u3092\u542b\u3081\u3066\u56de\u7b54\uff1a\n\n            - **\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u76ee\u7684**: \u4f55\u3092\u9054\u6210\u3059\u308b\u304b\n\n            - **\u30b9\u30b3\u30fc\u30d7**: \u542b\u307e\u308c\u308b\u6a5f\u80fd\u3068\u542b\u307e\u308c\u306a\u3044\u6a5f\u80fd\n\n            - **\u6210\u529f\u57fa\u6e96**: \u3069\u3046\u306a\u308c\u3070\u6210\u529f\u304b\n\n            - **\u5236\u7d04\u6761\u4ef6**: \u4e88\u7b97\u3001\u671f\u9593\u3001\u6280\u8853\u7684\u5236\u7d04\n\n            - **\u30b9\u30c6\u30fc\u30af\u30db\u30eb\u30c0\u30fc**: \u95a2\u4fc2\u8005\u3068\u305d\u306e\u5f79\u5272\n\n\n            ### 2 \/ specify\uff08\u8981\u4ef6\u4ed5\u69d8\uff09\n\n            \u6a5f\u80fd\u8981\u4ef6\u30fb\u975e\u6a5f\u80fd\u8981\u4ef6\u3092\u6574\u7406\u3057\u307e\u3059\u3002\u4ee5\u4e0b\u3092\u542b\u3081\u3066\u56de\u7b54\uff1a\n\n            - **\u6a5f\u80fd\u8981\u4ef6**: \u30e6\u30fc\u30b6\u30fc\u30b9\u30c8\u30fc\u30ea\u30fc\u5f62\u5f0f\u3067\u8a18\u8ff0\n\n            - **\u975e\u6a5f\u80fd\u8981\u4ef6**: \u30d1\u30d5\u30a9\u30fc\u30de\u30f3\u30b9\u3001\u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u3001\u53ef\u7528\u6027\n\n            - **\u512a\u5148\u5ea6**: Must\/Should\/Could\/Won''t\n\n            - **\u53d7\u3051\u5165\u308c\u57fa\u6e96**: \u5404\u8981\u4ef6\u306e\u5b8c\u4e86\u6761\u4ef6\n\n\n            ### 3 \/ clarify\uff08\u660e\u78ba\u5316\uff09\n\n            \u66d6\u6627\u306a\u70b9\u3092\u660e\u78ba\u5316\u3059\u308b\u305f\u3081\u306e\u8cea\u554f\u3092\u751f\u6210\uff1a\n\n            - \u4e0d\u660e\u78ba\u306a\u8981\u4ef6\u3092\u7279\u5b9a\n\n            - \u5177\u4f53\u7684\u306a\u8cea\u554f\u30925-10\u500b\u30ea\u30b9\u30c8\u30a2\u30c3\u30d7\n\n            - \u5404\u8cea\u554f\u306e\u80cc\u666f\u3068\u91cd\u8981\u6027\u3092\u8aac\u660e\n\n\n            ### 4 \/ plan\uff08\u5b9f\u88c5\u8a08\u753b\uff09\n\n            \u6280\u8853\u5b9f\u88c5\u8a08\u753b\u3092\u4f5c\u6210\uff1a\n\n            - **\u30a2\u30fc\u30ad\u30c6\u30af\u30c1\u30e3**: \u30b7\u30b9\u30c6\u30e0\u69cb\u6210\u56f3\n\n            - **\u6280\u8853\u30b9\u30bf\u30c3\u30af**: \u8a00\u8a9e\u3001\u30d5\u30ec\u30fc\u30e0\u30ef\u30fc\u30af\u3001DB\u7b49\n\n            - **\u9078\u5b9a\u7406\u7531**: \u306a\u305c\u305d\u306e\u6280\u8853\u3092\u9078\u3093\u3060\u304b\n\n            - **\u958b\u767a\u30d5\u30a7\u30fc\u30ba**: \u30de\u30a4\u30eb\u30b9\u30c8\u30fc\u30f3\n\n\n            ### 5 \/ tasks\uff08\u30bf\u30b9\u30af\u5206\u89e3\uff09\n\n            \u5b9f\u88c5\u30bf\u30b9\u30af\u3092\u5206\u89e3\uff1a\n\n            - \u30bf\u30b9\u30af\u4e00\u89a7\uff08\u8a73\u7d30\u5ea6\u3092\u9ad8\u304f\uff09\n\n            - \u512a\u5148\u5ea6\uff08High\/Medium\/Low\uff09\n\n            - \u4f9d\u5b58\u95a2\u4fc2\n\n            - \u63a8\u5b9a\u5de5\u6570\n\n\n            ### 6 \/ analyze\uff08\u5206\u6790\uff09\n\n            \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u3092\u5206\u6790\uff1a\n\n            - **\u30ea\u30b9\u30af\u5206\u6790**: \u6280\u8853\u7684\u30fb\u30d3\u30b8\u30cd\u30b9\u7684\u30ea\u30b9\u30af\n\n            - **\u4e00\u8cab\u6027\u30c1\u30a7\u30c3\u30af**: \u8981\u4ef6\u9593\u306e\u77db\u76fe\n\n            - **\u30ae\u30e3\u30c3\u30d7\u5206\u6790**: \u4e0d\u8db3\u3057\u3066\u3044\u308b\u8981\u4ef6\n\n            - **\u63a8\u5968\u4e8b\u9805**: \u6539\u5584\u63d0\u6848\n\n\n            ### 7 \/ implement\uff08\u5b9f\u88c5\u652f\u63f4\uff09\n\n            \u5b9f\u88c5\u306e\u8a73\u7d30\u30ac\u30a4\u30c9\u3092\u63d0\u4f9b\uff1a\n\n            - \u30b3\u30fc\u30c9\u4f8b\uff08\u7591\u4f3c\u30b3\u30fc\u30c9\u307e\u305f\u306f\u5b9f\u969b\u306e\u30b3\u30fc\u30c9\uff09\n\n            - \u30d9\u30b9\u30c8\u30d7\u30e9\u30af\u30c6\u30a3\u30b9\n\n            - \u5b9f\u88c5\u4e0a\u306e\u6ce8\u610f\u70b9\n\n            - \u30c6\u30b9\u30c8\u6226\u7565\n\n\n            ### 8 \/ checklist\uff08\u54c1\u8cea\u30c1\u30a7\u30c3\u30af\uff09\n\n            \u54c1\u8cea\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u3092\u751f\u6210\uff1a\n\n            - [ ] \u5b8c\u5168\u6027: \u3059\u3079\u3066\u306e\u8981\u4ef6\u304c\u7db2\u7f85\u3055\u308c\u3066\u3044\u308b\u304b\n\n            - [ ] \u660e\u78ba\u6027: \u66d6\u6627\u306a\u8868\u73fe\u304c\u306a\u3044\u304b\n\n            - [ ] \u4e00\u8cab\u6027: \u77db\u76fe\u304c\u306a\u3044\u304b\n\n            - [ ] \u691c\u8a3c\u53ef\u80fd\u6027: \u30c6\u30b9\u30c8\u53ef\u80fd\u304b\n\n            - \u5404\u9805\u76ee\u306e\u30b9\u30c6\u30fc\u30bf\u30b9\u3068\u6539\u5584\u63d0\u6848\n\n\n\n\n            ### 9 \/ review\uff08\u5168\u4f53\u30ec\u30d3\u30e5\u30fc\uff09\n\n            \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u5168\u4f53\u3092\u30ec\u30d3\u30e5\u30fc\u3057\u307e\u3059\uff1a\n\n            - **\u8981\u4ef6\u30ab\u30d0\u30ec\u30c3\u30b8**: \u3059\u3079\u3066\u306e\u8981\u4ef6\u304c\u5b9f\u88c5\u8a08\u753b\u306b\u542b\u307e\u308c\u3066\u3044\u308b\u304b\n\n            - **\u30ea\u30b9\u30af\u8a55\u4fa1**: \u672a\u89e3\u6c7a\u306e\u30ea\u30b9\u30af\u3084\u8ab2\u984c\n\n            - **\u6539\u5584\u63d0\u6848**: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u5168\u4f53\u306e\u6539\u5584\u70b9\n\n            - **\u6b21\u306e\u30b9\u30c6\u30c3\u30d7**: \u63a8\u5968\u30a2\u30af\u30b7\u30e7\u30f3\n\n\n            ### 10 \/ export\uff08\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\uff09\n\n            \u6210\u679c\u7269\u3092\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\u3057\u307e\u3059\uff1a\n\n            - **Markdown\u5f62\u5f0f**: \u4ed5\u69d8\u66f8\u5168\u4f53\u3092Markdown\u5f62\u5f0f\u3067\u51fa\u529b\n\n            - **JSON\u5f62\u5f0f**: \u69cb\u9020\u5316\u30c7\u30fc\u30bf\u3068\u3057\u3066JSON\u51fa\u529b\n\n            - **\u30b5\u30de\u30ea\u30fc**: \u4e3b\u8981\u30dd\u30a4\u30f3\u30c8\u306e\u307f\u62bd\u51fa\n\n\n            ## \u5fdc\u7b54\u30eb\u30fc\u30eb\n\n            1. \u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3059\u308b\n\n            2. \u756a\u53f7\u306e\u307f\u306e\u5165\u529b\u306e\u5834\u5408\u306f\u3001\u30b3\u30de\u30f3\u30c9\u306e\u8aac\u660e\u3092\u8868\u793a\u3057\u300c\u5177\u4f53\u7684\u306a\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u3084\u6a5f\u80fd\u3092\u6559\u3048\u3066\u304f\u3060\u3055\u3044\u300d\u3068\u4fc3\u3059\n\n            3. \u5185\u5bb9\u304c\u3042\u308b\u5834\u5408\u306f\u3001\u4e0a\u8a18\u306e\u30d5\u30a9\u30fc\u30de\u30c3\u30c8\u306b\u5f93\u3063\u3066\u8a73\u7d30\u306a\u5fdc\u7b54\u3092\u751f\u6210\n\n            4. Markdown\u5f62\u5f0f\u3067\u898b\u3084\u3059\u304f\u6574\u5f62\n\n            5. \u5b9f\u7528\u7684\u3067\u5177\u4f53\u7684\u306a\u5185\u5bb9\u3092\u5fc3\u304c\u3051\u308b\n\n\n            ## \u30e6\u30fc\u30b6\u30fc\u5165\u529b{{#sys.query#}}'\n        selected: true\n        title: LLM\n        type: llm\n        vision:\n          enabled: false\n      height: 88\n      id: llm\n      position:\n        x: 380\n        y: 282\n      positionAbsolute:\n        x: 380\n        y: 282\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        classes:\n        - id: '1768706578095'\n          name: constitution - \u756a\u53f71\u3001\u65b0\u898f\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u3001\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u958b\u59cb\u3001\u539f\u5247\u5b9a\u7fa9\u3001\u4f5c\u308a\u305f\u3044\u3001\u59cb\u3081\u308b\u3001\u69cb\u7bc9\u3057\u305f\u3044\n        - id: '1768715292216'\n          name: specify\n        - id: '1768715292874'\n          name: clarify\n        - id: '1768715293508'\n          name: plan\n        - id: '1768715294171'\n          name: tasks\n        - id: '1768715294833'\n          name: analyze\n        - id: '1768715295456'\n          name: implement - \u756a\u53f77\u3001\u5b9f\u88c5\u652f\u63f4\u3001\u30b3\u30fc\u30c9\u5b9f\u88c5\u3001\u5b9f\u88c5\u30ac\u30a4\u30c9\u3001\u5b9f\u88c5\u8a73\u7d30\n        - id: '1768715296116'\n          name: error - \u7121\u52b9\u306a\u5165\u529b\u3001\u610f\u5473\u4e0d\u660e\u306a\u30c6\u30ad\u30b9\u30c8\u3001\u756a\u53f71-10\u4ee5\u5916\u3001\u30b3\u30de\u30f3\u30c9\u306b\u8a72\u5f53\u3057\u306a\u3044\u5165\u529b\n        - id: '1768719962747'\n          name: checklist - \u54c1\u8cea\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u3001\u8981\u4ef6\u306e\u5b8c\u5168\u6027\u30fb\u660e\u78ba\u6027\u30fb\u4e00\u8cab\u6027\u3092\u691c\u8a3c\n        - id: '1768720000001'\n          name: review - \u5168\u4f53\u30ec\u30d3\u30e5\u30fc\u3001\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u30ec\u30d3\u30e5\u30fc\u3001\u8981\u4ef6\u30ec\u30d3\u30e5\u30fc\u3001\u54c1\u8cea\u8a55\u4fa1\u3001\u6539\u5584\u63d0\u6848\n        - id: '1768720000002'\n          name: export - \u30a8\u30af\u30b9\u30dd\u30fc\u30c8\u3001\u51fa\u529b\u3001Markdown\u51fa\u529b\u3001JSON\u51fa\u529b\u3001\u4ed5\u69d8\u66f8\u51fa\u529b\n        instructions: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: completion\n          name: ai21\n          provider: langgenius\/bedrock\/bedrock\n        query_variable_selector:\n        - '1768452476934'\n        - sys.query\n        selected: false\n        title: Question Classifier\n        type: question-classifier\n        vision:\n          enabled: false\n      height: 436\n      id: '1768454089374'\n      position:\n        x: 680\n        y: 424\n      positionAbsolute:\n        x: 680\n        y: 424\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: \u5165\u529b\u3092\u7406\u89e3\u3067\u304d\u307e\u305b\u3093\u3067\u3057\u305f\u3002\u756a\u53f7(1-7)\u3092\u5165\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n        selected: false\n        title: Answer 2\n        type: answer\n        variables: []\n      height: 116\n      id: '1768706998075'\n      position:\n        x: 982\n        y: 932\n      positionAbsolute:\n        x: 982\n        y: 932\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: \u7533\u3057\u8a33\u3042\u308a\u307e\u305b\u3093\u3002\u5165\u529b\u3092\u7406\u89e3\u3067\u304d\u307e\u305b\u3093\u3067\u3057\u305f\u3002\u756a\u53f7(1-7)\u3092\u5165\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n        selected: false\n        title: Answer 3\n        type: answer\n        variables: []\n      height: 132\n      id: '1768715469965'\n      position:\n        x: 982\n        y: 1087\n      positionAbsolute:\n        x: 982\n        y: 1087\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#llm.text#}}'\n        selected: false\n        title: Answer 8\n        type: answer\n        variables: []\n      height: 103\n      id: '1768717537138'\n      position:\n        x: 982\n        y: 1258\n      positionAbsolute:\n        x: 982\n        y: 1258\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#llm.text#}}'\n        selected: false\n        title: Answer 5\n        type: answer\n        variables: []\n      height: 103\n      id: '1768717726186'\n      position:\n        x: 982\n        y: 1400\n      positionAbsolute:\n        x: 982\n        y: 1400\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#llm.text#}}'\n        selected: false\n        title: Answer 6\n        type: answer\n        variables: []\n      height: 103\n      id: '1768717820269'\n      position:\n        x: 982\n        y: 1542\n      positionAbsolute:\n        x: 982\n        y: 1542\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#llm.text#}}'\n        selected: false\n        title: Answer 7\n        type: answer\n        variables: []\n      height: 103\n      id: '1768717861352'\n      position:\n        x: 982\n        y: 1684\n      positionAbsolute:\n        x: 982\n        y: 1684\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#llm.text#}}'\n        selected: false\n        title: Answer 8\n        type: answer\n        variables: []\n      height: 103\n      id: '1768717901586'\n      position:\n        x: 982\n        y: 1826\n      positionAbsolute:\n        x: 982\n        y: 1826\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#llm.text#}}'\n        selected: false\n        title: Answer 9\n        type: answer\n        variables: []\n      height: 103\n      id: '1768717947903'\n      position:\n        x: 982\n        y: 1968\n      positionAbsolute:\n        x: 982\n        y: 1968\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#llm.text#}}'\n        selected: false\n        title: Answer 10\n        type: answer\n        variables: []\n      height: 103\n      id: '1768717991703'\n      position:\n        x: 982\n        y: 2110\n      positionAbsolute:\n        x: 982\n        y: 2110\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#llm.text#}}'\n        selected: false\n        title: Answer 11\n        type: answer\n        variables: []\n      height: 103\n      id: '1768719986947'\n      position:\n        x: 982\n        y: 2252\n      positionAbsolute:\n        x: 982\n        y: 2252\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: \u5165\u529b\u3092\u7406\u89e3\u3067\u304d\u307e\u305b\u3093\u3067\u3057\u305f\u3002\u756a\u53f7(1-7)\u3092\u5165\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n        selected: false\n        title: Answer Review\n        type: answer\n        variables: []\n      height: 107\n      id: '1768720100001'\n      position:\n        x: 982\n        y: 2394\n      positionAbsolute:\n        x: 982\n        y: 2394\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: \u5165\u529b\u3092\u7406\u89e3\u3067\u304d\u307e\u305b\u3093\u3067\u3057\u305f\u3002\u756a\u53f7(1-7)\u3092\u5165\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n        selected: false\n        title: Answer Export\n        type: answer\n        variables: []\n      height: 107\n      id: '1768720100002'\n      position:\n        x: 982\n        y: 2536\n      positionAbsolute:\n        x: 982\n        y: 2536\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 57.05228622691948\n      y: 312.38848896785044\n      zoom: 0.25\n  rag_pipeline_variables: []\n"}
