workflows/質問分類器-+-知識-+-チャットボット/workflow.yml
{"data":"app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: \u8cea\u554f\u5206\u985e\u5668 + \u77e5\u8b58 + \u30c1\u30e3\u30c3\u30c8\u30dc\u30c3\u30c8\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/bedrock:0.0.57@b7fb0414c4e64004a36c3141cb8d9a249d949013bb21efbce34918e71cce5051\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_batch_limit: 10\n        image_file_size_limit: 10\n        single_chunk_attachment_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: question-classifier\n      id: 1711528708197-1711528709608\n      source: '1711528708197'\n      sourceHandle: source\n      target: '1711528709608'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: knowledge-retrieval\n      id: 1711528709608-1711528768556\n      source: '1711528709608'\n      sourceHandle: '1711528736036'\n      target: '1711528768556'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: knowledge-retrieval\n      id: 1711528709608-1711528770201\n      source: '1711528709608'\n      sourceHandle: '1711528736549'\n      target: '1711528770201'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: answer\n      id: 1711528709608-1711528775142\n      source: '1711528709608'\n      sourceHandle: '1711528737066'\n      target: '1711528775142'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: knowledge-retrieval\n        targetType: llm\n      id: 1711528768556-1711528802931\n      source: '1711528768556'\n      sourceHandle: source\n      target: '1711528802931'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: knowledge-retrieval\n        targetType: llm\n      id: 1711528770201-1711528815414\n      source: '1711528770201'\n      sourceHandle: source\n      target: '1711528815414'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: 1711528802931-1711528833796\n      source: '1711528802931'\n      sourceHandle: source\n      target: '1711528833796'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: 1711528815414-1711528835179\n      source: '1711528815414'\n      sourceHandle: source\n      target: '1711528835179'\n      targetHandle: target\n      type: custom\n    nodes:\n    - data:\n        desc: Define the initial parameters for launching a workflow\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 117\n      id: '1711528708197'\n      position:\n        x: 79.5\n        y: 714.5\n      positionAbsolute:\n        x: 79.5\n        y: 714.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        classes:\n        - id: '1711528736036'\n          name: Question related to after sales\n        - id: '1711528736549'\n          name: Questions about how to use products\n        - id: '1711528737066'\n          name: Other questions\n        desc: 'Define the classification conditions of user questions, LLM can define\n          how the conversation progresses based on the classification description. '\n        instructions: ''\n        model:\n          completion_params:\n            frequency_penalty: 0\n            max_tokens: 512\n            presence_penalty: 0\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        query_variable_selector:\n        - '1711528708197'\n        - sys.query\n        selected: true\n        title: Question Classifier\n        topics: []\n        type: question-classifier\n      height: 284\n      id: '1711528709608'\n      position:\n        x: 362.5\n        y: 714.5\n      positionAbsolute:\n        x: 362.5\n        y: 714.5\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        dataset_ids:\n        - g80u3jBo2UGL5np3DLC4sleFyvqpp9mTtGYVCHJW+3Ubhrh7q5BGbOax\/56m6Yj3\n        desc: 'Retrieve knowledge on after sales SOP. '\n        multiple_retrieval_config:\n          reranking_enable: false\n          reranking_mode: weighted_score\n          reranking_model:\n            model: amazon.rerank-v1:0\n            provider: langgenius\/bedrock\/bedrock\n          score_threshold: null\n          top_k: 4\n          weights:\n            keyword_setting:\n              keyword_weight: 0\n            vector_setting:\n              embedding_model_name: amazon.nova-2-multimodal-embeddings-v1:0\n              embedding_provider_name: langgenius\/bedrock\/bedrock\n              vector_weight: 1\n            weight_type: customized\n        query_attachment_selector: []\n        query_variable_selector:\n        - '1711528708197'\n        - sys.query\n        retrieval_mode: multiple\n        selected: false\n        single_retrieval_config:\n          model:\n            completion_params: {}\n            mode: chat\n            name: gpt-3.5-turbo\n            provider: openai\n        title: 'Knowledge Retrieval '\n        type: knowledge-retrieval\n      dragging: false\n      height: 134\n      id: '1711528768556'\n      position:\n        x: 645.5\n        y: 714.5\n      positionAbsolute:\n        x: 645.5\n        y: 714.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        dataset_ids:\n        - g80u3jBo2UGL5np3DLC4sleFyvqpp9mTtGYVCHJW+3Ubhrh7q5BGbOax\/56m6Yj3\n        desc: 'Retrieval knowledge about out products. '\n        multiple_retrieval_config:\n          reranking_enable: false\n          reranking_mode: weighted_score\n          reranking_model:\n            model: amazon.rerank-v1:0\n            provider: langgenius\/bedrock\/bedrock\n          score_threshold: null\n          top_k: 4\n          weights:\n            keyword_setting:\n              keyword_weight: 0\n            vector_setting:\n              embedding_model_name: amazon.nova-2-multimodal-embeddings-v1:0\n              embedding_provider_name: langgenius\/bedrock\/bedrock\n              vector_weight: 1\n            weight_type: customized\n        query_attachment_selector: []\n        query_variable_selector:\n        - '1711528708197'\n        - sys.query\n        retrieval_mode: multiple\n        selected: false\n        single_retrieval_config:\n          model:\n            completion_params: {}\n            mode: chat\n            name: gpt-3.5-turbo\n            provider: openai\n        title: 'Knowledge Retrieval '\n        type: knowledge-retrieval\n      dragging: false\n      height: 134\n      id: '1711528770201'\n      position:\n        x: 645.5\n        y: 868.6428571428572\n      positionAbsolute:\n        x: 645.5\n        y: 868.6428571428572\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: 'Sorry, I can''t help you with these questions. '\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables: []\n      height: 116\n      id: '1711528775142'\n      position:\n        x: 645.5\n        y: 1044.2142857142856\n      positionAbsolute:\n        x: 645.5\n        y: 1044.2142857142856\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - '1711528768556'\n          - result\n        desc: ''\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 491d1936-73ad-4c11-861f-38732913d6dd\n          role: system\n          text: 'Use the following context as your learned knowledge, inside <context><\/context>\n            XML tags.\n\n            <context>\n\n            {{#context#}}\n\n            <\/context>\n\n            When answer to user:\n\n            - If you don''t know, just say that you don''t know.\n\n            - If you don''t know when you are not sure, ask for clarification.\n\n            Avoid mentioning that you obtained the information from the context.\n\n            And answer according to the language of the user''s question.'\n        selected: false\n        title: LLM\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      dragging: false\n      height: 88\n      id: '1711528802931'\n      position:\n        x: 928.5\n        y: 714.5\n      positionAbsolute:\n        x: 928.5\n        y: 714.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - '1711528770201'\n          - result\n        desc: ''\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 21d6a30b-9b4a-4af7-8007-0adc8a7680cf\n          role: system\n          text: 'Use the following context as your learned knowledge, inside <context><\/context>\n            XML tags.\n\n            <context>\n\n            {{#context#}}\n\n            <\/context>\n\n            When answer to user:\n\n            - If you don''t know, just say that you don''t know.\n\n            - If you don''t know when you are not sure, ask for clarification.\n\n            Avoid mentioning that you obtained the information from the context.\n\n            And answer according to the language of the user''s question.'\n        selected: false\n        title: 'LLM '\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      dragging: false\n      height: 88\n      id: '1711528815414'\n      position:\n        x: 928.5\n        y: 868.6428571428572\n      positionAbsolute:\n        x: 928.5\n        y: 868.6428571428572\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#1711528802931.text#}}'\n        desc: ''\n        selected: false\n        title: Answer 2\n        type: answer\n        variables:\n        - value_selector:\n          - '1711528802931'\n          - text\n          variable: text\n      dragging: false\n      height: 103\n      id: '1711528833796'\n      position:\n        x: 1211.5\n        y: 714.5\n      positionAbsolute:\n        x: 1211.5\n        y: 714.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#1711528815414.text#}}'\n        desc: ''\n        selected: false\n        title: Answer 3\n        type: answer\n        variables:\n        - value_selector:\n          - '1711528815414'\n          - text\n          variable: text\n      dragging: false\n      height: 103\n      id: '1711528835179'\n      position:\n        x: 1211.5\n        y: 868.6428571428572\n      positionAbsolute:\n        x: 1211.5\n        y: 868.6428571428572\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    viewport:\n      x: 119.94703878531715\n      y: -73.31817733358866\n      zoom: 0.6836959702735589\n  rag_pipeline_variables: []\n"}
