workflows/speckit-v6/workflow.yml
{"data":"app:\n  description: SpecKit v6 - GitHub spec-kit\u6e96\u62e0\u5b9f\u88c5\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: SpecKit v6\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/bedrock:0.0.57@b7fb0414c4e64004a36c3141cb8d9a249d949013bb21efbce34918e71cce5051\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables:\n  - description: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\uff08\u30d0\u30fc\u30b8\u30e7\u30f3\u7ba1\u7406\uff09\n    id: a1b2c3d4-0001-4000-8000-000000000001\n    name: constitution\n    selector:\n    - conversation\n    - constitution\n    value: ''\n    value_type: string\n  - description: \u8981\u4ef6\u4ed5\u69d8\u66f8\uff08spec.md\u5f62\u5f0f\uff09\n    id: a1b2c3d4-0002-4000-8000-000000000002\n    name: specification\n    selector:\n    - conversation\n    - specification\n    value: ''\n    value_type: string\n  - description: \u660e\u78ba\u5316\u30bb\u30c3\u30b7\u30e7\u30f3\u72b6\u614b\uff08\u8cea\u554f\u30ab\u30a6\u30f3\u30c8\u3001\u56de\u7b54\u5c65\u6b74\uff09\n    id: a1b2c3d4-0003-4000-8000-000000000003\n    name: clarify_state\n    selector:\n    - conversation\n    - clarify_state\n    value: '{\"question_count\": 0, \"answers\": []}'\n    value_type: string\n  - description: \u6280\u8853\u5b9f\u88c5\u8a08\u753b\uff08plan.md\u5f62\u5f0f\uff09\n    id: a1b2c3d4-0004-4000-8000-000000000004\n    name: implementation_plan\n    selector:\n    - conversation\n    - implementation_plan\n    value: ''\n    value_type: string\n  - description: \u30bf\u30b9\u30af\u30ea\u30b9\u30c8\uff08tasks.md\u5f62\u5f0f\uff09\n    id: a1b2c3d4-0005-4000-8000-000000000005\n    name: task_list\n    selector:\n    - conversation\n    - task_list\n    value: ''\n    value_type: string\n  - description: \u5206\u6790\u30ec\u30dd\u30fc\u30c8\uff08analyze\u7d50\u679c\uff09\n    id: a1b2c3d4-0006-4000-8000-000000000006\n    name: analysis_report\n    selector:\n    - conversation\n    - analysis_report\n    value: ''\n    value_type: string\n  - description: \u54c1\u8cea\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\uff08checklist\u5f62\u5f0f\uff09\n    id: a1b2c3d4-0007-4000-8000-000000000007\n    name: checklist\n    selector:\n    - conversation\n    - checklist\n    value: ''\n    value_type: string\n  - description: \u5b9f\u88c5\u9032\u6357\u72b6\u614b\n    id: a1b2c3d4-0008-4000-8000-000000000008\n    name: implement_state\n    selector:\n    - conversation\n    - implement_state\n    value: '{\"completed_tasks\": [], \"current_phase\": 0}'\n    value_type: string\n  environment_variables: []\n  features:\n    file_upload:\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n    opening_statement: '# SpecKit v6 \u3078\u3088\u3046\u3053\u305d! (GitHub spec-kit\u6e96\u62e0)\n\n\n      \u5229\u7528\u53ef\u80fd\u306a\u30b3\u30de\u30f3\u30c9:\n\n      - **constitution**: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\u5b9a\u7fa9\uff088\u30b9\u30c6\u30c3\u30d7\u30ef\u30fc\u30af\u30d5\u30ed\u30fc\uff09\n\n      - **specify**: \u8981\u4ef6\u4ed5\u69d8\u66f8\u4f5c\u6210\uff08\u660e\u78ba\u5316\u30de\u30fc\u30ab\u30fc\u4ed8\u304d\uff09\n\n      - **clarify**: \u66d6\u6627\u8981\u4ef6\u306e\u660e\u78ba\u5316\uff08\u6700\u59275\u554f\u30019\u30ab\u30c6\u30b4\u30ea\u5206\u985e\uff09\n\n      - **plan**: \u6280\u8853\u5b9f\u88c5\u8a08\u753b\uff083\u30d5\u30a7\u30fc\u30ba: \u7814\u7a76\u2192\u8a2d\u8a08\u2192\u5831\u544a\uff09\n\n      - **tasks**: \u30bf\u30b9\u30af\u5206\u89e3\uff08[TaskID][P?][Story?]\u5f62\u5f0f\uff09\n\n      - **analyze**: Read-only\u5206\u6790\uff08\u91cd\u5927\u5ea6\u5206\u985e\u4ed8\u304d\uff09\n\n      - **checklist**: \u8981\u4ef6\u54c1\u8cea\u30c1\u30a7\u30c3\u30af\uff08\u5b9f\u88c5\u30c6\u30b9\u30c8\u3067\u306f\u306a\u3044\uff09\n\n      - **implement**: \u30bf\u30b9\u30af\u5b9f\u884c\uff08TDD\u30d9\u30fc\u30b9\uff09\n\n      - **export**: \u6210\u679c\u7269\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\n\n      '\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions:\n    - constitution EC\u30b5\u30a4\u30c8\u3092\u4f5c\u308a\u305f\u3044\n    - specify \u30e6\u30fc\u30b6\u30fc\u8a8d\u8a3c\u30b7\u30b9\u30c6\u30e0\n    - clarify\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: if-else\n      id: 1736500000001-1736500000005\n      source: '1736500000001'\n      sourceHandle: source\n      target: '1736500000005'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000005-true-1736500000040\n      source: '1736500000005'\n      sourceHandle: 'true'\n      target: '1736500000040'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: question-classifier\n      id: 1736500000005-false-1736500000010\n      source: '1736500000005'\n      sourceHandle: 'false'\n      target: '1736500000010'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1736500000010-class-constitution-1736500000020\n      source: '1736500000010'\n      sourceHandle: class-constitution\n      target: '1736500000020'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1736500000010-class-specify-1736500000030\n      source: '1736500000010'\n      sourceHandle: class-specify\n      target: '1736500000030'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1736500000010-class-clarify-1736500000040\n      source: '1736500000010'\n      sourceHandle: class-clarify\n      target: '1736500000040'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1736500000010-class-plan-1736500000050\n      source: '1736500000010'\n      sourceHandle: class-plan\n      target: '1736500000050'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1736500000010-class-tasks-1736500000060\n      source: '1736500000010'\n      sourceHandle: class-tasks\n      target: '1736500000060'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1736500000010-class-analyze-1736500000070\n      source: '1736500000010'\n      sourceHandle: class-analyze\n      target: '1736500000070'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1736500000010-class-checklist-1736500000075\n      source: '1736500000010'\n      sourceHandle: class-checklist\n      target: '1736500000075'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1736500000010-class-implement-1736500000080\n      source: '1736500000010'\n      sourceHandle: class-implement\n      target: '1736500000080'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1736500000010-class-export-1736500000090\n      source: '1736500000010'\n      sourceHandle: class-export\n      target: '1736500000090'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: llm\n      id: 1736500000010-class-help-1736500000100\n      source: '1736500000010'\n      sourceHandle: class-help\n      target: '1736500000100'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000020-1736500000021\n      source: '1736500000020'\n      sourceHandle: source\n      target: '1736500000021'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000021-1736500000200\n      source: '1736500000021'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000020'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000030-1736500000031\n      source: '1736500000030'\n      sourceHandle: source\n      target: '1736500000031'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000031-1736500000200\n      source: '1736500000031'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000030'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: code\n      id: 1736500000040-1736500000042\n      source: '1736500000040'\n      sourceHandle: source\n      target: '1736500000042'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: assigner\n      id: 1736500000042-1736500000041\n      source: '1736500000042'\n      sourceHandle: source\n      target: '1736500000041'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000041-1736500000200\n      source: '1736500000041'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000040'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000050-1736500000051\n      source: '1736500000050'\n      sourceHandle: source\n      target: '1736500000051'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000051-1736500000200\n      source: '1736500000051'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000050'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000060-1736500000061\n      source: '1736500000060'\n      sourceHandle: source\n      target: '1736500000061'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000061-1736500000200\n      source: '1736500000061'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000060'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000070-1736500000071\n      source: '1736500000070'\n      sourceHandle: source\n      target: '1736500000071'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000071-1736500000200\n      source: '1736500000071'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000070'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000075-1736500000076\n      source: '1736500000075'\n      sourceHandle: source\n      target: '1736500000076'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000076-1736500000200\n      source: '1736500000076'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000075'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000080-1736500000081\n      source: '1736500000080'\n      sourceHandle: source\n      target: '1736500000081'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000081-1736500000200\n      source: '1736500000081'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000080'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1736500000090-1736500000200\n      source: '1736500000090'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000090'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1736500000100-1736500000200\n      source: '1736500000100'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000100'\n      type: custom\n    - data:\n        sourceType: variable-aggregator\n        targetType: answer\n      id: 1736500000200-1736500000300\n      source: '1736500000200'\n      sourceHandle: source\n      target: '1736500000300'\n      targetHandle: target\n      type: custom\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 117\n      id: '1736500000001'\n      position:\n        x: 80\n        y: 400\n      positionAbsolute:\n        x: 80\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: contains\n            value: '\"completed\": false'\n            value_type: constant\n            variable_selector:\n            - conversation\n            - clarify_state\n          - comparison_operator: not contains\n            value: constitution\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: specify\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: plan\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: tasks\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: export\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: analyze\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: checklist\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: implement\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          logical_operator: and\n        desc: clarify\u4e2d\u304b\u3064\u30e6\u30fc\u30b6\u30fc\u5165\u529b\u304c\u30b3\u30de\u30f3\u30c9\u3067\u306a\u3044\u5834\u5408\u3001Clarify Handler\u3078\n        selected: false\n        title: Clarify State Checker\n        type: if-else\n      height: 150\n      id: '1736500000005'\n      position:\n        x: 200\n        y: 400\n      positionAbsolute:\n        x: 200\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        classes:\n        - id: class-constitution\n          name: constitution - \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\n        - id: class-specify\n          name: specify - \u8981\u4ef6\u4ed5\u69d8\u66f8\n        - id: class-clarify\n          name: clarify - \u66d6\u6627\u8981\u4ef6\u306e\u660e\u78ba\u5316\n        - id: class-plan\n          name: plan - \u6280\u8853\u5b9f\u88c5\u8a08\u753b\n        - id: class-tasks\n          name: tasks - \u30bf\u30b9\u30af\u5206\u89e3\n        - id: class-analyze\n          name: analyze - \u8981\u4ef6\u5206\u6790\n        - id: class-checklist\n          name: checklist - \u54c1\u8cea\u30c1\u30a7\u30c3\u30af\n        - id: class-implement\n          name: implement - \u30bf\u30b9\u30af\u5b9f\u884c\n        - id: class-export\n          name: export - \u6210\u679c\u7269\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\n        - id: class-help\n          name: help - \u30d8\u30eb\u30d7\u30fb\u305d\u306e\u4ed6\n        desc: \u30b3\u30de\u30f3\u30c9\u3092\u9069\u5207\u306a\u30cf\u30f3\u30c9\u30e9\u30fc\u306b\u30eb\u30fc\u30c6\u30a3\u30f3\u30b0\n        instructions: '\u30e6\u30fc\u30b6\u30fc\u306e\u5165\u529b\u3092\u4ee5\u4e0b\u306e\u30ab\u30c6\u30b4\u30ea\u306b\u5206\u985e\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n          ## \u6700\u91cd\u8981\u30eb\u30fc\u30eb\n\n\n          \u5165\u529b\u304c\u4ee5\u4e0b\u306e\u30d1\u30bf\u30fc\u30f3\u306b**\u5b8c\u5168\u4e00\u81f4**\u307e\u305f\u306f**\u5148\u982d\u4e00\u81f4**\u3059\u308b\u5834\u5408\u3001\u305d\u306e\u30ab\u30c6\u30b4\u30ea\u3092\u9078\u629e:\n\n\n          | \u30d1\u30bf\u30fc\u30f3 | \u30ab\u30c6\u30b4\u30ea |\n\n          |----------|----------|\n\n          | constitution | constitution |\n\n          | specify | specify |\n\n          | clarify | clarify |\n\n          | plan | plan |\n\n          | tasks | tasks |\n\n          | analyze | analyze |\n\n          | checklist | checklist |\n\n          | implement | implement |\n\n          | export | export |\n\n\n          ## clarify\u56de\u7b54\u306e\u691c\u51fa\uff08\u91cd\u8981\uff09\n\n\n          \u4ee5\u4e0b\u306e\u30d1\u30bf\u30fc\u30f3\u306f**clarify**\u306b\u5206\u985e:\n\n          - \u300cA\u300d\u300cB\u300d\u300cC\u300d\u300cD\u300d\u300cE\u300d\uff08\u5358\u72ec\u306e\u9078\u629e\u80a2\uff09\n\n          - \u300cA\u3092\u9078\u629e\u300d\u300cB\u306b\u3057\u307e\u3059\u300d\u300cC\u3067\u300d\u306a\u3069\u9078\u629e\u8868\u73fe\n\n          - \u300c\u306f\u3044\u300d\u300c\u3044\u3044\u3048\u300d\u300cyes\u300d\u300cno\u300d\n\n          - \u77ed\u3044\u56de\u7b54\uff0810\u6587\u5b57\u4ee5\u4e0b\u3067\u4e0a\u8a18\u30b3\u30de\u30f3\u30c9\u306b\u8a72\u5f53\u3057\u306a\u3044\uff09\n\n\n          ## \u5404\u30ab\u30c6\u30b4\u30ea\u306e\u8a73\u7d30\n\n\n          - constitution: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\u3001\u57fa\u672c\u65b9\u91dd\u3001\u300c\u301c\u3092\u4f5c\u308a\u305f\u3044\u300d\u3067\u59cb\u307e\u308b\u65b0\u898f\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\n\n          - specify: \u4ed5\u69d8\u66f8\u4f5c\u6210\u3001\u6a5f\u80fd\u306e\u8a73\u7d30\u5316\u3001\u300c\u301c\u6a5f\u80fd\u3092\u8a73\u3057\u304f\u300d\n\n          - clarify: \u66d6\u6627\u70b9\u306e\u660e\u78ba\u5316\u3001\u8cea\u554f\u3078\u306e\u56de\u7b54\u3001\u9078\u629e\u80a2\u306e\u9078\u629e\n\n          - plan: \u6280\u8853\u5b9f\u88c5\u8a08\u753b\u3001\u30a2\u30fc\u30ad\u30c6\u30af\u30c1\u30e3\u8a2d\u8a08\n\n          - tasks: \u30bf\u30b9\u30af\u5206\u89e3\u3001\u4f5c\u696d\u9805\u76ee\u306e\u6d17\u3044\u51fa\u3057\n\n          - analyze: \u8981\u4ef6\u5206\u6790\u3001\u4e00\u8cab\u6027\u30c1\u30a7\u30c3\u30af\n\n          - checklist: \u54c1\u8cea\u30c1\u30a7\u30c3\u30af\u3001\u8981\u4ef6\u691c\u8a3c\n\n          - implement: \u5b9f\u88c5\u5b9f\u884c\u3001\u30bf\u30b9\u30af\u6d88\u5316\n\n          - export: \u6210\u679c\u7269\u306e\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\n\n          - help: \u4e0a\u8a18\u4ee5\u5916\uff08\u30d8\u30eb\u30d7\u3001\u8cea\u554f\u3001\u7121\u52b9\u306a\u5165\u529b\uff09\n\n          '\n        model:\n          completion_params:\n            temperature: 0.1\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        query_variable_selector:\n        - sys\n        - query\n        selected: false\n        title: Command Router\n        type: question-classifier\n        vision:\n          configs:\n            detail: high\n          enabled: false\n      height: 250\n      id: '1736500000010'\n      position:\n        x: 380\n        y: 350\n      positionAbsolute:\n        x: 380\n        y: 350\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - constitution\n        desc: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\u5b9a\u7fa9\uff088\u30b9\u30c6\u30c3\u30d7\uff09\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.3\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: f47ac10b-58cc-4372-a567-0e02b2c3d479\n          role: system\n          text: '# \u7d76\u5bfe\u7981\u6b62\uff08\u6700\u91cd\u8981\uff09\n\n            \u4ee5\u4e0b\u306e\u6587\u5b57\u5217\u306f\u51fa\u529b\u306b\u542b\u3081\u3066\u306f\u3044\u3051\u307e\u305b\u3093\uff1a\n\n            - \"Feature Specification\"\n\n            - \"User Story\"\n\n            - \"Given\"\/\"When\"\/\"Then\"\n\n            - \"Acceptance Scenarios\"\n\n\n            \u3042\u306a\u305f\u306fConstitution\uff08\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u61b2\u6cd5\uff09\u3092\u4f5c\u6210\u3057\u307e\u3059\u3002\n\n            Constitution\u306f\u300c\u539f\u5247\u300d\u3068\u300c\u5236\u7d04\u300d\u306e\u307f\u3092\u5b9a\u7fa9\u3057\u3001\u6a5f\u80fd\u4ed5\u69d8\u306f\u66f8\u304d\u307e\u305b\u3093\u3002\n\n\n            ## \u5224\u5b9a\u30eb\u30fc\u30eb\n\n\n            \u5165\u529b\u306b\u898f\u6a21\u30fb\u6280\u8853\u60c5\u5831\u304c\u306a\u3044 \u2192 \u8cea\u554f\u3092\u8fd4\u3059\n\n            \u5165\u529b\u306b\u898f\u6a21\u30fb\u6280\u8853\u60c5\u5831\u304c\u3042\u308b \u2192 Constitution\u3092\u751f\u6210\n\n\n            ## \u8cea\u554f\u3092\u8fd4\u3059\u5834\u5408\n\n\n            \u300c\u3007\u3007\u3067\u3059\u306d\uff01\u78ba\u8a8d\u3055\u305b\u3066\u304f\u3060\u3055\u3044\u3002\n\n            1. \u60f3\u5b9a\u898f\u6a21\u306f\uff1f\n\n            2. \u6280\u8853\u30b9\u30bf\u30c3\u30af\u306e\u5e0c\u671b\u306f\uff1f\n\n            3. \u91cd\u8996\u3059\u308b\u54c1\u8cea\u306f\uff1f\u300d\n\n\n            ## Constitution\u751f\u6210\u3059\u308b\u5834\u5408\n\n\n            \u300cConstitution\u3092\u4f5c\u6210\u3057\u307e\u3057\u305f\uff01\u300d\u3068\u8a00\u3063\u3066\u304b\u3089\uff1a\n\n\n            # [\u540d\u524d] Constitution\n\n\n            ## Core Principles\n\n            ### I. [\u539f\u5247]\n\n            [\u6570\u5024\u76ee\u6a19\u3002\u4f8b\uff1a\u30ec\u30b9\u30dd\u30f3\u30b9200ms\u4ee5\u4e0b]\n\n            ### II. ...\n\n            ### III. ...\n\n\n            ## Technical Constraints\n\n            - \u8a00\u8a9e: ...\n\n            - DB: ...\n\n\n            ## Governance\n\n            \u5909\u66f4\u306f\u5168\u54e1\u5408\u610f\n\n\n            ---\n\n            \u6b21\u306f specify \u3067\u6a5f\u80fd\u8a73\u7d30\u5316\u3067\u304d\u307e\u3059\u3002\n\n\n            \u65e2\u5b58: {{#conversation.constitution#}}\n\n            '\n        - id: 550e8400-e29b-41d4-a716-446655440001\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Constitution Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736500000020'\n      position:\n        x: 680\n        y: 50\n      positionAbsolute:\n        x: 680\n        y: 50\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - constitution\n        desc: \u8981\u4ef6\u4ed5\u69d8\u66f8\u4f5c\u6210\uff08spec.md\u5f62\u5f0f\uff09\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b810-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306f\u6a5f\u80fd\u4ed5\u69d8\u66f8\u3092\u4f5c\u6210\u3059\u308b\u30a2\u30b7\u30b9\u30bf\u30f3\u30c8\u3067\u3059\u3002\u4f1a\u8a71\u8abf\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            ## \u5224\u5b9a\u30eb\u30fc\u30eb\n\n\n            \u5165\u529b\u304c\u300cspecify\u300d\u306e\u307f \u2192 \u8cea\u554f\u3092\u8fd4\u3059\n\n            \u5165\u529b\u306b\u5177\u4f53\u7684\u306a\u6a5f\u80fd\u540d\u304c\u3042\u308b \u2192 \u4ed5\u69d8\u66f8\u3092\u751f\u6210\n\n\n            ## \u8cea\u554f\u3092\u8fd4\u3059\u5834\u5408\n\n\n            \u300c\u3069\u306e\u6a5f\u80fd\u3092\u8a73\u7d30\u5316\u3057\u307e\u3059\u304b\uff1f\u4f8b\u3048\u3070\uff1a\n\n            - \u30e6\u30fc\u30b6\u30fc\u8a8d\u8a3c\n\n            - \u5546\u54c1\u691c\u7d22\n\n            - \u6c7a\u6e08\u51e6\u7406\n\n            \u306a\u3069\u3001\u5177\u4f53\u7684\u306b\u6559\u3048\u3066\u304f\u3060\u3055\u3044\u3002\u300d\n\n\n            ## \u4ed5\u69d8\u66f8\u3092\u751f\u6210\u3059\u308b\u5834\u5408\n\n\n            \u300c[\u6a5f\u80fd\u540d]\u306e\u4ed5\u69d8\u66f8\u3092\u4f5c\u6210\u3057\u307e\u3057\u305f\uff01\u300d\u3068\u524d\u7f6e\u304d\u3057\u3066\u304b\u3089\u3001\u4ed5\u69d8\u66f8\u3092\u51fa\u529b\u3002\n\n            \u6700\u5f8c\u306b\u300c\u66d6\u6627\u306a\u70b9\u304c\u3042\u308c\u3070 clarify \u3067\u660e\u78ba\u5316\u3067\u304d\u307e\u3059\u3002\u300d\u3068\u6848\u5185\u3002\n\n\n            ## \u4ed5\u69d8\u66f8\u306e\u5f62\u5f0f\n\n\n            # Feature Specification: [\u6a5f\u80fd\u540d]\n\n\n            ## User Stories\n\n\n            ### Story 1 - [\u30bf\u30a4\u30c8\u30eb] (P1)\n\n            [\u30e6\u30fc\u30b6\u30fc\u30b8\u30e3\u30fc\u30cb\u30fc]\n\n            **Given** [\u72b6\u614b] **When** [\u64cd\u4f5c] **Then** [\u7d50\u679c]\n\n\n            ### Story 2 - [\u30bf\u30a4\u30c8\u30eb] (P2)\n\n            ...\n\n\n            ## Edge Cases\n\n            - [\u5883\u754c\u6761\u4ef6]\u306f\uff1f\n\n\n            ## Requirements\n\n            - FR-001: [\u6a5f\u80fd\u8981\u4ef6]\n\n\n            Constitution: {{#conversation.constitution#}}\n\n            '\n        - id: 6ba7b811-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Specify Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736500000030'\n      position:\n        x: 680\n        y: 150\n      positionAbsolute:\n        x: 680\n        y: 150\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: \u66d6\u6627\u8981\u4ef6\u306e\u660e\u78ba\u5316\uff08\u6700\u59275\u554f\uff09\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b812-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit clarify\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\u4ed5\u69d8\u66f8\u306e\u66d6\u6627\u70b9\u3092\u660e\u78ba\u5316\u3057\u307e\u3059\u3002\n\n\n            ## \u73fe\u5728\u306e\u72b6\u614b\n\n            clarify_state: {{#conversation.clarify_state#}}\n\n            \u4ed5\u69d8\u66f8: {{#conversation.specification#}}\n\n\n            ## \u51e6\u7406\u30eb\u30fc\u30eb\n\n\n            **question_count \u304c 0 \u306e\u5834\u5408\uff08\u65b0\u898f\u30bb\u30c3\u30b7\u30e7\u30f3\uff09:**\n\n            - \u4ed5\u69d8\u66f8\u3092\u5206\u6790\u3057\u3001\u6700\u91cd\u8981\u306e\u66d6\u6627\u70b9\u306b\u3064\u3044\u3066\u8cea\u554f1\u3092\u63d0\u793a\n\n            - \u51fa\u529b\u672b\u5c3e\u306b: [STATE:1]\n\n\n            **question_count \u304c 1-4 \u306e\u5834\u5408\uff08\u56de\u7b54\u53d7\u4fe1\uff09:**\n\n            - \u300c\u2705 Q{N}\u56de\u7b54\u53d7\u4ed8: {\u9078\u629e\u80a2}\u300d\u3067\u958b\u59cb\n\n            - \u4ed5\u69d8\u66f8\u3078\u306e\u53cd\u6620\u30921\u6587\u3067\u8aac\u660e\n\n            - \u6b21\u306e\u8cea\u554f\u3092\u63d0\u793a\n\n            - \u51fa\u529b\u672b\u5c3e\u306b: [STATE:{N+1}]\n\n\n            **question_count \u304c 4 \u3067\u56de\u7b54\u53d7\u4fe1\uff08\u6700\u7d42\uff09:**\n\n            - \u300c\u2705 Q5\u56de\u7b54\u53d7\u4ed8: {\u9078\u629e\u80a2}\u300d\u3067\u958b\u59cb\n\n            - \u300cclarify\u30bb\u30c3\u30b7\u30e7\u30f3\u5b8c\u4e86\u300d\u3092\u5ba3\u8a00\n\n            - \u660e\u78ba\u5316\u30b5\u30de\u30ea\u30fc\u3092\u51fa\u529b\n\n            - \u51fa\u529b\u672b\u5c3e\u306b: [STATE:5:DONE]\n\n\n            ## \u8cea\u554f\u5f62\u5f0f\uff08\u53b3\u5b88\uff09\n\n\n            \u3010{\u30ab\u30c6\u30b4\u30ea}\u3011(\u8cea\u554f {N}\/5)\n\n            Q: {\u5177\u4f53\u7684\u306a\u8cea\u554f}\n\n\n            A) {\u9078\u629e\u80a21} \u2190 \u63a8\u5968\n\n            B) {\u9078\u629e\u80a22}\n\n            C) {\u9078\u629e\u80a23}\n\n\n            \u63a8\u5968\u7406\u7531: {1\u6587}\n\n\n            ## 9\u30ab\u30c6\u30b4\u30ea\n\n            1. Functional Scope 2. Domain Model 3. UX Flow\n\n            4. Non-Functional 5. Integration 6. Edge Cases\n\n            7. Constraints 8. Terminology 9. Completion\n\n\n            \u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3002\n\n            '\n        - id: 6ba7b813-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Clarify Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736500000040'\n      position:\n        x: 680\n        y: 250\n      positionAbsolute:\n        x: 680\n        y: 250\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: \u6280\u8853\u5b9f\u88c5\u8a08\u753b\uff083\u30d5\u30a7\u30fc\u30ba\uff09\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b814-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306f\u6280\u8853\u5b9f\u88c5\u8a08\u753b\u3092\u4f5c\u6210\u3059\u308b\u30a2\u30b7\u30b9\u30bf\u30f3\u30c8\u3067\u3059\u3002\u4f1a\u8a71\u8abf\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            ## \u5224\u5b9a\u30eb\u30fc\u30eb\n\n\n            \u4ed5\u69d8\u66f8\u304c\u306a\u3044 \u2192 \u300c\u307e\u305a specify \u3067\u4ed5\u69d8\u66f8\u3092\u4f5c\u6210\u3057\u3066\u304f\u3060\u3055\u3044\u300d\n\n            \u4ed5\u69d8\u66f8\u304c\u3042\u308b \u2192 \u5b9f\u88c5\u8a08\u753b\u3092\u751f\u6210\n\n\n            ## \u5b9f\u88c5\u8a08\u753b\u3092\u751f\u6210\u3059\u308b\u5834\u5408\n\n\n            \u300c\u5b9f\u88c5\u8a08\u753b\u3092\u4f5c\u6210\u3057\u307e\u3057\u305f\uff01\u300d\u3068\u524d\u7f6e\u304d\u3057\u3066\u304b\u3089\uff1a\n\n\n            # Implementation Plan: [\u6a5f\u80fd\u540d]\n\n\n            ## Summary\n\n            [\u4ed5\u69d8\u66f8\u306b\u57fa\u3065\u304f\u6982\u8981]\n\n\n            ## Technical Context\n\n            - Language: [\u8a00\u8a9e]\n\n            - Framework: [\u30d5\u30ec\u30fc\u30e0\u30ef\u30fc\u30af]\n\n            - DB: [\u30c7\u30fc\u30bf\u30d9\u30fc\u30b9]\n\n            - Testing: [\u30c6\u30b9\u30c8\u30c4\u30fc\u30eb]\n\n\n            ## Project Structure\n\n            ```\n\n            src\/\n\n            \u251c\u2500\u2500 models\/\n\n            \u251c\u2500\u2500 services\/\n\n            \u251c\u2500\u2500 api\/\n\n            \u2514\u2500\u2500 tests\/\n\n            ```\n\n\n            ## \u5b9f\u88c5\u30a2\u30d7\u30ed\u30fc\u30c1\n\n            1. [\u30b9\u30c6\u30c3\u30d71]\n\n            2. [\u30b9\u30c6\u30c3\u30d72]\n\n            3. [\u30b9\u30c6\u30c3\u30d73]\n\n\n            ---\n\n            \u6b21\u306f tasks \u3067\u30bf\u30b9\u30af\u5206\u89e3\u3067\u304d\u307e\u3059\u3002\n\n\n            Constitution: {{#conversation.constitution#}}\n\n            \u4ed5\u69d8\u66f8: {{#conversation.specification#}}\n\n            '\n        - id: 6ba7b815-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Plan Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736500000050'\n      position:\n        x: 680\n        y: 350\n      positionAbsolute:\n        x: 680\n        y: 350\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - implementation_plan\n        desc: \u30bf\u30b9\u30af\u5206\u89e3\uff08spec-kit\u5f62\u5f0f\uff09\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.6\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b816-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306f\u30bf\u30b9\u30af\u5206\u89e3\u3092\u884c\u3046\u30a2\u30b7\u30b9\u30bf\u30f3\u30c8\u3067\u3059\u3002\u4f1a\u8a71\u8abf\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            ## \u5224\u5b9a\u30eb\u30fc\u30eb\n\n\n            \u5b9f\u88c5\u8a08\u753b\u304c\u306a\u3044 \u2192 \u300c\u307e\u305a plan \u3067\u5b9f\u88c5\u8a08\u753b\u3092\u4f5c\u6210\u3057\u3066\u304f\u3060\u3055\u3044\u300d\n\n            \u5b9f\u88c5\u8a08\u753b\u304c\u3042\u308b \u2192 \u30bf\u30b9\u30af\u30ea\u30b9\u30c8\u3092\u751f\u6210\n\n\n            ## \u30bf\u30b9\u30af\u30ea\u30b9\u30c8\u3092\u751f\u6210\u3059\u308b\u5834\u5408\n\n\n            \u300c\u30bf\u30b9\u30af\u30ea\u30b9\u30c8\u3092\u4f5c\u6210\u3057\u307e\u3057\u305f\uff01\u300d\u3068\u524d\u7f6e\u304d\u3057\u3066\u304b\u3089\uff1a\n\n\n            # Tasks: [\u6a5f\u80fd\u540d]\n\n\n            ## Phase 1: \u30bb\u30c3\u30c8\u30a2\u30c3\u30d7\n\n            - [ ] T001 \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u69cb\u9020\u3092\u4f5c\u6210\n\n            - [ ] T002 \u4f9d\u5b58\u95a2\u4fc2\u3092\u30a4\u30f3\u30b9\u30c8\u30fc\u30eb\n\n            - [ ] T003 [P] lint\/format\u8a2d\u5b9a\n\n\n            ## Phase 2: \u57fa\u76e4\u5b9f\u88c5\n\n            - [ ] T004 DB\u30b9\u30ad\u30fc\u30de\u4f5c\u6210\n\n            - [ ] T005 [P] \u8a8d\u8a3c\u8a2d\u5b9a\n\n            - [ ] T006 [P] API\u30eb\u30fc\u30c6\u30a3\u30f3\u30b0\n\n\n            ## Phase 3: User Story 1 (P1)\n\n            - [ ] T007 [US1] \u30e2\u30c7\u30eb\u4f5c\u6210\n\n            - [ ] T008 [US1] \u30b5\u30fc\u30d3\u30b9\u5b9f\u88c5\n\n            - [ ] T009 [US1] API\u5b9f\u88c5\n\n\n            ## Phase 4: User Story 2 (P2)\n\n            - [ ] T010 [US2] \u30e2\u30c7\u30eb\u4f5c\u6210\n\n            - [ ] T011 [US2] \u30b5\u30fc\u30d3\u30b9\u5b9f\u88c5\n\n\n            ---\n\n            [P]\u306f\u4e26\u5217\u5b9f\u884c\u53ef\u80fd\u3001[US1]\u7b49\u306f\u30b9\u30c8\u30fc\u30ea\u30fc\u756a\u53f7\u3067\u3059\u3002\n\n            \u6b21\u306f implement \u3067\u5b9f\u88c5\u3092\u958b\u59cb\u3067\u304d\u307e\u3059\u3002\n\n\n            \u5b9f\u88c5\u8a08\u753b: {{#conversation.implementation_plan#}}\n\n            \u4ed5\u69d8\u66f8: {{#conversation.specification#}}\n\n            '\n        - id: 6ba7b817-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Tasks Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736500000060'\n      position:\n        x: 680\n        y: 450\n      positionAbsolute:\n        x: 680\n        y: 450\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: Read-only\u5206\u6790\uff08\u91cd\u5927\u5ea6\u5206\u985e\uff09\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b818-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit analyze\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            GitHub spec-kit\u306eRead-only\u5206\u6790\u3092\u5b9f\u884c\u3057\u307e\u3059\u3002\n\n\n            ## \u91cd\u8981: READ-ONLY\u30e2\u30fc\u30c9\n\n            \u30d5\u30a1\u30a4\u30eb\u3092**\u7d76\u5bfe\u306b\u5909\u66f4\u3057\u306a\u3044**\u3002\u63d0\u6848\u306e\u307f\u3002\n\n\n            ## 6\u3064\u306e\u691c\u51fa\u30d1\u30b9\n\n\n            1. **Duplications** - \u91cd\u8907\u3057\u305f\u8981\u4ef6\u3084\u5b9a\u7fa9\n\n            2. **Vague Language** - \u300c\u901f\u3044\u300d\u300c\u826f\u3044\u300d\u306a\u3069\u6e2c\u5b9a\u57fa\u6e96\u306e\u306a\u3044\u8868\u73fe\n\n            3. **Underspecified** - \u8a73\u7d30\u304c\u4e0d\u8db3\u3057\u3066\u3044\u308b\u8981\u4ef6\n\n            4. **Constitutional Alignment** - constitution\u539f\u5247\u3068\u306e\u6574\u5408\u6027\n\n            5. **Coverage Gaps** - \u8981\u4ef6\u3068\u30bf\u30b9\u30af\u306e\u672a\u30de\u30c3\u30d4\u30f3\u30b0\n\n            6. **Terminology Inconsistency** - \u7528\u8a9e\u306e\u4e0d\u7d71\u4e00\n\n\n            ## \u91cd\u5927\u5ea6\u5206\u985e\n\n\n            | \u91cd\u5927\u5ea6 | \u57fa\u6e96 |\n\n            |--------|------|\n\n            | **CRITICAL** | \u30d9\u30fc\u30b9\u30e9\u30a4\u30f3\u3092\u30d6\u30ed\u30c3\u30af \/ constitution MUST\u306b\u9055\u53cd |\n\n            | **HIGH** | \u7af6\u5408 \/ \u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u306e\u66d6\u6627\u3055 |\n\n            | **MEDIUM** | \u7528\u8a9e\u306e\u30c9\u30ea\u30d5\u30c8 |\n\n            | **LOW** | \u30b9\u30bf\u30a4\u30eb\u306e\u554f\u984c |\n\n\n            ## \u51fa\u529b\u5f62\u5f0f\n\n\n            ```markdown\n\n            # Analysis Report\n\n\n            ## Findings (\u6700\u592750\u4ef6)\n\n\n            | ID | Category | Severity | Location | Summary | Recommendation |\n\n            |----|----------|----------|----------|---------|----------------|\n\n            | A001 | Vague | HIGH | spec.md \u00a73.2 | \u300c\u9ad8\u901f\u300d\u306b\u6307\u6a19\u306a\u3057 | \u5fdc\u7b54\u6642\u9593200ms\u4ee5\u4e0b\u3092\u660e\u8a18 |\n\n\n            ## Coverage Matrix\n\n\n            | Requirement | Tasks | Status |\n\n            |-------------|-------|--------|\n\n            | FR1 | T001, T003 | \u2713 |\n\n            | FR2 | - | \u26a0 Gap |\n\n\n            ## Constitutional Alignment\n\n\n            - [CRITICAL] \u539f\u52473\u300c\u5358\u4e00\u8cac\u4efb\u300d\u306b\u9055\u53cd: TaskHandler\u304c\u8907\u6570\u8cac\u52d9\n\n\n            ## Unmapped Tasks\n\n            - T015: \u4ed5\u69d8\u66f8\u306b\u5bfe\u5fdc\u3059\u308b\u8981\u4ef6\u306a\u3057\n\n\n            ## Metrics\n\n            - \u7dcf\u8981\u4ef6\u6570: 12\n\n            - \u30ab\u30d0\u30ec\u30c3\u30b8: 83%\n\n            - CRITICAL: 1, HIGH: 3, MEDIUM: 5, LOW: 2\n\n\n            ## Next Actions\n\n            1. `clarify` \u3067FR2\u3092\u8a73\u7d30\u5316\n\n            2. `tasks` \u3067T015\u3092\u524a\u9664\u307e\u305f\u306f\u8981\u4ef6\u8ffd\u52a0\n\n            ```\n\n\n            ## \u5206\u6790\u5bfe\u8c61:\n\n            - \u4ed5\u69d8\u66f8: {{#conversation.specification#}}\n\n            - \u5b9f\u88c5\u8a08\u753b: {{#conversation.implementation_plan#}}\n\n            - \u30bf\u30b9\u30af: {{#conversation.task_list#}}\n\n            - constitution: {{#conversation.constitution#}}\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: 6ba7b819-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Analyze Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736500000070'\n      position:\n        x: 680\n        y: 550\n      positionAbsolute:\n        x: 680\n        y: 550\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: \u8981\u4ef6\u54c1\u8cea\u30c1\u30a7\u30c3\u30af\uff08\u5b9f\u88c5\u30c6\u30b9\u30c8\u3067\u306f\u306a\u3044\uff09\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b820-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit checklist\u30b8\u30a7\u30cd\u30ec\u30fc\u30bf\u30fc\u3067\u3059\u3002\n\n            \u4ee5\u4e0b\u306e**\u6b63\u78ba\u306achecklist-template.md\u5f62\u5f0f**\u3067\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u3092\u751f\u6210\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            ## \u51fa\u529b\u5f62\u5f0f\uff08\u3053\u306e\u5f62\u5f0f\u306b\u53b3\u5bc6\u306b\u5f93\u3046\u3053\u3068\uff09\n\n\n            ```markdown\n\n            # [CHECKLIST TYPE] Checklist: [FEATURE NAME]\n\n\n            **Purpose**: [\u3053\u306e\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u304c\u30ab\u30d0\u30fc\u3059\u308b\u5185\u5bb9]\n\n            **Created**: [YYYY-MM-DD]\n\n            **Feature**: spec.md\u3078\u306e\u30ea\u30f3\u30af\n\n\n            ## [Category 1 - \u4f8b: Completeness]\n\n\n            - [ ] CHK001 [\u5177\u4f53\u7684\u306a\u30c1\u30a7\u30c3\u30af\u9805\u76ee] [Spec \u00a7X.Y]\n\n            - [ ] CHK002 [\u5177\u4f53\u7684\u306a\u30c1\u30a7\u30c3\u30af\u9805\u76ee] [Gap]\n\n            - [ ] CHK003 [\u5177\u4f53\u7684\u306a\u30c1\u30a7\u30c3\u30af\u9805\u76ee] [Ambiguity]\n\n\n            ## [Category 2 - \u4f8b: Clarity]\n\n\n            - [ ] CHK004 [\u5177\u4f53\u7684\u306a\u30c1\u30a7\u30c3\u30af\u9805\u76ee] [Spec \u00a7X.Y]\n\n            - [ ] CHK005 [\u5177\u4f53\u7684\u306a\u30c1\u30a7\u30c3\u30af\u9805\u76ee] [Conflict: \u00a7X vs \u00a7Y]\n\n            - [ ] CHK006 [\u5177\u4f53\u7684\u306a\u30c1\u30a7\u30c3\u30af\u9805\u76ee]\n\n\n            ## [Category 3 - \u4f8b: Consistency]\n\n\n            - [ ] CHK007 [\u5177\u4f53\u7684\u306a\u30c1\u30a7\u30c3\u30af\u9805\u76ee]\n\n            - [ ] CHK008 [\u5177\u4f53\u7684\u306a\u30c1\u30a7\u30c3\u30af\u9805\u76ee]\n\n\n            ## Notes\n\n\n            - \u5b8c\u4e86\u3057\u305f\u3089 `[x]` \u3067\u30de\u30fc\u30af\n\n            - \u30b3\u30e1\u30f3\u30c8\u3084\u767a\u898b\u4e8b\u9805\u3092\u30a4\u30f3\u30e9\u30a4\u30f3\u3067\u8ffd\u52a0\n\n            - \u95a2\u9023\u30ea\u30bd\u30fc\u30b9\u3084\u30c9\u30ad\u30e5\u30e1\u30f3\u30c8\u3078\u30ea\u30f3\u30af\n\n            - \u53c2\u7167\u3057\u3084\u3059\u3044\u3088\u3046\u9023\u756a\u3067\u30ca\u30f3\u30d0\u30ea\u30f3\u30b0\n\n            ```\n\n\n            ## \u91cd\u8981: \u8981\u4ef6\u54c1\u8cea \u2260 \u5b9f\u88c5\u30c6\u30b9\u30c8\n\n\n            **\u7981\u6b62\uff08\u5b9f\u88c5\u30c6\u30b9\u30c8\uff09:**\n\n            - \u274c \u300c\u30dc\u30bf\u30f3\u304c\u6b63\u3057\u304f\u30af\u30ea\u30c3\u30af\u3067\u304d\u308b\u3053\u3068\u3092\u78ba\u8a8d\u300d\n\n            - \u274c \u300c\u30a8\u30e9\u30fc\u30cf\u30f3\u30c9\u30ea\u30f3\u30b0\u304c\u6a5f\u80fd\u3059\u308b\u3053\u3068\u3092\u30c6\u30b9\u30c8\u300d\n\n            - \u274c \u300cVerify\u300d\u300cTest\u300d\u300cConfirm\u300d\u3067\u59cb\u307e\u308b\u9805\u76ee\n\n\n            **\u63a8\u5968\uff08\u8981\u4ef6\u54c1\u8cea\uff09:**\n\n            - \u2713 \u300c\u30a8\u30e9\u30fc\u30b7\u30ca\u30ea\u30aa\u304c\u8981\u4ef6\u306b\u5b8c\u5168\u306b\u8a18\u8f09\u3055\u308c\u3066\u3044\u308b\u304b\uff1f\u300d\n\n            - \u2713 \u300c''\u76ee\u7acb\u3064\u8868\u793a''\u304c\u5177\u4f53\u7684\u306a\u30b5\u30a4\u30ba\u3067\u5b9a\u91cf\u5316\u3055\u308c\u3066\u3044\u308b\u304b\uff1f\u300d\n\n            - \u2713 \u300c\u30ca\u30d3\u30b2\u30fc\u30b7\u30e7\u30f3\u8981\u4ef6\u304c\u30bb\u30af\u30b7\u30e7\u30f3\u9593\u3067\u77db\u76fe\u3057\u3066\u3044\u306a\u3044\u304b\uff1f\u300d\n\n\n            ## \u30ab\u30c6\u30b4\u30ea\u4f8b\n\n\n            \u30e6\u30fc\u30b6\u30fc\u306e\u30ea\u30af\u30a8\u30b9\u30c8\u306b\u5fdc\u3058\u3066\u9069\u5207\u306a\u30ab\u30c6\u30b4\u30ea\u3092\u9078\u629e:\n\n            - **Completeness**: \u5fc5\u8981\u306a\u8981\u4ef6\u304c\u3059\u3079\u3066\u5b58\u5728\u3059\u308b\u304b\n\n            - **Clarity**: \u5177\u4f53\u7684\u3067\u66d6\u6627\u3055\u304c\u306a\u3044\u304b\n\n            - **Consistency**: \u4ed5\u69d8\u66f8\u5168\u4f53\u3067\u6574\u5408\u6027\u304c\u3042\u308b\u304b\n\n            - **Measurability**: \u5ba2\u89b3\u7684\u306b\u691c\u8a3c\u53ef\u80fd\u304b\n\n            - **Security**: \u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u8981\u4ef6\u304c\u7db2\u7f85\u3055\u308c\u3066\u3044\u308b\u304b\n\n            - **Performance**: \u6027\u80fd\u8981\u4ef6\u304c\u5b9a\u7fa9\u3055\u308c\u3066\u3044\u308b\u304b\n\n            - **Accessibility**: \u30a2\u30af\u30bb\u30b7\u30d3\u30ea\u30c6\u30a3\u8981\u4ef6\u304c\u3042\u308b\u304b\n\n            - **Edge Cases**: \u5883\u754c\u6761\u4ef6\u304c\u5b9a\u7fa9\u3055\u308c\u3066\u3044\u308b\u304b\n\n\n            ## \u30de\u30fc\u30ab\u30fc\n\n\n            - `[Spec \u00a7X.Y]`: \u4ed5\u69d8\u66f8\u306e\u30bb\u30af\u30b7\u30e7\u30f3\u53c2\u7167\n\n            - `[Gap]`: \u4ed5\u69d8\u306b\u6b20\u3051\u3066\u3044\u308b\n\n            - `[Ambiguity]`: \u66d6\u6627\u306a\u8868\u73fe\n\n            - `[Conflict: \u00a7X vs \u00a7Y]`: \u77db\u76fe\u304c\u3042\u308b\n\n\n            ## \u5bfe\u8c61\u4ed5\u69d8\u66f8:\n\n            {{#conversation.specification#}}\n\n\n            \u30e6\u30fc\u30b6\u30fc\u306e\u30ea\u30af\u30a8\u30b9\u30c8\uff08\u4f8b: \"security\", \"ux\", \"performance\"\uff09\u306b\u57fa\u3065\u3044\u3066\n\n            \u9069\u5207\u306a\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u3092\u751f\u6210\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: 6ba7b821-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Checklist Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736500000075'\n      position:\n        x: 680\n        y: 620\n      positionAbsolute:\n        x: 680\n        y: 620\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - task_list\n        desc: \u30bf\u30b9\u30af\u5b9f\u884c\uff08TDD\u30d9\u30fc\u30b9\uff09\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.6\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b81a-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit implement\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n            GitHub spec-kit\u306e\u5b9f\u88c5\u30ef\u30fc\u30af\u30d5\u30ed\u30fc\u306b\u5f93\u3044\u307e\u3059\u3002\n\n\n            ## Phase 1: \u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u691c\u8a3c\n\n\n            \u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u304c\u5b58\u5728\u3059\u308b\u5834\u5408:\n\n            ```\n\n            | Checklist | Total | Complete | Status |\n\n            |-----------|-------|----------|--------|\n\n            | ux.md     | 10    | 8        | \u26a0 2 incomplete |\n\n            ```\n\n\n            \u672a\u5b8c\u4e86\u9805\u76ee\u304c\u3042\u308b\u5834\u5408:\n\n            \u300c2\u4ef6\u306e\u672a\u5b8c\u4e86\u30c1\u30a7\u30c3\u30af\u9805\u76ee\u304c\u3042\u308a\u307e\u3059\u3002\u7d9a\u884c\u3057\u307e\u3059\u304b\uff1f\u300d\n\n\n            ## Phase 2: \u30b3\u30f3\u30c6\u30ad\u30b9\u30c8\u8aad\u8fbc\n\n\n            \u4ee5\u4e0b\u3092\u53c2\u7167:\n\n            - tasks.md (\u30bf\u30b9\u30af\u30ea\u30b9\u30c8)\n\n            - plan.md (\u30a2\u30fc\u30ad\u30c6\u30af\u30c1\u30e3)\n\n            - data-model.md (\u30aa\u30d7\u30b7\u30e7\u30f3)\n\n            - contracts\/ (\u30aa\u30d7\u30b7\u30e7\u30f3)\n\n\n            ## Phase 3: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u30bb\u30c3\u30c8\u30a2\u30c3\u30d7\n\n\n            .gitignore\u7b49\u306e\u8a2d\u5b9a\u30d5\u30a1\u30a4\u30eb\u3092\u78ba\u8a8d\/\u751f\u6210\u3002\n\n\n            ## Phase 4: \u30bf\u30b9\u30af\u89e3\u6790\n\n\n            \u30bf\u30b9\u30af\u30d5\u30a1\u30a4\u30eb\u304b\u3089\u62bd\u51fa:\n\n            - \u30d5\u30a7\u30fc\u30ba\n\n            - \u4f9d\u5b58\u95a2\u4fc2\n\n            - \u4e26\u5217\u30de\u30fc\u30ab\u30fc `[P]`\n\n\n            ## Phase 5-7: \u5b9f\u88c5 & \u8ffd\u8de1\n\n\n            **TDD\u30ef\u30fc\u30af\u30d5\u30ed\u30fc:**\n\n            1. \u30c6\u30b9\u30c8\u3092\u5148\u306b\u66f8\u304f\n\n            2. \u5b9f\u88c5\n\n            3. \u30c6\u30b9\u30c8\u5b9f\u884c\n\n            4. \u30bf\u30b9\u30af\u3092`[X]`\u3067\u30de\u30fc\u30af\n\n\n            **\u9032\u6357\u5831\u544a:**\n\n            ```\n\n            ## Progress Report\n\n\n            Phase: Foundation (2\/3)\n\n            - [X] T001: Database setup\n\n            - [X] T002: Model creation\n\n            - [ ] T003: API endpoints (in progress)\n\n\n            Next: T003 - Create user endpoints\n\n            ```\n\n\n            ## Phase 8: \u691c\u8a3c\n\n\n            - \u5168\u30bf\u30b9\u30af\u5b8c\u4e86\u78ba\u8a8d\n\n            - \u30c6\u30b9\u30c8\u901a\u904e\u78ba\u8a8d\n\n            - \u4ed5\u69d8\u3068\u306e\u6574\u5408\u6027\u78ba\u8a8d\n\n\n            ## \u30bf\u30b9\u30af\u30ea\u30b9\u30c8:\n\n            {{#conversation.task_list#}}\n\n\n            ## \u5b9f\u88c5\u8a08\u753b:\n\n            {{#conversation.implementation_plan#}}\n\n\n            ## \u5b9f\u88c5\u72b6\u614b:\n\n            {{#conversation.implement_state#}}\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: 6ba7b81b-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Implement Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736500000080'\n      position:\n        x: 680\n        y: 700\n      positionAbsolute:\n        x: 680\n        y: 700\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - constitution\n        desc: \u6210\u679c\u7269\u306e\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.3\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b81c-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306f\u6210\u679c\u7269\u3092\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\u3059\u308b\u30a2\u30b7\u30b9\u30bf\u30f3\u30c8\u3067\u3059\u3002\u4f1a\u8a71\u8abf\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            \u300c\u73fe\u5728\u306e\u6210\u679c\u7269\u3092\u307e\u3068\u3081\u307e\u3057\u305f\uff01\u300d\u3068\u524d\u7f6e\u304d\u3057\u3066\u304b\u3089\u51fa\u529b\u3002\n\n\n            ## \u51fa\u529b\u5f62\u5f0f\n\n\n            # \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u6210\u679c\u7269\n\n\n            ## \u9032\u6357\u30b5\u30de\u30ea\u30fc\n\n            - Constitution: [\u3042\u308c\u3070\u25cb\u3001\u306a\u3051\u308c\u3070\u00d7]\n\n            - Specification: [\u3042\u308c\u3070\u25cb\u3001\u306a\u3051\u308c\u3070\u00d7]\n\n            - Plan: [\u3042\u308c\u3070\u25cb\u3001\u306a\u3051\u308c\u3070\u00d7]\n\n            - Tasks: [\u3042\u308c\u3070\u25cb\u3001\u306a\u3051\u308c\u3070\u00d7]\n\n\n            ## \u8a73\u7d30\n\n\n            ### 1. Constitution\n\n            {{#conversation.constitution#}}\n\n            \uff08\u7a7a\u306a\u3089\u300c\u672a\u4f5c\u6210 - constitution \u30b3\u30de\u30f3\u30c9\u3067\u4f5c\u6210\u300d\uff09\n\n\n            ### 2. Specification\n\n            {{#conversation.specification#}}\n\n            \uff08\u7a7a\u306a\u3089\u300c\u672a\u4f5c\u6210 - specify \u30b3\u30de\u30f3\u30c9\u3067\u4f5c\u6210\u300d\uff09\n\n\n            ### 3. Plan\n\n            {{#conversation.implementation_plan#}}\n\n            \uff08\u7a7a\u306a\u3089\u300c\u672a\u4f5c\u6210 - plan \u30b3\u30de\u30f3\u30c9\u3067\u4f5c\u6210\u300d\uff09\n\n\n            ### 4. Tasks\n\n            {{#conversation.task_list#}}\n\n            \uff08\u7a7a\u306a\u3089\u300c\u672a\u4f5c\u6210 - tasks \u30b3\u30de\u30f3\u30c9\u3067\u4f5c\u6210\u300d\uff09\n\n\n            ---\n\n            \u672a\u4f5c\u6210\u306e\u3082\u306e\u304c\u3042\u308c\u3070\u3001\u8a72\u5f53\u30b3\u30de\u30f3\u30c9\u3067\u4f5c\u6210\u3067\u304d\u307e\u3059\uff01\n\n            '\n        - id: 6ba7b81d-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Export Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736500000090'\n      position:\n        x: 680\n        y: 780\n      positionAbsolute:\n        x: 680\n        y: 780\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u30d8\u30eb\u30d7\u3068\u30a8\u30e9\u30fc\u51e6\u7406\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b81e-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306fSpecKit v6\u306e\u30d8\u30eb\u30d7\u62c5\u5f53AI\u3067\u3059\u3002\n\n            GitHub spec-kit\u6e96\u62e0\u306e\u5b9f\u88c5\u3092\u30b5\u30dd\u30fc\u30c8\u3057\u307e\u3059\u3002\n\n\n            ## \u5229\u7528\u53ef\u80fd\u306a\u30b3\u30de\u30f3\u30c9\n\n\n            | \u30b3\u30de\u30f3\u30c9 | \u8aac\u660e | spec-kit\u6e96\u62e0 |\n\n            |----------|------|-------------|\n\n            | constitution | \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\uff088\u30b9\u30c6\u30c3\u30d7\uff09 | constitution.md |\n\n            | specify | \u8981\u4ef6\u4ed5\u69d8\u66f8\uff08\u660e\u78ba\u5316\u30de\u30fc\u30ab\u30fc\uff09 | specify.md |\n\n            | clarify | \u66d6\u6627\u8981\u4ef6\u306e\u660e\u78ba\u5316\uff08\u6700\u59275\u554f\uff09 | clarify.md |\n\n            | plan | \u6280\u8853\u5b9f\u88c5\u8a08\u753b\uff083\u30d5\u30a7\u30fc\u30ba\uff09 | plan.md |\n\n            | tasks | \u30bf\u30b9\u30af\u5206\u89e3\uff08[T001][P?]\u5f62\u5f0f\uff09 | tasks.md |\n\n            | analyze | Read-only\u5206\u6790\uff08\u91cd\u5927\u5ea6\u5206\u985e\uff09 | analyze.md |\n\n            | checklist | \u8981\u4ef6\u54c1\u8cea\u30c1\u30a7\u30c3\u30af | checklist.md |\n\n            | implement | \u30bf\u30b9\u30af\u5b9f\u884c\uff08TDD\uff09 | implement.md |\n\n            | export | \u6210\u679c\u7269\u30a8\u30af\u30b9\u30dd\u30fc\u30c8 | - |\n\n\n            ## \u63a8\u5968\u30ef\u30fc\u30af\u30d5\u30ed\u30fc\n\n\n            ```\n\n            constitution \u2192 specify \u2192 clarify \u2192 plan \u2192 tasks \u2192 checklist \u2192 analyze\n            \u2192 implement\n\n            ```\n\n\n            ## \u4f7f\u3044\u65b9\u306e\u4f8b\n\n\n            - \u300cconstitution EC\u30b5\u30a4\u30c8\u3092\u4f5c\u308a\u305f\u3044\u300d\n\n            - \u300cspecify \u30e6\u30fc\u30b6\u30fc\u8a8d\u8a3c\u30b7\u30b9\u30c6\u30e0\u300d\n\n            - \u300cclarify\u300d\uff08\u4ed5\u69d8\u66f8\u306e\u66d6\u6627\u70b9\u3092\u8cea\u554f\uff09\n\n            - \u300cplan\u300d\uff08\u6280\u8853\u8a08\u753b\u3092\u751f\u6210\uff09\n\n            - \u300ctasks\u300d\uff08\u30bf\u30b9\u30af\u5206\u89e3\uff09\n\n            - \u300cchecklist security\u300d\uff08\u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u54c1\u8cea\u30c1\u30a7\u30c3\u30af\uff09\n\n            - \u300canalyze\u300d\uff08\u5168\u4f53\u5206\u6790\uff09\n\n            - \u300cimplement\u300d\uff08\u5b9f\u88c5\u958b\u59cb\uff09\n\n\n            \u5fc5\u305a\u65e5\u672c\u8a9e\u3067\u5fdc\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: 6ba7b81f-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Help Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736500000100'\n      position:\n        x: 680\n        y: 860\n      positionAbsolute:\n        x: 680\n        y: 860\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: Constitution\u3092\u4f1a\u8a71\u5909\u6570\u306b\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000020'\n          - text\n          variable_selector:\n          - conversation\n          - constitution\n        selected: false\n        title: Save Constitution\n        type: assigner\n        version: '2'\n      height: 90\n      id: '1736500000021'\n      position:\n        x: 930\n        y: 50\n      positionAbsolute:\n        x: 930\n        y: 50\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: Specification\u3092\u4f1a\u8a71\u5909\u6570\u306b\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000030'\n          - text\n          variable_selector:\n          - conversation\n          - specification\n        selected: false\n        title: Save Specification\n        type: assigner\n        version: '2'\n      height: 90\n      id: '1736500000031'\n      position:\n        x: 930\n        y: 150\n      positionAbsolute:\n        x: 930\n        y: 150\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        code: \"import re\\nimport json\\n\\ndef main(llm_output: str, current_state:\\\n          \\ str) -> dict:\\n    # [STATE:N] or [STATE:N:DONE] \u30d1\u30bf\u30fc\u30f3\u3092\u691c\u51fa\\n    match =\\\n          \\ re.search(r'\\\\[STATE:(\\\\d+)(?::DONE)?\\\\]', llm_output)\\n\\n    if match:\\n\\\n          \\        count = int(match.group(1))\\n        done = ':DONE' in llm_output\\n\\\n          \\n        # \u73fe\u5728\u306e\u56de\u7b54\u5c65\u6b74\u3092\u53d6\u5f97\\n        try:\\n            state = json.loads(current_state)\\n\\\n          \\            answers = state.get('answers', [])\\n        except:\\n     \\\n          \\       answers = []\\n\\n        new_state = {\\n            \\\"question_count\\\"\\\n          : count,\\n            \\\"answers\\\": answers,\\n            \\\"completed\\\":\\\n          \\ done\\n        }\\n        return {\\\"state_json\\\": json.dumps(new_state,\\\n          \\ ensure_ascii=False)}\\n\\n    # \u30de\u30fc\u30ab\u30fc\u306a\u3057: \u8cea\u554f1\u304c\u51fa\u3055\u308c\u305f\uff08\u65b0\u898f\u30bb\u30c3\u30b7\u30e7\u30f3\u958b\u59cb\uff09\\n    # \\\"\u8cea\u554f\\\n          \\ 1\/5\\\" \u3092\u691c\u51fa\\n    if '\u8cea\u554f 1\/5' in llm_output or '(\u8cea\u554f 1\/5)' in llm_output:\\n\\\n          \\        return {\\\"state_json\\\": '{\\\"question_count\\\": 1, \\\"answers\\\": [],\\\n          \\ \\\"completed\\\": false}'}\\n\\n    # \u30d5\u30a9\u30fc\u30eb\u30d0\u30c3\u30af: \u73fe\u5728\u306e\u72b6\u614b\u3092\u7dad\u6301\\n    return {\\\"state_json\\\"\\\n          : current_state}\\n\"\n        code_language: python3\n        desc: LLM\u51fa\u529b\u304b\u3089[STATE:N]\u3092\u62bd\u51fa\u3057\u3066JSON\u5316\n        outputs:\n          state_json:\n            children: null\n            type: string\n        selected: false\n        title: Extract Clarify State\n        type: code\n        variables:\n        - value_selector:\n          - '1736500000040'\n          - text\n          variable: llm_output\n        - value_selector:\n          - conversation\n          - clarify_state\n          variable: current_state\n      height: 98\n      id: '1736500000042'\n      position:\n        x: 880\n        y: 250\n      positionAbsolute:\n        x: 880\n        y: 250\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: Clarify\u72b6\u614b\u3092\u4f1a\u8a71\u5909\u6570\u306b\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000042'\n          - state_json\n          variable_selector:\n          - conversation\n          - clarify_state\n        selected: false\n        title: Save Clarify State\n        type: assigner\n        version: '2'\n      height: 90\n      id: '1736500000041'\n      position:\n        x: 1030\n        y: 250\n      positionAbsolute:\n        x: 1030\n        y: 250\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: \u5b9f\u88c5\u8a08\u753b\u3092\u4f1a\u8a71\u5909\u6570\u306b\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000050'\n          - text\n          variable_selector:\n          - conversation\n          - implementation_plan\n        selected: false\n        title: Save Plan\n        type: assigner\n        version: '2'\n      height: 90\n      id: '1736500000051'\n      position:\n        x: 930\n        y: 350\n      positionAbsolute:\n        x: 930\n        y: 350\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: \u30bf\u30b9\u30af\u30ea\u30b9\u30c8\u3092\u4f1a\u8a71\u5909\u6570\u306b\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000060'\n          - text\n          variable_selector:\n          - conversation\n          - task_list\n        selected: false\n        title: Save Tasks\n        type: assigner\n        version: '2'\n      height: 90\n      id: '1736500000061'\n      position:\n        x: 930\n        y: 450\n      positionAbsolute:\n        x: 930\n        y: 450\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: \u5206\u6790\u30ec\u30dd\u30fc\u30c8\u3092\u4f1a\u8a71\u5909\u6570\u306b\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000070'\n          - text\n          variable_selector:\n          - conversation\n          - analysis_report\n        selected: false\n        title: Save Analysis\n        type: assigner\n        version: '2'\n      height: 90\n      id: '1736500000071'\n      position:\n        x: 930\n        y: 550\n      positionAbsolute:\n        x: 930\n        y: 550\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: \u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u3092\u4f1a\u8a71\u5909\u6570\u306b\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000075'\n          - text\n          variable_selector:\n          - conversation\n          - checklist\n        selected: false\n        title: Save Checklist\n        type: assigner\n        version: '2'\n      height: 90\n      id: '1736500000076'\n      position:\n        x: 930\n        y: 620\n      positionAbsolute:\n        x: 930\n        y: 620\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: \u5b9f\u88c5\u72b6\u614b\u3092\u4f1a\u8a71\u5909\u6570\u306b\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000080'\n          - text\n          variable_selector:\n          - conversation\n          - implement_state\n        selected: false\n        title: Save Implement\n        type: assigner\n        version: '2'\n      height: 90\n      id: '1736500000081'\n      position:\n        x: 930\n        y: 700\n      positionAbsolute:\n        x: 930\n        y: 700\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        advanced_settings:\n          group_enabled: false\n          groups: []\n        desc: \u5168\u30d6\u30e9\u30f3\u30c1\u306e\u7d50\u679c\u3092\u7d71\u5408\n        output_type: string\n        selected: false\n        title: Result Aggregator\n        type: variable-aggregator\n        variables:\n        - - '1736500000020'\n          - text\n        - - '1736500000030'\n          - text\n        - - '1736500000040'\n          - text\n        - - '1736500000050'\n          - text\n        - - '1736500000060'\n          - text\n        - - '1736500000070'\n          - text\n        - - '1736500000075'\n          - text\n        - - '1736500000080'\n          - text\n        - - '1736500000090'\n          - text\n        - - '1736500000100'\n          - text\n      height: 250\n      id: '1736500000200'\n      position:\n        x: 1230\n        y: 380\n      positionAbsolute:\n        x: 1230\n        y: 380\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1736500000200.output#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables:\n        - value_selector:\n          - '1736500000200'\n          - output\n          variable: output\n      height: 107\n      id: '1736500000300'\n      position:\n        x: 1530\n        y: 430\n      positionAbsolute:\n        x: 1530\n        y: 430\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 0\n      y: 0\n      zoom: 0.7\n  rag_pipeline_variables: []\n"}
