workflows/speckit-v6/workflow.yml
{"data": "app:\n  description: SpecKit v6 - GitHub spec-kit準拠実装\n  icon: 🤖\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: SpecKit v6\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius/bedrock:0.0.57@b7fb0414c4e64004a36c3141cb8d9a249d949013bb21efbce34918e71cce5051\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables:\n  - description: プロジェクト原則（バージョン管理）\n    id: a1b2c3d4-0001-4000-8000-000000000001\n    name: constitution\n    selector:\n    - conversation\n    - constitution\n    value: ''\n    value_type: string\n  - description: 要件仕様書（spec.md形式）\n    id: a1b2c3d4-0002-4000-8000-000000000002\n    name: specification\n    selector:\n    - conversation\n    - specification\n    value: ''\n    value_type: string\n  - description: 明確化セッション状態（質問カウント、回答履歴）\n    id: a1b2c3d4-0003-4000-8000-000000000003\n    name: clarify_state\n    selector:\n    - conversation\n    - clarify_state\n    value: '{\"question_count\": 0, \"answers\": []}'\n    value_type: string\n  - description: 技術実装計画（plan.md形式）\n    id: a1b2c3d4-0004-4000-8000-000000000004\n    name: implementation_plan\n    selector:\n    - conversation\n    - implementation_plan\n    value: ''\n    value_type: string\n  - description: タスクリスト（tasks.md形式）\n    id: a1b2c3d4-0005-4000-8000-000000000005\n    name: task_list\n    selector:\n    - conversation\n    - task_list\n    value: ''\n    value_type: string\n  - description: 分析レポート（analyze結果）\n    id: a1b2c3d4-0006-4000-8000-000000000006\n    name: analysis_report\n    selector:\n    - conversation\n    - analysis_report\n    value: ''\n    value_type: string\n  - description: 品質チェックリスト（checklist形式）\n    id: a1b2c3d4-0007-4000-8000-000000000007\n    name: checklist\n    selector:\n    - conversation\n    - checklist\n    value: ''\n    value_type: string\n  - description: 実装進捗状態\n    id: a1b2c3d4-0008-4000-8000-000000000008\n    name: implement_state\n    selector:\n    - conversation\n    - implement_state\n    value: '{\"completed_tasks\": [], \"current_phase\": 0}'\n    value_type: string\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_batch_limit: 10\n        image_file_size_limit: 10\n        single_chunk_attachment_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: '# SpecKit v6 へようこそ! (GitHub spec-kit準拠)\n\n\n      利用可能なコマンド:\n\n      - **constitution**: プロジェクト原則定義（8ステップワークフロー）\n\n      - **specify**: 要件仕様書作成（明確化マーカー付き）\n\n      - **clarify**: 曖昧要件の明確化（最大5問、9カテゴリ分類）\n\n      - **plan**: 技術実装計画（3フェーズ: 研究→設計→報告）\n\n      - **tasks**: タスク分解（[TaskID][P?][Story?]形式）\n\n      - **analyze**: Read-only分析（重大度分類付き）\n\n      - **checklist**: 要件品質チェック（実装テストではない）\n\n      - **implement**: タスク実行（TDDベース）\n\n      - **export**: 成果物エクスポート\n\n      '\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions:\n    - constitution ECサイトを作りたい\n    - specify ユーザー認証システム\n    - clarify\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: if-else\n      id: 1736500000001-1736500000005\n      source: '1736500000001'\n      sourceHandle: source\n      target: '1736500000005'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000005-true-1736500000040\n      source: '1736500000005'\n      sourceHandle: 'true'\n      target: '1736500000040'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: code\n      id: 1736500000005-false-1736500000010\n      source: '1736500000005'\n      sourceHandle: 'false'\n      target: '1736500000010'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: if-else\n      id: 1736500000010-1736500000011\n      source: '1736500000010'\n      sourceHandle: source\n      target: '1736500000011'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-constitution-1736500000020\n      source: '1736500000011'\n      sourceHandle: constitution\n      target: '1736500000020'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-specify-1736500000030\n      source: '1736500000011'\n      sourceHandle: specify\n      target: '1736500000030'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-clarify-1736500000040\n      source: '1736500000011'\n      sourceHandle: clarify\n      target: '1736500000040'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-plan-1736500000050\n      source: '1736500000011'\n      sourceHandle: plan\n      target: '1736500000050'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-tasks-1736500000060\n      source: '1736500000011'\n      sourceHandle: tasks\n      target: '1736500000060'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-analyze-1736500000070\n      source: '1736500000011'\n      sourceHandle: analyze\n      target: '1736500000070'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-checklist-1736500000075\n      source: '1736500000011'\n      sourceHandle: checklist\n      target: '1736500000075'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-implement-1736500000080\n      source: '1736500000011'\n      sourceHandle: implement\n      target: '1736500000080'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-export-1736500000090\n      source: '1736500000011'\n      sourceHandle: export\n      target: '1736500000090'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-false-1736500000100\n      source: '1736500000011'\n      sourceHandle: 'false'\n      target: '1736500000100'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000020-1736500000021\n      source: '1736500000020'\n      sourceHandle: source\n      target: '1736500000021'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000021-1736500000200\n      source: '1736500000021'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000020'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000030-1736500000031\n      source: '1736500000030'\n      sourceHandle: source\n      target: '1736500000031'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000031-1736500000200\n      source: '1736500000031'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000030'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: code\n      id: 1736500000040-1736500000042\n      source: '1736500000040'\n      sourceHandle: source\n      target: '1736500000042'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: assigner\n      id: 1736500000042-1736500000041\n      source: '1736500000042'\n      sourceHandle: source\n      target: '1736500000041'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000041-1736500000200\n      source: '1736500000041'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000040'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000050-1736500000051\n      source: '1736500000050'\n      sourceHandle: source\n      target: '1736500000051'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000051-1736500000200\n      source: '1736500000051'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000050'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000060-1736500000061\n      source: '1736500000060'\n      sourceHandle: source\n      target: '1736500000061'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000061-1736500000200\n      source: '1736500000061'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000060'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000070-1736500000071\n      source: '1736500000070'\n      sourceHandle: source\n      target: '1736500000071'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000071-1736500000200\n      source: '1736500000071'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000070'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000075-1736500000076\n      source: '1736500000075'\n      sourceHandle: source\n      target: '1736500000076'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000076-1736500000200\n      source: '1736500000076'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000075'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000080-1736500000081\n      source: '1736500000080'\n      sourceHandle: source\n      target: '1736500000081'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000081-1736500000200\n      source: '1736500000081'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000080'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1736500000090-1736500000200\n      source: '1736500000090'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000090'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1736500000100-1736500000200\n      source: '1736500000100'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000100'\n      type: custom\n    - data:\n        sourceType: variable-aggregator\n        targetType: answer\n      id: 1736500000200-1736500000300\n      source: '1736500000200'\n      sourceHandle: source\n      target: '1736500000300'\n      targetHandle: target\n      type: custom\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 73\n      id: '1736500000001'\n      position:\n        x: 80\n        y: 400\n      positionAbsolute:\n        x: 80\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: contains\n            value: '\"completed\": false'\n            value_type: constant\n            variable_selector:\n            - conversation\n            - clarify_state\n          - comparison_operator: not contains\n            value: constitution\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: specify\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: plan\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: tasks\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: export\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: analyze\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: checklist\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: implement\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          logical_operator: and\n        desc: clarify中かつユーザー入力がコマンドでない場合、Clarify Handlerへ\n        selected: false\n        title: Clarify State Checker\n        type: if-else\n      height: 376\n      id: '1736500000005'\n      position:\n        x: 200\n        y: 400\n      positionAbsolute:\n        x: 200\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"def main(query: str) -> dict:\\n    q = query.strip().lower()\\n    first_word\\\n          \\ = q.split()[0] if q.split() else \\\"\\\"\\n\\n    commands = [\\\"constitution\\\"\\\n          , \\\"specify\\\", \\\"clarify\\\", \\\"plan\\\", \\\"tasks\\\",\\n               \\\"analyze\\\"\\\n          , \\\"checklist\\\", \\\"implement\\\", \\\"export\\\"]\\n\\n    if first_word in commands:\\n\\\n          \\        return {\\\"command\\\": first_word}\\n\\n    # clarify回答パターン\\n    if\\\n          \\ q in [\\\"a\\\", \\\"b\\\", \\\"c\\\", \\\"d\\\", \\\"e\\\", \\\"はい\\\", \\\"いいえ\\\", \\\"yes\\\", \\\"\\\n          no\\\"]:\\n        return {\\\"command\\\": \\\"clarify\\\"}\\n    if len(q) <= 10:\\n\\\n          \\        return {\\\"command\\\": \\\"clarify\\\"}\\n\\n    return {\\\"command\\\": \\\"\\\n          help\\\"}\\n\"\n        code_language: python3\n        desc: 入力の最初の単語でコマンドを判定\n        outputs:\n          command:\n            children: null\n            type: string\n        selected: false\n        title: Command Extractor\n        type: code\n        variables:\n        - value_selector:\n          - sys\n          - query\n          variable: query\n      height: 80\n      id: '1736500000010'\n      position:\n        x: 380\n        y: 350\n      positionAbsolute:\n        x: 380\n        y: 350\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: constitution\n          conditions:\n          - comparison_operator: is\n            value: constitution\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: specify\n          conditions:\n          - comparison_operator: is\n            value: specify\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: clarify\n          conditions:\n          - comparison_operator: is\n            value: clarify\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: plan\n          conditions:\n          - comparison_operator: is\n            value: plan\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: tasks\n          conditions:\n          - comparison_operator: is\n            value: tasks\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: analyze\n          conditions:\n          - comparison_operator: is\n            value: analyze\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: checklist\n          conditions:\n          - comparison_operator: is\n            value: checklist\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: implement\n          conditions:\n          - comparison_operator: is\n            value: implement\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: export\n          conditions:\n          - comparison_operator: is\n            value: export\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        desc: コマンドに応じてハンドラーにルーティング\n        selected: false\n        title: Command Router\n        type: if-else\n      height: 552\n      id: '1736500000011'\n      position:\n        x: 480\n        y: 350\n      positionAbsolute:\n        x: 480\n        y: 350\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - constitution\n        desc: プロジェクト原則定義（8ステップ）\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.3\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius/bedrock/bedrock\n        prompt_template:\n        - id: f47ac10b-58cc-4372-a567-0e02b2c3d479\n          role: system\n          text: 'あなたはConstitution（プロジェクト憲法）を作成するAIです。\n\n\n            # 絶対禁止\n\n            - \"Feature Specification\", \"User Story\", \"Given/When/Then\" は書かない\n\n            - 「8ステップ」「プロジェクト原則（8ステップ）」という形式は使わない\n\n            - 機能仕様、API仕様、実装詳細は書かない\n\n\n            # 出力形式（必ずこの形式で出力）\n\n\n            ## 質問を返す場合（技術情報が不足している場合）\n\n\n            「[プロジェクト名]ですね！確認させてください。\n\n            1. 想定規模は？（月間PV、ユーザー数など）\n\n            2. 技術スタックの希望は？（言語、フレームワーク、DB）\n\n            3. 重視する品質は？（パフォーマンス、セキュリティ、UXなど）」\n\n\n            ## Constitution生成する場合（技術情報がある場合）\n\n\n            必ず以下の形式で出力してください：\n\n\n            ```\n\n            Constitutionを作成しました！\n\n\n            # [プロジェクト名] Constitution\n\n            Version: 1.0.0\n\n\n            ## Core Principles\n\n            ### I. [原則名]\n\n            - [数値目標を含む具体的な原則]\n\n\n            ### II. [原則名]\n\n            - [数値目標]\n\n\n            ### III. [原則名]\n\n            - [数値目標]\n\n\n            ## Technical Constraints\n\n            - Language: [ユーザー指定]\n\n            - Framework: [ユーザー指定]\n\n            - Database: [ユーザー指定]\n\n            - Hosting: [推奨]\n\n\n            ## Quality Gates\n\n            - テストカバレッジ: 80%以上\n\n            - Lighthouse Score: 90以上\n\n\n            ## Governance\n\n            - Version: 1.0.0\n\n\n            ---\n\n            次のステップ: `specify [機能名]` で機能仕様を作成\n\n            ```\n\n\n            **重要**: ユーザーが指定した技術スタックを必ずTechnical Constraintsに反映すること！\n\n\n            既存Constitution: {{#conversation.constitution#}}\n\n            '\n        - id: 550e8400-e29b-41d4-a716-446655440001\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Constitution Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000020'\n      position:\n        x: 680\n        y: 50\n      positionAbsolute:\n        x: 680\n        y: 50\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: 要件仕様書作成（spec.md形式）\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius/bedrock/bedrock\n        prompt_template:\n        - id: 6ba7b810-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: 'あなたは機能仕様書を作成するアシスタントです。会話調で応答してください。\n\n\n            ## 重要: 既存仕様への追記\n\n\n            既存の仕様書がある場合は、それを保持して新しい機能を追記してください。\n\n            出力は「既存の仕様 + 新しい仕様」の統合形式で出力。\n\n\n            既存の仕様書:\n\n            {{#conversation.specification#}}\n\n\n            ## 判定ルール\n\n\n            入力が「specify」のみ → 質問を返す\n\n            入力が「specify all」または「全機能」 → ECサイトの全機能仕様書を生成\n\n            入力に具体的な機能名がある → その機能の仕様書を追記\n\n\n            ## 出力形式\n\n\n            「了解しました！[機能名]の仕様書を作成/追記します」と前置きしてから出力。\n\n\n            既存仕様がある場合:\n\n            ---\n\n            [既存の仕様をそのまま出力]\n\n\n            [新しい仕様を追記]\n\n            ---\n\n\n            ## 単一機能の仕様書形式\n\n\n            # Feature Specification: [機能名]\n\n\n            ## User Stories\n\n\n            ### Story 1 - [タイトル] (P1)\n\n            **Given** [状態] **When** [操作] **Then** [結果]\n\n\n            ### Story 2 - [タイトル] (P2)\n\n            ...\n\n\n            ## Edge Cases\n\n            - [境界条件]は？\n\n\n            ## Requirements\n\n            - FR-001: [機能要件]\n\n\n            ---\n\n            曖昧な点があれば clarify で明確化できます。\n\n\n            Constitution: {{#conversation.constitution#}}\n\n            '\n        - id: 6ba7b811-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Specify Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000030'\n      position:\n        x: 680\n        y: 150\n      positionAbsolute:\n        x: 680\n        y: 150\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: 曖昧要件の明確化（最大5問）\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius/bedrock/bedrock\n        prompt_template:\n        - id: 6ba7b812-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: 'あなたはspec-kit clarifyの専門家です。仕様書の曖昧点を明確化します。\n\n\n            ## 現在の状態\n\n            clarify_state: {{#conversation.clarify_state#}}\n\n            仕様書: {{#conversation.specification#}}\n\n\n            ## 処理ルール\n\n\n            **question_count が 0 の場合（新規セッション）:**\n\n            - 仕様書を分析し、最重要の曖昧点について質問1を提示\n\n            - 出力末尾に: [STATE:1]\n\n\n            **question_count が 1-4 の場合（回答受信）:**\n\n            - 「✅ Q{N}回答受付: {選択肢}」で開始\n\n            - 仕様書への反映を1文で説明\n\n            - 次の質問を提示\n\n            - 出力末尾に: [STATE:{N+1}]\n\n\n            **question_count が 4 で回答受信（最終）:**\n\n            - 「✅ Q5回答受付: {選択肢}」で開始\n\n            - 「clarifyセッション完了」を宣言\n\n            - 明確化サマリーを出力\n\n            - 出力末尾に: [STATE:5:DONE]\n\n\n            ## 質問形式（厳守）\n\n\n            【{カテゴリ}】(質問 {N}/5)\n\n            Q: {具体的な質問}\n\n\n            A) {選択肢1} ← 推奨\n\n            B) {選択肢2}\n\n            C) {選択肢3}\n\n\n            推奨理由: {1文}\n\n\n            ## 9カテゴリ\n\n            1. Functional Scope 2. Domain Model 3. UX Flow\n\n            4. Non-Functional 5. Integration 6. Edge Cases\n\n            7. Constraints 8. Terminology 9. Completion\n\n\n            日本語で応答。\n\n            '\n        - id: 6ba7b813-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Clarify Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000040'\n      position:\n        x: 680\n        y: 250\n      positionAbsolute:\n        x: 680\n        y: 250\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - implementation_plan\n        desc: 技術実装計画（3フェーズ）\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius/bedrock/bedrock\n        prompt_template:\n        - id: 6ba7b814-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: 'あなたは技術実装計画を作成するアシスタントです。会話調で応答してください。\n\n\n            ## 重要: 既存計画への追記\n\n\n            既存の実装計画がある場合は、それを保持して新しい内容を追記してください。\n\n            出力は「既存の計画 + 新しい計画」の統合形式で出力。\n\n\n            既存の実装計画:\n\n            {{#conversation.implementation_plan#}}\n\n\n            ## 判定ルール\n\n\n            仕様書がない → 「まず specify で仕様書を作成してください」\n\n            仕様書がある → 実装計画を生成/追記\n\n\n            ## 実装計画を生成する場合\n\n\n            **重要**: Constitutionに記載された技術スタックを必ず使用すること！\n\n\n            「実装計画を作成/追記しました！」と前置きしてから：\n\n\n            既存計画がある場合は、既存計画を出力してから新しい内容を追記。\n\n\n            # Implementation Plan: [プロジェクト名]\n\n\n            ## Summary\n\n            [仕様書に基づく概要]\n\n\n            ## Technical Context\n\n            （Constitutionから抽出）\n\n\n            ## Phases\n\n            [フェーズ別の実装計画]\n\n\n            ---\n\n            次は tasks でタスク分解できます。\n\n\n            Constitution: {{#conversation.constitution#}}\n\n            仕様書: {{#conversation.specification#}}\n\n            '\n        - id: 6ba7b815-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Plan Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000050'\n      position:\n        x: 680\n        y: 350\n      positionAbsolute:\n        x: 680\n        y: 350\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - task_list\n        desc: タスク分解（spec-kit形式）\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.6\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius/bedrock/bedrock\n        prompt_template:\n        - id: 6ba7b816-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: 'あなたはタスク分解を行うアシスタントです。会話調で応答してください。\n\n\n            ## 重要: 既存タスクへの追記\n\n\n            既存のタスクリストがある場合は、それを保持して新しいタスクを追記してください。\n\n            タスク番号は既存の最大番号から続けて割り当て。\n\n\n            既存のタスクリスト:\n\n            {{#conversation.task_list#}}\n\n\n            ## 判定ルール\n\n\n            実装計画がない → 「まず plan で実装計画を作成してください」\n\n            実装計画がある → タスクリストを生成/追記\n\n\n            ## タスクリストを生成する場合\n\n\n            「タスクリストを作成/追記しました！」と前置きしてから：\n\n\n            既存タスクがある場合は、既存タスクを出力してから新しいタスクを追記。\n\n\n            # Tasks: [プロジェクト名]\n\n\n            ## Phase N: [フェーズ名]\n\n            - [ ] TXXX [タスク内容] (優先度, ストーリーポイント, 依存)\n\n\n            ---\n\n            [P]は並列実行可能、[US1]等はストーリー番号です。\n\n            次は implement で実装を開始できます。\n\n\n            実装計画: {{#conversation.implementation_plan#}}\n\n            仕様書: {{#conversation.specification#}}\n\n            '\n        - id: 6ba7b817-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Tasks Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000060'\n      position:\n        x: 680\n        y: 450\n      positionAbsolute:\n        x: 680\n        y: 450\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: Read-only分析（重大度分類）\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius/bedrock/bedrock\n        prompt_template:\n        - id: 6ba7b818-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: 'あなたはspec-kit analyzeの専門家です。\n\n            GitHub spec-kitのRead-only分析を実行します。\n\n\n            ## 重要: READ-ONLYモード\n\n            ファイルを**絶対に変更しない**。提案のみ。\n\n\n            ## 6つの検出パス\n\n\n            1. **Duplications** - 重複した要件や定義\n\n            2. **Vague Language** - 「速い」「良い」など測定基準のない表現\n\n            3. **Underspecified** - 詳細が不足している要件\n\n            4. **Constitutional Alignment** - constitution原則との整合性\n\n            5. **Coverage Gaps** - 要件とタスクの未マッピング\n\n            6. **Terminology Inconsistency** - 用語の不統一\n\n\n            ## 重大度分類\n\n\n            | 重大度 | 基準 |\n\n            |--------|------|\n\n            | **CRITICAL** | ベースラインをブロック / constitution MUSTに違反 |\n\n            | **HIGH** | 競合 / セキュリティの曖昧さ |\n\n            | **MEDIUM** | 用語のドリフト |\n\n            | **LOW** | スタイルの問題 |\n\n\n            ## 出力形式\n\n\n            ```markdown\n\n            # Analysis Report\n\n\n            ## Findings (最大50件)\n\n\n            | ID | Category | Severity | Location | Summary | Recommendation |\n\n            |----|----------|----------|----------|---------|----------------|\n\n            | A001 | Vague | HIGH | spec.md §3.2 | 「高速」に指標なし | 応答時間200ms以下を明記 |\n\n\n            ## Coverage Matrix\n\n\n            | Requirement | Tasks | Status |\n\n            |-------------|-------|--------|\n\n            | FR1 | T001, T003 | ✓ |\n\n            | FR2 | - | ⚠ Gap |\n\n\n            ## Constitutional Alignment\n\n\n            - [CRITICAL] 原則3「単一責任」に違反: TaskHandlerが複数責務\n\n\n            ## Unmapped Tasks\n\n            - T015: 仕様書に対応する要件なし\n\n\n            ## Metrics\n\n            - 総要件数: 12\n\n            - カバレッジ: 83%\n\n            - CRITICAL: 1, HIGH: 3, MEDIUM: 5, LOW: 2\n\n\n            ## Next Actions\n\n            1. `clarify` でFR2を詳細化\n\n            2. `tasks` でT015を削除または要件追加\n\n            ```\n\n\n            ## 分析対象:\n\n            - 仕様書: {{#conversation.specification#}}\n\n            - 実装計画: {{#conversation.implementation_plan#}}\n\n            - タスク: {{#conversation.task_list#}}\n\n            - constitution: {{#conversation.constitution#}}\n\n\n            必ず日本語で応答してください。\n\n            '\n        - id: 6ba7b819-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Analyze Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000070'\n      position:\n        x: 680\n        y: 550\n      positionAbsolute:\n        x: 680\n        y: 550\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: 要件品質チェック（実装テストではない）\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius/bedrock/bedrock\n        prompt_template:\n        - id: 6ba7b820-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: 'あなたはspec-kit checklistジェネレーターです。\n\n            以下の**正確なchecklist-template.md形式**でチェックリストを生成してください。\n\n\n            ## 出力形式（この形式に厳密に従うこと）\n\n\n            ```markdown\n\n            # [CHECKLIST TYPE] Checklist: [FEATURE NAME]\n\n\n            **Purpose**: [このチェックリストがカバーする内容]\n\n            **Created**: [YYYY-MM-DD]\n\n            **Feature**: spec.mdへのリンク\n\n\n            ## [Category 1 - 例: Completeness]\n\n\n            - [ ] CHK001 [具体的なチェック項目] [Spec §X.Y]\n\n            - [ ] CHK002 [具体的なチェック項目] [Gap]\n\n            - [ ] CHK003 [具体的なチェック項目] [Ambiguity]\n\n\n            ## [Category 2 - 例: Clarity]\n\n\n            - [ ] CHK004 [具体的なチェック項目] [Spec §X.Y]\n\n            - [ ] CHK005 [具体的なチェック項目] [Conflict: §X vs §Y]\n\n            - [ ] CHK006 [具体的なチェック項目]\n\n\n            ## [Category 3 - 例: Consistency]\n\n\n            - [ ] CHK007 [具体的なチェック項目]\n\n            - [ ] CHK008 [具体的なチェック項目]\n\n\n            ## Notes\n\n\n            - 完了したら `[x]` でマーク\n\n            - コメントや発見事項をインラインで追加\n\n            - 関連リソースやドキュメントへリンク\n\n            - 参照しやすいよう連番でナンバリング\n\n            ```\n\n\n            ## 重要: 要件品質 ≠ 実装テスト\n\n\n            **禁止（実装テスト）:**\n\n            - ❌ 「ボタンが正しくクリックできることを確認」\n\n            - ❌ 「エラーハンドリングが機能することをテスト」\n\n            - ❌ 「Verify」「Test」「Confirm」で始まる項目\n\n\n            **推奨（要件品質）:**\n\n            - ✓ 「エラーシナリオが要件に完全に記載されているか？」\n\n            - ✓ 「''目立つ表示''が具体的なサイズで定量化されているか？」\n\n            - ✓ 「ナビゲーション要件がセクション間で矛盾していないか？」\n\n\n            ## カテゴリ例\n\n\n            ユーザーのリクエストに応じて適切なカテゴリを選択:\n\n            - **Completeness**: 必要な要件がすべて存在するか\n\n            - **Clarity**: 具体的で曖昧さがないか\n\n            - **Consistency**: 仕様書全体で整合性があるか\n\n            - **Measurability**: 客観的に検証可能か\n\n            - **Security**: セキュリティ要件が網羅されているか\n\n            - **Performance**: 性能要件が定義されているか\n\n            - **Accessibility**: アクセシビリティ要件があるか\n\n            - **Edge Cases**: 境界条件が定義されているか\n\n\n            ## マーカー\n\n\n            - `[Spec §X.Y]`: 仕様書のセクション参照\n\n            - `[Gap]`: 仕様に欠けている\n\n            - `[Ambiguity]`: 曖昧な表現\n\n            - `[Conflict: §X vs §Y]`: 矛盾がある\n\n\n            ## 対象仕様書:\n\n            {{#conversation.specification#}}\n\n\n            ユーザーのリクエスト（例: \"security\", \"ux\", \"performance\"）に基づいて\n\n            適切なチェックリストを生成してください。\n\n            必ず日本語で応答してください。\n\n            '\n        - id: 6ba7b821-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Checklist Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 132\n      id: '1736500000075'\n      position:\n        x: 680\n        y: 620\n      positionAbsolute:\n        x: 680\n        y: 620\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - task_list\n        desc: タスク実行（TDDベース）\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.6\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius/bedrock/bedrock\n        prompt_template:\n        - id: 6ba7b81a-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: 'あなたはspec-kit implementの専門家です。\n\n            GitHub spec-kitの実装ワークフローに従います。\n\n\n            ## Phase 1: チェックリスト検証\n\n\n            チェックリストが存在する場合:\n\n            ```\n\n            | Checklist | Total | Complete | Status |\n\n            |-----------|-------|----------|--------|\n\n            | ux.md     | 10    | 8        | ⚠ 2 incomplete |\n\n            ```\n\n\n            未完了項目がある場合:\n\n            「2件の未完了チェック項目があります。続行しますか？」\n\n\n            ## Phase 2: コンテキスト読込\n\n\n            以下を参照:\n\n            - tasks.md (タスクリスト)\n\n            - plan.md (アーキテクチャ)\n\n            - data-model.md (オプション)\n\n            - contracts/ (オプション)\n\n\n            ## Phase 3: プロジェクトセットアップ\n\n\n            .gitignore等の設定ファイルを確認/生成。\n\n\n            ## Phase 4: タスク解析\n\n\n            タスクファイルから抽出:\n\n            - フェーズ\n\n            - 依存関係\n\n            - 並列マーカー `[P]`\n\n\n            ## Phase 5-7: 実装 & 追跡\n\n\n            **TDDワークフロー:**\n\n            1. テストを先に書く\n\n            2. 実装\n\n            3. テスト実行\n\n            4. タスクを`[X]`でマーク\n\n\n            **進捗報告:**\n\n            ```\n\n            ## Progress Report\n\n\n            Phase: Foundation (2/3)\n\n            - [X] T001: Database setup\n\n            - [X] T002: Model creation\n\n            - [ ] T003: API endpoints (in progress)\n\n\n            Next: T003 - Create user endpoints\n\n            ```\n\n\n            ## Phase 8: 検証\n\n\n            - 全タスク完了確認\n\n            - テスト通過確認\n\n            - 仕様との整合性確認\n\n\n            ## タスクリスト:\n\n            {{#conversation.task_list#}}\n\n\n            ## 実装計画:\n\n            {{#conversation.implementation_plan#}}\n\n\n            ## 実装状態:\n\n            {{#conversation.implement_state#}}\n\n\n            必ず日本語で応答してください。\n\n            '\n        - id: 6ba7b81b-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Implement Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000080'\n      position:\n        x: 680\n        y: 700\n      positionAbsolute:\n        x: 680\n        y: 700\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - constitution\n        desc: 成果物のエクスポート\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.3\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius/bedrock/bedrock\n        prompt_template:\n        - id: 6ba7b81c-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: 'あなたは成果物をエクスポートするアシスタントです。会話調で応答してください。\n\n\n            「現在の成果物をまとめました！」と前置きしてから出力。\n\n\n            ## 出力形式\n\n\n            # プロジェクト成果物\n\n\n            ## 進捗サマリー\n\n            - Constitution: [あれば○、なければ×]\n\n            - Specification: [あれば○、なければ×]\n\n            - Plan: [あれば○、なければ×]\n\n            - Tasks: [あれば○、なければ×]\n\n\n            ## 詳細\n\n\n            ### 1. Constitution\n\n            {{#conversation.constitution#}}\n\n            （空なら「未作成 - constitution コマンドで作成」）\n\n\n            ### 2. Specification\n\n            {{#conversation.specification#}}\n\n            （空なら「未作成 - specify コマンドで作成」）\n\n\n            ### 3. Plan\n\n            {{#conversation.implementation_plan#}}\n\n            （空なら「未作成 - plan コマンドで作成」）\n\n\n            ### 4. Tasks\n\n            {{#conversation.task_list#}}\n\n            （空なら「未作成 - tasks コマンドで作成」）\n\n\n            ---\n\n            未作成のものがあれば、該当コマンドで作成できます！\n\n            '\n        - id: 6ba7b81d-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Export Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000090'\n      position:\n        x: 680\n        y: 780\n      positionAbsolute:\n        x: 680\n        y: 780\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ヘルプとエラー処理\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius/bedrock/bedrock\n        prompt_template:\n        - id: 6ba7b81e-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: 'あなたはSpecKit v6のヘルプ担当AIです。\n\n            ユーザーの現在の進捗を確認し、次のステップを案内します。\n\n\n            # 現在の進捗状況\n\n\n            Constitution: {{#conversation.constitution#}}\n\n            Specification: {{#conversation.specification#}}\n\n            Plan: {{#conversation.implementation_plan#}}\n\n            Tasks: {{#conversation.task_list#}}\n\n\n            # 進捗判定ルール\n\n\n            1. Constitutionが空 → 「まず constitution [プロジェクト名] でプロジェクト原則を定義しましょう」\n\n            2. Constitutionあり、Specificationが空 → 「次は specify [機能名] で仕様を作成しましょう」\n\n            3. Specificationあり、Planが空 → 「仕様ができました！ plan で実装計画を立てましょう」\n\n            4. Planあり、Tasksが空 → 「計画ができました！ tasks でタスク分解しましょう」\n\n            5. Tasksあり → 「準備完了！ implement で実装を開始できます」\n\n\n            # 利用可能なコマンド\n\n\n            | コマンド | 説明 | 例 |\n\n            |----------|------|-----|\n\n            | constitution | プロジェクト原則定義 | constitution ECサイト |\n\n            | specify | 機能仕様作成 | specify ユーザー認証 |\n\n            | clarify | 曖昧点の明確化 | clarify |\n\n            | plan | 実装計画 | plan |\n\n            | tasks | タスク分解 | tasks |\n\n            | export | 成果物エクスポート | export |\n\n\n            # 出力形式\n\n\n            必ず以下の形式で回答してください：\n\n\n            ## 現在の進捗\n\n            - Constitution: ○/×\n\n            - Specification: ○/×\n\n            - Plan: ○/×\n\n            - Tasks: ○/×\n\n\n            ## 次のステップ\n\n            [進捗に基づいた具体的な提案]\n\n\n            ## コマンド例\n\n            ```\n\n            [次に入力すべきコマンド例]\n\n            ```\n\n            '\n        - id: 6ba7b81f-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Help Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000100'\n      position:\n        x: 680\n        y: 860\n      positionAbsolute:\n        x: 680\n        y: 860\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: Constitutionを会話変数に保存\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000020'\n          - text\n          variable_selector:\n          - conversation\n          - constitution\n        selected: false\n        title: Save Constitution\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000021'\n      position:\n        x: 930\n        y: 50\n      positionAbsolute:\n        x: 930\n        y: 50\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: Specificationを会話変数に保存\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000030'\n          - text\n          variable_selector:\n          - conversation\n          - specification\n        selected: false\n        title: Save Specification\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000031'\n      position:\n        x: 930\n        y: 150\n      positionAbsolute:\n        x: 930\n        y: 150\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"import re\\nimport json\\n\\ndef main(llm_output: str, current_state:\\\n          \\ str) -> dict:\\n    # [STATE:N] or [STATE:N:DONE] パターンを検出\\n    match =\\\n          \\ re.search(r'\\\\[STATE:(\\\\d+)(?::DONE)?\\\\]', llm_output)\\n\\n    if match:\\n\\\n          \\        count = int(match.group(1))\\n        done = ':DONE' in llm_output\\n\\\n          \\n        # 現在の回答履歴を取得\\n        try:\\n            state = json.loads(current_state)\\n\\\n          \\            answers = state.get('answers', [])\\n        except:\\n     \\\n          \\       answers = []\\n\\n        new_state = {\\n            \\\"question_count\\\"\\\n          : count,\\n            \\\"answers\\\": answers,\\n            \\\"completed\\\":\\\n          \\ done\\n        }\\n        return {\\\"state_json\\\": json.dumps(new_state,\\\n          \\ ensure_ascii=False)}\\n\\n    # マーカーなし: 質問1が出された（新規セッション開始）\\n    # \\\"質問\\\n          \\ 1/5\\\" を検出\\n    if '質問 1/5' in llm_output or '(質問 1/5)' in llm_output:\\n\\\n          \\        return {\\\"state_json\\\": '{\\\"question_count\\\": 1, \\\"answers\\\": [],\\\n          \\ \\\"completed\\\": false}'}\\n\\n    # フォールバック: 現在の状態を維持\\n    return {\\\"state_json\\\"\\\n          : current_state}\\n\"\n        code_language: python3\n        desc: LLM出力から[STATE:N]を抽出してJSON化\n        outputs:\n          state_json:\n            children: null\n            type: string\n        selected: false\n        title: Extract Clarify State\n        type: code\n        variables:\n        - value_selector:\n          - '1736500000040'\n          - text\n          variable: llm_output\n        - value_selector:\n          - conversation\n          - clarify_state\n          variable: current_state\n      height: 96\n      id: '1736500000042'\n      position:\n        x: 880\n        y: 250\n      positionAbsolute:\n        x: 880\n        y: 250\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: Clarify状態を会話変数に保存\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000042'\n          - state_json\n          variable_selector:\n          - conversation\n          - clarify_state\n        selected: false\n        title: Save Clarify State\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000041'\n      position:\n        x: 1030\n        y: 250\n      positionAbsolute:\n        x: 1030\n        y: 250\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: 実装計画を会話変数に保存\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000050'\n          - text\n          variable_selector:\n          - conversation\n          - implementation_plan\n        selected: false\n        title: Save Plan\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000051'\n      position:\n        x: 930\n        y: 350\n      positionAbsolute:\n        x: 930\n        y: 350\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: タスクリストを会話変数に保存\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000060'\n          - text\n          variable_selector:\n          - conversation\n          - task_list\n        selected: false\n        title: Save Tasks\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000061'\n      position:\n        x: 930\n        y: 450\n      positionAbsolute:\n        x: 930\n        y: 450\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: 分析レポートを会話変数に保存\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000070'\n          - text\n          variable_selector:\n          - conversation\n          - analysis_report\n        selected: false\n        title: Save Analysis\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000071'\n      position:\n        x: 930\n        y: 550\n      positionAbsolute:\n        x: 930\n        y: 550\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: チェックリストを会話変数に保存\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000075'\n          - text\n          variable_selector:\n          - conversation\n          - checklist\n        selected: false\n        title: Save Checklist\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000076'\n      position:\n        x: 930\n        y: 620\n      positionAbsolute:\n        x: 930\n        y: 620\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: 実装状態を会話変数に保存\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000080'\n          - text\n          variable_selector:\n          - conversation\n          - implement_state\n        selected: false\n        title: Save Implement\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000081'\n      position:\n        x: 930\n        y: 700\n      positionAbsolute:\n        x: 930\n        y: 700\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        advanced_settings:\n          group_enabled: false\n          groups: []\n        desc: 全ブランチの結果を統合\n        output_type: string\n        selected: false\n        title: Result Aggregator\n        type: variable-aggregator\n        variables:\n        - - '1736500000020'\n          - text\n        - - '1736500000030'\n          - text\n        - - '1736500000040'\n          - text\n        - - '1736500000050'\n          - text\n        - - '1736500000060'\n          - text\n        - - '1736500000070'\n          - text\n        - - '1736500000075'\n          - text\n        - - '1736500000080'\n          - text\n        - - '1736500000090'\n          - text\n        - - '1736500000100'\n          - text\n      height: 371\n      id: '1736500000200'\n      position:\n        x: 1230\n        y: 380\n      positionAbsolute:\n        x: 1230\n        y: 380\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#1736500000200.output#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables:\n        - value_selector:\n          - '1736500000200'\n          - output\n          variable: output\n      height: 103\n      id: '1736500000300'\n      position:\n        x: 1530\n        y: 430\n      positionAbsolute:\n        x: 1530\n        y: 430\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    viewport:\n      x: -504.70000000000005\n      y: 115.44999999999999\n      zoom: 0.7\n  rag_pipeline_variables: []\n"}