workflows/speckit-v12/workflow.yml
{"data":"app:\n  description: SpecKit v12 - \u30ec\u30a4\u30a2\u30a6\u30c8\u6574\u7406\u7248\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: advanced-chat\n  name: SpecKit v12\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/bedrock:0.0.57@b7fb0414c4e64004a36c3141cb8d9a249d949013bb21efbce34918e71cce5051\n    version: null\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/tavily:0.1.2@aa7a8744b2ccf3a7aec818da6c504997a6319b29040e541bfc73b4fbaa9e98d9\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables:\n  - description: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\uff08\u30d0\u30fc\u30b8\u30e7\u30f3\u7ba1\u7406\uff09\n    id: a1b2c3d4-0001-4000-8000-000000000001\n    name: constitution\n    selector:\n    - conversation\n    - constitution\n    value: ''\n    value_type: string\n  - description: \u8981\u4ef6\u4ed5\u69d8\u66f8\uff08spec.md\u5f62\u5f0f\uff09\n    id: a1b2c3d4-0002-4000-8000-000000000002\n    name: specification\n    selector:\n    - conversation\n    - specification\n    value: ''\n    value_type: string\n  - description: \u660e\u78ba\u5316\u30bb\u30c3\u30b7\u30e7\u30f3\u72b6\u614b\uff08\u8cea\u554f\u30ab\u30a6\u30f3\u30c8\u3001\u56de\u7b54\u5c65\u6b74\uff09\n    id: a1b2c3d4-0003-4000-8000-000000000003\n    name: clarify_state\n    selector:\n    - conversation\n    - clarify_state\n    value: '{\"question_count\": 0, \"answers\": []}'\n    value_type: string\n  - description: \u6280\u8853\u5b9f\u88c5\u8a08\u753b\uff08plan.md\u5f62\u5f0f\uff09\n    id: a1b2c3d4-0004-4000-8000-000000000004\n    name: implementation_plan\n    selector:\n    - conversation\n    - implementation_plan\n    value: ''\n    value_type: string\n  - description: \u30bf\u30b9\u30af\u30ea\u30b9\u30c8\uff08tasks.md\u5f62\u5f0f\uff09\n    id: a1b2c3d4-0005-4000-8000-000000000005\n    name: task_list\n    selector:\n    - conversation\n    - task_list\n    value: ''\n    value_type: string\n  - description: \u5206\u6790\u30ec\u30dd\u30fc\u30c8\uff08analyze\u7d50\u679c\uff09\n    id: a1b2c3d4-0006-4000-8000-000000000006\n    name: analysis_report\n    selector:\n    - conversation\n    - analysis_report\n    value: ''\n    value_type: string\n  - description: \u54c1\u8cea\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\uff08checklist\u5f62\u5f0f\uff09\n    id: a1b2c3d4-0007-4000-8000-000000000007\n    name: checklist\n    selector:\n    - conversation\n    - checklist\n    value: ''\n    value_type: string\n  - description: Constitution\u8cea\u554f\u30bb\u30c3\u30b7\u30e7\u30f3\u72b6\u614b\n    id: a1b2c3d4-0009-4000-8000-000000000009\n    name: constitution_state\n    selector:\n    - conversation\n    - constitution_state\n    value: '{\"awaiting_answer\": false, \"question_asked\": \"\"}'\n    value_type: string\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_batch_limit: 10\n        image_file_size_limit: 10\n        single_chunk_attachment_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: '# SpecKit v11 \u3078\u3088\u3046\u3053\u305d! (\u5168\u30b3\u30de\u30f3\u30c9\u691c\u7d22\u7d71\u5408\u7248)\n\n\n      \u5229\u7528\u53ef\u80fd\u306a\u30b3\u30de\u30f3\u30c9:\n\n      - **constitution**: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\u5b9a\u7fa9 \u2192 \u7af6\u5408\u8abf\u67fb \u2192 \u6a5f\u80fd\u63d0\u6848\n\n      - **specify**: \u8981\u4ef6\u4ed5\u69d8\u66f8\u4f5c\u6210\n\n      - **clarify**: \u66d6\u6627\u8981\u4ef6\u306e\u660e\u78ba\u5316\uff08\u63a8\u5968\u30aa\u30d7\u30b7\u30e7\u30f3\u4ed8\u304d\uff09\n\n      - **plan**: \u6280\u8853\u5b9f\u88c5\u8a08\u753b\uff08\u4e0d\u660e\u306a\u6280\u8853\u306f\u81ea\u52d5\u3067Web\u691c\u7d22\uff09\n\n      - **tasks**: \u30bf\u30b9\u30af\u5206\u89e3\n\n      - **analyze**: Read-only\u5206\u6790\n\n      - **checklist**: \u8981\u4ef6\u54c1\u8cea\u30c1\u30a7\u30c3\u30af\n\n      - **export**: \u6210\u679c\u7269\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\n\n\n      \ud83d\udca1 constitution\u306e\u5f8c\u3001\u7af6\u5408\u88fd\u54c1\u3092\u81ea\u52d5\u8abf\u67fb\u3057\u3066\u6a5f\u80fd\u3092\u63d0\u6848\u3057\u307e\u3059\u3002\n\n      '\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions:\n    - constitution EC\u30b5\u30a4\u30c8\u3092\u4f5c\u308a\u305f\u3044\n    - specify \u30e6\u30fc\u30b6\u30fc\u8a8d\u8a3c\u30b7\u30b9\u30c6\u30e0\n    - plan React Server Components\u3067\u5b9f\u88c5\u3057\u305f\u3044\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: if-else\n      id: 1736500000001-1736500000005\n      source: '1736500000001'\n      sourceHandle: source\n      target: '1736500000005'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000005-true-1736500000040\n      source: '1736500000005'\n      sourceHandle: 'true'\n      target: '1736500000040'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: code\n      id: 1736500000005-false-1736500000010\n      source: '1736500000005'\n      sourceHandle: 'false'\n      target: '1736500000010'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: if-else\n      id: 1736500000010-1736500000011\n      source: '1736500000010'\n      sourceHandle: source\n      target: '1736500000011'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-constitution-1736500000020\n      source: '1736500000011'\n      sourceHandle: constitution\n      target: '1736500000020'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-specify-1736500000030\n      source: '1736500000011'\n      sourceHandle: specify\n      target: '1736500000030'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-clarify-1736500000040\n      source: '1736500000011'\n      sourceHandle: clarify\n      target: '1736500000040'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-plan-1736500000050\n      source: '1736500000011'\n      sourceHandle: plan\n      target: '1736500000050'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-tasks-1736500000060\n      source: '1736500000011'\n      sourceHandle: tasks\n      target: '1736500000060'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-analyze-1736500000070\n      source: '1736500000011'\n      sourceHandle: analyze\n      target: '1736500000070'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-checklist-1736500000075\n      source: '1736500000011'\n      sourceHandle: checklist\n      target: '1736500000075'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-export-1736500000090\n      source: '1736500000011'\n      sourceHandle: export\n      target: '1736500000090'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-false-1736500000100\n      source: '1736500000011'\n      sourceHandle: 'false'\n      target: '1736500000100'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000030-1736500000031\n      source: '1736500000030'\n      sourceHandle: source\n      target: '1736500000031'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: code\n      id: 1736500000031-1736500000032\n      source: '1736500000031'\n      sourceHandle: source\n      target: '1736500000032'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: if-else\n      id: 1736500000032-1736500000033\n      source: '1736500000032'\n      sourceHandle: source\n      target: '1736500000033'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: tool\n      id: 1736500000033-true-1736500000034\n      source: '1736500000033'\n      sourceHandle: 'true'\n      target: '1736500000034'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: tool\n        targetType: llm\n      id: 1736500000034-1736500000035\n      source: '1736500000034'\n      sourceHandle: source\n      target: '1736500000035'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1736500000035-1736500000036\n      source: '1736500000035'\n      sourceHandle: source\n      target: '1736500000036'\n      targetHandle: with-search\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: variable-aggregator\n      id: 1736500000033-false-1736500000036\n      source: '1736500000033'\n      sourceHandle: 'false'\n      target: '1736500000036'\n      targetHandle: no-search\n      type: custom\n    - data:\n        sourceType: variable-aggregator\n        targetType: variable-aggregator\n      id: 1736500000036-1736500000200\n      source: '1736500000036'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000030'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: code\n      id: 1736500000040-1736500000042\n      source: '1736500000040'\n      sourceHandle: source\n      target: '1736500000042'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: assigner\n      id: 1736500000042-1736500000041\n      source: '1736500000042'\n      sourceHandle: source\n      target: '1736500000041'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: code\n      id: 1736500000041-1736500000043\n      source: '1736500000041'\n      sourceHandle: source\n      target: '1736500000043'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: if-else\n      id: 1736500000043-1736500000044\n      source: '1736500000043'\n      sourceHandle: source\n      target: '1736500000044'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: tool\n      id: 1736500000044-true-1736500000045\n      source: '1736500000044'\n      sourceHandle: 'true'\n      target: '1736500000045'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: tool\n        targetType: llm\n      id: 1736500000045-1736500000046\n      source: '1736500000045'\n      sourceHandle: source\n      target: '1736500000046'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1736500000046-1736500000047\n      source: '1736500000046'\n      sourceHandle: source\n      target: '1736500000047'\n      targetHandle: with-search\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: variable-aggregator\n      id: 1736500000044-false-1736500000047\n      source: '1736500000044'\n      sourceHandle: 'false'\n      target: '1736500000047'\n      targetHandle: no-search\n      type: custom\n    - data:\n        sourceType: variable-aggregator\n        targetType: variable-aggregator\n      id: 1736500000047-1736500000200\n      source: '1736500000047'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000040'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: code\n      id: 1736500000050-1736500000052\n      source: '1736500000050'\n      sourceHandle: source\n      target: '1736500000052'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: if-else\n      id: 1736500000052-1736500000053\n      source: '1736500000052'\n      sourceHandle: source\n      target: '1736500000053'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: tool\n      id: 1736500000053-true-1736500000054\n      source: '1736500000053'\n      sourceHandle: 'true'\n      target: '1736500000054'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: variable-aggregator\n      id: 1736500000053-false-1736500000056\n      source: '1736500000053'\n      sourceHandle: 'false'\n      target: '1736500000056'\n      targetHandle: no-search\n      type: custom\n    - data:\n        sourceType: tool\n        targetType: llm\n      id: 1736500000054-1736500000055\n      source: '1736500000054'\n      sourceHandle: source\n      target: '1736500000055'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1736500000055-1736500000056\n      source: '1736500000055'\n      sourceHandle: source\n      target: '1736500000056'\n      targetHandle: with-search\n      type: custom\n    - data:\n        sourceType: variable-aggregator\n        targetType: assigner\n      id: 1736500000056-1736500000051\n      source: '1736500000056'\n      sourceHandle: source\n      target: '1736500000051'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000051-1736500000200\n      source: '1736500000051'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000050'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000060-1736500000061\n      source: '1736500000060'\n      sourceHandle: source\n      target: '1736500000061'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: variable-aggregator\n      id: 1736500000061-1736500000200\n      source: '1736500000061'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000060'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000070-1736500000071\n      source: '1736500000070'\n      sourceHandle: source\n      target: '1736500000071'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: code\n      id: 1736500000071-1736500000072\n      source: '1736500000071'\n      sourceHandle: source\n      target: '1736500000072'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: if-else\n      id: 1736500000072-1736500000073\n      source: '1736500000072'\n      sourceHandle: source\n      target: '1736500000073'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: tool\n      id: 1736500000073-true-1736500000074\n      source: '1736500000073'\n      sourceHandle: 'true'\n      target: '1736500000074'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: tool\n        targetType: llm\n      id: 1736500000074-1736500000078\n      source: '1736500000074'\n      sourceHandle: source\n      target: '1736500000078'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1736500000078-1736500000079\n      source: '1736500000078'\n      sourceHandle: source\n      target: '1736500000079'\n      targetHandle: with-search\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: variable-aggregator\n      id: 1736500000073-false-1736500000079\n      source: '1736500000073'\n      sourceHandle: 'false'\n      target: '1736500000079'\n      targetHandle: no-search\n      type: custom\n    - data:\n        sourceType: variable-aggregator\n        targetType: variable-aggregator\n      id: 1736500000079-1736500000200\n      source: '1736500000079'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000070'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000075-1736500000076\n      source: '1736500000075'\n      sourceHandle: source\n      target: '1736500000076'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: code\n      id: 1736500000076-1736500000080\n      source: '1736500000076'\n      sourceHandle: source\n      target: '1736500000080'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: if-else\n      id: 1736500000080-1736500000081\n      source: '1736500000080'\n      sourceHandle: source\n      target: '1736500000081'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: tool\n      id: 1736500000081-true-1736500000082\n      source: '1736500000081'\n      sourceHandle: 'true'\n      target: '1736500000082'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: tool\n        targetType: llm\n      id: 1736500000082-1736500000083\n      source: '1736500000082'\n      sourceHandle: source\n      target: '1736500000083'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1736500000083-1736500000084\n      source: '1736500000083'\n      sourceHandle: source\n      target: '1736500000084'\n      targetHandle: with-search\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: variable-aggregator\n      id: 1736500000081-false-1736500000084\n      source: '1736500000081'\n      sourceHandle: 'false'\n      target: '1736500000084'\n      targetHandle: no-search\n      type: custom\n    - data:\n        sourceType: variable-aggregator\n        targetType: variable-aggregator\n      id: 1736500000084-1736500000200\n      source: '1736500000084'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000075'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1736500000090-1736500000200\n      source: '1736500000090'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000090'\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1736500000100-1736500000200\n      source: '1736500000100'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: '1736500000100'\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-status-1736500000100\n      source: '1736500000011'\n      sourceHandle: status\n      target: '1736500000100'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736500000011-help-1736500000100\n      source: '1736500000011'\n      sourceHandle: help\n      target: '1736500000100'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: assigner\n      id: 1736500000022-1736500000023\n      source: '1736500000022'\n      sourceHandle: source\n      target: '1736500000023'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: if-else\n      id: 1736500000023-1736500000024\n      source: '1736500000023'\n      sourceHandle: source\n      target: '1736500000024'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: tool\n      id: 1736500000024-true-1736500000025\n      source: '1736500000024'\n      sourceHandle: 'true'\n      target: '1736500000025'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: code\n      id: 1736500000024-false-1736500000027\n      source: '1736500000024'\n      sourceHandle: 'false'\n      target: '1736500000027'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: variable-aggregator\n      id: 1736500000027-1736500000200\n      source: '1736500000027'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: no-research\n      type: custom\n    - data:\n        sourceType: tool\n        targetType: llm\n      id: 1736500000025-1736500000026\n      source: '1736500000025'\n      sourceHandle: source\n      target: '1736500000026'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-aggregator\n      id: 1736500000026-1736500000200\n      source: '1736500000026'\n      sourceHandle: source\n      target: '1736500000200'\n      targetHandle: with-research\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: assigner\n      id: 1736500000020-1736500000021\n      source: '1736500000020'\n      sourceHandle: source\n      target: '1736500000021'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: assigner\n        targetType: code\n      id: 1736500000021-1736500000022\n      source: '1736500000021'\n      sourceHandle: source\n      target: '1736500000022'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: variable-aggregator\n        targetType: code\n      id: 1736500000200-1736500000250\n      source: '1736500000200'\n      sourceHandle: source\n      target: '1736500000250'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: code\n        targetType: answer\n      id: 1736500000250-1736500000300\n      source: '1736500000250'\n      sourceHandle: source\n      target: '1736500000300'\n      targetHandle: target\n      type: custom\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 73\n      id: '1736500000001'\n      position:\n        x: 0\n        y: 0\n      positionAbsolute:\n        x: 0\n        y: 0\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: contains\n            value: '\"completed\": false'\n            value_type: constant\n            variable_selector:\n            - conversation\n            - clarify_state\n          - comparison_operator: not contains\n            value: constitution\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: specify\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: plan\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: tasks\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: export\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: analyze\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          - comparison_operator: not contains\n            value: checklist\n            value_type: constant\n            variable_selector:\n            - sys\n            - query\n          logical_operator: and\n        desc: clarify\u4e2d\u304b\u3064\u30e6\u30fc\u30b6\u30fc\u5165\u529b\u304c\u30b3\u30de\u30f3\u30c9\u3067\u306a\u3044\u5834\u5408\u3001Clarify Handler\u3078\n        selected: false\n        title: Clarify State Checker\n        type: if-else\n      height: 350\n      id: '1736500000005'\n      position:\n        x: 700\n        y: 450\n      positionAbsolute:\n        x: 700\n        y: 450\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"import unicodedata\\nimport json\\n\\ndef main(query: str, clarify_state:\\\n          \\ str, constitution_state: str) -> dict:\\n    q = ''.join(c for c in query\\\n          \\ if unicodedata.category(c) != 'Cf')\\n    q = q.strip()\\n    q_lower =\\\n          \\ q.lower()\\n\\n    if not q or q.isspace():\\n        return {\\\"command\\\"\\\n          : \\\"help\\\", \\\"error\\\": \\\"empty_input\\\"}\\n\\n    first_word = q_lower.split()[0]\\\n          \\ if q_lower.split() else \\\"\\\"\\n\\n    valid_commands = [\\\"constitution\\\"\\\n          , \\\"specify\\\", \\\"clarify\\\", \\\"plan\\\", \\\"tasks\\\",\\n                     \\\n          \\ \\\"analyze\\\", \\\"checklist\\\", \\\"export\\\", \\\"help\\\", \\\"status\\\"]\\n\\n    try:\\n\\\n          \\        const_state = json.loads(constitution_state) if constitution_state\\\n          \\ else {}\\n        awaiting_constitution = const_state.get(\\\"awaiting_answer\\\"\\\n          , False)\\n    except:\\n        awaiting_constitution = False\\n\\n    if awaiting_constitution\\\n          \\ and first_word not in valid_commands:\\n        return {\\\"command\\\": \\\"\\\n          constitution\\\", \\\"error\\\": \\\"\\\"}\\n\\n    if first_word in valid_commands:\\n\\\n          \\        return {\\\"command\\\": first_word, \\\"error\\\": \\\"\\\"}\\n\\n    try:\\n\\\n          \\        state = json.loads(clarify_state) if clarify_state else {}\\n  \\\n          \\      in_clarify = state.get(\\\"question_count\\\", 0) > 0 and not state.get(\\\"\\\n          completed\\\", False)\\n    except:\\n        in_clarify = False\\n\\n    if in_clarify:\\n\\\n          \\        if q_lower in [\\\"a\\\", \\\"b\\\", \\\"c\\\", \\\"d\\\", \\\"e\\\", \\\"yes\\\", \\\"recommended\\\"\\\n          , \\\"suggested\\\", \\\"\u306f\u3044\\\", \\\"\u63a8\u5968\\\"]:\\n            return {\\\"command\\\": \\\"clarify\\\"\\\n          , \\\"error\\\": \\\"\\\"}\\n        if len(q) <= 50:\\n            return {\\\"command\\\"\\\n          : \\\"clarify\\\", \\\"error\\\": \\\"\\\"}\\n\\n    return {\\\"command\\\": \\\"help\\\", \\\"\\\n          error\\\": f\\\"unknown_command:{first_word}\\\"}\\n\"\n        code_language: python3\n        desc: \u5165\u529b\u306e\u6700\u521d\u306e\u5358\u8a9e\u3067\u30b3\u30de\u30f3\u30c9\u3092\u5224\u5b9a\n        outputs:\n          command:\n            children: null\n            type: string\n          error:\n            children: null\n            type: string\n        selected: false\n        title: Command Extractor\n        type: code\n        variables:\n        - value_selector:\n          - sys\n          - query\n          variable: query\n        - value_selector:\n          - conversation\n          - clarify_state\n          variable: clarify_state\n        - value_selector:\n          - conversation\n          - constitution_state\n          variable: constitution_state\n      height: 80\n      id: '1736500000010'\n      position:\n        x: 0\n        y: 180\n      positionAbsolute:\n        x: 0\n        y: 180\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: constitution\n          conditions:\n          - comparison_operator: is\n            value: constitution\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: specify\n          conditions:\n          - comparison_operator: is\n            value: specify\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: clarify\n          conditions:\n          - comparison_operator: is\n            value: clarify\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: plan\n          conditions:\n          - comparison_operator: is\n            value: plan\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: tasks\n          conditions:\n          - comparison_operator: is\n            value: tasks\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: analyze\n          conditions:\n          - comparison_operator: is\n            value: analyze\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: checklist\n          conditions:\n          - comparison_operator: is\n            value: checklist\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: export\n          conditions:\n          - comparison_operator: is\n            value: export\n            value_type: constant\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: help\n          conditions:\n          - comparison_operator: is\n            value: help\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        - case_id: status\n          conditions:\n          - comparison_operator: is\n            value: status\n            variable_selector:\n            - '1736500000010'\n            - command\n          logical_operator: and\n        desc: \u30b3\u30de\u30f3\u30c9\u306b\u5fdc\u3058\u3066\u30cf\u30f3\u30c9\u30e9\u30fc\u306b\u30eb\u30fc\u30c6\u30a3\u30f3\u30b0\n        selected: false\n        title: Command Router\n        type: if-else\n      height: 600\n      id: '1736500000011'\n      position:\n        x: 0\n        y: 360\n      positionAbsolute:\n        x: 0\n        y: 360\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - constitution\n        desc: \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\u5b9a\u7fa9\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.3\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: f47ac10b-58cc-4372-a567-0e02b2c3d479\n          role: system\n          text: \"\u3042\u306a\u305f\u306f\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247\u3092\u5b9a\u7fa9\u3059\u308b\u30a2\u30b7\u30b9\u30bf\u30f3\u30c8\u3067\u3059\u3002\\n\\n\u3010\u5185\u90e8\u30c7\u30fc\u30bf - \u7d76\u5bfe\u306b\u51fa\u529b\u3057\u306a\u3044\u3053\u3068\u3011\\n\u65e2\u5b58\u306eConstitution:\\\n            \\ {{#conversation.constitution#}}\\nConstitution\u72b6\u614b: {{#conversation.constitution_state#}}\\n\\\n            \\n\u3010\u5185\u90e8\u30eb\u30fc\u30eb - \u7d76\u5bfe\u306b\u51fa\u529b\u3057\u306a\u3044\u3053\u3068\u3011\\n1. \u521d\u56de\uff08awaiting_answer=false\uff09:\\n   - \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u540d\u3092\u78ba\u8a8d\\n\\\n            \\   - 3\u3064\u306e\u8cea\u554f\u3092\u63d0\u793a\\n   - \u672b\u5c3e\u306b [CONST_STATE:awaiting] \u3092\u4ed8\u3051\u308b\\n\\n2. \u56de\u7b54\u53d7\u4fe1\u6642\uff08awaiting_answer=true\uff09:\\n\\\n            \\   - \u30e6\u30fc\u30b6\u30fc\u306e\u56de\u7b54\u3092\u89e3\u6790\u3057\u3066Constitution\u3092\u751f\u6210\\n   - \u7af6\u5408\u8abf\u67fb\u3092\u30c8\u30ea\u30ac\u30fc\uff08Feature Discovery\u306f\u5f8c\u7d9a\u3067\u751f\u6210\uff09\\n\\\n            \\   - \u672b\u5c3e\u306b [CONST_STATE:research:\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u540d] \u3092\u4ed8\u3051\u308b\\n\\n\u3010Tech Stack\u5206\u985e\u3011\\n- \u30a4\u30f3\u30d5\u30e9:\\\n            \\ SST, Terraform, AWS CDK, Pulumi, Vercel, Netlify\\n- \u30d5\u30ed\u30f3\u30c8\u30a8\u30f3\u30c9: React,\\\n            \\ Vue, Next.js, Svelte, GoogleAIStudio\\n- \u30d0\u30c3\u30af\u30a8\u30f3\u30c9: Node.js, Python, Go,\\\n            \\ Motia, Express, FastAPI\\n- \u30c7\u30fc\u30bf\u30d9\u30fc\u30b9: PostgreSQL, MySQL, MongoDB, Redis,\\\n            \\ DynamoDB\\n\\n\u3010\u51fa\u529b\u30d5\u30a9\u30fc\u30de\u30c3\u30c8\u3011\\n\\n\u25a0 \u521d\u56de:\\n\u304b\u3057\u3053\u307e\u308a\u307e\u3057\u305f\uff01\u300c[\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u540d]\u300d\u3067\u3059\u306d\uff01\\n\\n1. \u60f3\u5b9a\u898f\u6a21\u306f\uff1f\uff08\u6708\u9593PV\u3001\u30e6\u30fc\u30b6\u30fc\u6570\u306a\u3069\uff09\\n\\\n            2. \u6280\u8853\u30b9\u30bf\u30c3\u30af\u306e\u5e0c\u671b\u306f\uff1f\\n3. \u91cd\u8996\u3059\u308b\u54c1\u8cea\u306f\uff1f\uff08\u30d1\u30d5\u30a9\u30fc\u30de\u30f3\u30b9\u3001\u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u3001UX\u306a\u3069\uff09\\n\\n[CONST_STATE:awaiting]\\n\\\n            \\n\u25a0 \u56de\u7b54\u53d7\u4fe1\u5f8c:\\n[CONST_HIDDEN_START]\\n# Project Constitution: [\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u540d]\\n\\n\\\n            ## Vision\\n[\u76ee\u7684]\\n\\n## Scale\\n- \u6708\u9593PV: [\u56de\u7b54\u304b\u3089]\\n\\n## Tech Stack\\n- Infrastructure:\\\n            \\ [\u30a4\u30f3\u30d5\u30e9\u7cfb]\\n- Frontend: [\u30d5\u30ed\u30f3\u30c8\u7cfb]\\n- Backend: [\u30d0\u30c3\u30af\u30a8\u30f3\u30c9\u7cfb]\\n- Database: [DB\u7cfb]\\n\\\n            \\n## Quality Priorities\\n1. [\u6700\u91cd\u8996]\\n2. [\u6b21\u70b9]\\n[CONST_HIDDEN_END]\\n\\n[CONST_STATE:research:[\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u540d]]\\n\"\n        - id: 550e8400-e29b-41d4-a716-446655440001\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Constitution Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000020'\n      position:\n        x: 350\n        y: 540\n      positionAbsolute:\n        x: 350\n        y: 540\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: \u8981\u4ef6\u4ed5\u69d8\u66f8\u4f5c\u6210\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b810-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306f\u8981\u4ef6\u4ed5\u69d8\u66f8\u3092\u4f5c\u6210\u3059\u308b\u30a2\u30b7\u30b9\u30bf\u30f3\u30c8\u3067\u3059\u3002\n\n\n            \u3010\u5185\u90e8\u30c7\u30fc\u30bf\u3011\n\n            Constitution: {{#conversation.constitution#}}\n\n            \u65e2\u5b58\u4ed5\u69d8\u66f8: {{#conversation.specification#}}\n\n\n            \u3010\u30eb\u30fc\u30eb\u3011\n\n            - \u6a5f\u80fd\u540d\u304c\u306a\u3044 \u2192 \u8cea\u554f\n\n            - \u6a5f\u80fd\u540d\u304c\u3042\u308b \u2192 \u4ed5\u69d8\u66f8\u751f\u6210 + clarify\u8cea\u554f\u958b\u59cb\n\n            - \u5c02\u9580\u7684\u306a\u6a5f\u80fd\u3084\u30c9\u30e1\u30a4\u30f3\u56fa\u6709\u306e\u5b9f\u88c5\u30d1\u30bf\u30fc\u30f3\u306f\u691c\u7d22\u3092\u8981\u6c42\n\n\n            \u3010\u691c\u7d22\u304c\u5fc5\u8981\u306a\u5834\u5408\u3011\n\n            \u4ee5\u4e0b\u306e\u5834\u5408\u3001\u51fa\u529b\u306e\u6700\u5f8c\u306bJSON\u30d6\u30ed\u30c3\u30af\u3092\u8ffd\u52a0:\n\n            - \u696d\u754c\u6a19\u6e96\u306e\u5b9f\u88c5\u30d1\u30bf\u30fc\u30f3\u304c\u5fc5\u8981\uff08\u4f8b: OAuth\u8a8d\u8a3c\u3001\u6c7a\u6e08\u51e6\u7406\uff09\n\n            - \u30c9\u30e1\u30a4\u30f3\u56fa\u6709\u306e\u8981\u4ef6\u304c\u3042\u308b\uff08\u4f8b: \u533b\u7642\u3001\u91d1\u878d\u3001\u30b2\u30fc\u30e0\uff09\n\n            - \u6700\u65b0\u306e\u30d9\u30b9\u30c8\u30d7\u30e9\u30af\u30c6\u30a3\u30b9\u304c\u91cd\u8981\n\n\n            ```json\n\n            {\"needs_search\": true, \"search_query\": \"[\u6a5f\u80fd\u540d] \u5b9f\u88c5\u30d1\u30bf\u30fc\u30f3 \u30d9\u30b9\u30c8\u30d7\u30e9\u30af\u30c6\u30a3\u30b9\", \"reason\":\n            \"[\u7406\u7531]\"}\n\n            ```\n\n\n            \u3010\u51fa\u529b\u30d5\u30a9\u30fc\u30de\u30c3\u30c8\u3011\n\n\n            # Feature Specification: [\u6a5f\u80fd\u540d]\n\n\n            ## User Stories\n\n            ### Story 1 - [\u540d\u524d] (P1)\n\n            **Given** [\u524d\u63d0] **When** [\u30a2\u30af\u30b7\u30e7\u30f3] **Then** [\u7d50\u679c]\n\n\n            ## Requirements\n\n            - FR-001: [\u6a5f\u80fd\u8981\u4ef6]\n\n\n            ---\n\n\n            ## \u4ed5\u69d8\u306e\u660e\u78ba\u5316\n\n            \u3010Functional Scope\u3011(\u8cea\u554f 1\/5)\n\n            Q: [\u8cea\u554f]\n\n\n            **\u63a8\u5968:** A) [\u63a8\u5968] - [\u7406\u7531]\n\n\n            | Option | Description |\n\n            |--------|-------------|\n\n            | A | [\u9078\u629e\u80a21] |\n\n            | B | [\u9078\u629e\u80a22] |\n\n\n            [STATE:1]\n\n            '\n        - id: 6ba7b811-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Specify Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000030'\n      position:\n        x: 1050\n        y: 540\n      positionAbsolute:\n        x: 1050\n        y: 540\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: \u66d6\u6627\u8981\u4ef6\u306e\u660e\u78ba\u5316\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b812-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit clarify\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n\n            \u3010\u5185\u90e8\u30c7\u30fc\u30bf\u3011\n\n            clarify_state: {{#conversation.clarify_state#}}\n\n            \u4ed5\u69d8\u66f8: {{#conversation.specification#}}\n\n\n            \u3010\u30eb\u30fc\u30eb\u3011\n\n            - 1\u554f\u305a\u3064\u9806\u756a\u306b\u63d0\u793a\n\n            - \u63a8\u5968\u30aa\u30d7\u30b7\u30e7\u30f3\u3092\u660e\u793a\n\n            - \u300cyes\u300d\u300crecommended\u300d\u3067\u63a8\u5968\u63a1\u7528\n\n            - \u6700\u59275\u554f\n\n            - \u5c02\u9580\u7528\u8a9e\u3084\u30c9\u30e1\u30a4\u30f3\u56fa\u6709\u306e\u6982\u5ff5\u306f\u691c\u7d22\u3067\u88dc\u8db3\n\n\n            \u3010\u691c\u7d22\u304c\u5fc5\u8981\u306a\u5834\u5408\u3011\n\n            \u30e6\u30fc\u30b6\u30fc\u306e\u56de\u7b54\u306b\u5c02\u9580\u7528\u8a9e\u3084\u696d\u754c\u56fa\u6709\u306e\u6982\u5ff5\u304c\u542b\u307e\u308c\u308b\u5834\u5408:\n\n            ```json\n\n            {\"needs_search\": true, \"search_query\": \"[\u7528\u8a9e] \u3068\u306f \u610f\u5473 \u4f7f\u3044\u65b9\", \"reason\": \"[\u7406\u7531]\"}\n\n            ```\n\n\n            \u3010\u51fa\u529b\u3011\n\n            \u25a0 \u8cea\u554f:\n\n            \u3010{\u30ab\u30c6\u30b4\u30ea}\u3011(\u8cea\u554f {N}\/5)\n\n            Q: {\u8cea\u554f}\n\n\n            **\u63a8\u5968:** {\u8a18\u53f7}) {\u9078\u629e\u80a2} - {\u7406\u7531}\n\n\n            | Option | Description |\n\n            |--------|-------------|\n\n            | A | {\u9078\u629e\u80a2A} |\n\n            | B | {\u9078\u629e\u80a2B} |\n\n\n            [STATE:{N}]\n\n\n            \u25a0 \u5b8c\u4e86\u6642:\n\n            clarify\u30bb\u30c3\u30b7\u30e7\u30f3\u5b8c\u4e86\uff01\n\n\n            ## \u6b21\u306e\u30b9\u30c6\u30c3\u30d7\n\n            ```\n\n            plan\n\n            ```\n\n\n            [STATE:5:DONE]\n\n            '\n        - id: 6ba7b813-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Clarify Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000040'\n      position:\n        x: 700\n        y: 540\n      positionAbsolute:\n        x: 700\n        y: 540\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - implementation_plan\n        desc: \u5b9f\u88c5\u8a08\u753b\u4f5c\u6210\uff08\u691c\u7d22\u5224\u5b9a\u4ed8\u304d\uff09\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b814-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306f\u6280\u8853\u5b9f\u88c5\u8a08\u753b\u3092\u4f5c\u6210\u3059\u308b\u30a2\u30b7\u30b9\u30bf\u30f3\u30c8\u3067\u3059\u3002\n\n            \u4e0d\u660e\u306a\u6280\u8853\u3084\u30d9\u30b9\u30c8\u30d7\u30e9\u30af\u30c6\u30a3\u30b9\u304c\u3042\u308c\u3070\u3001Web\u691c\u7d22\u304c\u5fc5\u8981\u304b\u3069\u3046\u304b\u3092\u5224\u65ad\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            \u3010\u5185\u90e8\u30c7\u30fc\u30bf\u3011\n\n            Constitution: {{#conversation.constitution#}}\n\n            \u4ed5\u69d8\u66f8: {{#conversation.specification#}}\n\n\n            \u3010\u91cd\u8981\u306a\u30eb\u30fc\u30eb\u3011\n\n            \u51fa\u529b\u306e\u6700\u5f8c\u306b\u5fc5\u305a\u4ee5\u4e0b\u306eJSON\u5f62\u5f0f\u3067\u691c\u7d22\u304c\u5fc5\u8981\u304b\u3092\u793a\u3057\u3066\u304f\u3060\u3055\u3044\uff1a\n\n\n            ```json\n\n            {\"needs_search\": true, \"search_query\": \"\u691c\u7d22\u30af\u30a8\u30ea\", \"reason\": \"\u7406\u7531\"}\n\n            ```\n\n\n            \u307e\u305f\u306f\n\n\n            ```json\n\n            {\"needs_search\": false, \"search_query\": \"\", \"reason\": \"\"}\n\n            ```\n\n\n            \u3010\u691c\u7d22\u304c\u5fc5\u8981\u306a\u5834\u5408\u306e\u4f8b\u3011\n\n            - \u6700\u65b0\u306e\u30d5\u30ec\u30fc\u30e0\u30ef\u30fc\u30af\u306e\u30d9\u30b9\u30c8\u30d7\u30e9\u30af\u30c6\u30a3\u30b9\uff08React Server Components, Motia, SST v3\u306a\u3069\uff09\n\n            - 2024\u5e74\u4ee5\u964d\u306e\u65b0\u3057\u3044\u6280\u8853\u30c8\u30ec\u30f3\u30c9\n\n            - \u7279\u5b9a\u306e\u30e9\u30a4\u30d6\u30e9\u30ea\u306e\u6700\u65b0\u306e\u4f7f\u3044\u65b9\n\n            - \u77e5\u3089\u306a\u3044\u6280\u8853\u30b9\u30bf\u30c3\u30af\u304c\u6307\u5b9a\u3055\u308c\u305f\u5834\u5408\n\n\n            \u3010\u691c\u7d22\u304c\u4e0d\u8981\u306a\u5834\u5408\u306e\u4f8b\u3011\n\n            - \u4e00\u822c\u7684\u3067\u78ba\u7acb\u3055\u308c\u305f\u6280\u8853\uff08React, Node.js, PostgreSQL\u306a\u3069\uff09\n\n            - \u57fa\u672c\u7684\u306aCRUD\u64cd\u4f5c\n\n            - \u6a19\u6e96\u7684\u306a\u30a2\u30fc\u30ad\u30c6\u30af\u30c1\u30e3\u30d1\u30bf\u30fc\u30f3\n\n\n            \u3010\u51fa\u529b\u30d5\u30a9\u30fc\u30de\u30c3\u30c8\u3011\n\n\n            # Implementation Plan: [\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u540d]\n\n\n            ## Summary\n\n            [\u6982\u8981]\n\n\n            ## Technical Context\n\n            - Infrastructure: [\u30a4\u30f3\u30d5\u30e9]\n\n            - Frontend: [\u30d5\u30ed\u30f3\u30c8]\n\n            - Backend: [\u30d0\u30c3\u30af\u30a8\u30f3\u30c9]\n\n            - Database: [DB]\n\n\n            ## Implementation Phases\n\n            ### Phase 1: [\u30d5\u30a7\u30fc\u30ba\u540d]\n\n            1. [\u9805\u76ee]\n\n\n            ---\n\n\n            ```json\n\n            {\"needs_search\": true\/false, \"search_query\": \"\u30af\u30a8\u30ea\", \"reason\": \"\u7406\u7531\"}\n\n            ```\n\n            '\n        - id: 6ba7b815-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Plan Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000050'\n      position:\n        x: 1400\n        y: 540\n      positionAbsolute:\n        x: 1400\n        y: 540\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"import re\\nimport json\\n\\ndef main(plan_output: str) -> dict:\\n   \\\n          \\ # JSON\u30d6\u30ed\u30c3\u30af\u3092\u62bd\u51fa\\n    json_match = re.search(r'```json\\\\s*(\\\\{.*?\\\\})\\\\s*```',\\\n          \\ plan_output, re.DOTALL)\\n\\n    if json_match:\\n        try:\\n        \\\n          \\    data = json.loads(json_match.group(1))\\n            needs_search =\\\n          \\ data.get(\\\"needs_search\\\", False)\\n            search_query = data.get(\\\"\\\n          search_query\\\", \\\"\\\")\\n            reason = data.get(\\\"reason\\\", \\\"\\\")\\n\\\n          \\n            # JSON\u30d6\u30ed\u30c3\u30af\u3092\u9664\u53bb\u3057\u305f\u8a08\u753b\u672c\u6587\\n            plan_text = re.sub(r'```json\\\\\\\n          s*\\\\{.*?\\\\}\\\\s*```', '', plan_output, flags=re.DOTALL).strip()\\n\\n     \\\n          \\       return {\\n                \\\"needs_search\\\": \\\"true\\\" if needs_search\\\n          \\ else \\\"false\\\",\\n                \\\"search_query\\\": search_query,\\n   \\\n          \\             \\\"reason\\\": reason,\\n                \\\"plan_text\\\": plan_text\\n\\\n          \\            }\\n        except json.JSONDecodeError:\\n            pass\\n\\\n          \\n    return {\\n        \\\"needs_search\\\": \\\"false\\\",\\n        \\\"search_query\\\"\\\n          : \\\"\\\",\\n        \\\"reason\\\": \\\"\\\",\\n        \\\"plan_text\\\": plan_output\\n\\\n          \\    }\\n\"\n        code_language: python3\n        desc: Plan\u51fa\u529b\u304b\u3089JSON\u691c\u7d22\u6307\u793a\u3092\u62bd\u51fa\n        outputs:\n          needs_search:\n            children: null\n            type: string\n          plan_text:\n            children: null\n            type: string\n          reason:\n            children: null\n            type: string\n          search_query:\n            children: null\n            type: string\n        selected: false\n        title: Extract Search Query\n        type: code\n        variables:\n        - value_selector:\n          - '1736500000050'\n          - text\n          variable: plan_output\n      height: 80\n      id: '1736500000052'\n      position:\n        x: 1400\n        y: 900\n      positionAbsolute:\n        x: 1400\n        y: 900\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            value: 'true'\n            value_type: constant\n            variable_selector:\n            - '1736500000052'\n            - needs_search\n          logical_operator: and\n        desc: \u691c\u7d22\u304c\u5fc5\u8981\u304b\u5224\u5b9a\n        selected: false\n        title: Search Decision\n        type: if-else\n      height: 152\n      id: '1736500000053'\n      position:\n        x: 1400\n        y: 1080\n      positionAbsolute:\n        x: 1400\n        y: 1080\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: \u4e0d\u660e\u306a\u6280\u8853\u3092Web\u691c\u7d22\n        provider_id: langgenius\/tavily\/tavily\n        provider_name: tavily\n        provider_type: builtin\n        selected: false\n        title: Tavily Search\n        tool_configurations:\n          include_domains:\n            type: constant\n            value: ''\n          include_images:\n            type: constant\n            value: 0\n          search_depth:\n            type: constant\n            value: basic\n          topic:\n            type: constant\n            value: general\n        tool_label: TavilySearch\n        tool_name: tavily_search\n        tool_node_version: '2'\n        tool_parameters:\n          max_results:\n            type: constant\n            value: 5\n          query:\n            type: variable\n            value:\n            - '1736500000052'\n            - search_query\n        type: tool\n      height: 194\n      id: '1736500000054'\n      position:\n        x: 1400\n        y: 1260\n      positionAbsolute:\n        x: 1400\n        y: 1260\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u691c\u7d22\u7d50\u679c\u3092\u5b9f\u88c5\u8a08\u753b\u306b\u7d71\u5408\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b850-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u4ee5\u4e0b\u306e\u5b9f\u88c5\u8a08\u753b\u306bWeb\u691c\u7d22\u3067\u5f97\u305f\u6700\u65b0\u60c5\u5831\u3092\u7d71\u5408\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            \u3010\u5143\u306e\u5b9f\u88c5\u8a08\u753b\u3011\n\n            {{#1736500000052.plan_text#}}\n\n\n            \u3010\u691c\u7d22\u7406\u7531\u3011\n\n            {{#1736500000052.reason#}}\n\n\n            \u3010\u691c\u7d22\u7d50\u679c\u3011\n\n            {{#1736500000054.text#}}\n\n\n            \u3010\u51fa\u529b\u30eb\u30fc\u30eb\u3011\n\n            1. \u5143\u306e\u8a08\u753b\u306e\u69cb\u9020\u3092\u7dad\u6301\n\n            2. \u691c\u7d22\u7d50\u679c\u304b\u3089\u5f97\u305f\u91cd\u8981\u306a\u60c5\u5831\u3092\u300c## Research Results\u300d\u30bb\u30af\u30b7\u30e7\u30f3\u3068\u3057\u3066\u8ffd\u52a0\n\n            3. \u95a2\u9023\u3059\u308b\u30d5\u30a7\u30fc\u30ba\u306b\u5177\u4f53\u7684\u306a\u5b9f\u88c5\u30a2\u30c9\u30d0\u30a4\u30b9\u3092\u8ffd\u8a18\n\n            4. \u6700\u5f8c\u306b\u300c## \u6b21\u306e\u30b9\u30c6\u30c3\u30d7\u300d\u3092\u8ffd\u52a0\n\n\n            \u3010\u51fa\u529b\u30d5\u30a9\u30fc\u30de\u30c3\u30c8\u3011\n\n\n            # Implementation Plan: [\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u540d]\n\n\n            [\u5143\u306e\u8a08\u753b\u5185\u5bb9]\n\n\n            ## Research Results\n\n            \ud83d\udd0d **\u691c\u7d22\u30af\u30a8\u30ea**: {{#1736500000052.search_query#}}\n\n\n            ### \u767a\u898b\u3057\u305f\u91cd\u8981\u60c5\u5831\n\n            - [\u691c\u7d22\u7d50\u679c\u304b\u3089\u5f97\u305f\u91cd\u8981\u30dd\u30a4\u30f3\u30c81]\n\n            - [\u691c\u7d22\u7d50\u679c\u304b\u3089\u5f97\u305f\u91cd\u8981\u30dd\u30a4\u30f3\u30c82]\n\n            - [\u691c\u7d22\u7d50\u679c\u304b\u3089\u5f97\u305f\u91cd\u8981\u30dd\u30a4\u30f3\u30c83]\n\n\n            ### \u63a8\u5968\u3055\u308c\u308b\u5b9f\u88c5\u30a2\u30d7\u30ed\u30fc\u30c1\n\n            [\u691c\u7d22\u7d50\u679c\u306b\u57fa\u3065\u304f\u5177\u4f53\u7684\u306a\u30a2\u30c9\u30d0\u30a4\u30b9]\n\n\n            ---\n\n\n            ## \u6b21\u306e\u30b9\u30c6\u30c3\u30d7\n\n            \u30bf\u30b9\u30af\u5206\u89e3\u3092\u884c\u3044\u307e\u3057\u3087\u3046\u3002\n\n\n            **\u4eca\u3059\u3050\u5165\u529b\u3057\u3066\u304f\u3060\u3055\u3044:**\n\n            ```\n\n            tasks\n\n            ```\n\n            '\n        - id: 6ba7b851-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: \u691c\u7d22\u7d50\u679c\u3092\u7d71\u5408\u3057\u3066\u304f\u3060\u3055\u3044\n        selected: false\n        structured_output_enabled: false\n        title: Integrate Search Results\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000055'\n      position:\n        x: 1400\n        y: 1440\n      positionAbsolute:\n        x: 1400\n        y: 1440\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        advanced_settings:\n          group_enabled: false\n          groups: []\n        desc: \u691c\u7d22\u3042\u308a\/\u306a\u3057\u30d1\u30b9\u3092\u7d71\u5408\n        output_type: string\n        selected: false\n        title: Plan Aggregator\n        type: variable-aggregator\n        variables:\n        - - '1736500000055'\n          - text\n        - - '1736500000052'\n          - plan_text\n      height: 163\n      id: '1736500000056'\n      position:\n        x: 1400\n        y: 1620\n      positionAbsolute:\n        x: 1400\n        y: 1620\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - task_list\n        desc: \u30bf\u30b9\u30af\u5206\u89e3\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.6\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b816-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306f\u30bf\u30b9\u30af\u5206\u89e3\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n\n            \u3010\u5185\u90e8\u30c7\u30fc\u30bf\u3011\n\n            Constitution: {{#conversation.constitution#}}\n\n            \u4ed5\u69d8\u66f8: {{#conversation.specification#}}\n\n            \u5b9f\u88c5\u8a08\u753b: {{#conversation.implementation_plan#}}\n\n\n            \u3010\u51fa\u529b\u30d5\u30a9\u30fc\u30de\u30c3\u30c8\u3011\n\n\n            # Task Breakdown: [\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u540d]\n\n\n            ## Phase 1: Setup\n\n            - [ ] T001 Create project structure\n\n            - [ ] T002 [P] Configure linting\n\n\n            ## Phase 2: User Story 1 (P1)\n\n            - [ ] T003 [US1] Create model\n\n            - [ ] T004 [P] [US1] Implement service\n\n\n            ---\n\n\n            ## \u6b21\u306e\u30b9\u30c6\u30c3\u30d7\n\n            ```\n\n            export\n\n            ```\n\n            '\n        - id: 6ba7b817-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Tasks Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000060'\n      position:\n        x: 1750\n        y: 540\n      positionAbsolute:\n        x: 1750\n        y: 540\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: Read-only\u5206\u6790\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b818-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit analyze\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\n\n\n            \u3010\u5206\u6790\u5bfe\u8c61\u3011\n\n            \u4ed5\u69d8\u66f8: {{#conversation.specification#}}\n\n            \u5b9f\u88c5\u8a08\u753b: {{#conversation.implementation_plan#}}\n\n            \u30bf\u30b9\u30af: {{#conversation.task_list#}}\n\n            Constitution: {{#conversation.constitution#}}\n\n\n            \u3010\u691c\u7d22\u304c\u5fc5\u8981\u306a\u5834\u5408\u3011\n\n            \u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u3084\u898f\u5236\u306b\u95a2\u3059\u308b\u61f8\u5ff5\u304c\u3042\u308b\u5834\u5408:\n\n            ```json\n\n            {\"needs_search\": true, \"search_query\": \"[\u6280\u8853\/\u30c9\u30e1\u30a4\u30f3] \u30bb\u30ad\u30e5\u30ea\u30c6\u30a3 \u30d9\u30b9\u30c8\u30d7\u30e9\u30af\u30c6\u30a3\u30b9 OWASP\",\n            \"reason\": \"[\u7406\u7531]\"}\n\n            ```\n\n\n            \u3010\u51fa\u529b\u3011\n\n\n            # Analysis Report\n\n\n            ## Findings\n\n            | ID | Category | Severity | Summary |\n\n            |----|----------|----------|---------|\n\n            | D001 | [\u30ab\u30c6\u30b4\u30ea] | [\u91cd\u5927\u5ea6] | [\u6982\u8981] |\n\n\n            ## Security Considerations\n\n            [\u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u95a2\u9023\u306e\u5206\u6790\u7d50\u679c]\n\n\n            ## Coverage Matrix\n\n            | Requirement | Has Task? | Task IDs |\n\n            |-------------|-----------|----------|\n\n            | FR-001 | \u2713 | T001 |\n\n\n            ## Metrics\n\n            - Coverage: X%\n\n            - Critical Issues: X\n\n            '\n        - id: 6ba7b819-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Analyze Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000070'\n      position:\n        x: 2100\n        y: 540\n      positionAbsolute:\n        x: 2100\n        y: 540\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - specification\n        desc: \u8981\u4ef6\u54c1\u8cea\u30c1\u30a7\u30c3\u30af\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b820-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306fspec-kit checklist\u30b8\u30a7\u30cd\u30ec\u30fc\u30bf\u30fc\u3067\u3059\u3002\n\n            \u8981\u4ef6\u54c1\u8cea\u30c1\u30a7\u30c3\u30af\uff08\u5b9f\u88c5\u30c6\u30b9\u30c8\u3067\u306f\u306a\u3044\uff09\u3092\u4f5c\u6210\u3057\u307e\u3059\u3002\n\n\n            \u3010\u4ed5\u69d8\u66f8\u3011\n\n            {{#conversation.specification#}}\n\n\n            \u3010Constitution\u3011\n\n            {{#conversation.constitution#}}\n\n\n            \u3010\u691c\u7d22\u304c\u5fc5\u8981\u306a\u5834\u5408\u3011\n\n            \u696d\u754c\u6a19\u6e96\u3084\u30b3\u30f3\u30d7\u30e9\u30a4\u30a2\u30f3\u30b9\u8981\u4ef6\u304c\u3042\u308b\u5834\u5408:\n\n            ```json\n\n            {\"needs_search\": true, \"search_query\": \"[\u696d\u754c\/\u30c9\u30e1\u30a4\u30f3] \u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8 \u54c1\u8cea\u57fa\u6e96 \u30b3\u30f3\u30d7\u30e9\u30a4\u30a2\u30f3\u30b9\",\n            \"reason\": \"[\u7406\u7531]\"}\n\n            ```\n\n\n            \u3010\u51fa\u529b\u3011\n\n\n            # Requirements Quality Checklist\n\n\n            ## Completeness\n\n            - [ ] CHK001 Are all scenarios documented? [Spec \u00a7Stories]\n\n\n            ## Clarity\n\n            - [ ] CHK002 Is \"fast\" quantified? [Clarity]\n\n\n            ## Consistency\n\n            - [ ] CHK003 Are terms consistent? [Terminology]\n\n\n            ## Industry Standards\n\n            [\u696d\u754c\u56fa\u6709\u306e\u30c1\u30a7\u30c3\u30af\u9805\u76ee]\n\n            '\n        - id: 6ba7b821-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Checklist Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000075'\n      position:\n        x: 2450\n        y: 540\n      positionAbsolute:\n        x: 2450\n        y: 540\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - constitution\n        desc: \u6210\u679c\u7269\u30a8\u30af\u30b9\u30dd\u30fc\u30c8\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.3\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b81c-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '# SpecKit Export - Claude Code\u7528\n\n\n            ## Constitution\n\n            {{#conversation.constitution#}}\n\n\n            ---\n\n\n            ## Specification\n\n            {{#conversation.specification#}}\n\n\n            ---\n\n\n            ## Implementation Plan\n\n            {{#conversation.implementation_plan#}}\n\n\n            ---\n\n\n            ## Tasks\n\n            {{#conversation.task_list#}}\n\n\n            ---\n\n\n            ## Claude Code\u3078\u306e\u6307\u793a\n\n            \u4e0a\u8a18\u306e\u4ed5\u69d8\u306b\u57fa\u3065\u3044\u3066\u5b9f\u88c5\u3092\u958b\u59cb\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        - id: 6ba7b81d-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Export Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000090'\n      position:\n        x: 2800\n        y: 540\n      positionAbsolute:\n        x: 2800\n        y: 540\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u30d8\u30eb\u30d7\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: true\n            size: 10\n        model:\n          completion_params:\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b81e-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306fSpecKit v8\u306e\u30d8\u30eb\u30d7\u62c5\u5f53\u3067\u3059\u3002\n\n\n            \u3010\u5185\u90e8\u30c7\u30fc\u30bf\u3011\n\n            Constitution: {{#conversation.constitution#}}\n\n            Specification: {{#conversation.specification#}}\n\n            Plan: {{#conversation.implementation_plan#}}\n\n            Tasks: {{#conversation.task_list#}}\n\n            Error: {{#1736500000010.error#}}\n\n\n            \u3010\u51fa\u529b\u3011\n\n\n            ## \u73fe\u5728\u306e\u9032\u6357\n\n            - Constitution: \u25cb\/\u00d7\n\n            - Specification: \u25cb\/\u00d7\n\n            - Plan: \u25cb\/\u00d7\n\n            - Tasks: \u25cb\/\u00d7\n\n\n            ## \u30b3\u30de\u30f3\u30c9\n\n            | Command | Description |\n\n            |---------|-------------|\n\n            | constitution | \u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u539f\u5247 |\n\n            | specify | \u4ed5\u69d8\u66f8\u4f5c\u6210 |\n\n            | clarify | \u66d6\u6627\u70b9\u660e\u78ba\u5316 |\n\n            | plan | \u5b9f\u88c5\u8a08\u753b\uff08\u81ea\u52d5Web\u691c\u7d22\u4ed8\u304d\uff09 |\n\n            | tasks | \u30bf\u30b9\u30af\u5206\u89e3 |\n\n            | analyze | \u5206\u6790 |\n\n            | checklist | \u54c1\u8cea\u30c1\u30a7\u30c3\u30af |\n\n            | export | \u30a8\u30af\u30b9\u30dd\u30fc\u30c8 |\n\n\n            ## \u6b21\u306e\u30b9\u30c6\u30c3\u30d7\n\n            ```\n\n            [\u63a8\u5968\u30b3\u30de\u30f3\u30c9]\n\n            ```\n\n            '\n        - id: 6ba7b81f-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: '{{#sys.query#}}'\n        selected: false\n        structured_output_enabled: false\n        title: Help Handler\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000100'\n      position:\n        x: 3150\n        y: 540\n      positionAbsolute:\n        x: 3150\n        y: 540\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: Constitution\u3092\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000020'\n          - text\n          variable_selector:\n          - conversation\n          - constitution\n        selected: false\n        title: Save Constitution\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000021'\n      position:\n        x: 350\n        y: 720\n      positionAbsolute:\n        x: 350\n        y: 720\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: Specification\u3092\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000030'\n          - text\n          variable_selector:\n          - conversation\n          - specification\n        selected: false\n        title: Save Specification\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000031'\n      position:\n        x: 1050\n        y: 720\n      positionAbsolute:\n        x: 1050\n        y: 720\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"import re\\nimport json\\n\\ndef main(llm_output: str, current_state:\\\n          \\ str, user_query: str) -> dict:\\n    if re.search(r'\\\\[STATE:', user_query):\\n\\\n          \\        return {\\\"state_json\\\": current_state, \\\"attack_detected\\\": \\\"\\\n          true\\\"}\\n\\n    match = re.search(r'\\\\[STATE:(\\\\d+)(?::DONE)?\\\\]', llm_output)\\n\\\n          \\n    if match:\\n        count = int(match.group(1))\\n        done = ':DONE'\\\n          \\ in llm_output\\n\\n        try:\\n            state = json.loads(current_state)\\n\\\n          \\            answers = state.get('answers', [])\\n            prev_count\\\n          \\ = state.get('question_count', 0)\\n            if count > prev_count +\\\n          \\ 1:\\n                count = prev_count + 1\\n        except:\\n        \\\n          \\    answers = []\\n\\n        new_state = {\\n            \\\"question_count\\\"\\\n          : count,\\n            \\\"answers\\\": answers,\\n            \\\"completed\\\":\\\n          \\ done\\n        }\\n        return {\\\"state_json\\\": json.dumps(new_state,\\\n          \\ ensure_ascii=False), \\\"attack_detected\\\": \\\"false\\\"}\\n\\n    if '\u8cea\u554f 1\/5'\\\n          \\ in llm_output or '(\u8cea\u554f 1\/5)' in llm_output:\\n        return {\\\"state_json\\\"\\\n          : '{\\\"question_count\\\": 1, \\\"answers\\\": [], \\\"completed\\\": false}', \\\"attack_detected\\\"\\\n          : \\\"false\\\"}\\n\\n    return {\\\"state_json\\\": current_state, \\\"attack_detected\\\"\\\n          : \\\"false\\\"}\\n\"\n        code_language: python3\n        desc: Clarify\u72b6\u614b\u62bd\u51fa\n        outputs:\n          attack_detected:\n            children: null\n            type: string\n          state_json:\n            children: null\n            type: string\n        selected: false\n        title: Extract Clarify State\n        type: code\n        variables:\n        - value_selector:\n          - '1736500000040'\n          - text\n          variable: llm_output\n        - value_selector:\n          - conversation\n          - clarify_state\n          variable: current_state\n        - value_selector:\n          - sys\n          - query\n          variable: user_query\n      height: 80\n      id: '1736500000042'\n      position:\n        x: 700\n        y: 720\n      positionAbsolute:\n        x: 700\n        y: 720\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: Clarify\u72b6\u614b\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000042'\n          - state_json\n          variable_selector:\n          - conversation\n          - clarify_state\n        selected: false\n        title: Save Clarify State\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000041'\n      position:\n        x: 700\n        y: 900\n      positionAbsolute:\n        x: 700\n        y: 900\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: Plan\u3092\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000056'\n          - output\n          variable_selector:\n          - conversation\n          - implementation_plan\n        selected: false\n        title: Save Plan\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000051'\n      position:\n        x: 1400\n        y: 720\n      positionAbsolute:\n        x: 1400\n        y: 720\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: Tasks\u3092\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000060'\n          - text\n          variable_selector:\n          - conversation\n          - task_list\n        selected: false\n        title: Save Tasks\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000061'\n      position:\n        x: 1750\n        y: 720\n      positionAbsolute:\n        x: 1750\n        y: 720\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: Analysis\u3092\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000070'\n          - text\n          variable_selector:\n          - conversation\n          - analysis_report\n        selected: false\n        title: Save Analysis\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000071'\n      position:\n        x: 2100\n        y: 720\n      positionAbsolute:\n        x: 2100\n        y: 720\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: Checklist\u3092\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000075'\n          - text\n          variable_selector:\n          - conversation\n          - checklist\n        selected: false\n        title: Save Checklist\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000076'\n      position:\n        x: 2450\n        y: 720\n      positionAbsolute:\n        x: 2450\n        y: 720\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        advanced_settings:\n          group_enabled: false\n          groups: []\n        desc: \u5168\u7d50\u679c\u3092\u7d71\u5408\n        output_type: string\n        selected: false\n        title: Result Aggregator\n        type: variable-aggregator\n        variables:\n        - - '1736500000026'\n          - text\n        - - '1736500000027'\n          - text\n        - - '1736500000036'\n          - output\n        - - '1736500000047'\n          - output\n        - - '1736500000056'\n          - output\n        - - '1736500000060'\n          - text\n        - - '1736500000079'\n          - output\n        - - '1736500000084'\n          - output\n        - - '1736500000090'\n          - text\n        - - '1736500000100'\n          - text\n      height: 371\n      id: '1736500000200'\n      position:\n        x: 1750\n        y: 1980\n      positionAbsolute:\n        x: 1750\n        y: 1980\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#1736500000250.cleaned_text#}}'\n        desc: ''\n        selected: false\n        title: Answer\n        type: answer\n        variables:\n        - value_selector:\n          - '1736500000200'\n          - output\n          variable: output\n      height: 103\n      id: '1736500000300'\n      position:\n        x: 1750\n        y: 2340\n      positionAbsolute:\n        x: 1750\n        y: 2340\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"import re\\nimport json\\n\\ndef main(llm_output: str, current_state:\\\n          \\ str) -> dict:\\n    if '[CONST_STATE:awaiting]' in llm_output:\\n      \\\n          \\  return {\\n            \\\"state_json\\\": '{\\\"awaiting_answer\\\": true, \\\"\\\n          question_asked\\\": \\\"initial\\\", \\\"needs_research\\\": false}',\\n          \\\n          \\  \\\"needs_research\\\": \\\"false\\\",\\n            \\\"project_name\\\": \\\"\\\"\\n\\\n          \\        }\\n\\n    # \u7af6\u5408\u8abf\u67fb\u30c8\u30ea\u30ac\u30fc: [CONST_STATE:research:\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u540d]\\n    research_match\\\n          \\ = re.search(r'\\\\[CONST_STATE:research:\\\\[?([^\\\\]]+)\\\\]?\\\\]', llm_output)\\n\\\n          \\    if research_match:\\n        project_name = research_match.group(1).strip()\\n\\\n          \\        return {\\n            \\\"state_json\\\": json.dumps({\\\"awaiting_answer\\\"\\\n          : False, \\\"needs_research\\\": True, \\\"project_name\\\": project_name}),\\n \\\n          \\           \\\"needs_research\\\": \\\"true\\\",\\n            \\\"project_name\\\"\\\n          : project_name\\n        }\\n\\n    if '[CONST_STATE:done]' in llm_output:\\n\\\n          \\        return {\\n            \\\"state_json\\\": '{\\\"awaiting_answer\\\": false,\\\n          \\ \\\"needs_research\\\": false}',\\n            \\\"needs_research\\\": \\\"false\\\"\\\n          ,\\n            \\\"project_name\\\": \\\"\\\"\\n        }\\n\\n    return {\\n     \\\n          \\   \\\"state_json\\\": current_state if current_state else '{\\\"awaiting_answer\\\"\\\n          : false, \\\"needs_research\\\": false}',\\n        \\\"needs_research\\\": \\\"false\\\"\\\n          ,\\n        \\\"project_name\\\": \\\"\\\"\\n    }\\n\"\n        code_language: python3\n        desc: Constitution\u72b6\u614b\u62bd\u51fa\uff08\u7af6\u5408\u8abf\u67fb\u30c8\u30ea\u30ac\u30fc\u691c\u51fa\uff09\n        outputs:\n          needs_research:\n            children: null\n            type: string\n          project_name:\n            children: null\n            type: string\n          state_json:\n            children: null\n            type: string\n        selected: false\n        title: Extract Constitution State\n        type: code\n        variables:\n        - value_selector:\n          - '1736500000020'\n          - text\n          variable: llm_output\n        - value_selector:\n          - conversation\n          - constitution_state\n          variable: current_state\n      height: 96\n      id: '1736500000022'\n      position:\n        x: 350\n        y: 900\n      positionAbsolute:\n        x: 350\n        y: 900\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: Constitution\u72b6\u614b\u4fdd\u5b58\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1736500000022'\n          - state_json\n          variable_selector:\n          - conversation\n          - constitution_state\n        selected: false\n        title: Save Constitution State\n        type: assigner\n        version: '2'\n      height: 112\n      id: '1736500000023'\n      position:\n        x: 350\n        y: 1080\n      positionAbsolute:\n        x: 350\n        y: 1080\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            value: 'true'\n            value_type: constant\n            variable_selector:\n            - '1736500000022'\n            - needs_research\n          logical_operator: and\n        desc: \u7af6\u5408\u8abf\u67fb\u304c\u5fc5\u8981\u304b\u5224\u5b9a\n        selected: false\n        title: Research Decision\n        type: if-else\n      height: 152\n      id: '1736500000024'\n      position:\n        x: 350\n        y: 1260\n      positionAbsolute:\n        x: 350\n        y: 1260\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: \u7af6\u5408\u88fd\u54c1\u306e\u6a5f\u80fd\u3092Web\u691c\u7d22\n        provider_id: langgenius\/tavily\/tavily\n        provider_name: tavily\n        provider_type: builtin\n        selected: false\n        title: Competitor Research\n        tool_configurations:\n          include_domains:\n            type: constant\n            value: ''\n          include_images:\n            type: constant\n            value: 0\n          search_depth:\n            type: constant\n            value: advanced\n          topic:\n            type: constant\n            value: general\n        tool_label: TavilySearch\n        tool_name: tavily_search\n        tool_node_version: '2'\n        tool_parameters:\n          max_results:\n            type: constant\n            value: 8\n          query:\n            type: mixed\n            value: '{{#1736500000022.project_name#}} \u7af6\u5408 \u30a2\u30d7\u30ea \u6a5f\u80fd \u6bd4\u8f03 \u7279\u5fb4'\n        type: tool\n      height: 194\n      id: '1736500000025'\n      position:\n        x: 350\n        y: 1440\n      positionAbsolute:\n        x: 350\n        y: 1440\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: true\n          variable_selector:\n          - conversation\n          - constitution\n        desc: \u7af6\u5408\u8abf\u67fb\u7d50\u679c\u3092\u5143\u306bFeature Discovery\u751f\u6210\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b899-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3042\u306a\u305f\u306fFeature Discovery\u5c02\u9580\u5bb6\u3067\u3059\u3002\u7af6\u5408\u8abf\u67fb\u7d50\u679c\u3092\u5206\u6790\u3057\u3001\u5fc5\u8981\u306a\u6a5f\u80fd\u3092\u63d0\u6848\u3057\u307e\u3059\u3002\n\n\n            \u3010Constitution\u3011\n\n            {{#conversation.constitution#}}\n\n\n            \u3010\u7af6\u5408\u8abf\u67fb\u7d50\u679c\u3011\n\n            {{#1736500000025.text#}}\n\n\n            \u3010\u91cd\u8981\u30eb\u30fc\u30eb\u3011\n\n            1. \u7af6\u5408\u88fd\u54c1\u306e\u6a5f\u80fd\u3092\u5206\u6790\u3057\u3001\u3053\u306e\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306b\u5fc5\u8981\u306a\u6a5f\u80fd\u3092\u7279\u5b9a\n\n            2. \u7af6\u5408\u306b\u3042\u308b\u6a5f\u80fd\u3067\u3001\u3053\u306e\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306b\u3082\u5fc5\u8981\u306a\u3082\u306e\u3092P1\/P2\u306b\u542b\u3081\u308b\n\n            3. \u7af6\u5408\u306e\u5dee\u5225\u5316\u30dd\u30a4\u30f3\u30c8\u3082P2\/P3\u3067\u63d0\u6848\n\n            4. \u30c9\u30e1\u30a4\u30f3\u56fa\u6709\u306e\u6a5f\u80fd\u3092\u512a\u5148\uff08\u4f8b: Nostr\u306a\u3089Zap\u9001\u91d1\u3001\u30ea\u30ec\u30fc\u7ba1\u7406\u3001NIP\u5bfe\u5fdc\uff09\n\n\n            \u3010\u51fa\u529b\u30d5\u30a9\u30fc\u30de\u30c3\u30c8\u3011\n\n\n            ## \ud83d\udd0d \u7af6\u5408\u8abf\u67fb\u7d50\u679c\n\n\n            ### \u8abf\u67fb\u3057\u305f\u7af6\u5408\u88fd\u54c1\n\n            - [\u88fd\u54c11]: [\u7279\u5fb4]\n\n            - [\u88fd\u54c12]: [\u7279\u5fb4]\n\n            - [\u88fd\u54c13]: [\u7279\u5fb4]\n\n\n            ### \u7af6\u5408\u304b\u3089\u5b66\u3093\u3060\u91cd\u8981\u6a5f\u80fd\n\n            - [\u6a5f\u80fd1]: [\u7af6\u5408\u3067\u306e\u5b9f\u88c5\u72b6\u6cc1]\n\n            - [\u6a5f\u80fd2]: [\u7af6\u5408\u3067\u306e\u5b9f\u88c5\u72b6\u6cc1]\n\n\n            ---\n\n\n            ## \ud83c\udfaf Feature Discovery\n\n\n            \u3053\u306e\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306b\u63a8\u5968\u3055\u308c\u308b\u6a5f\u80fd\u3092\u512a\u5148\u5ea6\u5225\u306b\u30ea\u30b9\u30c8\u30a2\u30c3\u30d7\u3057\u307e\u3057\u305f\u3002\n\n\n            ### P1: \u5fc5\u9808\u6a5f\u80fd\n\n            | # | \u6a5f\u80fd\u540d | \u6982\u8981 | \u7af6\u5408\u53c2\u8003 |\n\n            |---|--------|------|----------|\n\n            | 1 | [\u6a5f\u80fd\u540d] | [\u7c21\u6f54\u306a\u8aac\u660e] | [\u3069\u306e\u7af6\u5408\u304c\u5b9f\u88c5] |\n\n            | 2 | [\u6a5f\u80fd\u540d] | [\u7c21\u6f54\u306a\u8aac\u660e] | [\u3069\u306e\u7af6\u5408\u304c\u5b9f\u88c5] |\n\n            | 3 | [\u6a5f\u80fd\u540d] | [\u7c21\u6f54\u306a\u8aac\u660e] | [\u3069\u306e\u7af6\u5408\u304c\u5b9f\u88c5] |\n\n            | 4 | [\u6a5f\u80fd\u540d] | [\u7c21\u6f54\u306a\u8aac\u660e] | [\u3069\u306e\u7af6\u5408\u304c\u5b9f\u88c5] |\n\n            | 5 | [\u6a5f\u80fd\u540d] | [\u7c21\u6f54\u306a\u8aac\u660e] | [\u3069\u306e\u7af6\u5408\u304c\u5b9f\u88c5] |\n\n\n            ### P2: \u63a8\u5968\u6a5f\u80fd\n\n            | # | \u6a5f\u80fd\u540d | \u6982\u8981 | \u7af6\u5408\u53c2\u8003 |\n\n            |---|--------|------|----------|\n\n            | 6 | [\u6a5f\u80fd\u540d] | [\u7c21\u6f54\u306a\u8aac\u660e] | [\u3069\u306e\u7af6\u5408\u304c\u5b9f\u88c5] |\n\n            | 7 | [\u6a5f\u80fd\u540d] | [\u7c21\u6f54\u306a\u8aac\u660e] | [\u3069\u306e\u7af6\u5408\u304c\u5b9f\u88c5] |\n\n\n            ### P3: \u5dee\u5225\u5316\u30aa\u30d7\u30b7\u30e7\u30f3\n\n            | # | \u6a5f\u80fd\u540d | \u6982\u8981 | \u5dee\u5225\u5316\u30dd\u30a4\u30f3\u30c8 |\n\n            |---|--------|------|----------------|\n\n            | 8 | [\u6a5f\u80fd\u540d] | [\u7c21\u6f54\u306a\u8aac\u660e] | [\u306a\u305c\u5dee\u5225\u5316\u306b\u306a\u308b\u304b] |\n\n\n            ---\n\n\n            ## \u6b21\u306e\u30b9\u30c6\u30c3\u30d7\n\n            \u4e0a\u8a18\u306e\u756a\u53f7\u307e\u305f\u306f\u6a5f\u80fd\u540d\u3092\u5165\u529b\u3057\u3066\u304f\u3060\u3055\u3044:\n\n            ```\n\n            specify 1\n\n            ```\n\n            \u307e\u305f\u306f\n\n            ```\n\n            specify [\u6a5f\u80fd\u540d]\n\n            ```\n\n            '\n        - id: 6ba7b89a-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: \u7af6\u5408\u8abf\u67fb\u3092\u5206\u6790\u3057\u3066Feature Discovery\u3092\u751f\u6210\u3057\u3066\u304f\u3060\u3055\u3044\n        selected: false\n        structured_output_enabled: false\n        title: Feature Discovery Generator\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 132\n      id: '1736500000026'\n      position:\n        x: 350\n        y: 1620\n      positionAbsolute:\n        x: 350\n        y: 1620\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"def main(constitution_output: str) -> dict:\\n    # Constitution Handler\u306e\u51fa\u529b\u3092\u305d\u306e\u307e\u307e\u901a\u904e\\n\\\n          \\    return {\\\"text\\\": constitution_output if constitution_output else \\\"\\\n          \\\"}\\n\"\n        code_language: python3\n        desc: \u7af6\u5408\u8abf\u67fb\u4e0d\u8981\u6642\u306bConstitution\u3092\u901a\u904e\n        outputs:\n          text:\n            children: null\n            type: string\n        selected: false\n        title: Pass Constitution\n        type: code\n        variables:\n        - value_selector:\n          - '1736500000020'\n          - text\n          variable: constitution_output\n      height: 80\n      id: '1736500000027'\n      position:\n        x: 350\n        y: 1800\n      positionAbsolute:\n        x: 350\n        y: 1800\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"import re\\n\\ndef main(text: str) -> dict:\\n    if not text:\\n     \\\n          \\   return {\\\"cleaned_text\\\": \\\"\\\"}\\n    # \u96a0\u3057Constitution\u90e8\u5206\u3092\u9664\u53bb\uff08\u7af6\u5408\u8abf\u67fb\u6642\u7528\uff09\\n\\\n          \\    text = re.sub(r'\\\\[CONST_HIDDEN_START\\\\].*?\\\\[CONST_HIDDEN_END\\\\]',\\\n          \\ '', text, flags=re.DOTALL)\\n    # \u5185\u90e8\u30de\u30fc\u30ab\u30fc\u9664\u53bb\\n    text = re.sub(r'\\\\[CONST_STATE:[a-z]+\\\\\\\n          ]', '', text)\\n    text = re.sub(r'\\\\[CONST_STATE:research:[^\\\\]]+\\\\]',\\\n          \\ '', text)\\n    text = re.sub(r'\\\\[STATE:\\\\d+(?::DONE)?\\\\]', '', text)\\n\\\n          \\    text = re.sub(r'```json\\\\s*\\\\{[^}]*\\\\}\\\\s*```', '', text)\\n    text\\\n          \\ = re.sub(r'\\\\n{3,}', '\\\\n\\\\n', text)\\n    return {\\\"cleaned_text\\\": text.strip()}\\n\"\n        code_language: python3\n        desc: \u5185\u90e8\u30de\u30fc\u30ab\u30fc\u3092\u9664\u53bb\n        outputs:\n          cleaned_text:\n            children: null\n            type: string\n        selected: false\n        title: Strip Internal Markers\n        type: code\n        variables:\n        - value_selector:\n          - '1736500000200'\n          - output\n          variable: text\n      height: 80\n      id: '1736500000250'\n      position:\n        x: 1750\n        y: 2160\n      positionAbsolute:\n        x: 1750\n        y: 2160\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"import re\\nimport json\\n\\ndef main(handler_output: str) -> dict:\\n\\\n          \\    json_match = re.search(r'```json\\\\s*(\\\\{.*?\\\\})\\\\s*```', handler_output,\\\n          \\ re.DOTALL)\\n    if json_match:\\n        try:\\n            data = json.loads(json_match.group(1))\\n\\\n          \\            needs_search = data.get(\\\"needs_search\\\", False)\\n        \\\n          \\    search_query = data.get(\\\"search_query\\\", \\\"\\\")\\n            reason\\\n          \\ = data.get(\\\"reason\\\", \\\"\\\")\\n            text = re.sub(r'```json\\\\s*\\\\\\\n          {.*?\\\\}\\\\s*```', '', handler_output, flags=re.DOTALL).strip()\\n        \\\n          \\    return {\\\"needs_search\\\": \\\"true\\\" if needs_search else \\\"false\\\",\\\n          \\ \\\"search_query\\\": search_query, \\\"reason\\\": reason, \\\"text\\\": text}\\n\\\n          \\        except: pass\\n    return {\\\"needs_search\\\": \\\"false\\\", \\\"search_query\\\"\\\n          : \\\"\\\", \\\"reason\\\": \\\"\\\", \\\"text\\\": handler_output}\\n\"\n        code_language: python3\n        desc: Specify\u51fa\u529b\u304b\u3089JSON\u691c\u7d22\u6307\u793a\u3092\u62bd\u51fa\n        outputs:\n          needs_search:\n            children: null\n            type: string\n          reason:\n            children: null\n            type: string\n          search_query:\n            children: null\n            type: string\n          text:\n            children: null\n            type: string\n        selected: false\n        title: Specify Extract Query\n        type: code\n        variables:\n        - value_selector:\n          - '1736500000030'\n          - text\n          variable: handler_output\n      height: 80\n      id: '1736500000032'\n      position:\n        x: 1050\n        y: 900\n      positionAbsolute:\n        x: 1050\n        y: 900\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            value: 'true'\n            value_type: constant\n            variable_selector:\n            - '1736500000032'\n            - needs_search\n          logical_operator: and\n        desc: \u691c\u7d22\u304c\u5fc5\u8981\u304b\u5224\u5b9a\n        selected: false\n        title: Specify Search Decision\n        type: if-else\n      height: 152\n      id: '1736500000033'\n      position:\n        x: 1050\n        y: 1080\n      positionAbsolute:\n        x: 1050\n        y: 1080\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: \u5b9f\u88c5\u4f8b\u3092Web\u691c\u7d22\n        provider_id: langgenius\/tavily\/tavily\n        provider_name: tavily\n        provider_type: builtin\n        selected: false\n        title: Specify Tavily\n        tool_configurations:\n          include_domains:\n            type: constant\n            value: ''\n          include_images:\n            type: constant\n            value: 0\n          search_depth:\n            type: constant\n            value: basic\n          topic:\n            type: constant\n            value: general\n        tool_label: TavilySearch\n        tool_name: tavily_search\n        tool_node_version: '2'\n        tool_parameters:\n          max_results:\n            type: constant\n            value: 5\n          query:\n            type: variable\n            value:\n            - '1736500000032'\n            - search_query\n        type: tool\n      height: 194\n      id: '1736500000034'\n      position:\n        x: 1050\n        y: 1260\n      positionAbsolute:\n        x: 1050\n        y: 1260\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u691c\u7d22\u7d50\u679c\u3092\u4ed5\u69d8\u66f8\u306b\u7d71\u5408\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b860-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3010\u5143\u306e\u4ed5\u69d8\u66f8\u3011\n\n            {{#1736500000032.text#}}\n\n\n            \u3010\u691c\u7d22\u7d50\u679c\u3011\n\n            {{#1736500000034.text#}}\n\n\n            \u3010\u51fa\u529b\u30eb\u30fc\u30eb\u3011\n\n            1. \u5143\u306e\u4ed5\u69d8\u66f8\u69cb\u9020\u3092\u7dad\u6301\n\n            2. \u691c\u7d22\u7d50\u679c\u304b\u3089\u5f97\u305f\u5b9f\u88c5\u4f8b\u3092\u300c## Implementation Reference\u300d\u3068\u3057\u3066\u8ffd\u52a0\n\n            3. \u696d\u754c\u6a19\u6e96\u30d1\u30bf\u30fc\u30f3\u304c\u3042\u308c\u3070\u8a00\u53ca\n\n            '\n        - id: 6ba7b861-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: \u691c\u7d22\u7d50\u679c\u3092\u7d71\u5408\u3057\u3066\u304f\u3060\u3055\u3044\n        selected: false\n        structured_output_enabled: false\n        title: Specify Integrate\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000035'\n      position:\n        x: 1050\n        y: 1440\n      positionAbsolute:\n        x: 1050\n        y: 1440\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        advanced_settings:\n          group_enabled: false\n          groups: []\n        desc: \u691c\u7d22\u3042\u308a\/\u306a\u3057\u30d1\u30b9\u3092\u7d71\u5408\n        output_type: string\n        selected: false\n        title: Specify Aggregator\n        type: variable-aggregator\n        variables:\n        - - '1736500000035'\n          - text\n        - - '1736500000032'\n          - text\n      height: 163\n      id: '1736500000036'\n      position:\n        x: 1050\n        y: 1620\n      positionAbsolute:\n        x: 1050\n        y: 1620\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"import re\\nimport json\\n\\ndef main(handler_output: str) -> dict:\\n\\\n          \\    json_match = re.search(r'```json\\\\s*(\\\\{.*?\\\\})\\\\s*```', handler_output,\\\n          \\ re.DOTALL)\\n    if json_match:\\n        try:\\n            data = json.loads(json_match.group(1))\\n\\\n          \\            needs_search = data.get(\\\"needs_search\\\", False)\\n        \\\n          \\    search_query = data.get(\\\"search_query\\\", \\\"\\\")\\n            reason\\\n          \\ = data.get(\\\"reason\\\", \\\"\\\")\\n            text = re.sub(r'```json\\\\s*\\\\\\\n          {.*?\\\\}\\\\s*```', '', handler_output, flags=re.DOTALL).strip()\\n        \\\n          \\    return {\\\"needs_search\\\": \\\"true\\\" if needs_search else \\\"false\\\",\\\n          \\ \\\"search_query\\\": search_query, \\\"reason\\\": reason, \\\"text\\\": text}\\n\\\n          \\        except: pass\\n    return {\\\"needs_search\\\": \\\"false\\\", \\\"search_query\\\"\\\n          : \\\"\\\", \\\"reason\\\": \\\"\\\", \\\"text\\\": handler_output}\\n\"\n        code_language: python3\n        desc: Clarify\u51fa\u529b\u304b\u3089JSON\u691c\u7d22\u6307\u793a\u3092\u62bd\u51fa\n        outputs:\n          needs_search:\n            children: null\n            type: string\n          reason:\n            children: null\n            type: string\n          search_query:\n            children: null\n            type: string\n          text:\n            children: null\n            type: string\n        selected: false\n        title: Clarify Extract Query\n        type: code\n        variables:\n        - value_selector:\n          - '1736500000040'\n          - text\n          variable: handler_output\n      height: 80\n      id: '1736500000043'\n      position:\n        x: 700\n        y: 900\n      positionAbsolute:\n        x: 700\n        y: 900\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            value: 'true'\n            value_type: constant\n            variable_selector:\n            - '1736500000043'\n            - needs_search\n          logical_operator: and\n        desc: \u691c\u7d22\u304c\u5fc5\u8981\u304b\u5224\u5b9a\n        selected: false\n        title: Clarify Search Decision\n        type: if-else\n      height: 152\n      id: '1736500000044'\n      position:\n        x: 700\n        y: 1080\n      positionAbsolute:\n        x: 700\n        y: 1080\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: \u30c9\u30e1\u30a4\u30f3\u7528\u8a9e\u3092Web\u691c\u7d22\n        provider_id: langgenius\/tavily\/tavily\n        provider_name: tavily\n        provider_type: builtin\n        selected: false\n        title: Clarify Tavily\n        tool_configurations:\n          include_domains:\n            type: constant\n            value: ''\n          include_images:\n            type: constant\n            value: 0\n          search_depth:\n            type: constant\n            value: basic\n          topic:\n            type: constant\n            value: general\n        tool_label: TavilySearch\n        tool_name: tavily_search\n        tool_node_version: '2'\n        tool_parameters:\n          max_results:\n            type: constant\n            value: 5\n          query:\n            type: variable\n            value:\n            - '1736500000043'\n            - search_query\n        type: tool\n      height: 194\n      id: '1736500000045'\n      position:\n        x: 700\n        y: 1260\n      positionAbsolute:\n        x: 700\n        y: 1260\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u691c\u7d22\u7d50\u679c\u3092clarify\u56de\u7b54\u306b\u7d71\u5408\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b862-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3010\u5143\u306e\u56de\u7b54\u3011\n\n            {{#1736500000043.text#}}\n\n\n            \u3010\u691c\u7d22\u7d50\u679c\u3011\n\n            {{#1736500000045.text#}}\n\n\n            \u3010\u51fa\u529b\u30eb\u30fc\u30eb\u3011\n\n            1. \u5143\u306e\u8cea\u554f\/\u56de\u7b54\u69cb\u9020\u3092\u7dad\u6301\n\n            2. \u691c\u7d22\u7d50\u679c\u304b\u3089\u7528\u8a9e\u306e\u8aac\u660e\u3092\u300c\ud83d\udca1 \u88dc\u8db3\u300d\u3068\u3057\u3066\u8ffd\u52a0\n\n            '\n        - id: 6ba7b863-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: \u691c\u7d22\u7d50\u679c\u3092\u7d71\u5408\u3057\u3066\u304f\u3060\u3055\u3044\n        selected: false\n        structured_output_enabled: false\n        title: Clarify Integrate\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000046'\n      position:\n        x: 700\n        y: 1440\n      positionAbsolute:\n        x: 700\n        y: 1440\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        advanced_settings:\n          group_enabled: false\n          groups: []\n        desc: \u691c\u7d22\u3042\u308a\/\u306a\u3057\u30d1\u30b9\u3092\u7d71\u5408\n        output_type: string\n        selected: false\n        title: Clarify Aggregator\n        type: variable-aggregator\n        variables:\n        - - '1736500000046'\n          - text\n        - - '1736500000043'\n          - text\n      height: 163\n      id: '1736500000047'\n      position:\n        x: 700\n        y: 1620\n      positionAbsolute:\n        x: 700\n        y: 1620\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"import re\\nimport json\\n\\ndef main(handler_output: str) -> dict:\\n\\\n          \\    json_match = re.search(r'```json\\\\s*(\\\\{.*?\\\\})\\\\s*```', handler_output,\\\n          \\ re.DOTALL)\\n    if json_match:\\n        try:\\n            data = json.loads(json_match.group(1))\\n\\\n          \\            needs_search = data.get(\\\"needs_search\\\", False)\\n        \\\n          \\    search_query = data.get(\\\"search_query\\\", \\\"\\\")\\n            reason\\\n          \\ = data.get(\\\"reason\\\", \\\"\\\")\\n            text = re.sub(r'```json\\\\s*\\\\\\\n          {.*?\\\\}\\\\s*```', '', handler_output, flags=re.DOTALL).strip()\\n        \\\n          \\    return {\\\"needs_search\\\": \\\"true\\\" if needs_search else \\\"false\\\",\\\n          \\ \\\"search_query\\\": search_query, \\\"reason\\\": reason, \\\"text\\\": text}\\n\\\n          \\        except: pass\\n    return {\\\"needs_search\\\": \\\"false\\\", \\\"search_query\\\"\\\n          : \\\"\\\", \\\"reason\\\": \\\"\\\", \\\"text\\\": handler_output}\\n\"\n        code_language: python3\n        desc: Analyze\u51fa\u529b\u304b\u3089JSON\u691c\u7d22\u6307\u793a\u3092\u62bd\u51fa\n        outputs:\n          needs_search:\n            children: null\n            type: string\n          reason:\n            children: null\n            type: string\n          search_query:\n            children: null\n            type: string\n          text:\n            children: null\n            type: string\n        selected: false\n        title: Analyze Extract Query\n        type: code\n        variables:\n        - value_selector:\n          - '1736500000070'\n          - text\n          variable: handler_output\n      height: 80\n      id: '1736500000072'\n      position:\n        x: 2100\n        y: 900\n      positionAbsolute:\n        x: 2100\n        y: 900\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            value: 'true'\n            value_type: constant\n            variable_selector:\n            - '1736500000072'\n            - needs_search\n          logical_operator: and\n        desc: \u691c\u7d22\u304c\u5fc5\u8981\u304b\u5224\u5b9a\n        selected: false\n        title: Analyze Search Decision\n        type: if-else\n      height: 152\n      id: '1736500000073'\n      position:\n        x: 2100\n        y: 1080\n      positionAbsolute:\n        x: 2100\n        y: 1080\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: \u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u30d9\u30b9\u30c8\u30d7\u30e9\u30af\u30c6\u30a3\u30b9\u3092Web\u691c\u7d22\n        provider_id: langgenius\/tavily\/tavily\n        provider_name: tavily\n        provider_type: builtin\n        selected: false\n        title: Analyze Tavily\n        tool_configurations:\n          include_domains:\n            type: constant\n            value: ''\n          include_images:\n            type: constant\n            value: 0\n          search_depth:\n            type: constant\n            value: basic\n          topic:\n            type: constant\n            value: general\n        tool_label: TavilySearch\n        tool_name: tavily_search\n        tool_node_version: '2'\n        tool_parameters:\n          max_results:\n            type: constant\n            value: 5\n          query:\n            type: variable\n            value:\n            - '1736500000072'\n            - search_query\n        type: tool\n      height: 210\n      id: '1736500000074'\n      position:\n        x: 2100\n        y: 1260\n      positionAbsolute:\n        x: 2100\n        y: 1260\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u691c\u7d22\u7d50\u679c\u3092\u5206\u6790\u30ec\u30dd\u30fc\u30c8\u306b\u7d71\u5408\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b864-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3010\u5143\u306e\u5206\u6790\u30ec\u30dd\u30fc\u30c8\u3011\n\n            {{#1736500000072.text#}}\n\n\n            \u3010\u691c\u7d22\u7d50\u679c\u3011\n\n            {{#1736500000074.text#}}\n\n\n            \u3010\u51fa\u529b\u30eb\u30fc\u30eb\u3011\n\n            1. \u5143\u306e\u30ec\u30dd\u30fc\u30c8\u69cb\u9020\u3092\u7dad\u6301\n\n            2. \u691c\u7d22\u7d50\u679c\u304b\u3089\u5f97\u305f\u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\u30d9\u30b9\u30c8\u30d7\u30e9\u30af\u30c6\u30a3\u30b9\u3092\u300c## Security Best Practices\u300d\u3068\u3057\u3066\u8ffd\u52a0\n\n            3. OWASP\u306a\u3069\u306e\u696d\u754c\u6a19\u6e96\u3078\u306e\u53c2\u7167\u3092\u542b\u3081\u308b\n\n            '\n        - id: 6ba7b865-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: \u691c\u7d22\u7d50\u679c\u3092\u7d71\u5408\u3057\u3066\u304f\u3060\u3055\u3044\n        selected: false\n        structured_output_enabled: false\n        title: Analyze Integrate\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000078'\n      position:\n        x: 2100\n        y: 1440\n      positionAbsolute:\n        x: 2100\n        y: 1440\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        advanced_settings:\n          group_enabled: false\n          groups: []\n        desc: \u691c\u7d22\u3042\u308a\/\u306a\u3057\u30d1\u30b9\u3092\u7d71\u5408\n        output_type: string\n        selected: false\n        title: Analyze Aggregator\n        type: variable-aggregator\n        variables:\n        - - '1736500000078'\n          - text\n        - - '1736500000072'\n          - text\n      height: 163\n      id: '1736500000079'\n      position:\n        x: 2100\n        y: 1620\n      positionAbsolute:\n        x: 2100\n        y: 1620\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        code: \"import re\\nimport json\\n\\ndef main(handler_output: str) -> dict:\\n\\\n          \\    json_match = re.search(r'```json\\\\s*(\\\\{.*?\\\\})\\\\s*```', handler_output,\\\n          \\ re.DOTALL)\\n    if json_match:\\n        try:\\n            data = json.loads(json_match.group(1))\\n\\\n          \\            needs_search = data.get(\\\"needs_search\\\", False)\\n        \\\n          \\    search_query = data.get(\\\"search_query\\\", \\\"\\\")\\n            reason\\\n          \\ = data.get(\\\"reason\\\", \\\"\\\")\\n            text = re.sub(r'```json\\\\s*\\\\\\\n          {.*?\\\\}\\\\s*```', '', handler_output, flags=re.DOTALL).strip()\\n        \\\n          \\    return {\\\"needs_search\\\": \\\"true\\\" if needs_search else \\\"false\\\",\\\n          \\ \\\"search_query\\\": search_query, \\\"reason\\\": reason, \\\"text\\\": text}\\n\\\n          \\        except: pass\\n    return {\\\"needs_search\\\": \\\"false\\\", \\\"search_query\\\"\\\n          : \\\"\\\", \\\"reason\\\": \\\"\\\", \\\"text\\\": handler_output}\\n\"\n        code_language: python3\n        desc: Checklist\u51fa\u529b\u304b\u3089JSON\u691c\u7d22\u6307\u793a\u3092\u62bd\u51fa\n        outputs:\n          needs_search:\n            children: null\n            type: string\n          reason:\n            children: null\n            type: string\n          search_query:\n            children: null\n            type: string\n          text:\n            children: null\n            type: string\n        selected: false\n        title: Checklist Extract Query\n        type: code\n        variables:\n        - value_selector:\n          - '1736500000075'\n          - text\n          variable: handler_output\n      height: 96\n      id: '1736500000080'\n      position:\n        x: 2450\n        y: 900\n      positionAbsolute:\n        x: 2450\n        y: 900\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            value: 'true'\n            value_type: constant\n            variable_selector:\n            - '1736500000080'\n            - needs_search\n          logical_operator: and\n        desc: \u691c\u7d22\u304c\u5fc5\u8981\u304b\u5224\u5b9a\n        selected: false\n        title: Checklist Search Decision\n        type: if-else\n      height: 152\n      id: '1736500000081'\n      position:\n        x: 2450\n        y: 1080\n      positionAbsolute:\n        x: 2450\n        y: 1080\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: \u696d\u754c\u6a19\u6e96\u30c1\u30a7\u30c3\u30af\u9805\u76ee\u3092Web\u691c\u7d22\n        provider_id: langgenius\/tavily\/tavily\n        provider_name: tavily\n        provider_type: builtin\n        selected: false\n        title: Checklist Tavily\n        tool_configurations:\n          include_domains:\n            type: constant\n            value: ''\n          include_images:\n            type: constant\n            value: 0\n          search_depth:\n            type: constant\n            value: basic\n          topic:\n            type: constant\n            value: general\n        tool_label: TavilySearch\n        tool_name: tavily_search\n        tool_node_version: '2'\n        tool_parameters:\n          max_results:\n            type: constant\n            value: 5\n          query:\n            type: variable\n            value:\n            - '1736500000080'\n            - search_query\n        type: tool\n      height: 194\n      id: '1736500000082'\n      position:\n        x: 2450\n        y: 1260\n      positionAbsolute:\n        x: 2450\n        y: 1260\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u691c\u7d22\u7d50\u679c\u3092\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u306b\u7d71\u5408\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n        model:\n          completion_params:\n            temperature: 0.5\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - id: 6ba7b866-9dad-11d1-80b4-00c04fd430c8\n          role: system\n          text: '\u3010\u5143\u306e\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u3011\n\n            {{#1736500000080.text#}}\n\n\n            \u3010\u691c\u7d22\u7d50\u679c\u3011\n\n            {{#1736500000082.text#}}\n\n\n            \u3010\u51fa\u529b\u30eb\u30fc\u30eb\u3011\n\n            1. \u5143\u306e\u30c1\u30a7\u30c3\u30af\u30ea\u30b9\u30c8\u69cb\u9020\u3092\u7dad\u6301\n\n            2. \u691c\u7d22\u7d50\u679c\u304b\u3089\u5f97\u305f\u696d\u754c\u6a19\u6e96\u30c1\u30a7\u30c3\u30af\u9805\u76ee\u3092\u300c## Industry Standards\u300d\u3068\u3057\u3066\u8ffd\u52a0\n\n            3. \u30b3\u30f3\u30d7\u30e9\u30a4\u30a2\u30f3\u30b9\u8981\u4ef6\u304c\u3042\u308c\u3070\u8a00\u53ca\n\n            '\n        - id: 6ba7b867-9dad-11d1-80b4-00c04fd430c8\n          role: user\n          text: \u691c\u7d22\u7d50\u679c\u3092\u7d71\u5408\u3057\u3066\u304f\u3060\u3055\u3044\n        selected: false\n        structured_output_enabled: false\n        title: Checklist Integrate\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 116\n      id: '1736500000083'\n      position:\n        x: 2450\n        y: 1440\n      positionAbsolute:\n        x: 2450\n        y: 1440\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        advanced_settings:\n          group_enabled: false\n          groups: []\n        desc: \u691c\u7d22\u3042\u308a\/\u306a\u3057\u30d1\u30b9\u3092\u7d71\u5408\n        output_type: string\n        selected: false\n        title: Checklist Aggregator\n        type: variable-aggregator\n        variables:\n        - - '1736500000083'\n          - text\n        - - '1736500000080'\n          - text\n      height: 163\n      id: '1736500000084'\n      position:\n        x: 2450\n        y: 1620\n      positionAbsolute:\n        x: 2450\n        y: 1620\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    viewport:\n      x: 281.14427606305316\n      y: 99.90600850978427\n      zoom: 0.2713577132081961\n  rag_pipeline_variables: []\n"}
