workflows/人気科学文章の著者-(ネストされた並列)/workflow.yml
{"data":"app:\n  description: ''\n  icon: \u270d\ufe0f\n  icon_background: '#D5F5F6'\n  mode: advanced-chat\n  name: \u4eba\u6c17\u79d1\u5b66\u6587\u7ae0\u306e\u8457\u8005 (\u30cd\u30b9\u30c8\u3055\u308c\u305f\u4e26\u5217)\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16\n    version: null\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/tavily:0.1.2@aa7a8744b2ccf3a7aec818da6c504997a6319b29040e541bfc73b4fbaa9e98d9\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: tool\n      id: 1724743284784-source-1724729837516-target\n      selected: false\n      source: '1724743284784'\n      sourceHandle: source\n      target: '1724729837516'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: tool\n        targetType: llm\n      id: 1724729837516-source-1724750759528-target\n      selected: false\n      source: '1724729837516'\n      sourceHandle: source\n      target: '1724750759528'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: llm\n      id: 17247515556590-source-1724765507405-target\n      selected: false\n      source: '17247515556590'\n      sourceHandle: source\n      target: '1724765507405'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: tool\n      id: 1724765507405-source-1724766063131-target\n      selected: false\n      source: '1724765507405'\n      sourceHandle: source\n      target: '1724766063131'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: tool\n        targetType: answer\n      id: 1724766063131-source-1724752250590-target\n      selected: false\n      source: '1724766063131'\n      sourceHandle: source\n      target: '1724752250590'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: llm\n      id: 1724750759528-source-1724766700191-target\n      selected: false\n      source: '1724750759528'\n      sourceHandle: source\n      target: '1724766700191'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: answer\n      id: 1724766700191-source-1724752250590-target\n      selected: false\n      source: '1724766700191'\n      sourceHandle: source\n      target: '1724752250590'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: llm\n      id: 1724743284784-source-1724924800278-target\n      selected: false\n      source: '1724743284784'\n      sourceHandle: source\n      target: '1724924800278'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: parameter-extractor\n      id: 1724924800278-source-1724925821012-target\n      selected: false\n      source: '1724924800278'\n      sourceHandle: source\n      target: '1724925821012'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: parameter-extractor\n        targetType: tool\n      id: 1724925821012-source-1724925966029-target\n      selected: false\n      source: '1724925821012'\n      sourceHandle: source\n      target: '1724925966029'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: tool\n        targetType: llm\n      id: 1724925966029-source-1724926011843-target\n      selected: false\n      source: '1724925966029'\n      sourceHandle: source\n      target: '1724926011843'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: answer\n      id: 1724926011843-source-1724752250590-target\n      selected: false\n      source: '1724926011843'\n      sourceHandle: source\n      target: '1724752250590'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: start\n        targetType: question-classifier\n      id: 1724727524982-source-1724927400256-target\n      selected: false\n      source: '1724727524982'\n      sourceHandle: source\n      target: '1724927400256'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: question-classifier\n        targetType: llm\n      id: 1724927400256-1-1724743284784-target\n      selected: false\n      source: '1724927400256'\n      sourceHandle: '1'\n      target: '1724743284784'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: question-classifier\n        targetType: llm\n      id: 1724927400256-1-17247515556590-target\n      selected: false\n      source: '1724927400256'\n      sourceHandle: '1'\n      target: '17247515556590'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: question-classifier\n        targetType: llm\n      id: 1724927400256-2-1724927639466-target\n      selected: false\n      source: '1724927400256'\n      sourceHandle: '2'\n      target: '1724927639466'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: answer\n      id: 1724927639466-source-1724927780214-target\n      selected: false\n      source: '1724927639466'\n      sourceHandle: source\n      target: '1724927780214'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: start\n        type: start\n        variables: []\n      height: 73\n      id: '1724727524982'\n      position:\n        x: 30\n        y: 324\n      positionAbsolute:\n        x: 30\n        y: 324\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: ''\n        provider_id: serper\n        provider_name: serper\n        provider_type: builtin\n        selected: false\n        title: Serper\n        tool_configurations: {}\n        tool_label: Serper\n        tool_name: serper\n        tool_node_version: '2'\n        tool_parameters:\n          query:\n            type: mixed\n            value: '{{#1724743284784.text#}}'\n        type: tool\n      height: 52\n      id: '1724729837516'\n      position:\n        x: 955.8711169944238\n        y: 506.119699397325\n      positionAbsolute:\n        x: 955.8711169944238\n        y: 506.119699397325\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o-mini\n          provider: langgenius\/openai\/openai\n        prompt_template:\n        - id: b35e06ed-f87d-4722-95d7-66b67e979c83\n          role: system\n          text: 'You need to extract the main topic from the user''s query and transform\n            it into a search engine query. The goal is to find general information,\n            concepts, introductions, definitions, or explanations about that topic.\n            Here is the user''s query: <user_query>{{#sys.query#}}<\/user_query>\n\n            Your task is to analyze this query and extract its core theme or content.\n            Then, you should transform it into a concise search engine query to help\n            find general information about the topic. Follow these steps: Carefully\n            read and understand the user''s query. Identify the main theme or content\n            of the query. This could be a concept, person, event, or phenomenon that\n            the user is inquiring about. Remove unnecessary details or context that\n            are not important for understanding the core theme. Formulate a short,\n            clear English search query focusing on the main theme, which has the potential\n            to return general information, definitions, or explanations about this\n            topic.\n\n\n            Search Query Guidelines:\n\n            Focus on nouns and keywords related to the main theme.\n\n            Avoid using personal pronouns, articles, and unnecessary words.\n\n\n            Please provide your answer in English in the following format: <search_query>Write\n            down the search engine queries you have formed.<\/search_query>'\n        selected: false\n        title: Extract the theme.\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      height: 94\n      id: '1724743284784'\n      position:\n        x: 619.4285714285714\n        y: 506.119699397325\n      positionAbsolute:\n        x: 619.4285714285714\n        y: 506.119699397325\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o-mini\n          provider: langgenius\/openai\/openai\n        prompt_template:\n        - id: 85cb236f-91f8-4629-ab7c-7b3db9ca6c4d\n          role: system\n          text: 'Your role: You are Bai Xiaosheng - the best research and explanation\n            agent in the world. Your job: To explain {{#sys.query#}}with consistent\n            language in various possible ways, making it easy to understand.{{#sys.query#}}\n\n\n            Your motivation: to give learners an \"aha\" moment for everything they\n            need to understand. You can achieve this by mastering the art of explanation.\n\n            Learner Profile: The learner knows nothing! He is a complete beginner.\n            He can only understand simple language, without jargon or heavy grammar.\n            He likes to visualize concepts, which helps him understand better.'\n        - id: c5c1b592-96d5-40b1-9d5e-dac9633bd749\n          role: user\n          text: \"{{#1724729837516.text#}}Summarize the information and write down\\\n            \\ the most important points you find in the content. Note: Most importantly,\\\n            \\ this information will help learners understand \\\"What is this <topic>?\\\"\\\n            \\ Do not select the same information from all summaries. Always discover\\\n            \\ something new in each subsequent summary.\\n\\n{{#sys.query#}}\\n<instructions>\\\n            \\  1. First, identify the concepts that need to be simplified, using language\\\n            \\ that high school students can understand.\\n\\n2. Break down complex concepts\\\n            \\ into smaller, more digestible parts so they can be easily explained\\\n            \\ to high school students.\\n\\n3. Use simple language and avoid technical\\\n            \\ jargon to ensure clarity and understanding.\\n\\n4. Provide real-life\\\n            \\ examples or analogies to help illustrate the concept in a relevant way.\\n\\\n            \\n5. Ensure the explanation is concise and clear, focusing on the key\\\n            \\ aspects of the concept.\\n\\n6. Remember to avoid using any XML tags in\\\n            \\ your output since the final explanation should be plain text.\\n\\n7.\\\n            \\ Present scientific knowledge in a style similar to Zhihu's approach.\\n\\\n            \\n<\/instructions> \\n<examples> <example> For the concept of photosynthesis:\\\n            \\ Input: The process by which green plants and some other organisms use\\\n            \\ sunlight to synthesize food through chlorophyll. Output: Plants make\\\n            \\ their own food using sunlight and a green pigment called chlorophyll.<\/example>\\\n            \\ <example> For the concept of gravity: Input: The force that attracts\\\n            \\ an object toward the center of the Earth or any other physical body\\\n            \\ with mass. Output: Gravity is what keeps us on the ground and makes\\\n            \\ things fall down.<\/example> <example> For the concept of democracy:\\\n            \\ Input: A system of government in which representatives are elected by\\\n            \\ all residents or all eligible members to govern. Output: Democracy is\\\n            \\ when people in a country vote to choose their leaders and make decisions\\\n            \\ together.<\/example><\/examples>\"\n        selected: false\n        title: Provide a topic from the internet.\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      height: 94\n      id: '1724750759528'\n      position:\n        x: 1251.3101820807988\n        y: 506.119699397325\n      positionAbsolute:\n        x: 1251.3101820807988\n        y: 506.119699397325\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            frequency_penalty: 0.1\n            presence_penalty: 0.1\n            temperature: 0.8\n            top_p: 0.9\n          mode: chat\n          name: gpt-4o-mini\n          provider: langgenius\/openai\/openai\n        prompt_template:\n        - id: b35e06ed-f87d-4722-95d7-66b67e979c83\n          role: system\n          text: 'Introduce concepts using analogies or metaphors.{{#sys.query#}}\n\n            For example, the analogy of Docker: Imagine you are running a food truck\n            business. \ud83d\ude90\ud83c\udf54 You have a recipe book (Dockerfile) that details how to make\n            your signature dishes. \ud83d\udcd8 Based on this recipe, you''ve prepared some pre-made\n            ingredients and seasonings (Docker images). These are neatly packed in\n            sealed containers, ready for use at any time. \ud83e\udd6b\ud83e\uddc2 When customers come to\n            order, you don''t start cooking from scratch; instead, you take out these\n            pre-made ingredients (base image), quickly assemble and heat them up (create\n            a container). \ud83d\udd25 Each order (container) is made and served in its own box\n            (isolated environment), without affecting one another. \ud83c\udf71 Your food truck\n            can easily go anywhere (portability), providing the exact same dining\n            experience there. \ud83c\udf06\ud83c\udfd9\ufe0f When you want to update the menu, all you need to\n            do is modify your recipe book (update Dockerfile) and prepare new pre-made\n            ingredients (build new image). \ud83c\udd95 You can also share your recipes on food\n            forums (Docker Hub), allowing other food truck owners to make your signature\n            dishes as well. \ud83c\udf10\ud83d\udc68\u200d\ud83c\udf73\ud83d\udc69\u200d\ud83c\udf73'\n        selected: false\n        title: Provide metaphors and similes.\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      height: 94\n      id: '17247515556590'\n      position:\n        x: 619.4285714285714\n        y: 306.87813017274993\n      positionAbsolute:\n        x: 619.4285714285714\n        y: 306.87813017274993\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: \"\\n{{#1724750759528.text#}}\\n\\nTerminology Demystified:\\n{{#1724766700191.text#}}\\n\\\n          ---------------------------------------------- \\n{{#1724766063131.files#}}\\n\\\n          ---------------------------------------------- \\n\\nAnalogies in life:\\n\\\n          {{#17247515556590.text#}}\\n\\nStudy plan:\\n{{#1724925821012.plan#}}\\n{{#1724926011843.text#}}\"\n        desc: ''\n        selected: false\n        title: Direct reply\n        type: answer\n        variables: []\n      height: 243\n      id: '1724752250590'\n      position:\n        x: 2115.195325431875\n        y: 437.63222008832474\n      positionAbsolute:\n        x: 2115.195325431875\n        y: 437.63222008832474\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            frequency_penalty: 0.5\n            presence_penalty: 0.5\n            temperature: 0.2\n            top_p: 0.75\n          mode: chat\n          name: gpt-4o-mini\n          provider: langgenius\/openai\/openai\n        prompt_template:\n        - id: 5e1f13b1-f7db-4af4-926d-021465d03db3\n          role: system\n          text: 'You are tasked with converting metaphorical or analogical descriptions\n            into prompt words suitable for image generation AI models like Midjourney\n            or Stable Diffusion. Your goal is to create a list of descriptive words\n            or phrases that capture the essence of the given description, which can\n            be used to generate relevant images.\n\n\n            Guidelines for interpreting the input:\n\n            1. Identify key elements, themes, and imagery in the description\n\n            2. Consider the mood, style, and atmosphere implied by the description\n\n            3. Look for specific objects, colors, textures, or visual elements mentioned\n\n\n            Process for converting the description to prompt words:\n\n            1. Break down the description into its core components\n\n            2. Translate metaphorical language into concrete visual elements\n\n            3. Add relevant adjectives to enhance the visual description\n\n            4. Include any specific artistic styles or techniques that might be appropriate\n\n            5. Must use English.\n\n\n            Output format:\n\n            - Provide a list of English words or short phrases separated by commas\n\n            - Ensure the list is comprehensive yet concise\n\n            - Avoid repetition and redundancy\n\n            - Order the words from most important\/relevant to least\n\n\n            Here is the description you will be working with:\n\n\n            <description>\n\n            {{#17247515556590.text#}}\n\n            <\/description>\n\n\n            Example:\n\n            If the input description was \"Her voice was as smooth as honey, filling\n            the room with warmth,\" you might produce the following output:\n\n            golden voice, warm atmosphere, flowing honey, soft light, soothing tones,\n            amber glow, melodic waves, comforting presence\n\n\n            Now, please convert the given description into prompt words for image\n            generation. Begin your response with <prompt_words> and end it with <\/prompt_words>.'\n        selected: false\n        title: Generate image prompts.\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      height: 94\n      id: '1724765507405'\n      position:\n        x: 955.8711169944238\n        y: 306.87813017274993\n      positionAbsolute:\n        x: 955.8711169944238\n        y: 306.87813017274993\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: ''\n        provider_id: dalle\n        provider_name: dalle\n        provider_type: builtin\n        selected: false\n        title: DALL-E 3 painting\n        tool_configurations:\n          n:\n            type: constant\n            value: 1\n          quality:\n            type: constant\n            value: standard\n          size:\n            type: constant\n            value: horizontal\n          style:\n            type: constant\n            value: natural\n        tool_label: DALL-E 3 \u7ed8\u753b\n        tool_name: dalle3\n        tool_node_version: '2'\n        tool_parameters:\n          prompt:\n            type: mixed\n            value: '{{#1724765507405.text#}}'\n        type: tool\n      height: 166\n      id: '1724766063131'\n      position:\n        x: 1251.3101820807988\n        y: 306.87813017274993\n      positionAbsolute:\n        x: 1251.3101820807988\n        y: 306.87813017274993\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o-mini-2024-07-18\n          provider: langgenius\/openai\/openai\n        prompt_template:\n        - id: 9a90b782-d1d0-4984-b50b-fef2fb2737a4\n          role: system\n          text: 'List{{#1724750759528.text#}}Mention professional terms that may cause\n            understanding barriers, and then provide a brief explanation for each\n            one.\n\n            Please be careful not to output any other content.\n\n            <example format>\n\n            Interest rate: The percentage of interest that banks pay to depositors.\n            Currency exchange: The process of converting one currency into another.\n            Deposit: Putting money into a bank, which will pay you interest. Interest:\n            The additional income earned on your deposited money after a period of\n            time.\n\n            <\/example format>'\n        selected: false\n        title: Terminology Literacy\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      height: 94\n      id: '1724766700191'\n      position:\n        x: 1550\n        y: 499.5247355793581\n      positionAbsolute:\n        x: 1550\n        y: 499.5247355793581\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o-mini-2024-07-18\n          provider: langgenius\/openai\/openai\n        prompt_template:\n        - id: 886c82c6-de0d-45fa-a801-83a6836e16dd\n          role: system\n          text: \"<instructions>\\n1. Begin by understanding the Bloom's taxonomy of\\\n            \\ learning pathways, which include remembering, understanding, applying,\\\n            \\ analyzing, synthesizing, and evaluating.\\n2. Utilize the Bloom's taxonomy\\\n            \\ to create a structured learning plan for a student, focusing on each\\\n            \\ of the learning pathways mentioned.\\n3. Develop a detailed study plan\\\n            \\ that outlines specific activities, resources, and assessments for each\\\n            \\ stage of the Bloom's taxonomy.\\n4. Ensure that the learning plan is\\\n            \\ comprehensive and covers all aspects of the learning process, from basic\\\n            \\ memorization to critical evaluation.\\n5. Remember to format the output\\\n            \\ without any XML tags, as the final result should be a clear and concise\\\n            \\ study plan for the student.\\n\\n<examples>\\n<example>\\nInput:\\n- Bloom's\\\n            \\ taxonomy learning pathways: remembering, understanding, applying, analyzing,\\\n            \\ synthesizing, evaluating\\n\\nOutput:\\n- Study Plan:\\n  - Remembering:\\\n            \\ Flashcards for key concepts\\n  - Understanding: Reading assignments\\\n            \\ with comprehension questions\\n  - Applying: Practical exercises or simulations\\n\\\n            \\  - Analyzing: Case studies or problem-solving tasks\\n  - Synthesizing:\\\n            \\ Group projects or research papers\\n  - Evaluating: Peer reviews or self-assessments\\n\\\n            <\/example>\\n\\n<example>\\nInput:\\n- Bloom's taxonomy learning pathways:\\\n            \\ understanding, applying, analyzing, evaluating\\n\\nOutput:\\n- Study Plan:\\n\\\n            \\  - Understanding: Concept mapping activities\\n  - Applying: Hands-on\\\n            \\ experiments or real-world applications\\n  - Analyzing: Data interpretation\\\n            \\ tasks or critical thinking exercises\\n  - Evaluating: Debates or presentations\\\n            \\ with peer feedback\\n<\/example>\\n\\n<example>\\nInput:\\n- Bloom's taxonomy\\\n            \\ learning pathways: remembering, applying, synthesizing\\n\\nOutput:\\n\\\n            - Study Plan:\\n- \u7528\u4e8e\u8c37\u6b4c\u67e5\u8be2\u7684 query\\n\\n<\/example>\"\n        - id: 95174a7b-1579-44be-8a55-09dee29b93f1\n          role: user\n          text: '\u6839\u636e{{#1724743284784.text#}}\u7ed9\u51fa\u5b66\u4e60\u8ba1\u5212\n\n            '\n        selected: false\n        title: Study Plan\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      height: 94\n      id: '1724924800278'\n      position:\n        x: 942\n        y: 762\n      positionAbsolute:\n        x: 942\n        y: 762\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: ''\n        instruction: \"{{#1724924800278.text#}}Extraction  \\nStudy Plan  \\nUse the\\\n          \\ query in the text as search terms for Google, and must return in English.\\n\\\n          {{#1724924800278.text#}}Extraction  \\nStudy Plan , {{#sys.query#}}Return\\\n          \\ in markdown format using the language of query, with bullet points.\"\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o-mini-2024-07-18\n          provider: langgenius\/openai\/openai\n        parameters:\n        - description: \u5b66\u4e60\u8ba1\u5212\n          name: plan\n          required: true\n          type: string\n        - description: \u67e5\u8be2\n          name: query\n          required: true\n          type: string\n        query:\n        - '1724924800278'\n        - text\n        reasoning_mode: prompt\n        selected: false\n        title: Parameter Extractor\n        type: parameter-extractor\n        variables: []\n      height: 94\n      id: '1724925821012'\n      position:\n        x: 1246\n        y: 757.5\n      positionAbsolute:\n        x: 1246\n        y: 757.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: ''\n        provider_id: tavily\n        provider_name: tavily\n        provider_type: builtin\n        selected: false\n        title: TavilySearch\n        tool_configurations:\n          exclude_domains:\n            type: constant\n            value: null\n          include_answer:\n            type: constant\n            value: null\n          include_domains:\n            type: constant\n            value: null\n          include_images:\n            type: constant\n            value: null\n          include_raw_content:\n            type: constant\n            value: null\n          max_results:\n            type: constant\n            value: 5\n          search_depth:\n            type: constant\n            value: basic\n        tool_label: TavilySearch\n        tool_name: tavily_search\n        tool_node_version: '2'\n        tool_parameters:\n          query:\n            type: mixed\n            value: '{{#1724925821012.query#}}'\n        type: tool\n      height: 244\n      id: '1724925966029'\n      position:\n        x: 1550\n        y: 683.5\n      positionAbsolute:\n        x: 1550\n        y: 683.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o-mini\n          provider: langgenius\/openai\/openai\n        prompt_template:\n        - id: 63cad421-2fca-4c36-b04f-1066992cf29e\n          role: system\n          text: '{{#1724925966029.text#}}Extract the URL and description in the format:\n            Learning materials (provide a few words of description): url.'\n        selected: false\n        title: Provide study materials.\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      height: 94\n      id: '1724926011843'\n      position:\n        x: 1852.287813017275\n        y: 762\n      positionAbsolute:\n        x: 1852.287813017275\n        y: 762\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        classes:\n        - id: '1'\n          name: 'Identify whether the user is asking questions about concepts, definitions,\n            or introductions to terms. If so, choose this category: For example: What\n            is quantitative easing? What is Docker? What does CRM mean? Can you explain\n            digital nomads to me?'\n        - id: '2'\n          name: Other issues, such as users' casual conversations.\n        desc: ''\n        instructions: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o-mini-2024-07-18\n          provider: langgenius\/openai\/openai\n        query_variable_selector:\n        - '1724727524982'\n        - sys.query\n        selected: false\n        title: Question Classifier\n        topics: []\n        type: question-classifier\n      height: 304\n      id: '1724927400256'\n      position:\n        x: 332.57142857142856\n        y: 324\n      positionAbsolute:\n        x: 332.57142857142856\n        y: 324\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o-mini-2024-07-18\n          provider: langgenius\/openai\/openai\n        prompt_template:\n        - id: cc4f5e3a-02b0-4ae1-9f18-d4157e464042\n          role: system\n          text: Refuse users' small talk.\n        selected: false\n        title: Refuse small talk.\n        type: llm\n        variables: []\n        vision:\n          configs:\n            detail: high\n          enabled: true\n      height: 94\n      id: '1724927639466'\n      position:\n        x: 631.4138803076465\n        y: 917.5000000000001\n      positionAbsolute:\n        x: 631.4138803076465\n        y: 917.5000000000001\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#1724927639466.text#}}'\n        desc: ''\n        selected: false\n        title: Answer 2\n        type: answer\n        variables: []\n      height: 103\n      id: '1724927780214'\n      position:\n        x: 942\n        y: 917.5000000000001\n      positionAbsolute:\n        x: 942\n        y: 917.5000000000001\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    viewport:\n      x: -41.02318292505413\n      y: 53.53686796055155\n      zoom: 0.5848633475523196\n  rag_pipeline_variables: []\n"}
