workflows/deepresearch/workflow.yml
{"data":"app:\n  description: ''\n  icon: \ud83d\udd0d\n  icon_background: '#D1E9FF'\n  mode: advanced-chat\n  name: DeepResearch\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/openai:0.2.8@aae2be0913b8c6f0b80cff58e08d7a8b4c214569b41778413fcaea204561ff16\n    version: null\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/tavily:0.1.2@aa7a8744b2ccf3a7aec818da6c504997a6319b29040e541bfc73b4fbaa9e98d9\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables:\n  - description: ''\n    id: 07ea9b5b-edf2-471d-8206-50e95e7ab87e\n    name: topics\n    selector:\n    - conversation\n    - topics\n    value: []\n    value_type: array[string]\n  - description: ''\n    id: a9049588-f66f-4c3a-a30e-5952a677baa9\n    name: nextSearchTopic\n    selector:\n    - conversation\n    - nextSearchTopic\n    value: ''\n    value_type: string\n  - description: ''\n    id: 2e0a2539-345c-4723-8b1b-b653e1a0caef\n    name: findings\n    selector:\n    - conversation\n    - findings\n    value: []\n    value_type: array[string]\n  - description: ''\n    id: 23d208d1-a50d-468c-8757-ad49da0886e1\n    name: shouldContinue\n    selector:\n    - conversation\n    - shouldContinue\n    value: 'true'\n    value_type: string\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_size_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: true\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: iteration-start\n        targetType: llm\n      id: 1739244888446start-source-1739245286499-target\n      selected: false\n      source: 1739244888446start\n      sourceHandle: source\n      target: '1739245286499'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: llm\n        targetType: tool\n      id: 1739245286499-source-1739245446901-target\n      selected: false\n      source: '1739245286499'\n      sourceHandle: source\n      target: '1739245446901'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: llm\n        targetType: tool\n      id: 1739245286499-source-1739245524260-target\n      selected: false\n      source: '1739245286499'\n      sourceHandle: source\n      target: '1739245524260'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: false\n        sourceType: start\n        targetType: code\n      id: 1739229221219-source-1739245548624-target\n      selected: false\n      source: '1739229221219'\n      sourceHandle: source\n      target: '1739245548624'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: code\n        targetType: iteration\n      id: 1739245548624-source-1739244888446-target\n      selected: false\n      source: '1739245548624'\n      sourceHandle: source\n      target: '1739244888446'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: if-else\n        targetType: tool\n      id: 1739245723720-true-1739245424964-target\n      selected: false\n      source: '1739245723720'\n      sourceHandle: 'true'\n      target: '1739245424964'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: tool\n        targetType: assigner\n      id: 1739245446901-source-1739245826988-target\n      selected: false\n      source: '1739245446901'\n      sourceHandle: source\n      target: '1739245826988'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: tool\n        targetType: assigner\n      id: 1739245424964-source-1739246085820-target\n      selected: false\n      source: '1739245424964'\n      sourceHandle: source\n      target: '1739246085820'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: false\n        sourceType: iteration\n        targetType: llm\n      id: 1739244888446-source-1739246156652-target\n      selected: false\n      source: '1739244888446'\n      sourceHandle: source\n      target: '1739246156652'\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: false\n        sourceType: llm\n        targetType: answer\n      id: 1739246156652-source-answer-target\n      selected: false\n      source: '1739246156652'\n      sourceHandle: source\n      target: answer\n      targetHandle: target\n      type: custom\n      zIndex: 0\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: tool\n        targetType: assigner\n      id: 1739245524260-source-1739245826988-target\n      selected: false\n      source: '1739245524260'\n      sourceHandle: source\n      target: '1739245826988'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: assigner\n        targetType: if-else\n      id: 1739245826988-source-1739245723720-target\n      selected: false\n      source: '1739245826988'\n      sourceHandle: source\n      target: '1739245723720'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: assigner\n        targetType: template-transform\n      id: 1739246085820-source-1739254060247-target\n      selected: false\n      source: '1739246085820'\n      sourceHandle: source\n      target: '1739254060247'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: template-transform\n        targetType: variable-aggregator\n      id: 1739254060247-source-1739254296073-target\n      selected: false\n      source: '1739254060247'\n      sourceHandle: source\n      target: '1739254296073'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: variable-aggregator\n        targetType: answer\n      id: 1739254296073-source-1739253994297-target\n      selected: false\n      source: '1739254296073'\n      sourceHandle: source\n      target: '1739253994297'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: if-else\n        targetType: template-transform\n      id: 1739245723720-false-1739254516383-target\n      selected: false\n      source: '1739245723720'\n      sourceHandle: 'false'\n      target: '1739254516383'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    - data:\n        isInIteration: true\n        iteration_id: '1739244888446'\n        sourceType: template-transform\n        targetType: variable-aggregator\n      id: 1739254516383-source-1739254296073-target\n      selected: false\n      source: '1739254516383'\n      sourceHandle: source\n      target: '1739254296073'\n      targetHandle: target\n      type: custom\n      zIndex: 1002\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: \u958b\u59cb\n        type: start\n        variables:\n        - label: depth\n          max_length: 48\n          options: []\n          required: false\n          type: number\n          variable: depth\n      height: 109\n      id: '1739229221219'\n      position:\n        x: 366.31402428155843\n        y: 451.3953252394805\n      positionAbsolute:\n        x: 366.31402428155843\n        y: 451.3953252394805\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '\n\n          {{#1739246156652.text#}}'\n        desc: ''\n        selected: false\n        title: \u56de\u7b54\n        type: answer\n        variables: []\n      height: 103\n      id: answer\n      position:\n        x: 1858.4472130110016\n        y: 676.2043901579685\n      positionAbsolute:\n        x: 1858.4472130110016\n        y: 676.2043901579685\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: ''\n        error_handle_mode: terminated\n        height: 1042\n        is_parallel: false\n        iterator_selector:\n        - '1739245548624'\n        - array\n        output_selector:\n        - '1739254296073'\n        - output\n        output_type: array[string]\n        parallel_nums: 10\n        selected: false\n        start_node_id: 1739244888446start\n        title: \u30a4\u30c6\u30ec\u30fc\u30b7\u30e7\u30f3\n        type: iteration\n        width: 1186\n      height: 1042\n      id: '1739244888446'\n      position:\n        x: 650.8824354561594\n        y: 550.399123970737\n      positionAbsolute:\n        x: 650.8824354561594\n        y: 550.399123970737\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 1186\n      zIndex: 1\n    - data:\n        desc: ''\n        isInIteration: true\n        selected: false\n        title: ''\n        type: iteration-start\n      draggable: false\n      height: 48\n      id: 1739244888446start\n      parentId: '1739244888446'\n      position:\n        x: 24\n        y: 68\n      positionAbsolute:\n        x: 674.8824354561594\n        y: 618.399123970737\n      selectable: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-iteration-start\n      width: 44\n      zIndex: 1002\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        isInIteration: true\n        iteration_id: '1739244888446'\n        memory:\n          query_prompt_template: '## \u30c8\u30d4\u30c3\u30af\n\n            {{#sys.query#}}\n\n\n            ## \u73fe\u5728\u306e\u767a\u898b\u4e8b\u9805\n\n            {{#conversation.findings#}}\n\n\n            ## \u691c\u7d22\u6e08\u306etopics\n\n            {{#conversation.topics#}}'\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            response_format: json_object\n            temperature: 0.7\n          mode: chat\n          name: gpt-4o\n          provider: langgenius\/openai\/openai\n        prompt_template:\n        - id: 2acdb5a9-823a-4ce3-8dbe-401540a61bc5\n          role: system\n          text: \"\u3042\u306a\u305f\u306f\u4ee5\u4e0b\u306e\u30c8\u30d4\u30c3\u30af\u306b\u3064\u3044\u3066\u8abf\u67fb\u3092\u884c\u3046\u7814\u7a76\u30a8\u30fc\u30b8\u30a7\u30f3\u30c8\u3067\u3059\\n\u4f55\u304c\u5206\u304b\u308a\u307e\u3057\u305f\u304b\uff1f\u3069\u306e\u3088\u3046\u306a\u4e0d\u660e\u70b9\u304c\u6b8b\u3063\u3066\u3044\u307e\u3059\u304b\uff1f\u6b21\u306b\u8abf\u67fb\u3059\u3079\u304d\u5177\u4f53\u7684\u306a\u5074\u9762\u306f\u3042\u308a\u307e\u3059\u304b\uff1f\\n\\\n            \\n## \u51fa\u529b\\n- \u691c\u7d22\u6e08\u307f\u306etopics\u3068\u5b8c\u5168\u306b\u540c\u3058topic\u306f\u51fa\u529b\u3057\u306a\u3044\u3067\u304f\u3060\u3055\u3044\u3002\\n- \u3055\u3089\u306b\u60c5\u5831\u3092\u691c\u7d22\u3059\u308b\u5fc5\u8981\u304c\u3042\u308b\u5834\u5408\u306f\u3001nextSearchTopic\u3092\u8a2d\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002\\n\\\n            - \u5341\u5206\u306a\u60c5\u5831\u304c\u5f97\u3089\u308c\u305f\u5834\u5408\u306f\u3001shouldContinue\u3092false\u306b\u8a2d\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002`,\\n- json\u3067\u51fa\u529b\u3057\u3066\u304f\u3060\u3055\u3044\\n\\n\\\n            ```json\\nnextSearchTopic: str | None\\nshouldContinue: bool \\n```\\n\\n\\n\"\n        selected: false\n        title: LLM\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 94\n      id: '1739245286499'\n      parentId: '1739244888446'\n      position:\n        x: 128\n        y: 67.17608171067138\n      positionAbsolute:\n        x: 778.8824354561594\n        y: 617.5752056814084\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        desc: ''\n        isInIteration: true\n        iteration_id: '1739244888446'\n        provider_id: tavily\n        provider_name: tavily\n        provider_type: builtin\n        selected: false\n        title: Tavily Search\n        tool_configurations:\n          days:\n            type: constant\n            value: 3\n          exclude_domains:\n            type: constant\n            value: null\n          include_answer:\n            type: constant\n            value: 0\n          include_domains:\n            type: constant\n            value: null\n          include_image_descriptions:\n            type: constant\n            value: 0\n          include_images:\n            type: constant\n            value: 0\n          include_raw_content:\n            type: constant\n            value: 0\n          max_results:\n            type: constant\n            value: 5\n          search_depth:\n            type: constant\n            value: advanced\n          topic:\n            type: constant\n            value: general\n        tool_label: Tavily Search\n        tool_name: tavily_search\n        tool_node_version: '2'\n        tool_parameters:\n          query:\n            type: mixed\n            value: '{{#conversation.nextSearchTopic#}}'\n        type: tool\n      height: 322\n      id: '1739245424964'\n      parentId: '1739244888446'\n      position:\n        x: 326.22599578713334\n        y: 498.438562962014\n      positionAbsolute:\n        x: 977.1084312432928\n        y: 1048.837686932751\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        desc: ''\n        isInIteration: true\n        iteration_id: '1739244888446'\n        provider_id: json_process\n        provider_name: json_process\n        provider_type: builtin\n        selected: false\n        title: Extract nextSearchTopic\n        tool_configurations:\n          ensure_ascii:\n            type: constant\n            value: 1\n        tool_label: JSON Parse\n        tool_name: parse\n        tool_node_version: '2'\n        tool_parameters:\n          content:\n            type: mixed\n            value: '{{#1739245286499.text#}}'\n          json_filter:\n            type: mixed\n            value: nextSearchTopic\n        type: tool\n      height: 88\n      id: '1739245446901'\n      parentId: '1739244888446'\n      position:\n        x: 47.75538842320191\n        y: 247.82584481078118\n      positionAbsolute:\n        x: 698.6378238793613\n        y: 798.2249687815182\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        desc: ''\n        isInIteration: true\n        iteration_id: '1739244888446'\n        provider_id: json_process\n        provider_name: json_process\n        provider_type: builtin\n        selected: false\n        title: Extract shouldContinue\n        tool_configurations:\n          ensure_ascii:\n            type: constant\n            value: 1\n        tool_label: JSON Parse\n        tool_name: parse\n        tool_node_version: '2'\n        tool_parameters:\n          content:\n            type: mixed\n            value: '{{#1739245286499.text#}}'\n          json_filter:\n            type: mixed\n            value: shouldContinue\n        type: tool\n      height: 88\n      id: '1739245524260'\n      parentId: '1739244888446'\n      position:\n        x: 49.19865333377197\n        y: 358.53359239733356\n      positionAbsolute:\n        x: 700.0810887899314\n        y: 908.9327163680706\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        code: \"\\ndef main(depth: int) -> dict:\\n    depth = depth or 3\\n    array\\\n          \\ = list(range(depth))\\n    return {\\n        \\\"array\\\": array,\\n      \\\n          \\  \\\"depth\\\": depth\\n    }\\n\"\n        code_language: python3\n        desc: ''\n        outputs:\n          array:\n            children: null\n            type: array[number]\n          depth:\n            children: null\n            type: number\n        selected: false\n        title: \u914d\u5217\u4f5c\u6210\n        type: code\n        variables:\n        - value_selector:\n          - '1739229221219'\n          - depth\n          variable: depth\n      height: 52\n      id: '1739245548624'\n      position:\n        x: 371.36822492017325\n        y: 563.5\n      positionAbsolute:\n        x: 371.36822492017325\n        y: 563.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: b3169e80-3090-4a5b-8df4-3148d7afcb4d\n            value: 'True'\n            varType: string\n            variable_selector:\n            - '1739245524260'\n            - text\n          id: 'true'\n          logical_operator: and\n        desc: ''\n        isInIteration: true\n        iteration_id: '1739244888446'\n        selected: false\n        title: IF\/ELSE\n        type: if-else\n      height: 124\n      id: '1739245723720'\n      parentId: '1739244888446'\n      position:\n        x: 48.74608363090499\n        y: 534.403100663696\n      positionAbsolute:\n        x: 699.6285190870644\n        y: 1084.802224634433\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        desc: ''\n        isInIteration: true\n        items:\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1739245446901'\n          - text\n          variable_selector:\n          - conversation\n          - nextSearchTopic\n          write_mode: over-write\n        - input_type: variable\n          operation: over-write\n          value:\n          - '1739245524260'\n          - text\n          variable_selector:\n          - conversation\n          - shouldContinue\n          write_mode: over-write\n        - input_type: variable\n          operation: append\n          value:\n          - conversation\n          - nextSearchTopic\n          variable_selector:\n          - conversation\n          - topics\n          write_mode: over-write\n        iteration_id: '1739244888446'\n        selected: false\n        title: \u5909\u6570\u4ee3\u5165\n        type: assigner\n        version: '2'\n      height: 136\n      id: '1739245826988'\n      parentId: '1739244888446'\n      position:\n        x: 751.8559564663802\n        y: 65\n      positionAbsolute:\n        x: 1402.7383919225397\n        y: 615.399123970737\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        desc: ''\n        isInIteration: true\n        items:\n        - input_type: variable\n          operation: append\n          value:\n          - '1739245424964'\n          - text\n          variable_selector:\n          - conversation\n          - findings\n          write_mode: over-write\n        iteration_id: '1739244888446'\n        selected: false\n        title: \u5909\u6570\u4ee3\u5165\n        type: assigner\n        version: '2'\n      height: 84\n      id: '1739246085820'\n      parentId: '1739244888446'\n      position:\n        x: 606.0088891085952\n        y: 628.4868835893722\n      positionAbsolute:\n        x: 1256.8913245647545\n        y: 1178.8860075601092\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: ''\n        memory:\n          query_prompt_template: \"## topic\\n{{#sys.query#}}\\n\\n# findings \\n{{#conversation.findings#}}\\n\"\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.7\n          mode: chat\n          name: deepseek-reasoner\n          provider: langgenius\/deepseek\/deepseek\n        prompt_template:\n        - id: 89c17d58-6a63-4f4f-98fe-f6534ec1ecb0\n          role: system\n          text: ' \u4ee5\u4e0b\u306e\u8abf\u67fb\u7d50\u679c\u306b\u57fa\u3065\u3044\u3066\u3001topic\u306b\u95a2\u3059\u308b\u5305\u62ec\u7684\u306a\u5206\u6790\u3092\u4f5c\u6210\u3057\u3066\u304f\u3060\u3055\u3044\n\n            \u91cd\u8981\u306a\u6d1e\u5bdf\u3001\u7d50\u8ad6\u3001\u304a\u3088\u3073\u6b8b\u3055\u308c\u305f\u4e0d\u78ba\u5b9f\u6027\u3092\u63d0\u4f9b\u3057\u3066\u304f\u3060\u3055\u3044\u3002\u9069\u5207\u306a\u7b87\u6240\u3067\u51fa\u5178\u3092\u5f15\u7528\u3057\u3066\u304f\u3060\u3055\u3044\u3002\u3053\u306e\u5206\u6790\u306f\u975e\u5e38\u306b\u5305\u62ec\u7684\u3067\u8a73\u7d30\u306a\u5185\u5bb9\u3067\u3042\u308b\u5fc5\u8981\u304c\u3042\u308a\u307e\u3059\u3002\u9577\u6587\u306b\u306a\u308b\u3053\u3068\u3092\u60f3\u5b9a\u3057\u3066\u3044\u307e\u3059\u3002\n\n            \u30de\u30fc\u30af\u30c0\u30a6\u30f3\u3067\u51fa\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002'\n        selected: false\n        title: Reasoning Model\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 94\n      id: '1739246156652'\n      position:\n        x: 1858.4472130110016\n        y: 563.5\n      positionAbsolute:\n        x: 1858.4472130110016\n        y: 563.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        answer: '{{#1739254296073.output#}}'\n        desc: ''\n        isInIteration: true\n        iteration_id: '1739244888446'\n        selected: false\n        title: \u56de\u7b54\n        type: answer\n        variables: []\n      height: 103\n      id: '1739253994297'\n      parentId: '1739244888446'\n      position:\n        x: 906.5415537904462\n        y: 878.1347002855746\n      positionAbsolute:\n        x: 1557.4239892466057\n        y: 1428.5338242563116\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        desc: ''\n        isInIteration: true\n        iteration_id: '1739244888446'\n        selected: false\n        template: '{{ index + 1 }}\/{{ depth }}\u56de\u76ee\u306e\u691c\u7d22\u3092\u5b9f\u884c\u3057\u307e\u3057\u305f\u3002\n\n\n          '\n        title: \u4e2d\u611f\u51fa\u529b\u30d5\u30a9\u30fc\u30de\u30c3\u30c8\n        type: template-transform\n        variables:\n        - value_selector:\n          - '1739244888446'\n          - index\n          variable: index\n        - value_selector:\n          - '1739229221219'\n          - depth\n          variable: depth\n      height: 52\n      id: '1739254060247'\n      parentId: '1739244888446'\n      position:\n        x: 867.6964657330811\n        y: 631.2310099968581\n      positionAbsolute:\n        x: 1518.5789011892407\n        y: 1181.6301339675952\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        desc: ''\n        isInIteration: true\n        iteration_id: '1739244888446'\n        output_type: string\n        selected: false\n        title: \u5909\u6570\u96c6\u7d04\u5668\n        type: variable-aggregator\n        variables:\n        - - '1739254060247'\n          - output\n        - - '1739254516383'\n          - output\n      height: 135\n      id: '1739254296073'\n      parentId: '1739244888446'\n      position:\n        x: 640.0246481283732\n        y: 876.3796107886387\n      positionAbsolute:\n        x: 1290.9070835845328\n        y: 1426.7787347593758\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        desc: ''\n        isInIteration: true\n        iteration_id: '1739244888446'\n        selected: false\n        template: ' '\n        title: \u7a7a\u767d\n        type: template-transform\n        variables: []\n      height: 52\n      id: '1739254516383'\n      parentId: '1739244888446'\n      position:\n        x: 325.67632971971057\n        y: 879.2385925098547\n      positionAbsolute:\n        x: 976.55876517587\n        y: 1429.6377164805917\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n      zIndex: 1002\n    - data:\n        author: stvlynn\n        desc: ''\n        height: 371\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Deep\n          Research\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\u4f5c\u8005\uff1a\",\"type\":\"text\",\"version\":1},{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\u5cb8\u7530\n          \u5d07\u53f2\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"link\",\"version\":1,\"rel\":\"noreferrer\",\"target\":null,\"title\":null,\"url\":\"https:\/\/x.com\/omluc_ai\"}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\u691c\u7d22\u3057\u305f\u3044\u3053\u3068\u5165\u529b\u3059\u308b\u3060\u3051\u3067\u3001\u691c\u7d22\u3092\u7e70\u308a\u8fd4\u3057\u5b9f\u884c\u3057\u3066\u3001\u30ec\u30dd\u30fc\u30c8\u3092\u4f5c\u6210\u3057\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\u30e6\u30fc\u30b6\u30fc\u5165\u529b\u306e\u53d7\u3051\u53d6\u308a:\n          \u30e6\u30fc\u30b6\u30fc\u306f\u521d\u671f\u306e\u8cea\u554f (sys.query) \u3068\u7814\u7a76\u306e\u6df1\u3055 (depth) \u3092\u5165\u529b\u3057\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\u691c\u7d22\u306e\u521d\u671f\u5316:\n          GPT-4o \u3092\u4f7f\u7528\u3057\u3066\u521d\u671f\u306e\u8cea\u554f\u3092\u5206\u6790\u3057\u3001\u691c\u7d22\u30c6\u30fc\u30de\u3092\u62bd\u51fa\u3057\u3001\u691c\u7d22\u3092\u7d9a\u3051\u308b\u5fc5\u8981\u304c\u3042\u308b\u304b\u3069\u3046\u304b\u3092\u5224\u65ad\u3057\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"},{\"children\":[],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\u53cd\u5fa9\u691c\u7d22:\n          \u8a2d\u5b9a\u3055\u308c\u305f\u6df1\u3055 (depth) \u306b\u57fa\u3065\u3044\u3066\u8907\u6570\u56de\u306e\u53cd\u5fa9\u691c\u7d22\u3092\u884c\u3044\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"},{\"children\":[],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\u5404\u53cd\u5fa9\u3067\u306f\u3001Tavily\n          \u691c\u7d22\u30a8\u30f3\u30b8\u30f3\u3092\u4f7f\u7528\u3057\u3001\u4ee5\u524d\u306b\u62bd\u51fa\u3057\u305f\u691c\u7d22\u30c6\u30fc\u30de\u306b\u57fa\u3065\u3044\u3066\u691c\u7d22\u3092\u884c\u3044\u3001\u691c\u7d22\u7d50\u679c\u3092\u53ce\u96c6\u3057\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"LLM\n          \u3092\u901a\u3058\u3066\u691c\u7d22\u3092\u7d9a\u3051\u308b\u5fc5\u8981\u304c\u3042\u308b\u304b\u3069\u3046\u304b\u3092\u5224\u65ad\u3057\u3001\u53cd\u5fa9\u30d7\u30ed\u30bb\u30b9\u3092\u5236\u5fa1\u3057\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"},{\"children\":[],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\u5206\u6790\u3068\u8981\u7d04:\n          \u53cd\u5fa9\u691c\u7d22\u304c\u7d42\u4e86\u3057\u305f\u3068\u304d (\u307e\u305f\u306f\u691c\u7d22\u3092\u7d9a\u3051\u308b\u5fc5\u8981\u304c\u306a\u3044\u3068\u5224\u65ad\u3057\u305f\u3068\u304d) \u306b\u3001deepseek-reasoner \u30e2\u30c7\u30eb\u3092\u4f7f\u7528\u3057\u3066\u53ce\u96c6\u3057\u305f\u3059\u3079\u3066\u306e\u691c\u7d22\u7d50\u679c\u3092\u7dcf\u5408\u7684\u306b\u5206\u6790\u3057\u3001\u8981\u7d04\u3057\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"},{\"children\":[],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\u5831\u544a\u66f8\u306e\u751f\u6210:\n          \u5206\u6790\u7d50\u679c\u3092 Markdown \u5f62\u5f0f\u3067\u6700\u7d42\u5831\u544a\u66f8\u3068\u3057\u3066\u751f\u6210\u3057\u3001\u51fa\u529b\u3057\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 798\n      height: 371\n      id: '1739283628844'\n      position:\n        x: 342.95357738991356\n        y: 24.07121075782824\n      positionAbsolute:\n        x: 342.95357738991356\n        y: 24.07121075782824\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 798\n    - data:\n        author: stvlynn\n        desc: ''\n        height: 227\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"main\u95a2\u6570\u306f\u3001\u6df1\u3055\u3092\u8868\u3059\u6574\u6570\u3092\u53d7\u3051\u53d6\u308a\u3001\u305d\u306e\u6df1\u3055\u306b\u5fdc\u3058\u305f\u30ea\u30b9\u30c8\u3068\u3001\u6700\u7d42\u7684\u306a\u6df1\u3055\u306e\u5024\u3092\u542b\u3080\u8f9e\u66f8\u3092\u751f\u6210\u3057\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"array\n          = list(range(depth)): range(depth)\u306f\u30010\u304b\u3089depth-1\u307e\u3067\u306e\u6574\u6570\u306e\u30b7\u30fc\u30b1\u30f3\u30b9\u3092\u4f5c\u6210\u3057\u307e\u3059\u3002list()\u95a2\u6570\u306f\u3053\u306e\u30b7\u30fc\u30b1\u30f3\u30b9\u3092\u30ea\u30b9\u30c8\u306b\u5909\u63db\u3057\u307e\u3059\u3002\u4f8b\u3048\u3070\u3001depth\u304c3\u306e\u5834\u5408\u3001array\u306f[0,\n          1, 2]\u306b\u306a\u308a\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 265\n      height: 227\n      id: '1739283923251'\n      position:\n        x: 85.35900567854111\n        y: 550.399123970737\n      positionAbsolute:\n        x: 85.35900567854111\n        y: 550.399123970737\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 265\n    - data:\n        author: stvlynn\n        desc: ''\n        height: 122\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"GPT-4o\u30e2\u30c7\u30eb\u3092\u5229\u7528\u3057\u3066\u3001\u30e6\u30fc\u30b6\u30fc\u304c\u5165\u529b\u3057\u305f\u521d\u671f\u306e\u8cea\u554f\u3092\u5206\u6790\u3057\u3001\u691c\u7d22\u30ad\u30fc\u30ef\u30fc\u30c9\u3068\u30c6\u30fc\u30de\u3092\u62bd\u51fa\u3057\u3001\u6b21\u306e\u691c\u7d22\u3092\u884c\u3046\u5fc5\u8981\u304c\u3042\u308b\u304b\u3069\u3046\u304b\u3092\u5224\u65ad\u3057\u307e\u3059\u3002\u51fa\u529b\u7d50\u679c\u306fJSON\u5f62\u5f0f\u306e\u30c6\u30ad\u30b9\u30c8\u3067\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 350\n      height: 122\n      id: '1739285077334'\n      position:\n        x: 788.6385688481537\n        y: 416.30802094190165\n      positionAbsolute:\n        x: 788.6385688481537\n        y: 416.30802094190165\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 350\n    - data:\n        author: stvlynn\n        desc: ''\n        height: 88\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\\\"LLM\\\"\n          \u30ce\u30fc\u30c9\u304b\u3089\u51fa\u529b\u3055\u308c\u305f JSON \u30c6\u30ad\u30b9\u30c8\u304b\u3089 nextSearchTopic \u30d5\u30a3\u30fc\u30eb\u30c9\u306e\u5024\u3092\u62bd\u51fa\u3057\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 240\n      height: 88\n      id: '1739285156227'\n      position:\n        x: 392.6233739231274\n        y: 790.0751712082184\n      positionAbsolute:\n        x: 392.6233739231274\n        y: 790.0751712082184\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 240\n    - data:\n        author: stvlynn\n        desc: ''\n        height: 88\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\\\"LLM\\\"\n          \u30ce\u30fc\u30c9\u304b\u3089\u51fa\u529b\u3055\u308c\u305f JSON \u30c6\u30ad\u30b9\u30c8\u304b\u3089 shouldContinue \u30d5\u30a3\u30fc\u30eb\u30c9\u306e\u5024\u3092\u62bd\u51fa\u3057\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 240\n      height: 88\n      id: '1739285211334'\n      position:\n        x: 385.9489605255146\n        y: 921.3386346946035\n      positionAbsolute:\n        x: 385.9489605255146\n        y: 921.3386346946035\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 240\n    - data:\n        author: stvlynn\n        desc: ''\n        height: 140\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"\\\"EXTRACT\n          NEXTSEARCHTOPIC\\\" \u304a\u3088\u3073 \\\"EXTRACT SHOULDCONTINUE\\\" \u30ce\u30fc\u30c9\u304b\u3089\u62bd\u51fa\u3057\u305f\u5024\u3092\u305d\u308c\u305e\u308c nextSearchTopic\n          \u3068 shouldContinue \u5909\u6570\u306b\u4e0a\u66f8\u304d\u3057\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":1},{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"nextSearchTopic\n          \u306e\u5024\u3092 topics \u914d\u5217\u306b\u8ffd\u52a0\u3057\u3001\u691c\u7d22\u30c6\u30fc\u30de\u306e\u30ea\u30b9\u30c8\u3092\u5f62\u6210\u3057\u307e\u3059\u3002\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":2}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 433\n      height: 140\n      id: '1739285254837'\n      position:\n        x: 1330.3784562877254\n        y: 402.9591941466761\n      positionAbsolute:\n        x: 1330.3784562877254\n        y: 402.9591941466761\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 433\n    viewport:\n      x: -91.27431458239948\n      y: 39.62763266416539\n      zoom: 1.0997671988908053\n  rag_pipeline_variables: []\n"}
