workflows/顧客レビュー分析/workflow.yml
{"data":"app:\n  description: ''\n  icon: \ud83e\udd16\n  icon_background: '#FFEAD5'\n  mode: workflow\n  name: \u9867\u5ba2\u30ec\u30d3\u30e5\u30fc\u5206\u6790\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/bedrock:0.0.57@b7fb0414c4e64004a36c3141cb8d9a249d949013bb21efbce34918e71cce5051\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables: []\n  environment_variables: []\n  features:\n    file_upload:\n      allowed_file_extensions:\n      - .JPG\n      - .JPEG\n      - .PNG\n      - .GIF\n      - .WEBP\n      - .SVG\n      allowed_file_types:\n      - image\n      allowed_file_upload_methods:\n      - local_file\n      - remote_url\n      enabled: false\n      fileUploadConfig:\n        audio_file_size_limit: 50\n        batch_count_limit: 5\n        file_size_limit: 15\n        image_file_batch_limit: 10\n        image_file_size_limit: 10\n        single_chunk_attachment_limit: 10\n        video_file_size_limit: 100\n        workflow_file_upload_limit: 10\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n      number_limits: 3\n    opening_statement: ''\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions: []\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: question-classifier\n      id: 1711529033302-1711529036587\n      source: '1711529033302'\n      sourceHandle: source\n      target: '1711529036587'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: http-request\n      id: 1711529036587-1711529059204\n      source: '1711529036587'\n      sourceHandle: '1711529038361'\n      target: '1711529059204'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: question-classifier\n      id: 1711529036587-1711529066687\n      source: '1711529036587'\n      sourceHandle: '1711529041725'\n      target: '1711529066687'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: http-request\n      id: 1711529066687-1711529077513\n      source: '1711529066687'\n      sourceHandle: '1711529068175'\n      target: '1711529077513'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: question-classifier\n        targetType: http-request\n      id: 1711529066687-1711529078719\n      source: '1711529066687'\n      sourceHandle: '1711529068956'\n      target: '1711529078719'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: http-request\n        targetType: variable-aggregator\n      id: 1711529059204-1712580001694\n      source: '1711529059204'\n      sourceHandle: source\n      target: '1712580001694'\n      targetHandle: '1711529059204'\n      type: custom\n    - data:\n        sourceType: http-request\n        targetType: variable-aggregator\n      id: 1711529077513-1712580001694\n      source: '1711529077513'\n      sourceHandle: source\n      target: '1712580001694'\n      targetHandle: '1711529077513'\n      type: custom\n    - data:\n        sourceType: http-request\n        targetType: variable-aggregator\n      id: 1711529078719-1712580001694\n      source: '1711529078719'\n      sourceHandle: source\n      target: '1712580001694'\n      targetHandle: '1711529078719'\n      type: custom\n    - data:\n        sourceType: variable-aggregator\n        targetType: end\n      id: 1712580001694-1712580036103\n      source: '1712580001694'\n      sourceHandle: source\n      target: '1712580036103'\n      targetHandle: target\n      type: custom\n    nodes:\n    - data:\n        desc: ''\n        selected: false\n        title: Start\n        type: start\n        variables:\n        - label: Customer Review\n          max_length: 48\n          options: []\n          required: true\n          type: paragraph\n          variable: review\n      dragging: false\n      height: 109\n      id: '1711529033302'\n      position:\n        x: 79.5\n        y: 2087.5\n      positionAbsolute:\n        x: 79.5\n        y: 2087.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        classes:\n        - id: '1711529038361'\n          name: Positive review\n        - id: '1711529041725'\n          name: 'Negative review '\n        desc: ''\n        instructions: ''\n        model:\n          completion_params:\n            frequency_penalty: 0\n            max_tokens: 512\n            presence_penalty: 0\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        query_variable_selector:\n        - '1711529033302'\n        - review\n        selected: false\n        title: Question Classifier\n        topics: []\n        type: question-classifier\n      dragging: false\n      height: 170\n      id: '1711529036587'\n      position:\n        x: 362.5\n        y: 2087.5\n      positionAbsolute:\n        x: 362.5\n        y: 2087.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        authorization:\n          config: null\n          type: no-auth\n        body:\n          data: ''\n          type: none\n        desc: Send positive feedback to the company's brand marketing department system\n        headers: ''\n        method: get\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        timeout:\n          connect: 10\n          max_connect_timeout: 300\n          max_read_timeout: 600\n          max_write_timeout: 600\n          read: 60\n          write: 20\n        title: HTTP Request\n        type: http-request\n        url: https:\/\/www.example.com\n        variables: []\n      height: 181\n      id: '1711529059204'\n      position:\n        x: 645.5\n        y: 2087.5\n      positionAbsolute:\n        x: 645.5\n        y: 2087.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        classes:\n        - id: '1711529068175'\n          name: After-sales issues\n        - id: '1711529068956'\n          name: Transportation issue\n        desc: ''\n        instructions: ''\n        model:\n          completion_params:\n            frequency_penalty: 0\n            max_tokens: 512\n            presence_penalty: 0\n            temperature: 0.7\n            top_p: 1\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        query_variable_selector:\n        - '1711529033302'\n        - review\n        selected: false\n        title: Question Classifier 2\n        topics: []\n        type: question-classifier\n      dragging: false\n      height: 170\n      id: '1711529066687'\n      position:\n        x: 645.5\n        y: 2302.5\n      positionAbsolute:\n        x: 645.5\n        y: 2302.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        authorization:\n          config: null\n          type: no-auth\n        body:\n          data: ''\n          type: none\n        desc: Send negative transportation feedback to the transportation department\n        headers: ''\n        method: get\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        title: HTTP Request 2\n        type: http-request\n        url: https:\/\/www.example.com\n        variables: []\n      height: 181\n      id: '1711529077513'\n      position:\n        x: 928.5\n        y: 2302.5\n      positionAbsolute:\n        x: 928.5\n        y: 2302.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        authorization:\n          config: null\n          type: no-auth\n        body:\n          data: ''\n          type: none\n        desc: Send negative transportation feedback to the product experience department\n        headers: ''\n        method: get\n        params: ''\n        retry_config:\n          max_retries: 3\n          retry_enabled: true\n          retry_interval: 100\n        selected: false\n        title: HTTP Request 3\n        type: http-request\n        url: https:\/\/www.example.com\n        variables: []\n      height: 181\n      id: '1711529078719'\n      position:\n        x: 928.5\n        y: 2467.5\n      positionAbsolute:\n        x: 928.5\n        y: 2467.5\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: ''\n        output_type: string\n        selected: false\n        title: Variable Aggregator\n        type: variable-aggregator\n        variables:\n        - - '1711529059204'\n          - body\n        - - '1711529077513'\n          - body\n        - - '1711529078719'\n          - body\n      height: 161\n      id: '1712580001694'\n      position:\n        x: 1224.114238372066\n        y: 2195.3780740038183\n      positionAbsolute:\n        x: 1224.114238372066\n        y: 2195.3780740038183\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        desc: Workflow Complete\n        outputs:\n        - value_selector:\n          - '1712580001694'\n          - output\n          variable: output\n        selected: false\n        title: End\n        type: end\n      height: 116\n      id: '1712580036103'\n      position:\n        x: 1524.114238372066\n        y: 2195.3780740038183\n      positionAbsolute:\n        x: 1524.114238372066\n        y: 2195.3780740038183\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 242\n    - data:\n        author: Dify\n        desc: ''\n        height: 237\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"This\n          workflow utilizes LLM (Large Language Models) to classify customer reviews\n          and forward them to the internal system.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[],\"direction\":null,\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0},{\"children\":[{\"children\":[{\"detail\":0,\"format\":1,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Start\n          Node\",\"type\":\"text\",\"version\":1},{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\":\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":2},{\"children\":[{\"children\":[{\"children\":[{\"detail\":0,\"format\":1,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Function\",\"type\":\"text\",\"version\":1},{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\":\n          Collect user input for the customer review.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":1,\"type\":\"listitem\",\"version\":1,\"value\":1},{\"children\":[{\"detail\":0,\"format\":1,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Variable\",\"type\":\"text\",\"version\":1},{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\":\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":1,\"type\":\"listitem\",\"version\":1,\"value\":2},{\"children\":[{\"children\":[{\"children\":[{\"detail\":0,\"format\":16,\"mode\":\"normal\",\"style\":\"\",\"text\":\"review\",\"type\":\"text\",\"version\":1},{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\":\n          Customer review text\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":2,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":1,\"type\":\"listitem\",\"version\":1,\"value\":3}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":3}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"number\",\"start\":2,\"tag\":\"ol\"}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 384\n      height: 237\n      id: '1718995253775'\n      position:\n        x: -58.605136000739776\n        y: 2212.481578306511\n      positionAbsolute:\n        x: -58.605136000739776\n        y: 2212.481578306511\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 384\n    - data:\n        author: Dify\n        desc: ''\n        height: 486\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":3,\"mode\":\"normal\",\"style\":\"font-size:\n          16px;\",\"text\":\"Detailed Process\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":3},{\"children\":[{\"children\":[{\"detail\":0,\"format\":1,\"mode\":\"normal\",\"style\":\"\",\"text\":\"User\n          Input\",\"type\":\"text\",\"version\":1},{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\":\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":11},{\"children\":[{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"User\n          inputs the customer review in the start node.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":1,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":12},{\"children\":[{\"detail\":0,\"format\":1,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Initial\n          Classification\",\"type\":\"text\",\"version\":1},{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\":\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":12},{\"children\":[{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"The\n          review is classified as either positive or negative.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":1,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":13},{\"children\":[{\"detail\":0,\"format\":1,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Positive\n          Review Handling\",\"type\":\"text\",\"version\":1},{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\":\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":13},{\"children\":[{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Positive\n          reviews are sent to the brand marketing department.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":1,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":14},{\"children\":[{\"detail\":0,\"format\":1,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Negative\n          Review Handling\",\"type\":\"text\",\"version\":1},{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\":\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":14},{\"children\":[{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Negative\n          reviews are further classified into after-sales or transportation issues.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":1,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":15},{\"children\":[{\"detail\":0,\"format\":1,\"mode\":\"normal\",\"style\":\"\",\"text\":\"After-sales\n          Issues Handling\",\"type\":\"text\",\"version\":1},{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\":\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":15},{\"children\":[{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Negative\n          after-sales feedback is sent to the after-sales department.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":1,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":16},{\"children\":[{\"detail\":0,\"format\":1,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Transportation\n          Issues Handling\",\"type\":\"text\",\"version\":1},{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\":\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":16},{\"children\":[{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Negative\n          transportation feedback is sent to the transportation department and the\n          product experience department.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":1,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":17},{\"children\":[{\"detail\":0,\"format\":1,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Variable\n          Assignment\",\"type\":\"text\",\"version\":1},{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\":\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":17},{\"children\":[{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Responses\n          from HTTP requests are assigned to variables.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":1,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":18},{\"children\":[{\"detail\":0,\"format\":1,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Workflow\n          Completion\",\"type\":\"text\",\"version\":1},{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\":\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":18},{\"children\":[{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"The\n          workflow is marked as complete, and the final output is generated.\",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":1,\"type\":\"listitem\",\"version\":1,\"value\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"bullet\",\"start\":1,\"tag\":\"ul\"}],\"direction\":\"ltr\",\"format\":\"start\",\"indent\":0,\"type\":\"listitem\",\"version\":1,\"value\":19}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"list\",\"version\":1,\"listType\":\"number\",\"start\":11,\"tag\":\"ol\"}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 640\n      height: 486\n      id: '1718995287039'\n      position:\n        x: 489.3997033572796\n        y: 2672.3438791911353\n      positionAbsolute:\n        x: 489.3997033572796\n        y: 2672.3438791911353\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 640\n    - data:\n        author: Dify\n        desc: ''\n        height: 88\n        selected: false\n        showAuthor: true\n        text: '{\"root\":{\"children\":[{\"children\":[{\"detail\":0,\"format\":0,\"mode\":\"normal\",\"style\":\"\",\"text\":\"Use\n          HTTP Request to send feedback to internal systems. \",\"type\":\"text\",\"version\":1}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"paragraph\",\"version\":1,\"textFormat\":0}],\"direction\":\"ltr\",\"format\":\"\",\"indent\":0,\"type\":\"root\",\"version\":1}}'\n        theme: blue\n        title: ''\n        type: ''\n        width: 240\n      height: 88\n      id: '1718995305162'\n      position:\n        x: 1229.082890943888\n        y: 2473.1984056101255\n      positionAbsolute:\n        x: 1229.082890943888\n        y: 2473.1984056101255\n      selected: true\n      sourcePosition: right\n      targetPosition: left\n      type: custom-note\n      width: 240\n    viewport:\n      x: -714.3103189130081\n      y: -944.5679360750023\n      zoom: 0.6120002462013241\n  rag_pipeline_variables: []\n"}
