workflows/speckit-clarify-要件明確化/workflow.yml
{"data":"app:\n  description: SDD\u306b\u304a\u3051\u308b\u66d6\u6627\u306a\u8981\u4ef6\u3092\u691c\u51fa\u3057\u30011\u554f\u305a\u3064\u5bfe\u8a71\u5f62\u5f0f\u3067\u660e\u78ba\u5316\u3092\u884c\u3046\u30c1\u30e3\u30c3\u30c8\u30d5\u30ed\u30fc\u3002spec-kit\u306eclarify\u30b3\u30de\u30f3\u30c9\u3092\u518d\u73fe\u3002\n  icon: \ud83e\udd16\n  icon_background: '#E4FBCC'\n  mode: advanced-chat\n  name: SpecKit Clarify - \u8981\u4ef6\u660e\u78ba\u5316\n  use_icon_as_answer_icon: false\ndependencies:\n- current_identifier: null\n  type: marketplace\n  value:\n    marketplace_plugin_unique_identifier: langgenius\/bedrock:0.0.57@b7fb0414c4e64004a36c3141cb8d9a249d949013bb21efbce34918e71cce5051\n    version: null\nkind: app\nversion: 0.5.0\nworkflow:\n  conversation_variables:\n  - description: \u5143\u306e\u8981\u4ef6\u4ed5\u69d8\n    id: cv_specification\n    name: specification\n    selector:\n    - conversation\n    - specification\n    value: ''\n    value_type: string\n  - description: \u73fe\u5728\u306e\u66f4\u65b0\u6e08\u307f\u30b9\u30da\u30c3\u30af\n    id: cv_updated_spec\n    name: updated_spec\n    selector:\n    - conversation\n    - updated_spec\n    value: ''\n    value_type: string\n  - description: \u751f\u6210\u3055\u308c\u305f\u8cea\u554f\u30ea\u30b9\u30c8\uff08JSON\uff09\n    id: cv_questions\n    name: questions_json\n    selector:\n    - conversation\n    - questions_json\n    value: ''\n    value_type: string\n  - description: \u73fe\u5728\u306e\u8cea\u554f\u30a4\u30f3\u30c7\u30c3\u30af\u30b9\uff080-4\uff09\n    id: cv_question_index\n    name: question_index\n    selector:\n    - conversation\n    - question_index\n    value: 0\n    value_type: integer\n  - description: \u3053\u308c\u307e\u3067\u306e\u660e\u78ba\u5316\u5c65\u6b74\n    id: cv_clarifications\n    name: clarifications\n    selector:\n    - conversation\n    - clarifications\n    value: ''\n    value_type: string\n  - description: '\u30bb\u30c3\u30b7\u30e7\u30f3\u72b6\u614b: init, asking, done'\n    id: cv_state\n    name: state\n    selector:\n    - conversation\n    - state\n    value: init\n    value_type: string\n  environment_variables: []\n  features:\n    file_upload:\n      image:\n        enabled: false\n        number_limits: 3\n        transfer_methods:\n        - local_file\n        - remote_url\n    opening_statement: '# \ud83d\udd0d SpecKit Clarify - \u8981\u4ef6\u660e\u78ba\u5316\n\n\n      \u8981\u4ef6\u4ed5\u69d8\u3092\u5165\u529b\u3057\u3066\u304f\u3060\u3055\u3044\u3002\u66d6\u6627\u3055\u3092\u5206\u6790\u3057\u30011\u554f\u305a\u3064\u660e\u78ba\u5316\u8cea\u554f\u3092\u884c\u3044\u307e\u3059\u3002\n\n\n      **\u4f7f\u3044\u65b9:**\n\n      1. \u6700\u521d\u306b\u8981\u4ef6\u4ed5\u69d8\uff08\u30b9\u30da\u30c3\u30af\uff09\u3092\u8cbc\u308a\u4ed8\u3051\u3066\u304f\u3060\u3055\u3044\n\n      2. \u8cea\u554f\u306b\u5bfe\u3057\u3066\u56de\u7b54\u3057\u3066\u304f\u3060\u3055\u3044\uff08\u9078\u629e\u80a2\u306e\u6587\u5b57 or \u77ed\u3044\u56de\u7b54\uff09\n\n      3. \u300cdone\u300d\u300c\u5b8c\u4e86\u300d\u3067\u7d42\u4e86\u3057\u3001\u66f4\u65b0\u6e08\u307f\u30b9\u30da\u30c3\u30af\u3092\u51fa\u529b\u3057\u307e\u3059\n\n\n      **\u30d2\u30f3\u30c8:** \u63a8\u5968\u30aa\u30d7\u30b7\u30e7\u30f3\u304c\u8868\u793a\u3055\u308c\u308b\u306e\u3067\u3001\u300cyes\u300d\u3067\u63a1\u7528\u3067\u304d\u307e\u3059\u3002\n\n      '\n    retriever_resource:\n      enabled: false\n    sensitive_word_avoidance:\n      enabled: false\n    speech_to_text:\n      enabled: false\n    suggested_questions:\n    - \u8981\u4ef6\u4ed5\u69d8\u3092\u8cbc\u308a\u4ed8\u3051\u3066\u304f\u3060\u3055\u3044\n    suggested_questions_after_answer:\n      enabled: false\n    text_to_speech:\n      enabled: false\n      language: ''\n      voice: ''\n  graph:\n    edges:\n    - data:\n        sourceType: start\n        targetType: if-else\n      id: 1736800000001-1736800000010\n      source: '1736800000001'\n      sourceHandle: source\n      target: '1736800000010'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736800000010-true-1736800000002\n      source: '1736800000010'\n      sourceHandle: 'true'\n      target: '1736800000002'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: if-else\n      id: 1736800000010-false-1736800000020\n      source: '1736800000010'\n      sourceHandle: 'false'\n      target: '1736800000020'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: llm\n      id: 1736800000002-1736800000003\n      source: '1736800000002'\n      sourceHandle: source\n      target: '1736800000003'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-assigner\n      id: 1736800000003-1736800000004\n      source: '1736800000003'\n      sourceHandle: source\n      target: '1736800000004'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: variable-assigner\n        targetType: llm\n      id: 1736800000004-1736800000005\n      source: '1736800000004'\n      sourceHandle: source\n      target: '1736800000005'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: 1736800000005-1736800000006\n      source: '1736800000005'\n      sourceHandle: source\n      target: '1736800000006'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736800000020-true-1736800000030\n      source: '1736800000020'\n      sourceHandle: 'true'\n      target: '1736800000030'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736800000020-false-1736800000021\n      source: '1736800000020'\n      sourceHandle: 'false'\n      target: '1736800000021'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: llm\n      id: 1736800000021-1736800000022\n      source: '1736800000021'\n      sourceHandle: source\n      target: '1736800000022'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: variable-assigner\n      id: 1736800000022-1736800000023\n      source: '1736800000022'\n      sourceHandle: source\n      target: '1736800000023'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: variable-assigner\n        targetType: if-else\n      id: 1736800000023-1736800000024\n      source: '1736800000023'\n      sourceHandle: source\n      target: '1736800000024'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736800000024-true-1736800000025\n      source: '1736800000024'\n      sourceHandle: 'true'\n      target: '1736800000025'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: if-else\n        targetType: llm\n      id: 1736800000024-false-1736800000030\n      source: '1736800000024'\n      sourceHandle: 'false'\n      target: '1736800000030'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: 1736800000025-1736800000026\n      source: '1736800000025'\n      sourceHandle: source\n      target: '1736800000026'\n      targetHandle: target\n      type: custom\n    - data:\n        sourceType: llm\n        targetType: answer\n      id: 1736800000030-1736800000031\n      source: '1736800000030'\n      sourceHandle: source\n      target: '1736800000031'\n      targetHandle: target\n      type: custom\n    nodes:\n    - data:\n        desc: \u30e6\u30fc\u30b6\u30fc\u5165\u529b\u3092\u53d7\u3051\u53d6\u308b\n        selected: false\n        title: Start\n        type: start\n        variables: []\n      height: 90\n      id: '1736800000001'\n      position:\n        x: 80\n        y: 400\n      positionAbsolute:\n        x: 80\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: is\n            id: cond-state-init\n            value: init\n            varType: string\n            variable_selector:\n            - conversation\n            - state\n          logical_operator: and\n        desc: \u521d\u56de\u304b\u3069\u3046\u304b\u3092\u5224\u5b9a\n        selected: false\n        title: \u521d\u56de\u30c1\u30a7\u30c3\u30af\n        type: if-else\n      height: 126\n      id: '1736800000010'\n      position:\n        x: 380\n        y: 400\n      positionAbsolute:\n        x: 380\n        y: 400\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u8981\u4ef6\u306e\u66d6\u6627\u3055\u3092\u5206\u6790\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: prompt-ambiguity-analysis\n          role: system\n          text: \"\u3042\u306a\u305f\u306f\u8981\u4ef6\u5206\u6790\u306e\u5c02\u9580\u5bb6\u3067\u3059\u3002\u63d0\u4f9b\u3055\u308c\u305f\u8981\u4ef6\u4ed5\u69d8\u3092\u5206\u6790\u3057\u3001\u66d6\u6627\u3055\u3084\u4e0d\u8db3\u3057\u3066\u3044\u308b\u6c7a\u5b9a\u4e8b\u9805\u3092\u7279\u5b9a\u3057\u3066\u304f\u3060\u3055\u3044\u3002\\n\\n\u4ee5\u4e0b\u306e\u5206\u985e\u4f53\u7cfb\u3067\u8a55\u4fa1\u3057\u3066\u304f\u3060\u3055\u3044\uff1a\\n\\\n            - Clear: \u5341\u5206\u306b\u660e\u78ba\\n- Partial: \u90e8\u5206\u7684\u306b\u5b9a\u7fa9\u3001\u66d6\u6627\u3055\u304c\u6b8b\u308b\\n- Missing: \u5b8c\u5168\u306b\u6b20\u843d\\n\\n## \u5206\u985e\u4f53\u7cfb\\n\\\n            1. \u6a5f\u80fd\u30b9\u30b3\u30fc\u30d7\u3068\u632f\u308b\u821e\u3044\uff08\u30b4\u30fc\u30eb\u3001\u30b9\u30b3\u30fc\u30d7\u5916\u5ba3\u8a00\u3001\u30e6\u30fc\u30b6\u30fc\u30ed\u30fc\u30eb\uff09\\n2. \u30c9\u30e1\u30a4\u30f3\u3068\u30c7\u30fc\u30bf\u30e2\u30c7\u30eb\uff08\u30a8\u30f3\u30c6\u30a3\u30c6\u30a3\u3001\u95a2\u4fc2\u3001\u72b6\u614b\u9077\u79fb\u3001\u30b9\u30b1\u30fc\u30eb\uff09\\n\\\n            3. \u30a4\u30f3\u30bf\u30e9\u30af\u30b7\u30e7\u30f3\u3068UX\u30d5\u30ed\u30fc\uff08\u30b8\u30e3\u30fc\u30cb\u30fc\u3001\u30a8\u30e9\u30fc\u72b6\u614b\u3001\u30a2\u30af\u30bb\u30b7\u30d3\u30ea\u30c6\u30a3\uff09\\n4. \u975e\u6a5f\u80fd\u54c1\u8cea\u5c5e\u6027\uff08\u30d1\u30d5\u30a9\u30fc\u30de\u30f3\u30b9\u3001\u30b9\u30b1\u30fc\u30e9\u30d3\u30ea\u30c6\u30a3\u3001\u53ef\u7528\u6027\u3001\u30bb\u30ad\u30e5\u30ea\u30c6\u30a3\uff09\\n\\\n            5. \u7d71\u5408\u3068\u5916\u90e8\u4f9d\u5b58\uff08API\u3001\u30c7\u30fc\u30bf\u5f62\u5f0f\u3001\u30d7\u30ed\u30c8\u30b3\u30eb\uff09\\n6. \u30a8\u30c3\u30b8\u30b1\u30fc\u30b9\u3068\u969c\u5bb3\u51e6\u7406\uff08\u30cd\u30ac\u30c6\u30a3\u30d6\u30b7\u30ca\u30ea\u30aa\u3001\u30ec\u30fc\u30c8\u5236\u9650\u3001\u7af6\u5408\uff09\\n7. \u5236\u7d04\u3068\u30c8\u30ec\u30fc\u30c9\u30aa\u30d5\uff08\u6280\u8853\u7684\u5236\u7d04\u3001\u5374\u4e0b\u3055\u308c\u305f\u4ee3\u66ff\u6848\uff09\\n\\\n            8. \u7528\u8a9e\u3068\u4e00\u8cab\u6027\uff08\u7528\u8a9e\u96c6\u3001\u975e\u63a8\u5968\u7528\u8a9e\uff09\\n9. \u5b8c\u4e86\u30b7\u30b0\u30ca\u30eb\uff08\u53d7\u3051\u5165\u308c\u57fa\u6e96\u3001\u5b8c\u4e86\u5b9a\u7fa9\uff09\\n\\nJSON\u5f62\u5f0f\u3067\u51fa\u529b:\\n```json\\n\\\n            {\\n  \\\"categories\\\": [\\n    {\\\"name\\\": \\\"\u30ab\u30c6\u30b4\u30ea\u540d\\\", \\\"status\\\": \\\"Clear|Partial|Missing\\\"\\\n            , \\\"issues\\\": [\\\"\u554f\u984c\u70b9\\\"], \\\"impact\\\": \\\"High|Medium|Low\\\"}\\n  ],\\n  \\\"\\\n            summary\\\": {\\\"clear_count\\\": 0, \\\"partial_count\\\": 0, \\\"missing_count\\\"\\\n            : 0}\\n}\\n```\\n\"\n        - id: prompt-ambiguity-user\n          role: user\n          text: '\u4ee5\u4e0b\u306e\u8981\u4ef6\u4ed5\u69d8\u3092\u5206\u6790\u3057\u3066\u304f\u3060\u3055\u3044\uff1a\n\n\n            {{#1736800000001.sys.query#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: \u66d6\u6627\u3055\u5206\u6790\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736800000002'\n      position:\n        x: 680\n        y: 200\n      positionAbsolute:\n        x: 680\n        y: 200\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u660e\u78ba\u5316\u8cea\u554f\u3092\u751f\u6210\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.5\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: prompt-question-gen\n          role: system\n          text: \"\u66d6\u6627\u3055\u5206\u6790\u306b\u57fa\u3065\u304d\u3001\u6700\u59275\u3064\u306e\u660e\u78ba\u5316\u8cea\u554f\u3092\u751f\u6210\u3057\u3066\u304f\u3060\u3055\u3044\u3002\\n\\n## \u30eb\u30fc\u30eb\\n1. \u8cea\u554f\u5f62\u5f0f: \u9078\u629e\u5f0f(2-5\u30aa\u30d7\u30b7\u30e7\u30f3)\\\n            \\ \u307e\u305f\u306f \u77ed\u3044\u56de\u7b54(5\u5358\u8a9e\u4ee5\u5185)\\n2. \u512a\u5148\u9806\u4f4d: \u30a4\u30f3\u30d1\u30af\u30c8\u00d7\u4e0d\u78ba\u5b9f\u6027\u3001\u4e0b\u6d41\u306e\u624b\u623b\u308a\u30ea\u30b9\u30af\u524a\u6e1b\\n3. \u9664\u5916: \u65e2\u56de\u7b54\u3001\u4e9b\u7d30\u306a\u597d\u307f\u3001\u5b9f\u884c\u8a73\u7d30\\n\\\n            4. \u30ab\u30c6\u30b4\u30ea\u30d0\u30e9\u30f3\u30b9\u3092\u4fdd\u3064\\n\\n## \u51fa\u529b\u5f62\u5f0f\uff08JSON\uff09\\n```json\\n{\\n  \\\"questions\\\": [\\n    {\\n\\\n            \\      \\\"id\\\": 1,\\n      \\\"category\\\": \\\"\u30ab\u30c6\u30b4\u30ea\u540d\\\",\\n      \\\"question\\\"\\\n            : \\\"\u8cea\u554f\u6587\\\",\\n      \\\"type\\\": \\\"multiple_choice\\\",\\n      \\\"options\\\": [\\\"\\\n            A: \u30aa\u30d7\u30b7\u30e7\u30f3A\\\", \\\"B: \u30aa\u30d7\u30b7\u30e7\u30f3B\\\", \\\"C: \u30aa\u30d7\u30b7\u30e7\u30f3C\\\"],\\n      \\\"recommended\\\": \\\"\\\n            A\\\",\\n      \\\"recommendation_reason\\\": \\\"\u63a8\u5968\u7406\u7531\\\",\\n      \\\"impact\\\": \\\"\\\n            High\\\",\\n      \\\"spec_section\\\": \\\"\u66f4\u65b0\u3059\u3079\u304d\u30bb\u30af\u30b7\u30e7\u30f3\u540d\\\"\\n    }\\n  ],\\n  \\\"total_count\\\"\\\n            : 5\\n}\\n```\\n\"\n        - id: prompt-question-user\n          role: user\n          text: '## \u8981\u4ef6\u4ed5\u69d8\n\n            {{#1736800000001.sys.query#}}\n\n\n            ## \u66d6\u6627\u3055\u5206\u6790\u7d50\u679c\n\n            {{#1736800000002.text#}}\n\n\n            \u4e0a\u8a18\u306b\u57fa\u3065\u304d\u8cea\u554f\u3092\u751f\u6210\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: \u8cea\u554f\u751f\u6210\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736800000003'\n      position:\n        x: 980\n        y: 200\n      positionAbsolute:\n        x: 980\n        y: 200\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: \u30b9\u30da\u30c3\u30af\u3068\u8cea\u554f\u3092\u4fdd\u5b58\n        output_type: array[string]\n        selected: false\n        title: \u5909\u6570\u521d\u671f\u5316\n        type: variable-assigner\n        variables:\n        - value_selector:\n          - '1736800000001'\n          - sys.query\n          variable_id: cv_specification\n          write_mode: over-write\n        - value_selector:\n          - '1736800000001'\n          - sys.query\n          variable_id: cv_updated_spec\n          write_mode: over-write\n        - value_selector:\n          - '1736800000003'\n          - text\n          variable_id: cv_questions\n          write_mode: over-write\n        - value: asking\n          variable_id: cv_state\n          write_mode: over-write\n        - value: 0\n          variable_id: cv_question_index\n          write_mode: over-write\n      height: 150\n      id: '1736800000004'\n      position:\n        x: 1280\n        y: 200\n      positionAbsolute:\n        x: 1280\n        y: 200\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u6700\u521d\u306e\u8cea\u554f\u3092\u8868\u793a\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: prompt-show-question\n          role: system\n          text: '\u8cea\u554f\u30ea\u30b9\u30c8\u304b\u3089\u6700\u521d\u306e\u8cea\u554f\uff08id:1\uff09\u3092\u8868\u793a\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            ## \u8868\u793a\u5f62\u5f0f\n\n            ---\n\n            **\ud83d\udccb \u66d6\u6627\u3055\u5206\u6790\u5b8c\u4e86** - [partial_count]\u500b\u306e\u66d6\u6627\u306a\u9805\u76ee\u3092\u691c\u51fa\n\n\n            ---\n\n            ## \u2753 \u8cea\u554f 1\/[total_count]\n\n            **\u30ab\u30c6\u30b4\u30ea:** [category]\n\n            **\u5f71\u97ff\u5ea6:** [impact]\n\n\n            [question]\n\n\n            | \u30aa\u30d7\u30b7\u30e7\u30f3 | \u8aac\u660e |\n\n            |-----------|------|\n\n            | A | [option A] |\n\n            | B | [option B] |\n\n            | C | [option C] |\n\n\n            **\ud83d\udca1 \u63a8\u5968:** [recommended] - [recommendation_reason]\n\n\n            ---\n\n            \u56de\u7b54: \u30aa\u30d7\u30b7\u30e7\u30f3\u6587\u5b57(A\/B\/C)\u3001\u300cyes\u300d\u3067\u63a8\u5968\u3092\u63a1\u7528\u3001\u307e\u305f\u306f\u77ed\u3044\u56de\u7b54\n\n            \u300cdone\u300d\u307e\u305f\u306f\u300c\u5b8c\u4e86\u300d\u3067\u7d42\u4e86\n\n            ---\n\n            '\n        - id: prompt-show-question-user\n          role: user\n          text: '\u8cea\u554f\u30ea\u30b9\u30c8:\n\n            {{#1736800000003.text#}}\n\n\n            \u66d6\u6627\u3055\u5206\u6790:\n\n            {{#1736800000002.text#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: \u6700\u521d\u306e\u8cea\u554f\u8868\u793a\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736800000005'\n      position:\n        x: 1580\n        y: 200\n      positionAbsolute:\n        x: 1580\n        y: 200\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1736800000005.text#}}'\n        desc: ''\n        selected: false\n        title: Answer \u8cea\u554f\n        type: answer\n        variables:\n        - value_selector:\n          - '1736800000005'\n          - text\n          variable: question_text\n      height: 103\n      id: '1736800000006'\n      position:\n        x: 1880\n        y: 200\n      positionAbsolute:\n        x: 1880\n        y: 200\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: contains\n            id: cond-done-1\n            value: done\n            varType: string\n            variable_selector:\n            - '1736800000001'\n            - sys.query\n          - comparison_operator: contains\n            id: cond-done-2\n            value: \u5b8c\u4e86\n            varType: string\n            variable_selector:\n            - '1736800000001'\n            - sys.query\n          logical_operator: or\n        desc: \u30e6\u30fc\u30b6\u30fc\u304c\u7d42\u4e86\u3092\u5e0c\u671b\u3057\u305f\u304b\n        selected: false\n        title: \u7d42\u4e86\u30c1\u30a7\u30c3\u30af\n        type: if-else\n      height: 126\n      id: '1736800000020'\n      position:\n        x: 680\n        y: 600\n      positionAbsolute:\n        x: 680\n        y: 600\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u30e6\u30fc\u30b6\u30fc\u56de\u7b54\u3092\u89e3\u91c8\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: prompt-process-answer\n          role: system\n          text: \"\u30e6\u30fc\u30b6\u30fc\u306e\u56de\u7b54\u3092\u89e3\u91c8\u3057\u3001\u660e\u78ba\u5316\u7d50\u679c\u3092\u751f\u6210\u3057\u3066\u304f\u3060\u3055\u3044\u3002\\n\\n## \u30eb\u30fc\u30eb\\n- \u300cyes\u300d\u300c\u63a8\u5968\u300d\u300crecommended\u300d\u2192\\\n            \\ \u63a8\u5968\u30aa\u30d7\u30b7\u30e7\u30f3\u3092\u63a1\u7528\\n- \u300cA\u300d\u300cB\u300d\u300cC\u300d\u7b49 \u2192 \u8a72\u5f53\u30aa\u30d7\u30b7\u30e7\u30f3\u3092\u63a1\u7528\\n- \u305d\u306e\u4ed6 \u2192 \u305d\u306e\u307e\u307e\u77ed\u3044\u56de\u7b54\u3068\u3057\u3066\u63a1\u7528\\n\\n## \u51fa\u529b\u5f62\u5f0f\uff08JSON\uff09\\n\\\n            ```json\\n{\\n  \\\"question_id\\\": 1,\\n  \\\"question\\\": \\\"\u8cea\u554f\u6587\\\",\\n  \\\"answer\\\"\\\n            : \\\"\u63a1\u7528\u3055\u308c\u305f\u56de\u7b54\\\",\\n  \\\"spec_section\\\": \\\"\u66f4\u65b0\u3059\u3079\u304d\u30bb\u30af\u30b7\u30e7\u30f3\\\",\\n  \\\"clarification_text\\\"\\\n            : \\\"Q: \u8cea\u554f \u2192 A: \u56de\u7b54\\\"\\n}\\n```\\n\"\n        - id: prompt-process-answer-user\n          role: user\n          text: '## \u73fe\u5728\u306e\u8cea\u554f\u30a4\u30f3\u30c7\u30c3\u30af\u30b9\n\n            {{#conversation.question_index#}}\n\n\n            ## \u8cea\u554f\u30ea\u30b9\u30c8\n\n            {{#conversation.questions_json#}}\n\n\n            ## \u30e6\u30fc\u30b6\u30fc\u306e\u56de\u7b54\n\n            {{#1736800000001.sys.query#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: \u56de\u7b54\u51e6\u7406\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736800000021'\n      position:\n        x: 980\n        y: 600\n      positionAbsolute:\n        x: 980\n        y: 600\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u30b9\u30da\u30c3\u30af\u306b\u56de\u7b54\u3092\u7d71\u5408\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: prompt-update-spec\n          role: system\n          text: '\u660e\u78ba\u5316\u7d50\u679c\u3092\u30b9\u30da\u30c3\u30af\u306b\u7d71\u5408\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            ## \u30eb\u30fc\u30eb\n\n            1. \u300c## Clarifications\u300d\u30bb\u30af\u30b7\u30e7\u30f3\u304c\u306a\u3051\u308c\u3070\u4f5c\u6210\n\n            2. \u300c### Session YYYY-MM-DD\u300d\u30b5\u30d6\u30bb\u30af\u30b7\u30e7\u30f3\u306b\u8a18\u9332\n\n            3. \u8a72\u5f53\u30bb\u30af\u30b7\u30e7\u30f3\u3092\u66f4\u65b0\uff08\u66d6\u6627\u306a\u8a18\u8ff0\u3092\u660e\u78ba\u306a\u8a18\u8ff0\u306b\u7f6e\u63db\uff09\n\n            4. \u77db\u76fe\u3059\u308b\u53e4\u3044\u8a18\u8ff0\u306f\u524a\u9664\n\n            5. \u30d5\u30a9\u30fc\u30de\u30c3\u30c8\u3092\u7dad\u6301\n\n\n            ## \u51fa\u529b\n\n            \u66f4\u65b0\u3055\u308c\u305f\u30b9\u30da\u30c3\u30af\u5168\u6587\u306e\u307f\u3092\u51fa\u529b\uff08\u8aac\u660e\u4e0d\u8981\uff09\n\n            '\n        - id: prompt-update-spec-user\n          role: user\n          text: '## \u73fe\u5728\u306e\u30b9\u30da\u30c3\u30af\n\n            {{#conversation.updated_spec#}}\n\n\n            ## \u660e\u78ba\u5316\u7d50\u679c\n\n            {{#1736800000021.text#}}\n\n\n            ## \u3053\u308c\u307e\u3067\u306e\u660e\u78ba\u5316\u5c65\u6b74\n\n            {{#conversation.clarifications#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: \u30b9\u30da\u30c3\u30af\u66f4\u65b0\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736800000022'\n      position:\n        x: 1280\n        y: 600\n      positionAbsolute:\n        x: 1280\n        y: 600\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        desc: \u30b9\u30da\u30c3\u30af\u3068\u72b6\u614b\u3092\u66f4\u65b0\n        output_type: string\n        selected: false\n        title: \u5909\u6570\u66f4\u65b0\n        type: variable-assigner\n        variables:\n        - value_selector:\n          - '1736800000022'\n          - text\n          variable_id: cv_updated_spec\n          write_mode: over-write\n        - value: 1\n          variable_id: cv_question_index\n          write_mode: over-write\n        - value_selector:\n          - '1736800000021'\n          - text\n          variable_id: cv_clarifications\n          write_mode: append\n      height: 150\n      id: '1736800000023'\n      position:\n        x: 1580\n        y: 600\n      positionAbsolute:\n        x: 1580\n        y: 600\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        cases:\n        - case_id: 'true'\n          conditions:\n          - comparison_operator: lt\n            id: cond-more-questions\n            value: '5'\n            varType: number\n            variable_selector:\n            - conversation\n            - question_index\n          logical_operator: and\n        desc: \u307e\u3060\u8cea\u554f\u304c\u6b8b\u3063\u3066\u3044\u308b\u304b\n        selected: false\n        title: \u8cea\u554f\u6b8b\u308a\u30c1\u30a7\u30c3\u30af\n        type: if-else\n      height: 126\n      id: '1736800000024'\n      position:\n        x: 1880\n        y: 600\n      positionAbsolute:\n        x: 1880\n        y: 600\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u6b21\u306e\u8cea\u554f\u3092\u8868\u793a\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: prompt-next-question\n          role: system\n          text: '\u8cea\u554f\u30ea\u30b9\u30c8\u304b\u3089\u6b21\u306e\u8cea\u554f\u3092\u8868\u793a\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            ## \u8868\u793a\u5f62\u5f0f\n\n            ---\n\n            \u2705 \u56de\u7b54\u3092\u8a18\u9332\u3057\u307e\u3057\u305f\n\n\n            ---\n\n            ## \u2753 \u8cea\u554f [current+1]\/[total_count]\n\n            **\u30ab\u30c6\u30b4\u30ea:** [category]\n\n            **\u5f71\u97ff\u5ea6:** [impact]\n\n\n            [question]\n\n\n            | \u30aa\u30d7\u30b7\u30e7\u30f3 | \u8aac\u660e |\n\n            |-----------|------|\n\n            | A | [option A] |\n\n            | B | [option B] |\n\n\n            **\ud83d\udca1 \u63a8\u5968:** [recommended] - [recommendation_reason]\n\n\n            ---\n\n            \u56de\u7b54: \u30aa\u30d7\u30b7\u30e7\u30f3\u6587\u5b57\u3001\u300cyes\u300d\u3067\u63a8\u5968\u63a1\u7528\u3001\u307e\u305f\u306f\u77ed\u3044\u56de\u7b54\n\n            \u300cdone\u300d\u307e\u305f\u306f\u300c\u5b8c\u4e86\u300d\u3067\u7d42\u4e86\n\n            ---\n\n            '\n        - id: prompt-next-question-user\n          role: user\n          text: '## \u73fe\u5728\u306e\u30a4\u30f3\u30c7\u30c3\u30af\u30b9\uff080\u59cb\u307e\u308a\u3001\u6b21\u306f\u3053\u308c+1\u756a\u76ee\u306e\u8cea\u554f\uff09\n\n            {{#conversation.question_index#}}\n\n\n            ## \u8cea\u554f\u30ea\u30b9\u30c8\n\n            {{#conversation.questions_json#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: \u6b21\u306e\u8cea\u554f\u8868\u793a\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736800000025'\n      position:\n        x: 2180\n        y: 500\n      positionAbsolute:\n        x: 2180\n        y: 500\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1736800000025.text#}}'\n        desc: ''\n        selected: false\n        title: Answer \u6b21\u8cea\u554f\n        type: answer\n        variables:\n        - value_selector:\n          - '1736800000025'\n          - text\n          variable: next_question\n      height: 103\n      id: '1736800000026'\n      position:\n        x: 2480\n        y: 500\n      positionAbsolute:\n        x: 2480\n        y: 500\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        context:\n          enabled: false\n          variable_selector: []\n        desc: \u5b8c\u4e86\u30ec\u30dd\u30fc\u30c8\u3068\u66f4\u65b0\u6e08\u307f\u30b9\u30da\u30c3\u30af\u3092\u51fa\u529b\n        memory:\n          role_prefix:\n            assistant: ''\n            user: ''\n          window:\n            enabled: false\n            size: 50\n        model:\n          completion_params:\n            temperature: 0.3\n          mode: chat\n          name: amazon nova\n          provider: langgenius\/bedrock\/bedrock\n        prompt_template:\n        - edition_type: basic\n          id: prompt-completion\n          role: system\n          text: '\u660e\u78ba\u5316\u30bb\u30c3\u30b7\u30e7\u30f3\u306e\u5b8c\u4e86\u30ec\u30dd\u30fc\u30c8\u3092\u751f\u6210\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n\n            ## \u51fa\u529b\u5f62\u5f0f\n\n            ---\n\n            # \u2705 SpecKit Clarify \u5b8c\u4e86\n\n\n            ## \ud83d\udcca \u30bb\u30c3\u30b7\u30e7\u30f3\u30b5\u30de\u30ea\u30fc\n\n            - \u8cea\u554f\u6570: [answered_count]\n\n            - \u66f4\u65b0\u30bb\u30af\u30b7\u30e7\u30f3: [list of sections]\n\n\n            ## \ud83d\udcdd \u660e\u78ba\u5316\u5c65\u6b74\n\n            [clarifications list]\n\n\n            ---\n\n\n            ## \ud83d\udcc4 \u66f4\u65b0\u6e08\u307f\u30b9\u30da\u30c3\u30af\n\n\n            ```markdown\n\n            [updated spec]\n\n            ```\n\n\n            ---\n\n            **\u6b21\u306e\u30b9\u30c6\u30c3\u30d7:** \u3053\u306e\u30b9\u30da\u30c3\u30af\u3092\u30b3\u30d4\u30fc\u3057\u3066\u30d7\u30ed\u30b8\u30a7\u30af\u30c8\u306b\u4fdd\u5b58\u3057\u3066\u304f\u3060\u3055\u3044\u3002\n\n            \u5fc5\u8981\u306b\u5fdc\u3058\u3066\u518d\u5ea6 `\/speckit.clarify` \u3092\u5b9f\u884c\u3059\u308b\u304b\u3001`\/speckit.plan` \u306b\u9032\u3093\u3067\u304f\u3060\u3055\u3044\u3002\n\n            ---\n\n            '\n        - id: prompt-completion-user\n          role: user\n          text: '## \u660e\u78ba\u5316\u5c65\u6b74\n\n            {{#conversation.clarifications#}}\n\n\n            ## \u66f4\u65b0\u6e08\u307f\u30b9\u30da\u30c3\u30af\n\n            {{#conversation.updated_spec#}}\n\n\n            ## \u8cea\u554f\u30a4\u30f3\u30c7\u30c3\u30af\u30b9\uff08\u56de\u7b54\u6570\uff09\n\n            {{#conversation.question_index#}}\n\n            '\n        selected: false\n        structured_output_enabled: false\n        title: \u5b8c\u4e86\u30ec\u30dd\u30fc\u30c8\n        type: llm\n        variables: []\n        vision:\n          enabled: false\n      height: 98\n      id: '1736800000030'\n      position:\n        x: 2180\n        y: 700\n      positionAbsolute:\n        x: 2180\n        y: 700\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    - data:\n        answer: '{{#1736800000030.text#}}'\n        desc: ''\n        selected: false\n        title: Answer \u5b8c\u4e86\n        type: answer\n        variables:\n        - value_selector:\n          - '1736800000030'\n          - text\n          variable: completion_report\n      height: 103\n      id: '1736800000031'\n      position:\n        x: 2480\n        y: 700\n      positionAbsolute:\n        x: 2480\n        y: 700\n      selected: false\n      sourcePosition: right\n      targetPosition: left\n      type: custom\n      width: 244\n    viewport:\n      x: 0\n      y: 0\n      zoom: 0.5\n  rag_pipeline_variables: []\n"}
